<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="header">
    <script type="text/javascript" th:inline="javascript">
      $(window).on('scroll', function () {
        var mobileHeaderTop = $('#playvoiceMobileHeader').offset().top;
        if (mobileHeaderTop >= 30) {
          $('.mobile-index-background-section').addClass('fixed');
        } else {
          $('.mobile-index-background-section').removeClass('fixed');
        }
      });
    </script>

    <div
      class="mobile-index-background-section"
      th:classappend="${headerFixed}?:''"
    >
      <div class="circle-bubble"></div>
      <div class="mobile-index-background-wave">
        <div class="title-section">
          <h1 class="title">
            <span class="tts-logo">Playvoice - TTS</span>
          </h1>
          <div class="sub-title">keep native speakers by your side!</div>
        </div>
      </div>
      <div class="member-personal-section">
        <div class="back-button-section">
          <button id="historyBackBtn" onclick="history.back(-1)" type="button">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button
            id="mainBackBtn"
            onclick="location.href='/tts/main'"
            type="button"
            style="display: none"
          >
            <i class="fa fa-arrow-left"></i>
          </button>
          <button id="functionBackBtn" type="button" style="display: none">
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>
        <div class="personacon-section">
          <div th:replace="~{/incl/user_personacon::md_test}"></div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="editing_header">
    <script type="text/javascript" th:inline="javascript">
      $(window).on('scroll', function () {
        var mobileHeaderTop = $('#playvoiceMobileHeader').offset().top;
        if (mobileHeaderTop >= 30) {
          $('.mobile-index-background-section').addClass('fixed');
        } else {
          $('.mobile-index-background-section').removeClass('fixed');
        }
      });
    </script>

    <div
      class="mobile-index-background-section"
      th:classappend="${headerFixed}?:''"
    >
      <div class="mobile-index-background-wave">
        <div class="title-section">
          <h1 class="title">
            <span class="tts-logo">Playvoice - TTS</span>
          </h1>
          <div class="sub-title">keep native speakers by your side!</div>
        </div>
      </div>
      <div class="member-personal-section">
        <div class="back-button-section">
          <button id="historyBackBtn" onclick="history.back(-1)" type="button">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button
            id="mainBackBtn"
            onclick="location.href='/tts/main'"
            type="button"
            style="display: none"
          >
            <i class="fa fa-arrow-left"></i>
          </button>
          <button id="functionBackBtn" type="button" style="display: none">
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>
        <div class="stage-setting-section">
          <div><span class="index"></span> / 4</div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="player_header">
    <script type="text/javascript" th:inline="javascript">
      $(window).on('scroll', function () {
        var mobileHeaderTop = $('#playvoiceMobileHeader').offset().top;
        if (mobileHeaderTop >= 10) {
          $('.mobile-index-background-section').addClass('fixed');
        } else {
          $('.mobile-index-background-section').removeClass('fixed');
        }
      });
    </script>

    <div
      class="mobile-index-background-section player-header"
      th:classappend="${headerFixed}?:''"
    >
      <div class="player-title-section row no-gutters">
        <div class="back-button-section col">
          <button id="historyBackBtn" onclick="history.back(-1)" type="button">
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>
        <h1 class="title col-auto">My Player</h1>
        <div class="edit-button-section col">
          <button id="editAlbumInfoBtn" type="button">
            <i class="fa fa-ellipsis-v"></i>
          </button>
        </div>
      </div>
      <div
        class="player-personal-section"
        th:insert="~{/incl/user_personacon::md_test}"
      ></div>
    </div>
  </th:block>
</html>
