<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/admin_basic_layout}">

<!--/* 
주요 구성 
1. [Search Sentence Form] <div id="searchSentenceDiv" th:insert="~{/admin/sentenceBook/incl/search_sentence::search_sentence}" style="display: none"></div>
2. [voice미등록 결과 목록] <div th:insert="~{/admin/sentenceBook/list_sentences_fragment::content}"></div>
3. [Add Voice Form]
	3.1 Sentence 상세 정보 폼


*/-->
<head>
	<title>Add Voice</title>
	<link rel="stylesheet" th:href="@{/css/app/sentencebook.css}">
	
	<!-- datepicker -->
	<link rel="stylesheet" th:href="@{/css/bootstrap/datepicker3.css}">
	
	<script th:src="@{/js/public/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/public/bootstrap-datepicker.kr.js}"></script>
	<script th:src="@{/js/app/sentencebook.js}"></script>
	
<script th:inline="javascript">
var targetFoldingList="";

$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
	
	//[요청URL을 통해 searchType 구하기]-----------------------------------------
	var query = $(location).attr('search');
	if(query.indexOf('=') == -1){
		var tagetLink = $('th').find("a[data-value='regDate']");
		var targetSpan = tagetLink.next();
		targetSpan.css("display", "inline");
	}
	
	//[검색폼 보이기]---------------------------------------------------------------
	$('#showSearchForm').click(function(){
		$('#searchFormDiv').toggle();
	});
	
	//[보이스 폼 추가]--------------------------------------------------------------
	$("#additioinal").click(function(e){
		var voiceDiv = createVoiceDiv();
		$("#submitDiv").before(voiceDiv);
	});
	
	
	//[보이스 등록할 예문 선택시(ref: list_sentence.html)]-----------------------------
	$('.resultWrapper').on('click', '.sentenceDetail', function(e) {
		e.preventDefault();
		
		//success버튼 숨기기
		$('#addVoiceFormContainer button[class="btn btn-info btn-xs"]').css("display", 'none');
		//기존 파일 정보 지우기
		$('input[type=file]').val("");
		
		
		//1. 예문 상세 정보 폼 채우기
		$('#voiceList').empty();
		//$('#sentenceListStatic, #sentenceListDynamic').css('display','none');	//검색된 미등록 예문 목록 접기
		var sentenceList = $(this).parent().parent().parent().parent().parent().parent();
		targetFoldingList = sentenceList.attr("id");
		
		//alert("targetFoldingList="+targetFoldingList);
		//$('#'+targetFoldingList).css('display','none');
		$('#editSentenceForm, #existingVoiceList').css('display','block');
		
		
		var sentenceTr = $(this).parent().parent();
		var sentenceNo = sentenceTr.children().first();
		var sid = sentenceNo.next();
		var eng = sid.next();
		var kor = eng.next();
		var voiceExist = kor.next();
		var cateExist = voiceExist.next();
		var source = cateExist.next();
		var firstWriter = source.next();
	
		$('#sid').val(sid.text());
		$('#addVoiceForm .sentenceId').val(sid.text());
		$('#eng').val(eng.text().trim());
		$('#kor').val(kor.text().trim());
		$('#voiceExist').val(voiceExist.text());
		$('#cateExist').val(cateExist.text());
		$('#source').val(source.text());
		$('#firstWriter').val(firstWriter.text());
		
		//2. 해당 예문의 기존 보이스 목록 조회
		$.getJSON("/admin/voiceBook/list/"+sid.text(),function(result){
			var voiceResourcePath=/*[[@{/resource/voice/}]]*/null;
			
			$('#voiceList').empty();
			result.forEach(function(voice,index) {
				var tr = document.createElement("tr");
				tr.className = "contents";
				
				var demo="";
				if(voice.demo ==true){
					demo='<i class="fas fa-check"></i>';
				}
				tr.innerHTML +=
				"<td>"+voice.vid+"</td>"
				+"<td>"+demo+"</td>"
				+"<td>"+voice.voiceType+"</td>"
				+"<td>"+voice.voiceRate+"</td>"
				+"<td>"+voice.voiceSex+"</td>"
				+"<td>"+voice.accent+"</td>"
				+"<td>"+voice.source+"</td>"
				+"<td><i class='fas fa-volume-up' onclick='playVoice(\""+voiceResourcePath+voice.path+"\", this)'></i><i class=\'fas fa-stop\' onclick=\'stopVoice(this)\' style=\'display:none\'></td>"
				+"<td>"+voice.regDate+"</td>"
				+"<td><i class=\"fas fa-edit\" onclick=\"showVoiceForm(this)\"></i> " 
				+"<i class=\"fas fa-file-excel\" onclick=\"changeVoiceFiles('"+voice.vid+"')\"></i> "
				+"<i class=\"fas fa-trash-alt\" onclick=\"deleteVoiceFile('"+voice.vid+"')\"></i></td>"
				+"<td style='display:none'>"+voice.description+"</td>"
				$('#voiceList').append(tr);
			});
			$('[data-toggle="tooltip"]').tooltip();
		});

	});
	
	
	//[보이스 등록]---------------------------------------------------------------
	$("#addVoiceBtn").click(function(e){
		e.preventDefault();
		$(':file').on('change', function() {
			var file = this.files[0];
			if (file.size > 1024 * 1000 * 5) {
				alert('max upload size is 5MB')
			}
			if(file.type.indexOf('audio') == -1){
				alert(file.name+'('+file.type+') is not audio file. sorry only audio files allowed');
			}
		});

		var form = $('#addVoiceForm')[0];
		var sentenceId = $('#sid').val();
		var data = new FormData(form);
		//data.append("sentenceId", sentenceId);
		$("#addVoiceBtn").prop("disabled", true);

		$.ajax({
			type: "POST",
			url: '/admin/voiceBook/add/'+sentenceId,
			enctype: 'multipart/form-data',            
			data: data,
			processData: false,
			contentType: false,
			cache: false,
			timeout: 600000,
			success: function (data) {
				$("#addVoiceBtn").prop("disabled", false);
				alert("success");
				$('#addVoiceFormContainer button[class="btn btn-info btn-xs"]').css("display", 'inline');
				
				
				//2. 해당 예문의 기존 보이스 목록 조회
				$.getJSON("/admin/voiceBook/list/"+sid.text(),function(result){
					var voiceResourcePath=/*[[@{/resource/voice/}]]*/null;
					
					$('#voiceList').empty();
					result.forEach(function(voice,index) {
						var tr = document.createElement("tr");
						tr.className = "contents";
						
						var demo="";
						if(voice.demo ==true){
							demo='<i class="fas fa-check"></i>';
						}
						tr.innerHTML +=
						"<td>"+voice.vid+"</td>"
						+"<td>"+demo+"</td>"
						+"<td>"+voice.voiceType+"</td>"
						+"<td>"+voice.voiceRate+"</td>"
						+"<td>"+voice.voiceSex+"</td>"
						+"<td>"+voice.accent+"</td>"
						+"<td>"+voice.source+"</td>"
						+"<td><i class='fas fa-volume-up' onclick='playVoice(\""+voiceResourcePath+voice.path+"\", this)'></i><i class=\'fas fa-stop\' onclick=\'stopVoice(this)\' style=\'display:none\'></td>"
						+"<td>"+voice.regDate+"</td>"
						+"<td><i class=\"fas fa-edit\" onclick=\"showVoiceForm(this)\"></i> " 
						+"<i class=\"fas fa-file-excel\" onclick=\"changeVoiceFiles('"+voice.vid+"')\"></i> "
						+"<i class=\"fas fa-trash-alt\" onclick=\"deleteVoiceFile('"+voice.vid+"')\"></i></td>"
						+"<td style='display:none'>"+voice.description+"</td>"
						$('#voiceList').append(tr);
					});
					$('[data-toggle="tooltip"]').tooltip();
				});
				
				
			},
			error: function (e) {
				//$("#result").text(e.responseText);
				console.log("ERROR : ", e);
				$("#addVoiceBtn").prop("disabled", false);
			}
		});
	});
	
	//[예문 검색창 토글]---------------------------------------------------
	$('.searchIcon').click(function(e){
		$('#searchSentenceDiv').toggle();
	});
	
	
	//[악센트 기타 작성부분]------------------------------------------------
	$(document).on('change','.accent-etc',function(){
		$(this).siblings(':text').focus();
	});
	$(document).on('click','.accent-text',function(){
		var radio = $(this).siblings(':radio');
		radio.prop('checked',true);
	});
	$(document).on('input','.accent-text',function(){
		$(this).siblings(':radio').val($(this).val());
	});
});//end of ready

var formNum = 0;

function createVoiceDiv(){
	var formText = $("#copyVoiceForm").clone();
	formText.appendTo("#pasteVoiceForm"); //end of copy
	formNum++;
	
	var sentenceDiv = $(".sentenceDiv").eq(formNum - 1);
	sentenceDiv.attr("id", "sentenceDiv" + formNum);
	sentenceDiv.css("display", "");
	var delBtn = $(".deleteVoiceFormBtn").eq(formNum - 1);
	delBtn.attr("id", "delete_btn" + formNum);
	delBtn.attr("onclick", "deleteVoiceForm(this.id)");
	var demo = $(".voices-demo").eq(formNum - 1);
	demo.attr("id", "voices[" + formNum + "].demo");
	demo.attr("name", "voices[" + formNum + "].demo");
	var sentenceId = $(".voices-sentenceId").eq(formNum - 1);
	sentenceId.attr("name", "voices[" + formNum + "].sentenceId");
	
	var sid = document.getElementsByName("voices[0].sentenceId")[0].value;
	document.getElementsByName("voices[" + formNum + "].sentenceId")[0].value=sid;
	
	var demo2 = $("._voices-demo").eq(formNum - 1);
	demo2.attr("name", "_voices[" + formNum + "].demo");
	var voiceFile = $(".voices-voiceFile").eq(formNum - 1);
	voiceFile.attr("id", "voices[" + formNum + "].voiceFile");
	voiceFile.attr("name", "voices[" + formNum + "].voiceFile");
	
	//각각의 라디오 버튼 갯수
	var voicetype_size = sentenceDiv.find(".voicetype-size").length;
	var voicerate_size = sentenceDiv.find(".voicerate-size").length;
	var accent_size = sentenceDiv.find(".accent-size").length;
	var voicesex_size = sentenceDiv.find(".voicesex-size").length;
	for(var i = 0; i < voicetype_size; i++){
		var voiceType = $(".voices-voiceType" + i).eq(formNum - 1);
		voiceType.attr("name", "voices[" + formNum + "].voiceType");
	}
	for(var i = 0; i < voicerate_size; i++){
		var voiceRate = $(".voices-voiceRate" + i).eq(formNum - 1);
		voiceRate.attr("name", "voices[" + formNum + "].voiceRate");
	}
	for(var i = 0; i < accent_size; i++){
		var accent = $(".voices-accent" + i).eq(formNum - 1);
		accent.attr("name", "voices[" + formNum + "].accent");
	}
	for(var i = 0; i < voicesex_size; i++){
		var voiceSex = $(".voices-voiceSex" + i).eq(formNum - 1);
		voiceSex.attr("name", "voices[" + formNum + "].voiceSex");
	}
	
	var source = $(".voices-source").eq(formNum - 1);
	source.attr("name", "voices[" + formNum + "].source");
	var description = $(".voices-description").eq(formNum - 1);
	description.attr("name", "voices[" + formNum + "].description");
}

function deleteVoiceForm(id) {
	for(var i = 1; i <= formNum; i++) {
		if(id == "delete_btn" + i){
			$("#sentenceDiv" + i).remove();
			break;
		}
	}
	var sentenceDiv = document.getElementsByClassName("sentenceDiv");
	var demo = document.getElementsByClassName("voices-demo");
	var demo2 = document.getElementsByClassName("_voices-demo");
	var sentenceId = document.getElementsByClassName("voices-sentenceId");
	var file = document.getElementsByClassName("voices-voiceFile");
	var source = document.getElementsByClassName("voices-source");
	var description = document.getElementsByClassName("voices-description");
	var del_btn = document.getElementsByClassName("deleteVoiceFormBtn");
	
	//각각의 라디오 버튼 갯수
	var voicetype_size = $("#copyVoiceForm").find(".voicetype-size").length;
	var voicerate_size = $("#copyVoiceForm").find(".voicerate-size").length;
	var accent_size = $("#copyVoiceForm").find(".accent-size").length;
	var voicesex_size = $("#copyVoiceForm").find(".voicesex-size").length;
	
	for(var k = 1; k < formNum; k++) {
		sentenceDiv[k-1].id = "sentenceDiv" + k;
		del_btn[k-1].id = "delete_btn" + k;
		demo[k-1].id = "voices[" + k + "].demo";
		demo[k-1].name = "voices[" + k + "].demo";
		sentenceId[k-1].name = "voices[" + k + "].sentenceId";
		demo2[k-1].name = "_voices[" + k + "].demo";
		file[k-1].id = "voices[" + k + "].voiceFile";
		file[k-1].name = "voices[" + k + "].voiceFile";
		source[k-1].name = "voices[" + k + "].source";
		description[k-1].name = "voices[" + k + "].description";
		
		for(var j = 0; j < voicetype_size; j++) {
			var type = document.getElementsByClassName("voices-voiceType" + j); //속도
			type[k-1].name = "voices[" + k + "].voiceType";
		}
		for(var j = 0; j < voicerate_size; j++) {
			var rate = document.getElementsByClassName("voices-voiceRate" + j); //속도
			rate[k-1].name = "voices[" + k + "].voiceRate";
		}
		for(var j = 0; j < accent_size; j++) {
			var accent = document.getElementsByClassName("voices-accent" + j); //악센트
			accent[k-1].name = "voices[" + k + "].accent";
		}
		for(var j = 0; j < voicesex_size; j++) {
			var voiceSex = document.getElementsByClassName("voices-voiceSex" + j); //성별
			voiceSex[k-1].name = "voices[" + k + "].voiceSex";
		}
	}
	formNum--;
}
	
</script>
</head>

<!-- <div layout:fragment="side-menu">
	<div th:insert="~{/admin/sentenceBook/incl/sentenceBook_menu::adminMenu}">관리자 메뉴</div>
</div> -->

<section layout:fragment="content">

<!-- <h3>보이스 등록 (Add Voice)</h3> -->

<!--/* ----------------[inclule : 1. Search Sentence Form]---------------- */-->
<div id="searchSentenceDiv" style="display: none"
	th:insert="~{/admin/sentenceBook/incl/search_sentence::search_sentence}" ></div>
<!--/* ------------------------------------------------------------------- */-->


<!--/* ------------------[inclule : 2. voice미등록 결과 목록]------------------ */-->
<div th:insert="~{/admin/sentenceBook/list_sentences_fragment::content}"></div>
<!--/* ------------------------------------------------------------------- */-->



<div class="row"><div class="col-12">

<!--/* ------------------------[3. Add Voice Form]------------------------ */-->
	<div class="formContainer" id="addVoiceFormContainer">
		<h3>
			Adding New Voice Form 
			<button type="button" class="btn btn-info btn-xs" style="display:none">
			<span class="glyphicon glyphicon-ok"></span> SUCCESS</button>
			<span>Please fill the text in the field.</span>
		</h3>
		<div class="resMsgs" style="display:none;">
			<h3>
				Response Messages
				<span>Your request was processed.</span>
			</h3>
			<pre>[[${resMsgs}]]</pre>
		</div>
		<!--/*------------------[3.1 Sentence 수정 폼]--------------------*/-->
		<div>
		<form id="editSentenceForm"  class="form-horizontal" style="display: none"
			th:action="@{/sentenceBook/edit}" method="post" >
			<div class="row"><div class="col-12">
				<div class="form-group row">
					<label for="sid" class="col-2 control-label headerLabel text-right">SID</label>
					<div class="col-10">
						<input type="text" id="sid" name="sid" class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="eng" class="col-2 control-label headerLabel text-right">영어</label>
					<div class="col-10">
						<input type="text" id="eng" name="eng" class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="kor" class="col-2 control-label headerLabel text-right">한국어</label>
					<div class="col-10">
						<input type="text" id="kor" name="kor" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="voice" class="col-2 control-label headerLabel text-right">보이스</label>
					<div class="col-10">
						<input type="text" id="voiceExist" name="voiceExist" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="cate" class="col-2 control-label headerLabel text-right">카테고리</label>
					<div class="col-10">
						<input type="text" id="cateExist" name="cateExist" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="source" class="col-2 control-label headerLabel text-right">출처</label>
					<div class="col-10 ">
						<input type="text" id="source" name="source" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="firstWriter" class="col-2 control-label headerLabel text-right">작성자</label>
					<div class="col-10 ">
						<input type="text" id="firstWriter" name="firstWriter" class="form-control" />
					</div>
				</div>
			</div></div>
			<div class="row" id="editSubmitDiv"><div class="col-12">
				<div class="form-group row">
					<div class="ml-auto col-10">
						<input type="button" id="editSentenceBtn" value="Edit" class="btn btn-primary"/>
					</div>
				</div>
			</div></div>
		</form>
		</div>
		<!--/*------------------[3.2 기등록된 Voice 목록 정보]-------------------*/-->
		<!-- <div class="row no-gutters" style="margin: 20px 0px 0px 0px;">
			<div class="col-12" id="existingVoiceList" style="display: none">
				<table id="voiceListTable" class="table table-bordered table-hover text-center" >
					<thead><tr class="thead">
						<th>VID</th>
						<th>대표</th>
						<th>구분</th>
						<th>속도</th>
						<th>성별</th>
						<th>액센트</th>
						<th>출처</th>
						<th>파일</th>
						<th>등록일</th>
						<th>편집</th>
					</tr></thead>
					<tbody id="voiceList"></tbody>
				</table>
			</div>
		</div> -->
		<div id="existingVoiceList" style="margin: 20px 0px 0px 0px; display: none">
			<table id="voiceListTable" class="table table-sm table-bordered table-hover text-center" >
				<thead><tr class="thead">
					<th>VID</th>
					<th>대표</th>
					<th>구분</th>
					<th>속도</th>
					<th>성별</th>
					<th>액센트</th>
					<th>출처</th>
					<th>파일</th>
					<th>등록일</th>
					<th>편집</th>
				</tr></thead>
				<tbody id="voiceList"></tbody>
			</table>
		</div>
		
		
		
		<!--/*----------------------[3.3 Voice 등록폼]-----------------------*/-->
		<div style="margin-top: 20px;">
		<form th:action="@{add}" th:object="${voicePack}" id="addVoiceForm" 
			class="form-horizontal" method="post"  enctype="multipart/form-data">
			<div id="voiceDiv0" class="row"><div class="col-12">
			
				<div class="form-group row">
					<label for="demo" class="col-2 control-label headerLabel text-right">form-check</label>
					<div class="px-4 col-10 form-check form-check-inline">
						<label>
							<input class="form-check-input" type="checkbox" id="voices[0].demo" name="voices[0].demo" />
							<input type="text" class="sentenceId form-control" name="voices[0].sentenceId" readonly="readonly"/>
							<input type="hidden" value="on" name="_voices[0].demo"/>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label for="vfile" class="col-2 control-label headerLabel text-right">보이스 파일</label>
					<div class="col-10">
						<input type="file" id="voices[0].voiceFile" name="voices[0].voiceFile" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="source" class="col-2 control-label headerLabel text-right">구분</label>
					<div class="col-10 ">
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="TTS1" checked="checked"/><span>무료TTS</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="TTS2" /><span>유료TTS</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="TTS3" /><span>신경망TTS</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="MV" /><span>Movie/Drama</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="YOU" /><span>YouTube</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="TED" /><span>TED</span>
						</label><br>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="LV" /><span>라이센스 보이스</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="MV" /><span>회원 보이스</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="DV" /><span>기증자 보이스</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceType" value="ETC" /><span>기타</span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label for="speed" class="col-2 control-label headerLabel text-right">속도</label>
					<div class="col-10 ">
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceRate" value="A" checked="checked"/><span>학습용</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceRate" value="B" /><span>일반대화</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].voiceRate" value="C" /><span>빠른대화</span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label for="accent" class="col-2 control-label headerLabel text-right">액센트</label>
					<div class="col-10 ">
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="US" checked="checked"/><span>미국</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="CA" /><span>캐나다</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="UK"/><span>영국</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="AU"/><span>호주</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="IN"/><span>인디아</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="PH"/><span>필리핀</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" value="KR"/><span>한국</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="voices[0].accent" class="accent-etc" value="ETC"/><span>기타</span>
							<input type="text" class="accent-text" placeholder="국가코드 입력"/>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label for="sex" class="col-2 control-label headerLabel text-right">성별</label>
					<div class="col-10 ">
						<label class="radio-inline">
								<input type="radio" name="voices[0].voiceSex" value="M" checked="checked"/><span>남자</span>
						</label>
						<label class="radio-inline">
								<input type="radio" name="voices[0].voiceSex" value="W"/><span>여자</span>
						</label>
						<label class="radio-inline">
								<input type="radio" name="voices[0].voiceSex" value="B"/><span>남자 아이</span>
						</label>
						<label class="radio-inline">
								<input type="radio" name="voices[0].voiceSex" value="G"/><span>여자 아이</span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label for="source" class="col-2 control-label headerLabel text-right">출처/제공자</label>
					<div class="col-10 ">
						<input type="text" name="voices[0].source" class="form-control"
							  placeholder="출처 URL, 회원 Id, 보이스 제공자 이름, 영화 제목, 기타 등" />
					</div>
				</div>
				<div class="form-group row">
					<label for="desc" class="col-2 control-label headerLabel text-right">비고</label>
					<div class="col-10 ">
						<textarea name="voices[0].description"
							  placeholder="비고"  class="form-control" ></textarea>
					</div>
				</div>
			</div></div>
			
			<div id="pasteVoiceForm"><!-- 복사 된 폼이 들어가는 곳 --></div>
			
			<div class="row" id="submitDiv"><div class="col-12">
				<div class="form-group row">
					<div class="ml-auto col-10">
						<input type="button" id="addVoiceBtn" value="Register" class="btn btn-primary"/>
						<button type="button" id="additioinal" class="btn btn-default">
							voice 추가 <span class="glyphicon glyphicon-plus"></span>
						</button>
						<!--/* <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> */-->
					</div>
				</div>
			</div></div>
		</form>
		</div> <!-- end of form div -->
		<div class="errorMsgs" style="display: none;">
			<h3>
				Error Messages
				<span>Error Occured while processing the request.</span>
			</h3>
			<pre th:text="${errorMsg}"></pre>
	 	</div>
	</div><!-- end of addVoiceFormContainer -->
</div></div>
	
<div class="text-right" style="color:red;">
	source :: add_voice.html	
</div>	



<!--/*------------------- [Voice 등록폼 copy ver.]-------------------*/-->
<div id="copyVoiceForm" class="row sentenceDiv my-3" style="display: none;">
	<div class="col-12">
		<div class="form-group row">
			<label for="demo" class="col-2 control-label headerLabel text-right">form-check</label>
			<div class="px-4 col-10 form-check form-check-inline">
				<label>
					<input class="voices-demo form-check-input" type="checkbox"/>
					<input type="text" class="voices-sentenceId sentenceId form-control" readonly="readonly"/>
					<input type="hidden" value="on" class="_voices-demo"/>
				</label>
				<span class="float-right">
					<button class="deleteVoiceFormBtn btn btn-sm btn-danger" type="button">&times;</button>
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="vfile" class="col-2 control-label headerLabel text-right">보이스 파일</label>
			<div class="col-10">
				<input type="file" class="voices-voiceFile form-control"/>
			</div>
		</div>
		<div class="form-group row">
			<label for="vtype" class="col-2 control-label headerLabel text-right">구분</label>
			<div class="col-10 ">
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType0" value="TTS1" checked="checked"/><span>무료TTS</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType1 voicetype-size" value="TTS2" /><span>유료TTS</span>
				</label>
				<label class="radio-inline">
 					<input type="radio" class="voices-voiceType3 voicetype-size" value="TTS3" /><span>신경망TTS</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType4 voicetype-size" value="MV" /><span>Movie/Drama</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType5 voicetype-size" value="YOU" /><span>YouTube</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType6 voicetype-size" value="TED" /><span>TED</span>
				</label><br>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType7 voicetype-size" value="LV" /><span>라이센스 보이스</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType8 voicetype-size" value="MV" /><span>회원 보이스</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType9 voicetype-size" value="DV" /><span>기증자 보이스</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceType10 voicetype-size" value="ETC" /><span>기타</span>
				</label>
			</div>
		</div>
		<div class="form-group row">
			<label for="speed" class="col-2 control-label headerLabel text-right">속도</label>
			<div class="col-10 ">
				<label class="radio-inline">
					<input type="radio" class="voices-voiceRate0 voicerate-size" value="A" checked="checked"/><span>학습용</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceRate1 voicerate-size" value="B" /><span>일반대화</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceRate2 voicerate-size" value="C" /><span>빠른대화</span>
				</label>
			</div>
		</div>
		<div class="form-group row">
			<label for="accent" class="col-2 control-label headerLabel text-right">액센트</label>
			<div class="col-10 ">
				<label class="radio-inline">
					<input type="radio" class="voices-accent0 accent-size" value="US" checked="checked"/><span>미국</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent1 accent-size" value="CA" /><span>캐나다</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent2 accent-size" value="UK"/><span>영국</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent3 accent-size" value="AU"/><span>호주</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent4 accent-size" value="IN"/><span>인디아</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent5 accent-size" value="KR"/><span>한국</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent6 accent-size" value="EU"/><span>유럽</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent7 accent-size" value="ASA" /><span>아시아</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-accent8 accent-size accent-etc" value="ETC"/><span>기타</span>
					<input type="text" class="accent-text" placeholder="국가코드 입력"/>
				</label>
			</div>
		</div>
		<div class="form-group row">
			<label for="sex" class="col-2 control-label headerLabel text-right">성별</label>
			<div class="col-10 ">
				<label class="radio-inline">
					<input type="radio" class="voices-voiceSex0 voicesex-size" value="M" checked="checked"/><span>남자</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceSex1 voicesex-size" value="W"/><span>여자</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceSex2 voicesex-size" value="B"/><span>남자 아이</span>
				</label>
				<label class="radio-inline">
					<input type="radio" class="voices-voiceSex3 voicesex-size" value="G"/><span>여자 아이</span>
				</label>
			</div>
		</div>
		<div class="form-group row">
			<label for="source" class="col-2 control-label headerLabel text-right">출처/제공자</label>
			<div class="col-10 ">
				<input type="text" class="voices-source form-control"
					 placeholder="출처 URL, 회원 Id, 보이스 제공자 이름, 영화 제목, 기타 등" />
			</div>
		</div>
		<div class="form-group row">
			<label for="desc" class="col-2 control-label headerLabel text-right">비고</label>
			<div class="col-10 ">
				<textarea class="voices-description form-control" placeholder="비고"></textarea>
			</div>
		</div>
	</div>	
</div>



</section><!-- end of section -->

