<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/pictionary_layout}">
<head>
<title>my review - playvoice</title>
<link rel="stylesheet" th:href="@{/css/app/pictionary.css}">

<script th:src="@{/js/public/jquery.base64.js}"></script>
<script th:src="@{/js/app/touchswipe/jquery.touchSwipe.min.js}"></script>
<script th:src="@{/js/app/pictionary.js}"></script>
<script th:src="@{/js/app/text.js}"></script>
<script th:src="@{/js/app/playvoice_audio.js}"></script>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function() {
	// [선택한 menu active 표시]----------------------------------------------------
	$(".menu-item.study").addClass("menu-active");
	$(".alphabets .menu-item.my").addClass("menu-active");
	
	// [단어 상세보기 화면에서 이전으로 돌아갈 주소를 브라우저에 저장]--------------------------------
	var pictionaryDest = location.toString().replace(location.origin,"");
	sessionStorage.setItem("pictionaryDest", pictionaryDest);
	
	// [선택한 tab 메뉴 active 하기]-------------------------------------------------
	$(".tagetTabButton").click(function(){
		var target = $(this).attr("data-tagetDiv");
		$(".tagetTabButton").removeClass("active");
		$(this).addClass("active");
		$(".reviewTabDiv").hide();
		$("#" + target + "Section").fadeIn(300);
	});
	
	// [리뷰 리스트 상의 이미지(처음엔 이미지 가림막)를 누르면 이미지 교체(PC)]------------------------
	// [모바일에서 클릭 시 픽션 상세 정보 보기]
	$(".reviewWordImageDiv :not(.viewSentenceBtn)").click(function(){
		var wordDiv = $(this).closest(".reviewWordImageDiv");
		if(navigator.userAgent.indexOf("Mobi") > -1 &&
				wordDiv.find(".standbyImage").length > 0){
			//-----------------------
			showPictionInfo(wordDiv);
			//-----------------------
			
		}else{
			//---------------------------------
			changeReviewImages(wordDiv, "next");
			//---------------------------------
			$(this).closest(".pictionary-card-cover").find(".view-sentence-btn").prop("disabled", false);
			$(this).closest(".pictionary-card-cover").find(".view-sentence-guide").remove();
		}
	});
	
	// [(모바일) 리뷰 이미지를 좌우로 쓸어 넘기면 이미지 교체]-----------------------------------
	$(".reviewWordImageDiv").swipe({
		swipe: function(event, direction, distance, duration, fingerCount,
					fingerData, allowPageScroll){
			if(navigator.userAgent.indexOf("Mobi") > -1){
				if(direction == "left") {
					//---------------------------------
					changeReviewImages($(this), "next");
					//---------------------------------
				} else if(direction == "right") {
					//---------------------------------
					changeReviewImages($(this), "prev");
					//---------------------------------
				}
			}
		},
		allowPageScroll: "auto"
	})
	// [(PC) 리뷰 이미지 속 'View Sentence'를 누르면 해당 픽션 상세보기]------------------------
	$(".viewSentenceBtn").click(function(e){
		e.stopPropagation();
		//-----------------------------------------------------
		showPictionInfo($(this).closest(".reviewWordDiv"));
		//-----------------------------------------------------
	});
	
}); // end of ready

/**
 * 해당 픽션의 상세 정보(포함되는 예문들)를 모달을 띄워서 표시
 */
function showPictionInfo(jqObj) {
	var pid = jqObj.find(".standbyImage.active").attr("data-pid");
	var imgPath = jqObj.find(".standbyImage.active").attr("data-path");
	$("#pictionSentence_modal .modal-dialog").load("/pictionary/tracer/sentences/" + pid, function(){
		$("#pictionSentence_modal .display-piction-picture")
			.css("backgroundImage","url(/resource/pictionary/images/"+imgPath+")")
		// [예문이 강조정보를 갖고 있는 경우 강조를 적용]-------------------------------------------
		var tag = '<b></b>';	//	적용할 강조효과

		var numberOfSentences = $("#size_sentence").val();
		for(var i = 0; i < numberOfSentences; i++) {
			
			var text = $("#re_sentence" + i).val();	//	문자열 값
			var emLocString = $("#emp_sentence" + i).val();	//	강조위치 정보
			<!--/* 픽션에 포함된 문장마다 문장 강조처리 적용 */-->
			$("#en_sentence" + i).html(emphasizeText(text, emLocString, tag));
		}
		$("#pictionSentence_modal").modal("show");
	});
}

/**
 * 해당 단어 이미지를 바꿔서 표시
 */
function changeReviewImages(jqObj, direction) {
	if(jqObj.has(".standbyImage").length > 0){
		var currImg = jqObj.find(".standbyImage.active");
		var nextImg;
		if(direction == "next"){
			nextImg = currImg.next().length > 0?
					  currImg.next():jqObj.find(".standbyImage:eq(0)");
		}else{
			nextImg = currImg.prev().is(".standbyImage")?
					  currImg.prev():jqObj.find(".standbyImage:last");
		}
		currImg.removeClass("active");
		nextImg.addClass("active");
		jqObj.find(".reviewWordImage")
			   .css("backgroundImage","url('/resource/pictionary/images/" 
					   				  + nextImg.attr("data-path") + "')");
	}else{
		var wordUrl = jqObj.attr("data-url");
		var wordId = wordUrl.substr(wordUrl.lastIndexOf("/") + 1);
		//-------------------------------
		getReviewImages(jqObj, wordId);
		//-------------------------------
	}
};

/**
 * 해당 단어 이미지를 클릭할 때 마다 바뀌어질 이미지 주소를 div 내에 담음
 */
function successGetReviewImages(div, pictionList) {
	if(pictionList != null && pictionList.length != 0){
		pictionList.forEach(function(piction, i) {
			var standbyImg = '<input type="hidden" class="standbyImage'
							+ ((i == 0)?' active"':'"')
							+ ' data-path ="' + piction.imagePath 
							+ '" data-pid="' + piction.id56 + '"/>';
			div.append(standbyImg);
		});
		// 첫 번째로 가져온 이미지를 대표이미지로 표시
		div.find(".reviewWordMsg").remove();
		div.find(".reviewWordImage")
		   .css("backgroundSize","cover")
		   .css("backgroundRepeat", "no-repeat")
		   .css("backgroundPosition", "center")
		   .css("backgroundImage", "url('/resource/pictionary/images/" 
				   					+ pictionList[0].imagePath + "')");
	}
	
}

/**
 * 내가 작성한 콘텐츠 탭(2번째 탭) 내에서 페이지 이동(해당하는 list_mywords.html 페이지를 끼워넣음)
 */
function movePage(pageNum) {
	$("#myPctionaryListSection").load("/pictionary/mywords?page=" + pageNum);
};
 
</script> 
</head>

<section layout:fragment="content">

<!-- title & menu -->
<div id="menuSection" class="row my-2">
	<div class="col-12 p-0 px-lg-3">
		<div th:replace="~{/pictionary/incl/pictionary_menu::menu}"></div>
		<div th:replace="~{/pictionary/incl/pictionary_menu::alphabetMenu}"></div>
	</div>
</div>
<!--/* ---------------------[piction Sentence Modal]---------------------- */-->
<div id="pictionSentence_modal" class="piction-sentence-modal modal fade" 
   tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document"
      th:insert="~{/pictionary/incl/review_sentence_incl::piction}"></div>
</div>
<!-- -------------------------------[탭 버튼]--------------------------------- -->
<div class="review-tab-button-section"><div class="nav-tab-position"><ul>
	<li><a class="tagetTabButton tab-button active" data-tagetDiv="myPctionaryList">
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">Contents You've Created</span>
		<i class="for-add fa fa-pen-fancy"></i>
	</a></li>
	<li><a class="tagetTabButton tab-button" data-tagetDiv="studyPictionaryList">
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">Tracer</span>
		<i class="for-tracer fa fa-shoe-prints"></i>
	</a></li>
	<li><a class="tagetTabButton tab-button" data-tagetDiv="pictionaryTracerQuiz">
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">Tracer Quiz</span>
		<i class="fa fa-edit"></i>
	</a></li>
	<li><a class="tagetTabButton tab-button" data-tagetDiv="popularPctionaryList">
		<span class="pv-tm-around">Best Popular </span>
		<span class="pv-tm">Pictionary</span>
		<i class="fa fa-fire-alt"></i>
	</a></li>
</ul></div></div>

<div class="tab-content mt-4">

<!-- --------------------------[1.  내가 만든 픽셔너리]--------------------------- -->
<div id="myPctionaryListSection" class="pictionarylist-container reviewTabDiv my px-md-3">
	<th:block th:replace="~{/pictionary/incl/list_mywords::myWords}"></th:block>
</div><!-- end of myPctionaryListSection -->


<!-- ---------------------------[2. 최근 학습한 단어]----------------------------- -->
<div id="studyPictionaryListSection" class="pictionarylist-container review reviewTabDiv my px-md-3"
	style="display: none;">
	
	<th:block th:if="${session.userContainer?.personacon?.memberType} == 'G' 
		OR ${session.userContainer?.personacon?.memberType} == 'P'">
	<!-- [2.1 review 목록] -->
	<div id="pictionaryListDiv" class="pictionary-list-row">
		<div class="view-word-list-guide">
			<div class="sub-title">
				<span><i class="fa fa-quote-left"></i>
					[[${session.userContainer.personacon.alias}]]
					<i class="fa fa-quote-right"></i></span> 님이 
				최근 학습한 단어입니다.
			</div> 
			<div class="detail-body">
				<div>
					[[${session.userContainer.personacon.alias}]] 님이 
					최근 학습한 단어를 보고 먼저 이미지를 떠올린 후 그 이미지의 의미를 파악해 보세요.<br>
					<span class="d-none d-md-block">이미지를 클릭하면서 떠오르지 않는 예문이 있다면 
						이미지 아래의 'View Sentence' 버튼을 클릭해 주세요</span>
					<span class="d-md-none">이미지를 넘기면서 떠오르지 않는 예문이 있다면 이미지를 클릭해 주세요</span>
				</div>
				<div class="wise-saying-section row no-gutters">
					<div class="wise-saying-img-section col-md-auto">
						<div class="wise-saying-img-cover">
						<img class="wise-saying-img" src="/images/common/images/old_mand.jpg">
						</div>
					</div>
					<div class="wise-saying-text-section col-md align-self-end">
						<div class="wise-saying">
							<i class="fa fa-quote-left"></i>
							<span>학습 이론에 따르면 기억의 효과를 지속시키는 방법 중에서 <br>
							재반복 이상으로 중요한 것이 기억한 것을 인출(꺼내기)하는 것이다.<br>					
							픽셔너리의 이미지는 단어를 그림 보면서 외우라고 있는 것이 아니라<br>
							</span><br class="d-none d-sm-block">
							<b>이미지를 통해 인출하기 위해서 제공된다.</b>
							<i class="fa fa-quote-right"></i>
						</div>
						<div class="wise-from">
							Dr. Mandrill<br>
							<small>linguist</small> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
		<div th:each="myReview : ${myReviewList}" 
			class="pictionary-card-p col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="reviewWordDiv pictionary-card-cover">
			<div>
				<!-- 대표 사진 -->
				<div class="reviewWordImageDiv pictionary-img-cover jsAction" 
					th:data-url="${myReview.appResource.rscUri}">
					<img src="/images/app/pictionary/piction_paper.png" class="reviewWordImage piction-img">
					<div class="reviewWordMsg review-img-cover">
						<b>Important !</b><br>
						try to bring the images to mind.
					</div>
				</div>
				<!-- 단어 -->
				<div class="pictionary-title jsAction">
					<i class="fa fa-cube"></i>
					<a th:href="@{${myReview.appResource.rscUri}}">
						[[${myReview.appResource.rscTitle}]]
					</a>  
				</div>
			</div>
			<div class="member-info-cover text-center mx-3 pt-2">
				<span class="date">[[${#dates.format(myReview.txDate, 'yyyy-MM-dd (E)')}]]</span><br>
				<button id="testBtn" type="button" class="viewSentenceBtn btn view-sentence-btn" 
					disabled="disabled" title="이미지의 예문 보기">
					View Sentence
					<span class="view-sentence-guide">먼저 위의 이미지 영역을 클릭해 주세요</span>
				</button>
			</div>
		</div></div>
		</div>
	</div><!-- end of pictionaryListDiv  -->
	
	<!-- [2.2 review 목록이 없을 경우 (for gold membership)] -->
	<div th:if="${myReviewList} ==null OR ${#lists.size(myReviewList)} == 0"
		class="view-word-list-guide">
		<div class="sub-title mx-3">
			<span><i class="fa fa-quote-left"></i>
				[[${session.userContainer.personacon.alias}]]
				<i class="fa fa-quote-right"></i></span> 님이 
			최근 학습한 단어가 없습니다
		</div>
		<div class=" row no-gutters">
			<!-- 가이드 메세지 -->
			<div class="col-md-3 align-self-start text-center">
				<img src="/images/common/icon/icon_paper.png" class="no-content" alt="플레이보이스 픽셔너리">
			</div>
			<div class="col-md-9">
				<div class="detail-body">
					어떤 단어를 안다는 것은 그 단어의 의미를 직감적으로 느낄 수 있어야 하고,<br class="d-none d-md-block">
					적절한 상황에 단어를 자연스럽게 사용할 줄도 알아야 한다는 것을 뜻합니다.<br>
					단어를 나의 것으로 만들기 위해선 단어를 자주 복습하여 장기적으로 기억할 수 있도록 만들어야 합니다.<br>
					상단의 알파벳 메뉴를 클릭하여 플보 멤버들이 직접 등록한 단어를 차례대로 학습해 보세요.<br>
					외우고 싶은 단어가 있다면 그 단어를 직접 등록하거나 사진과 예문을 등록해 보세요.
				</div>
				<div class="button-section">
					<a th:href="@{/pictionary/word/add}" class="go-goldmembership">
						픽셔너리 등록하러 가기 <i class="fa fa-arrow-right fa-fw"></i>
					</a>
				</div>
			</div>
		</div>
		
		<!-- 오늘의 추천 단어 -->
		<!-- <div class="recommend-list-cover col-12">
			<div class="sub-title-b px-md-3">오늘의 추천 단어 <i class="fa fa-gift fa-lg"></i></div>
			<div class="pictionary-list-row row no-gutters" style="display: ;"></div>
		</div> -->
	</div>
	</th:block>
	
	<!-- [2.3  review 목록 서비스를 제공하지 않음 (골드 회원이 아닐 경우)] -->
	<th:block th:unless="${session.userContainer.personacon.memberType} == 'G' 
		OR ${session.userContainer.personacon.memberType} == 'P'">
	<div class="view-word-list-guide">
		<div class="sub-title mx-3">
			『픽셔너리 트레이서』 는
			<i class="fa fa-crown text-warning"></i>
			Gold Membership 서비스입니다
		</div>
		<div class=" row no-gutters">
			<div class="col-md-3 align-self-start text-center">
				<img src="/images/common/icon/icon_paper.png" class="gold-ticket" 
					alt="플레이보이스 골드멤버십">
			</div>
			<div class="col-md-9">
				<div class="detail-body">
					<!-- 어떤 단어를 안다는 것은 그 단어의 의미를 직감적으로 느낄 수 있어야 하고,<br class="d-none d-md-block">
					적절한 상황에 단어를 자연스럽게 사용할 줄도 알아야 한다는 것을 뜻합니다.<br>
					단어를 나의 것으로 만들기 위해선 단어를 자주 복습하여 장기적으로 기억할 수 있도록 만들어야 합니다.<br>
					플레이보이스는 영어로 인한 불필요한 노력과 비용을 줄이고 게임을 하듯 다른 회원들과 함께 학습할 수 있도록 합니다.<br> 
					배우고자 하는 개인의 목표를 함께 하는 사람들과 공유하고 도움이 필요한 이웃들을 연결해 주는 커뮤니티입니다. -->
					픽셔너리 트레이서는 회원이 학습한 단어들을 시스템이 찾아 학습 기억을 높여 주도록 설계되었습니다.<br>
					복습용 단어장을 만들어 관리를 하는 경우 많은 사람들은 단어를 저장하는 것에 만족을 하고 <br>
					계획된 복습을 하지 않기 때문에 단어만 쌓여갈 뿐 큰 효과가 없습니다. <br>
					픽셔너리 트레이서는 회원이 기억한 것을 반복적으로 인출하도록 하는 기능을 제공합니다. <br>
					효과적인 암기법은 반복해서 보는 것보다 기억하는 것을 인출하는 것에 촛점을 두어야 합니다.
				</div>
				<div class="button-section">
					<a class="go-goldmembership">
						Gold Membership 자세히 알아보기 <i class="fa fa-arrow-right fa-fw"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	</th:block>

</div><!-- end of studyPictionaryListSection -->


<!-- ----------------------------[3. 트레이서 퀴즈]----------------------------- -->
<div id="pictionaryTracerQuizSection" class="pictionarylist-container reviewTabDiv my px-md-3"
	style="display: none;">
	<!-- [3.2 review 목록이 없을 경우] -->
	<div class="view-word-list-guide" style="display: ;">
		<div class="sub-title mx-3">
			『트레이서 퀴즈』를 위한 최근 학습된 단어가 없습니다
		</div>
		<div class=" row no-gutters">
			<!-- 가이드 메세지 -->
			<div class="col-md-3 align-self-start text-center">
				<img src="/images/common/icon/icon_paper.png" class="no-content" alt="플레이보이스 픽셔너리">
			</div>
			<div class="col-md-9">
				<div class="detail-body">
					외우고 싶은 단어를 먼저 학습해 주세요.<br>
					트레이서 퀴즈는 단순히 단어를 다시 보여주는 식의 단순한 복습 퀴즈가 아닌,<br class="d-none d-md-block">
					단어 암기를 위한 뇌의 인출(output)을 최대한 이용하는 퀴즈입니다.
				</div>
			</div>
		</div>
	</div>
	
</div><!-- end of pictionaryTracerQuizSection -->



<!-- ----------------------------[4. 인기 픽셔너리]----------------------------- -->
<div id="popularPctionaryListSection" class="pictionarylist-container reviewTabDiv my px-md-3"
	style="display: none;">
	<div class="pictionary-list-row">
		<div class="view-word-list-guide">
			<div class="sub-title">
				플보 멤버들에게 많은 사랑을 받은 픽셔너리입니다.
			</div>
			<div class="detail-body"></div>
		</div>
		
		<div></div>
		
	</div>
</div><!-- end of popularPctionaryListSection -->

</div>

<div class="text-right" style="color:red;">
   source :: pictionary/list_review.html
</div> 
</section>
</html>
