<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/mypage_layout2}">

<head>
<title>Contact Us - playvoice</title>

<link rel="stylesheet" th:href="@{/css/app/app_add.css}">
<!-- datepicker -->
<link rel="stylesheet" th:href="@{/css/bootstrap/datepicker3.css}">
<link rel="stylesheet" th:href="@{/css/app/playboard.css}">
<link rel="stylesheet" th:href="@{/css/app/mypage.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">

<script th:src="@{/js/public/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/public/bootstrap-datepicker.kr.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
<style>
	#scriptMsgs > ul {color: red;}
</style>	

<script th:inline="javascript">
var file_num = 0;

$(document).ready(function() {
	
	/* 파일 경로 표시 */
	$(document).on("change", ".attachedFiles", function(){
		var file_fath = $(this).val();
		$(this).parent().children(".attachedFilesLabel").text(file_fath);
	});
	
	
	
	
	/* 동적(파일) 실행 */
	var paste = $("#file_paste");
	$("#copy_btn0").click(function(){
		var file_copys = $(".file-copy"); // 카피 할 부분
		if(file_copys.length > 9) {
			alert('파일은 최대 10개까지 첨부할 수 있습니다.');
		} else {
			var input = $("#file_copy0").clone();
			input.appendTo(paste); //end copy
			file_num++;
       
			var copy_section = $(".file-copy").last();
			var file_label = $(".file-label").last();
			var attached_file = $(".attachedFiles").last();
			var attached_file_label = $(".attachedFilesLabel").last();
			var add = $(".copy-btn").last();
			var deletes = $(".delete-btn").last();
			copy_section.attr("id", "file_copy" + file_num);
			file_label.html("");
			attached_file.val("");
			attached_file.attr("id", "attachedFiles[" + file_num + "]");
			attached_file_label.attr("for", "attachedFiles[" + file_num + "]");
			attached_file_label.text("파일을 선택해주세요. (최대 10개)");
			add.css("display", "none");
			deletes.css("display", "");
			deletes.attr("id", "delete_btn" + file_num);
		}
	});
});	//end of ready

function deletes(id){
	for(var i = 0; i <= file_num; i++){
		if(id == 'delete_btn' + i){
			$("#file_copy" + i).remove();
			break;
		}
	}
}

function filesAttr(){
	var files = document.getElementsByClassName("attachedFiles");
	var post_num = 0;
	for(var i = 0; i < files.length; i++){
		if(files[i].value != ""){
			files[i].name = "attachedFiles[" + post_num + "]";
			post_num++;
		}
	}
}
</script>
</head>

<section layout:fragment="content">

<div th:insert="~{/mypage/incl/mypage_top_menu2::menuContact}"></div>

<div class="add-board-article-section mt-4">
	<div class="article-introduction-section">
		<h3 class="category"><span>Contact Us</span></h3>
	</div>
	<!-- 2. Add Article Form -->
	<div id="addArticleFormContainer" class="formContainer">
			
		<!--/*응답메세지 박스 : server*/-->
		<div class="resMsgs" style="display:none;">
			<h3>
				Response Messages
				<span>Your request was processed.</span>
			</h3>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
		</div>
			
		<!--/*응답메세지 박스*/-->
		<div id="resMsgs" style="display:none;">
			<h4>Respond Messages</h4>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
			<div id="scriptMsgs"></div>
		</div>
		
		<form id="addArticleForm" method="post" enctype="multipart/form-data"
			th:with="alias = 'lazyhysong'">
			<div id="articleDiv">
				
				<!--/*게시판 종류 */-->
				<div class="form-group row no-gutters">
					<label for="board" class="col-md-1 control-label headerLabel">문의 유형</label>
					<div id="categoryOptionDiv" class="col-md-5 pl-md-0">
						<select id="category" name="category" class="form-control playvoice-form">
							<option value=""> --선택-- </option>
							<option>앱 컨텐츠 문의</option>
							<option>주문 문의</option>
		               	</select>
					</div>
				</div>
					
				<!--/*타이틀 */-->
				<div class="form-group row no-gutters">
					<label for="title" class="col-md-1 control-label headerLabel">타이틀</label>
					<div class="col-md-11 pl-md-0">
						<input id="title" type="text" placeholder="제목" 
							class="form-control playvoice-form"/>
					</div>
				</div>
					
				<!--/*내용 */-->
				<div class="form-group row no-gutters">
					<label for="content" class="col-md-1 control-label headerLabel">내용</label>
					<div class="add-qna-article-section col-md-11 pl-md-0">
						<div id="summernote" class=" playvoice-form"></div>
						<script>
						$('#summernote').summernote({
							placeholder: 'Hello stand alone ui',
							tabsize: 2,
							height: 400
						});
						</script>
					</div>
				</div>
					
				<!--/*작성자 */-->
				<div class="form-group row no-gutters">
					<label for="writer" class="col-md-1 col-auto control-label headerLabel">작성자</label>
					<div class="col-md-11 col pl-md-0">
						<span class="personacon-alias" th:text="${alias}"></span>
					</div>
				</div>
						
				<!--/*첨부파일 */-->
				<div id="file_copy0" class="file-copy form-group row no-gutters">
					<label for="writer" class="file-label col-md-1 col-12 control-label headerLabel">
						첨부파일<br class="d-none d-md-block">
						<span class="guide">(최대 10개)</span>
					</label>
					<div class="file-copy-input col-md-10 col pl-md-0">
						<div class="custom-file" style="width: 100%;">
							<input type="file" id="attachedFiles[0]" name="attachedFiles[0]" class="custom-file-input attachedFiles">
							<label class="custom-file-label attachedFilesLabel form-control playvoice-form" 
								for="attachedFiles[0]">파일을 선택해 주세요. (최대 10개)</label>
						</div>
					</div>
					<div class="file-copy-button col-md-1 col-auto text-center align-self-center">
						<button id="copy_btn0" type="button" class="copy-btn btn btn-sm btn-mypage2">
							<i class="fa fa-plus"></i>
						</button>
						<button id="delete_btn0" type="button" onclick="deletes(this.id)" 
							class="delete-btn btn btn-xs btn-danger" style="display:none;">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div id="file_paste">
				<!-- 동적파일 폼 붙여넣는 영역 -->
				</div>
			</div>	

			<!--/*submit 컨트롤 박스*/-->
			<div id="submitDiv" class="submit-button-section row no-gutters">
				<div class="col-md-11 ml-auto pl-md-0">
					<button id="save" class="btn btn-mypage">Register</button>
					<button type="reset" class="btn btn-outline-mypage">Reset</button>
				</div>
			</div>
		</form>
		 
		<div class="errorMsgs" style="display: none;">
		 	<h3>
				Error Messages
				<span>Error Occured while processing the request.</span>
			</h3>
			<pre></pre>
	 	</div>
	</div><!-- end of formContainer -->
</div>

</section><!-- end of content -->



