<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/admin_basic_layout2}">

<head>
<title>Add Level</title>

<link rel="stylesheet" th:href="@{/css/bootstrap/datepicker3.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoicebook.css}">

<script th:src="@{/js/public/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/public/bootstrap-datepicker.kr.js}"></script>
	
<script th:inline="javascript">
$(document).ready(function() {
	
	/*---------------------- [레벨 리스트 테이블에서 레벨 선택시] ----------------------*/
	/*----------------- 선택한 레벨의 스테이지를 불러와서 스테이지 리스트에 표시 --------------*/
	$('#levelList').on('click', '.level-List', function(){
		var selected = $(this);
		//$("#levelId").val(selected);
		
		/* 1. Adding Stage Form 표시 */
		$.getJSON("/admin/playvoiceBook/stage/list", 
				{lid:selected.attr("lid")}, 
				function(stages, textStatus, req) {
					
			/* 1-1. 부모레벨 */
			var parent_level = selected.children('.levelName').text();
			$("#addStageDiv #level").val(null).val(parent_level).attr("placeholder", parent_level);
			$("#addStageDiv [name='levelId']").val(selected.attr("lid"));
			
			/* 1-2. 스테이지이름 */
			$("#addStageDiv #name").val("Level " + (selected.index() + 1) + " stage " + (stages.length + 1));
			
			/* 1-3. 스테이지단계 */
			$("#addStageDiv #stageNum").empty().append('<option disabled value="">--choose--</option>');
			
			/* 1-4. 스테이지 리스트 */
			$("#stageList").find('tbody').empty();
			stages.forEach(function(stage, i, array) {
				/* 스테이지 리스트에 하나씩 주입 */
				var opt = '<tr idx="'+(i+1)
				+'" name="' + stage.name
				+'" stageid="' + stage.stageId
				+'" lid="' + selected.attr("lid")
				+'" stagenum="' + stage.stageNum
				+'" stagetype="' + stage.stageType
				+'" objective="' + stage.objective
				+'" rep="' + stage.rep
				+'" emloc="' + ((stage.emLoc != null) ? stage.emLoc :'')
				+'" repKor="' + (stage.repKor || '')
				+'" class="jsAction stage-List">';
				opt += '<td class="stageName" style="width: 80px;">' + 'stage' + ' ' + (i+1) + '</td>'
				+ '<td class="text-left" style="text-overflow:ellipsis; overflow:hidden; white-space: nowrap;">'
				+ '<span title="' + stage.rep + '">' + stage.rep + '</span></td></tr>';
				$("#stageList").append(opt);
				/* 단계선택 리스트에 하나씩 주입 */
				$("#addStageDiv #stageNum").append('<option value="'+(i > 0 ? (stage.stageNum + stages[i-1].stageNum)/2:(stage.stageNum/2))+'">'+ 'stage' +' '+(i+1)+'</option>');
			});
			/* 단계선택 리스트 마지막의 다음 단계 추가 */
			$("#addStageDiv #stageNum").append('<option selected style="color:red;" value="'+(stages.length>0?(stages[stages.length-1].stageNum+100000):100000)+'">'+ 'stage' +' '+(stages.length+1)+'</option>');
			
			/* 1-5. 스테이지 설명 */
			$("#addStageDiv #objective").val('');
		});
		$('#addStageFormContainer,#addStageDiv').show();
		$('#editStageDiv,#playvoiceList').hide();
		
		/* 2. Edit Level Form 값 세팅 */
		$("#addLevelDiv").css("display","none");
		$("#lid").val(selected.attr("lid"));
		$("#editLevelDiv #name").val(selected.attr("name"));
		$("#editLevelDiv #levelNumText").val(selected.attr("name")+" "+selected.attr("idx"));
		$('#editLevelDiv #levelNum').val(selected.attr('levelnum'));
		$("#editLevelDiv #description").text("").text(selected.attr("description"));
		$("#editLevelDiv #levelType").val(selected.attr("levelType"));
		$("#editLevelDiv #del").val(selected.attr("del"));
		$("#editLevelDiv #regDate").val(selected.attr("regDate"));
		$("#editLevelDiv").css("display","");
	});

	
	/*--------------------[스테이지 리스트 테이블에서 스테이지 선택시]--------------------*/
	//var selectedStage;
	$("#stageList").on("click", ".stage-List", function(){
		var	selectedStage = $(this);
		
		//var selectedStage = $("#stageList :selected");
		var stages = $("#stageList tbody").find("tr");
		
		/* 1. Add New Stage 폼 숨기기 */
		$("#addStageDiv").css("display","none");
		
		/* 2. Edit Stage Form 값 세팅 */
		/* 2-1. 스테이지 id값, 레벨 id값 */
		$("#stageId").val(selectedStage.attr("stageId"));
		$("#levelId").val(selectedStage.attr('lid'));
		
		/* 2-2. 스테이지 단계 이동 목록 세팅 */
		$("#editStageDiv #stageNum").empty();
		stages.each(function(i,stage) {
		    var num = parseInt($(stage).attr("stageNum"));
		    //var name = $(stage).attr('name');
		    if((i+1)==selectedStage.attr('idx')){
		       //수정하려는 스테이지 단계는 (now)를 붙여서 기본 선택. 단계값이 현재와 같아서 변화가 없다.
		       $("#editStageDiv #stageNum").append('<option selected value="'+num +'">'+'stage'+' '+(i+1)+' (now)</option>');
		    }else{
		       //option 태그 생성
		       var optTag = '<option value=';
		       //
		       if(i>0){
		          if((i+1) > selectedStage.attr('idx')){
		             if(i==(stages.length-1)){
		          //마지막 스테이지로 이동하고자 할때 마지막 스테이지의 단계값에 +100000
		                optTag += num + 100000;
		             }else{
		          //수정하려는 스테이지보다 뒤의 단계로 이동하고자 할때
		          //이동하려는 스테이지와 그 다음 스테이지의 단계값을 참조하여 중간값으로 계산
		                optTag += (num + parseInt($(stages[i+1]).attr("stageNum")))/2;
		             }
		          }else{
		          //수정하려는 스테이지보다 앞의 단계로 이동하고자 할때
		          //이동하려는 스테이지와 그 앞의 스테이지 단계값을 참조하여 중간값으로 계산
		             optTag += (num + parseInt($(stages[i-1]).attr("stageNum")))/2;
		          }
		       }else{
		          //첫번째 단계로 지정하고자 할 땐 현재 첫번째 단계값의 반값으로 계산
		          optTag += num/2;
		       }
		       //option 태그 완성 후 리스트에 추가
		       optTag += '>'+ 'stage' +' '+(i+1)+'</option>';
		       $("#editStageDiv #stageNum").append(optTag);
		    }
		 });
		/* 2.3 스테이지 타입 */
		if(selectedStage.attr("stageType") == 'S'){
			$("#editStageDiv #stageType option[value='S']").prop('selected', true);
		}else{
			$("#editStageDiv #stageType option[value='G']").prop('selected', true);
		}
		
		/* 2-4. 스테이지 이름 */
		$("#editStageDiv #name").val(selectedStage.attr("name"));
		
		/* 2-5. 스테이지 설명 */
		$("#editStageDiv #objective").val("").val(selectedStage.attr("objective"));
		
		/* 2-6. 스테이지 대표문장 */
		$('#editStageDiv #rep').val(selectedStage.attr('rep'));
		$('#editStageDiv #emLoc').val(selectedStage.attr('emLoc'));
		
		// 대표문장 강조처리
		var rep_text = selectedStage.attr('rep');
		var edited_emp = selectedStage.attr('emloc')!=""?JSON.parse(selectedStage.attr('emloc')):"";
		var idx = 0;
		var emp_text = "";
		if(edited_emp == "") { //강조 위치가 없을 경우
		   emp_text = rep_text;
		} else {
		   for(var k = 0; k < edited_emp.length; k++) { //문장 하나에 강조 여러개
		      var start = edited_emp[k][0];
		      var end = edited_emp[k][1];
		      var first = rep_text.substring(idx, start);
		      var second = rep_text.substring(start, end + 1);
		         emp_text += first + '<b>' + second + '</b>';
		      idx += end+1;
		      if(k == edited_emp.length - 1 && end < rep_text.length) { //강조 마지막 부분
		         emp_text += rep_text.substring(end + 1);
		      }
		   }
		}
		$('#editStageDiv #eng_sentence').html(emp_text);
		
		/* 2-7. 스테이지 대표문장(한글)*/
		$('#editStageDiv #kor_sentence').val(selectedStage.attr('repKor'));
		
		$("#editStageDiv").show();
		
		/* 3. 스테이지에 포함된 플보 문장 목록 표시 */
		$('#searchPlayvoiceForm #page').val("1");
		$('#searchPlayvoiceForm #size').val("10");
		$('#searchPlayvoiceForm #asc').val("true");
		$('#searchPlayvoiceForm #sortName').val("structType");
		$('#searchPlayvoiceForm #searchType').val("stageId");
		$('#searchPlayvoiceForm #keyword').val(selectedStage.attr('stageId'));
		
		searchPlayvoiceList(1);
		$('#playvoiceList').css('display','');
		$('#searchSentenceFormContainer [id^="sentenceList"]').css('display','none');
	});
	 
	
	/*-------------------------[스테이지 취소 버튼 클릭시]---------------------------*/
	/*Edit Stage 폼을 없애고 Add New Stage 폼 표시 */
	$("#cancelEditStageBtn").click(function(){
		$("#editStageDiv").hide();
		$("#addStageDiv").css("display","block");
	});
	
	
	/* --------------------------[스테이지 추가 & 수정 ajax]---------------------- */
	$('#addStageForm, #editStageForm').submit(function(e){
		e.preventDefault();
		
		var frm = $(this)[0];
		//강조된 문자열이 들어가 있는 요소
		var t=frm.querySelector('#eng_sentence');
		t.innerHTML=t.innerHTML;
		//idx: 텍스트의 커서위치; 0부터 시작
		var idx=0;
		//강조위치 배열. 각 요소도 배열 형태
		var empList = [];
		//※강조부분,비강조부분이 자식노드들.
		for(var j = 0; j < t.childNodes.length; j++){
			//강조부분은 태그이름이 있음.
			if(t.childNodes.item(j).tagName != null){
				//e: [시작위치,끝위치]
				var em = [];
				//시작위치
				em.push(idx);
				//끝위치
				em.push(idx + t.childNodes.item(j).textContent.length - 1);
				//끝위치 대신 해당부분의 길이를 반환하고 싶을땐 아래 구문으로 대체.
				//e.push(t.childNodes.item(j).textContent.length);
				//강조위치 배열에 추가
				empList.push(em);
			}
			//커서위치 이동
			idx += t.childNodes.item(j).textContent.length;
		}
		frm.querySelector('#rep').value=t.textContent; // 넘겨줄 데이터에 value 담기
		frm.querySelector('#emLoc').value=JSON.stringify(empList); //강조위치 담기

		var formData = new FormData(frm);
		$.ajax({
			beforeSend:function(xhr){
				xhr.setRequestHeader(/*[[${_csrf.headerName}]]*/null, /*[[${_csrf.token}]]*/null);
			},
			url:frm.action,
			type:'post',
			data:formData,
			processData:false,
			contentType:false,
			success:function(result){
				$('#addStageFormContainer button[class="btn btn-info btn-xs"]').css("display", 'inline');
				
				
				/* selectedStage.attr('stageId', result.stageId);
				selectedStage.attr('stageNum', result.stageNum);
				selectedStage.attr('name', result.name);
				selectedStage.attr('objective', result.objective);
				selectedStage.attr('rep', result.rep);
				selectedStage.attr('emLoc', result.emLoc); */
				
				$('#levelList tr[lid="'+frm.levelId.value+'"]').click()
				$('#is-display-stage p').text("");
			},
			error:function(msg){
				$('.stage-result .btn-info').css('display','none');
				$('.stage-result .btn-danger').css('display','');
			}
		}); 
	});

	/* ----------[스테이지에 등록된 예문 테이블에서 스테이지의 대표문장으로 쓸 예문을 선택]------- */
	$('#playvoiceList').on('click','.sentenceDetail', function(e) {
		if(!confirm("대 표문장으로 변경하시겠습니까?")){
			return;
		}
		
		var sentenceFrm;
		if($('#addStageDiv').css('display')!='none'){
			sentenceFrm = $('#addStageDiv #rep_sentence_form');
		}else{
			sentenceFrm = $('#editStageDiv #rep_sentence_form');
		}
		//해당 행의 칼럼을 첫번째부터 순회.
		var sentenceRow = $(this).closest('tr').find('td:first-child');
		
		sentenceRow=sentenceRow.next().next().next();//4번째는 영어
		sentenceFrm.find('#eng_sentence').html(sentenceRow.find('a').html());
		
		sentenceRow=sentenceRow.next();//다음은 한국어
		sentenceFrm.find("#kor_sentence").val(sentenceRow.text());
	});
	
}); //end of ready

function fixedEncodeURI (str) {
    return str.replace(/%5B/g, '[').replace(/%5D/g, ']');
}

function searchPlayvoiceList(n){
	$.ajax({
		url:'/admin/playvoiceBook/search',
		type:'get',
		data:{
			page:n,
			size:$('#searchPlayvoiceForm #size').val(),
			asc:$('#searchPlayvoiceForm #asc').val(),
			sortName:$('#searchPlayvoiceForm #sortName').val(),
			searchType:$('#searchPlayvoiceForm #searchType').val(),
			keyword:$('#searchPlayvoiceForm #keyword').val()
		},
		success:function(pageMaker){
			if(pageMaker.totalPageNum==0){
				$('#playvoiceList table,#playvoiceList ul').css('display','none');
				$('#playvoiceList .done-belong').css('display','none');
				$('#playvoiceList .none-belong').css('display',''); 
			}else{
				displayPlayvoiceList(pageMaker);
				displayPageNavigation(pageMaker);
				$('#playvoiceList table,#playvoiceList ul').css('display','');
				$('#playvoiceList .done-belong').css('display','');
				$('#playvoiceList .none-belong').css('display','none');
			}
		},
		error:function(){
			
		}
	});
};

function displayPlayvoiceList(pageMaker){
	var prevPage = pageMaker.prevPage;
	var nextPage = pageMaker.nextPage;
	var page  = pageMaker.result;
	var pageList = pageMaker.pageList;
	var currentPageNum = parseInt(pageMaker.currentPageNum);
	var totalElts= parseInt(page.totalElements);
	var fetchSize = parseInt($('#searchPlayvoiceForm #size').val());
	
	
	$('#playvoiceList tbody').empty();
	var num=1;
	
	$.each(page.content, function(i, playvoice) {
		//num = totalElts - (currentPageNum-1)*fetchSize - i;
		num = (totalElts-i)-(currentPageNum-1)*fetchSize;
		
		var org_text = playvoice.sentence.eng;
		var edited_emp = JSON.parse(playvoice.emLoc);
		var idx = 0;
		var emp_text = "";
		if(edited_emp == "") { //강조 위치가 없을 경우
		   emp_text = org_text;
		} else {
		   for(var k = 0; k < edited_emp.length; k++) { //문장 하나에 강조 여러개
		      var start = edited_emp[k][0];
		      var end = edited_emp[k][1];
		      var first = org_text.substring(idx, start);
		      var second = org_text.substring(start, end + 1);
		         emp_text += first + '<b>' + second + '</b>';
		      idx += end+1;
		      if(k == edited_emp.length - 1 && end < org_text.length) { //강조 마지막 부분
		         emp_text += org_text.substring(end + 1);
		      }
		   }
		}
		
		var row = '<tr>';
		row += '<td>' + num + '</td>'
			+  '<td>' + playvoice.pid + '</td>'
			+  '<td>' + playvoice.sentence.sid + '</td>'
			+  '<td class="text-left"><a href="javascript:void(0)" class="sentenceDetail" data-toggle="tooltip" data-placement="right" title="대표문장으로 등록하기">' + emp_text + '</td>'
			+  '<td class="text-left">' + playvoice.sentence.kor + '</td>'
			+  '<td>' + playvoice.structType + '</td>'
			+  '</tr>';
		$('#playvoiceList tbody').append(row);
	});
};

function displayPageNavigation(pageMaker){
	var prevPage = pageMaker.prevPage;
	var nextPage = pageMaker.nextPage;
	var currentPage = pageMaker.currentPage;
	var pageList = pageMaker.pageList;
	var currentPageNum = parseInt(pageMaker.currentPageNum);
	

	var ul = $('#playvoiceListPageNavi ul');
	ul.empty();
	
	if(prevPage != null){
		var li = $('<li></li>');
		li.addClass('page-item');
		
		var link = $('<a class="page-link"></a>').attr('href', '#' ).
			html('PREV'+parseInt(prevPage.pageNumber+1));
		link.attr('onclick','searchPlayvoiceList('+parseInt(prevPage.pageNumber+1)+')');
		link.appendTo(li);
		li.appendTo(ul);
	}
	
	$.each(pageList, function(index, page){
		var li = $('<li class="page-item"></li>');
		if(parseInt(page.pageNumber) == (currentPageNum-1)){
			li.addClass("active");
		}
		var link =$('<a class="page-link"></a>');
		link.attr('class', 'page-link');
		link.attr('href', 'javascript:void(0)');
		link.attr('onclick', 'searchPlayvoiceList('+parseInt(page.pageNumber+1)+')');
		link.html(parseInt(page.pageNumber + 1));
		
		li.append(link);
		li.appendTo(ul);
	});
	
	if(nextPage != null){
		var li = $('<li></li>');
		li.addClass('page-item');
		
		var link = $('<a></a>').attr('href', '#' ).attr('class', 'page-link' ).
		html('NEXT'+parseInt(nextPage.pageNumber+1));
		link.attr('onclick','searchPlayvoiceList('+parseInt(nextPage.pageNumber+1)+')');
		
		link.appendTo(li);
		li.appendTo(ul);
	}
}
</script>
</head>


<section layout:fragment="content">

<div id="addLevelSection" class="playvoicebook-add-level-section">
<h3>Level 등록(Add Level)</h3>

<!-- 1. Adding Level Form -->
<div id="addLevelFormContainer" class="formContainer">
<h3>
	Adding Level Form <button type="button" class="btn btn-info btn-xs" style="display: none;">
	<span class="glyphicon glyphicon-ok"></span> SUCCESS</button>
	<span>Please fill the text in the field.</span>
</h3>
<div class="resMsgs" style="display:none;">
	<h3>
		Response Messages
		<span>Your request was processed.</span>
	</h3>
	<pre>[[${resMsgs}]]</pre>
</div>

<div class="row">
<!--/* ----------------------------[신규 레벨 등록 폼]-------------------------- */-->
<div id="addLevelDiv" class="col-6">
	<h4 class='subtitle'>Add New Level</h4>
	<form id="addLevelForm" class="form-horizontal"  method="post" >
		<!-- 레벨명 -->
		<div class="form-group row">
			<label for="name" class="col-2 control-label headerLabel">레벨명</label>
			<div class="col-10">
				<input type="text" id="name" name="name" value="Level 1"
					placeholder="레벨 이름" readonly class="form-control playvoice-form"/>
			</div>
		</div>
		
		<!-- 레벨 단계 -->
		<div class="form-group row">
			<label for="levelNum" class="col-2 control-label headerLabel">단계</label>
			<div class="col-10">
				<select name="levelNum" id="levelNum" class="form-control playvoice-form">
					<option>--choose--</option>
					<!--/* 기존 레벨 번호 */-->
					<option>Level 1</option>
					<option>Level 2</option>
					<option>Level 3</option>
					
					<!--/* next 레벨 번호 */-->
					<option style="color:red;">
						Level 4
					</option>
				</select>
			</div>
		</div>
		
		<!-- 레벨 목표 및 설명 -->
		<div class="form-group row">
			<label for="description" class="col-2 control-label headerLabel">설명</label>
			<div class="col-10">
				<textarea id="description" rows="5" name="description" 
					class="form-control playvoice-form" placeholder="레벨의 학습목표 등"></textarea>
			</div>
		</div>
		
		<!-- 레벨 타입 -->
		<div class="form-group row">
			<label for="levelType" class="col-2 control-label headerLabel">종류</label>
			<div class="col-10">
				<input type="text" id="levelType" name="levelType"
					placeholder="레벨 타입" class="form-control playvoice-form"/>
			</div>
		</div>
		
		<div class="submitDiv">
			<div class="form-group row"><div class="ml-auto col-10">					
				<!-- Register Button -->
				<input type="submit" id="addLevelBtn" value="Register" class="btn btn-main-submit"/>
				<input type="reset"  id="resetLevelBtn" value="Reset" class="btn btn-main" />
			</div></div>
		</div>
	 </form>
</div> <!-- end of addLevelDiv (6col) -->

<!--/* ----------------------------[레벨 수정]--------------------------- */-->
<div id="editLevelDiv" class="col-6">
	<h4 class='subtitle'>Edit Level</h4>
	<form th:action="@{/admin/playvoiceBook/level/edit}" method="post"
			id="editLevelForm" class="form-horizontal" >
			
		<div>
			<!-- 레벨 id -->
			<div class="form-group row">
				<label for="lid" class="col-2 control-label headerLabel">LID</label>
				<div class="col-10">
					<input type="text" id="lid" name="lid" readonly class="form-control playvoice-form">
				</div>
			</div>
			
			<!-- 레벨명 -->
			<div class="form-group row">
				<label for="name" class="col-2 control-label headerLabel">레벨명</label>
				<div class="col-10">
					<input type="text" id="name" name="name" 
						placeholder="레벨 이름" class="form-control playvoice-form"/>
				</div>
			</div>
			
			<!-- 레벨 단계 -->
			<div class="form-group row">
				<label for="levelNum" class="col-2 control-label headerLabel">단계</label>
				<div class="col-10">
					<input type="text" id="levelNum" name="levelNum" 
						placeholder="레벨 단계" readonly class="form-control playvoice-form"/>
				</div>
			</div>
			
			<!-- 레벨 목표 및 설명 -->
			<div class="form-group row">
				<label for="description" class="col-2 control-label headerLabel">설명</label>
				<div class="col-10">
					<textarea id="description" rows="5" name="description" 
							class="form-control playvoice-form" placeholder="레벨 설명"></textarea>
				</div>
			</div>
			
			<!-- 레벨 타입 -->
			<div class="form-group row">
				<label for="type" class="col-2 control-label headerLabel">레벨타입</label>
				<div class="col-10">
					<input type="text" id="levelType" name="levelType" 
						placeholder="종류" readonly class="form-control playvoice-form"/>
				</div>
			</div>
			
			<!-- 삭제 -->
			<div class="form-group row">
				<label for="levelType" class="col-2 control-label headerLabel">삭제여부</label>
				<div class="col-10">
					<input type="text" id="del" name="del" class="form-control playvoice-form"/>
				</div>
			</div>
			
			<!-- 등록일 -->
			<div class="form-group row">
				<label for="levelType" class="col-2 control-label headerLabel">등록일</label>
				<div class="col-10">
					<input type="text" id="regDate" 
						placeholder="등록일" readonly class="form-control playvoice-form"/>
				</div>
			</div>
		</div>	
		
		<div class="submitDiv">
			<div class="form-group row">
				<div class="ml-auto col-10">
					<!-- Submit Edit Button -->
					<input type="submit" id="editLevelBtn" value="Submit" class="btn btn-main-submit"/>
					<input type="button" value="Cancel" id="cancelEditLevelBtn" class="btn btn-main"/>
				</div>
			</div>
		</div>
	 </form>
</div> <!-- end of editLevelDiv (6col) -->

<!--/* ------------------------[현재 레벨 리스트]-------------------------- */-->
<div id="currentLevelDiv" class="col-6">
	<h4 class='subtitle'>Current Levels</h4>
	<div id="levelListDiv" class="table-scroll-y">
		<table id="levelList" class="table table-striped table-bordered table-sm table-hover text-center resultWrapper admin-sentencebook-board"
			style="table-layout:fixed;">
			<thead>
			<tr class="thead">
				<th style="width: 80px;">단계</th>
				<th>설명</th>
			</tr></thead>
			
			
		</table>
	</div>
</div><!-- end of levelListDiv (6col) -->
</div> <!-- end of row -->

<div class="errorMsgs" style="display: none;">
 	<h3>
		Error Messages
		<span>Error Occured while processing the request.</span>
	</h3>
	<pre th:text="${errorMsg}"></pre>
</div>
</div><!-- end of formContainer -->
</div><!-- end of addLevelSection-->

<div id="addStageSection" class="playvoicebook-add-stage-section">
	<h3>Stage 등록(Add Stage)</h3>

<!-- 2. Adding Stage Form -->
<div id="addStageFormContainer" class="formContainer">
<h3>
	Adding Stage Form <button type="button" class="btn btn-info btn-xs" style="display:none">
	<span class="glyphicon glyphicon-ok"></span> SUCCESS</button>
	<span>Please fill the text in the field.</span>
</h3>
<div class="resMsgs" style="display:none;">
	<h3>
		Response Messages
		<span>Your request was processed.</span>
	</h3>
	<pre>[[${resMsgs}]]</pre>
</div>
<div class="row">
	<!--/* -------------------------[스테이지 추가]-------------------------- */-->
	<div id="addStageDiv" class="col-6">
		<h4 class='subtitle'>Add New Stage</h4>
		<form th:action="@{/admin/playvoiceBook/stage/add}"  method="post"
				id="addStageForm" class="form-horizontal">
			
			<div>
				<!-- 부모 레벨 -->
				<input type="hidden" name="levelId" required>
				<div class="form-group row">
					<label for="level" class="col-2 control-label headerLabel">부모레벨</label>
					<div class="col-10">
						<input type="text" id="level" name="level"
							disabled class="form-control playvoice-form" required/>
					</div>
				</div>
				
				<!-- 스테이지명 -->
				<div class="form-group row">
					<label for="name" class="col-2 control-label headerLabel">스테이지</label>
					<div class="col-10">
						<input type="text" id="name" name="name" 
							placeholder="스테이지 이름" class="form-control playvoice-form"/>
					</div>
				</div>
				
				<!-- 스테이지 단계 -->
				<div class="form-group row">
					<label for="stageNum" class="col-2 control-label headerLabel">단계</label>
					<div class="col-10">
						<select name="stageNum" id="stageNum" class="form-control playvoice-form" required>
							<option>--choose--</option>
						</select>
					</div>
				</div>
				
				<!-- 스테이지 타입 -->
				<div class="form-group row">
					<label for="stageType" class="col-2 control-label headerLabel">타입</label>
					<div class="col-10">
						<select name="stageType" id="stageType" class="form-control playvoice-form" required>
							<option value="G">G</option>
							<option value="S">S</option>
						</select>
					</div>
				</div>
				
				<!-- 스테이지 목표 및 설명 -->
				<div class="form-group row">
					<label for="objective" class="col-2 control-label headerLabel">설명</label>
					<div class="col-10">
						<textarea id="objective" rows="8" name="objective" 
							class="form-control playvoice-form" placeholder="스테이지 학습목표 등"></textarea>
					</div>
				</div>
				
				<!-- 스테이지 대표 문장 -->
				<div id="rep_sentence_form">
					<input type="hidden" id="sentenceId">
					<div class="form-group row">
						<label for="eng_sentence" class="col-2 control-label headerLabel">대표문장</label>
						<div class="col-10 search_textbox">
							<!-- 대표문장의 영문 -->
							<p id="eng_sentence" class="form-control playvoice-form" 
								contenteditable="true" data-placeholder="대표문장 (영어)" onkeyup="enkeyup(this.id)" 
								style="height:auto; min-height:100%; margin-bottom: 0px;"></p>
							<input type="hidden" id="rep" name="rep" required/>
							<input type="hidden" id="emLoc" name="emLoc"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="ml-auto col-10 search_textbox">
						<button class="btn btn-xs btn-main3 jsAction" type="button" onclick="document.execCommand('bold')">강조</button>
						<span style="font-size: 12px;">강조할 부분을 블록지정하여 클릭하세요.</span>
						</div>
					</div>
					<div class="form-group row">
						<!-- 대표문장의 한글 -->
						<div class="ml-auto col-10">
							<textarea id="kor_sentence" name="repKor" class="form-control playvoice-form"
								placeholder="대표문장 (한글)" style="height:auto; min-height:100%; margin-bottom: 0px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			
			<div class="submitDiv">
				<div class="form-group row">
					<div class="ml-auto col-10">
						<!-- Register Button -->
						<input type="submit" id="addStageBtn" value="Register" class="btn btn-main-submit"/>
						<input type="reset" id="resetStageBtn" value="Reset" class="btn btn-main"/>
					</div>
				</div>
			</div>
		 </form>
	</div> <!-- end of addStageDiv (col-6)-->
	
	<!--/* ------------------------[스테이지 수정]---------------------------- */-->
	<div id="editStageDiv" class="col-6" >
		<h4 class='subtitle'>Edit Stage</h4>
		<form th:action="@{/admin/playvoiceBook/stage/edit}" method="post"
				id="editStageForm"  class="form-horizontal">
			
			<div>
				<!-- 레벨 id -->
				<div class="form-group row">
					<label for="lid" class="col-2 control-label headerLabel">LID</label>
					<div class="col-10">
						<input type="text" id="levelId" name="levelId" readonly 
							class="form-control playvoice-form"/>
					</div>
				</div>
				
				<!-- 스테이지 id -->
				<div class="form-group row">
					<label for="stageId" class="col-2 control-label headerLabel">StageId</label>
					<div class="col-10">
						<input type="text" id="stageId" name="stageId" readonly 
							class="form-control playvoice-form">
					</div>
				</div>
				
				<!-- 스테이지 명 -->
				<div class="form-group row">
					<label for="name" class="col-2 control-label headerLabel">스테이지</label>
					<div class="col-10">
						<input type="text" id="name" name="name" 
							placeholder="스테이지 이름" class="form-control playvoice-form"/>
					</div>
				</div>
				
				<!-- 스테이지 단계 -->
				<div class="form-group row">
					<label for="stageNum" class="col-2 control-label headerLabel">단계</label>
					<div class="col-10">
						<select name="stageNum" id="stageNum" class="form-control playvoice-form">
						</select>
					</div>
				</div>
				
				
				<!-- 스테이지 타입 -->
				<div class="form-group row">
					<label for="stageType" class="col-2 control-label headerLabel">타입</label>
					<div class="col-10">
						<select name="stageType" id="stageType" 
							class="form-control playvoice-form" required>
							<option value="G">G</option>
							<option value="S">S</option>
						</select>
					</div>
				</div>
				
				<!-- 스테이지 목표 및 설명 -->
				<div class="form-group row">
					<label for="objective" class="col-2 control-label headerLabel">설명</label>
					<div class="col-10">
						<textarea id="objective" name="objective" rows="8" 
							class="form-control playvoice-form" placeholder="스테이지 설명"></textarea>
					</div>
				</div>
				
				<!-- 스테이지 대표 문장 -->
				<div id="rep_sentence_form">
					<input type="hidden" id="sentenceId">
					<div class="form-group row">
						<label for="eng_sentence" class="col-2 control-label headerLabel">대표문장</label>
						<div class="col-10 search_textbox">
							<!-- 대표문장의 영문 -->
							<p id="eng_sentence" class="form-control playvoice-form" 
								contenteditable="true" data-placeholder="대표문장 (영어)" 
								style="height:auto; min-height:100%"></p>
							<input type="hidden" id="rep" name="rep" required>
							<input type="hidden" id="emLoc" name="emLoc">
						</div>
					</div>
					<div class="form-group row">
						<div class="ml-auto col-10 search_textbox">
						<button class="btn btn-xs btn-main3 jsAction" type="button" onclick="document.execCommand('bold')">강조</button>
						<span style="font-size: 12px;">강조할 부분을 블록지정하여 클릭하세요.</span>
						</div>
					</div>
					<div class="form-group row">
						<!-- 대표문장의 한글 -->
						<div class="ml-auto col-10">
							<textarea id="kor_sentence" name="repKor" 
								class="form-control playvoice-form" placeholder="대표문장 (한글)" 
								style="height:auto; min-height:100%; margin-bottom: 0px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			
			<div class="submitDiv">
				<div class="form-group row">
					<div class="ml-auto col-10">
						<!-- Submit Edit Button -->
						<input type="submit" id="editStageBtn" value="Edit" class="btn btn-main-submit"/>
						<input type="button" id="cancelEditStageBtn" value="Cancel" class="btn btn-main"/>
					</div>
				</div>
			</div>
		 </form>
	</div> <!-- end of editStageDiv (col-6) -->
	
	<!--/* -------------------------[스테이지 리스트]------------------------- */-->
	<div id="stageListDiv" class="col-6">
		<h4 class='subtitle'>Stage List</h4>
		<div class="table-scroll-y2">
			<table id="stageList" class="table table-striped table-bordered table-sm table-hover text-center resultWrapper admin-sentencebook-board"
				style="table-layout:fixed;">
				<thead>
				<tr class="thead">
					<th style="width: 80px;">단계</th>
					<th>대표문장</th>
				</tr>
				</thead>
				<tbody class="tbody"></tbody>
			</table>
		</div>
	</div> <!-- end of stageListDiv (col-6) -->
	
	<!--/* ---------------[선택한 스테이지에 등록된 플레이보이스 리스트 목록]----------- */-->
	<div id="playvoiceList" class="col-12 mt-3">
		<h4 class='subtitle'>등록된 예문 목록</h4>
		<p style="font-size: 12px;" class="done-belong">예문 선택 시 대표 문장으로 입력됩니다.</p>
		<p style="font-size: 12px;" class="text-danger none-belong">이 스테이지엔 등록된 예문이 없습니다.</p>
		
		<table class="table table-striped table-bordered table-sm table-hover text-center resultWrapper admin-sentencebook-board">
			<thead>
			<tr class="thead">
				<th style="width: 70px;">번호</th>
				<th>PID</th>
				<th>SID</th>
				<th>영어</th>
				<th>한글</th>
				<th style="width: 70px;">구조유형<span class="sortMark">▼</span></th>
			</tr></thead>
			<tbody>
			<tr class="tbody">
				<td>1</td>
				<td>PID</td>
				<td>SID</td>
				<td class="text-left">
					<a href="javascript:void(0)" class="sentenceDetail" 
						data-toggle="tooltip" data-placement="right" 
						title="대표 문장으로 등록하기">대표 문장으로 등록하기</a></td>
				<td class="text-left"></td>
				<td>250</td>
			</tr></tbody>
		</table>

		<!-- paging -->
		<nav id="playvoiceListPageNavi" class="row my-3">
			<div class="col-12 text-center">
				<ul class="pagination pagination-sm justify-content-center">
					
				</ul>
			</div>
		</nav>		
		
		<form id="searchPlayvoiceForm">
			<input type="hidden" id="page" value="1">
			<input type="hidden" id="size" value="5">
			<input type="hidden" id="asc" value="true">
			<input type="hidden" id="sortName" value="structType">
			<input type="hidden" id="searchType" value="stageId">
			<input type="hidden" id="keyword">
		</form>
	</div> <!-- end of playvoiceList (col-12) -->
</div> <!-- end of addStageFormContainer's boundary -->

<div class="errorMsgs" style="display: none;">
 	<h3>
		Error Messages
		<span>Error Occured while processing the request.</span>
	</h3>
	<pre th:text="${errorMsg}"></pre>
</div>

</div><!-- end of addStageFormContainer -->
</div><!-- end of addStageSection -->


</section><!-- end of content -->