<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- ------------------------------[메인 헤더]--------------------------------- -->
<div th:fragment="header">
<!--/*=====================================================================*/-->
<!--/*  						header (PC ver.)						   */-->
<!--/*=====================================================================*/-->
<div class="main-header d-none d-lg-block">
<div class="main-copy-section2">
	<div class="container"><div class="row">
		<!-- copy -->
		<div class="logo-margin-div col-auto"></div>
		<div class="main-copy2 col align-self-center">
			<div class="copy1">
			나랏말씀이 미국과 달라 ·ᄠᅳ·들 시·러 펴·디 :몯ᄒᆞᆶ ·노·미 하·니·라
			</div>
			<div class="copy2">
				<i class="fa fa-link fa-fw"></i>
				대한민국 영어 리부트 프로젝트 : 닥치고 talk!
			</div>
		</div>
		<!-- 로그인 & top 메뉴 -->
		<!--/* <div class="col-auto align-self-center">
			<a class="sub-menu-link" th:href="@{/admin}">
				<i class="fa fa-wrench fa-fw"></i> Admin
			</a>
		</div> */-->
		<div class="col-auto align-self-center">
			<a th:href="@{/membership}" class="sub-menu-link">
				<i class="forGold fa fa-plane"></i>
				Membership
			</a>
		</div>
		<div class="col-auto align-self-center">
			<a th:href="@{/guide}" class="sub-menu-link">Guide</a>
		</div>
		<!--/* <div class="col-auto align-self-center">
			<a class="sub-menu-link" th:href="@{/business}">
				Contact Us
			</a>
		</div> */-->
		<div th:unless="${session.userContainer}" class="col-auto align-self-center">
			<form method="post">
				<button type="submit" class="sub-menu-link logout">Logout</button>
			</form>
		</div>
		<div th:if="${session.userContainer}" class="menu-point col-auto align-self-center">
			<a class="btn-playvoice-main" th:href="@{/member/registration}">JOIN</a>
		</div>
		<!-- 로그인 여부 -->
		<span id="loginStatus" th:if="${session.userContainer}" 
			th:text="true" style="display: none;" ></span>
	</div></div>
</div>
<div class="main-menu-section2">
	<div class="container"><div class="row no-gutters">
		<!-- [logo] -->
		<div class="logo-section2 col-auto align-self-center" align="center">
			<!-- 선비 로고 -->
			<div class="logo-img-position">
				<div th:unless="${session.userContainer}" class="personacon-logo">
					<a th:href="@{/mypage/profile/view}">
						<th:block th:replace="~{/incl/user_personacon::lg_test}"></th:block>
					</a>
				</div>
				<div th:if="${session.userContainer}" class="personacon-logo"
					th:insert="~{/incl/playvoice_logo::logo_header_got}"></div>
			</div>
			<!-- 텍스트 로고 (PLAYVOICE) -->
			<div class="logo-text-position">
				<a th:replace="~{/incl/playvoice_logo::logo_header_text}"></a>
			</div>
			<!-- 로고 밑 copy -->
			<!--/* <div class="logo-copy-position">
				<a th:href="@{/}">
					<span th:unless="${session.userContainer}" class="logo-copy">
						Where You are the talk of the town</span>
					<span th:if="${session.userContainer}" class="logo-copy">
						Where The words spring up</span>
				</a>
			</div> */-->
		</div>
		<div class="col"></div>
		<!-- [main menu] -->
		<th:block th:replace="~{/incl/main_menu2::main_menu}" 
			class="col-auto align-self-center"></th:block>
	</div></div>
</div>
<div id="playvoice_menu_section" style="display: none; background: #fff;">
	<!-- [app menu] -->
	<div th:insert="~{/incl/app_menu2::app_menu}" class="container"></div>
</div>

</div><!-- end of PC ver. -->

<!--/*=====================================================================*/-->
<!--/*  				header (Tablet & Mobile ver.)					   */-->
<!--/*=====================================================================*/-->
<div class="main-header d-lg-none">
	<div class="mobile-header-back"></div>
	<div class="mobile-header-cover row no-gutters py-2">
		<!-- menu toggle button -->
		<div class="toggle-button-section col-2 px-2 text-center align-self-center">
			<a onclick="mobileMenuOpen()" id="menuOpenBtn">
				<i class="fa fa-bars fa-lg"></i>
			</a>
		</div>
		<!-- logo text (Mobile ver.) -->
		<div class="playvoice-logo col-8 text-center align-self-center">
			<a id="playvoiceMobileAppName" th:href="@{/main}" class="pv-tm" 
				style="display: none;"></a>
			<div id="playvoiceMobileTextLogo" class="text-logo"
				th:insert="~{/incl/playvoice_logo::white_text_logo}"></div>
		</div>
		<!-- logo image/personacon (Mobile ver.) -->
		<div class="playvoice-logo col-2 text-center align-self-center">
			<div th:unless="${session.userContainer}" class="image-personacon" align="center">
				<a th:href="@{/mypage/profile/view}">
					<th:block th:replace="~{/incl/user_personacon::md_test}"></th:block>
				</a>
			</div>
			<div th:if="${session.userContainer}" class="image-logo" align="center">
				<a th:href="@{/auth/login}" 
					th:insert="~{/incl/playvoice_logo::white_seonbi_logo_noLink}"></a>
			</div>
		</div>
	</div>
	<!-- 메뉴 영역 밖 (누르면 메뉴가 닫힘) -->
	<div onclick="history.back();" class="page_cover"></div>
	<!-- [모바일 메뉴] -->
	<div th:replace="~{/incl/mobile_menu2::mobile_menu}"></div>
</div><!-- end of Tablet & Mobile ver. -->

<script th:inline="javascript">
/* $("a[href='"+[[@{/admin}]]+"']").click(function(e){
	if($("#loginStatus").text() == 'true' && [[${session?.userContatiner?.member?.roleName=="ADMIN"}]]){
		return;
	}else{
		e.preventDefault();
		location.href = [[@{/auth/login}]] + "?destPage=" + $(this).attr("href");		
	}
	
}); */
</script>
</div>





<!--/*=====================================================================*/-->
<!--/*  						business header							   */-->
<!--/*=====================================================================*/-->
<div th:fragment="business_header">
<!--/*=====================================================================*/-->
<!--/*  						header (PC ver.)						   */-->
<!--/*=====================================================================*/-->
<nav class="playvoice-business-header">
<div class="d-none d-lg-block">
<div class="main-copy-section2">
	<div class="container-fluid"><div class="row no-gutters">
		<div class="col-xl-1"></div>
		<!-- [logo] -->
		<div class="logo-section2 col-auto align-self-center">
			<!-- 텍스트 로고 (PLAYVOICE) -->
			<div class="logo-text-position">
				<a th:href="@{/}">playvoice</a>
			</div>
		</div>
		
		<div class="col"></div>
		<div th:if="${session.userContainer}" class="menu-point col-auto align-self-center">
			<form method="post">
				<button type="submit" class="btn-playvoice-main logout">Logout</button>
			</form>
		</div>
		<!-- [main menu] -->
		<div th:if="${session.userContainer}" class="menu-point col-auto align-self-center">
			<form method="post">
				<button type="submit" class="btn-playvoice-main logout">Logout</button>
			</form>
		</div>
		<div th:unless="${session.userContainer}" class="menu-point col-auto 
			px-2 align-self-center">
			<a th:href="@{/auth/login}" class="btn-playvoice-main sign-in">
				<i class="icon-sign-in"></i> sign in
			</a>
		</div>
		<div th:unless="${session.userContainer}" class="menu-point col-auto 
			px-2 align-self-center">
			<a class="btn-playvoice-main join" th:href="@{/member/registration}">JOIN</a>
		</div>
		<!-- 로그인 여부 -->
		<span id="loginStatus" th:if="${session.userContainer}" 
			th:text="true" style="display: none;" ></span>
		<div class="col-xl-1"></div>
	</div></div>
</div>

</div><!-- end of PC ver. -->
</nav>
<!--/*=====================================================================*/-->
<!--/*  				header (Tablet & Mobile ver.)					   */-->
<!--/*=====================================================================*/-->
<div class="main-header d-lg-none">
	<div class="mobile-header-back"></div>
	<div class="mobile-header-cover row no-gutters py-2">
		<!-- menu toggle button -->
		<div class="toggle-button-section col-2 px-2 text-center align-self-center">
			<a onclick="mobileMenuOpen()" id="menuOpenBtn">
				<i class="fa fa-bars fa-lg"></i>
			</a>
		</div>
		<!-- logo text (Mobile ver.) -->
		<div class="playvoice-logo col-8 text-center align-self-center">
			<div class="text-logo" th:insert="~{/incl/playvoice_logo::white_text_logo}"></div>
		</div>
		<!-- logo image/personacon (Mobile ver.) -->
		<div class="playvoice-logo col-2 text-center align-self-center">
			<div th:if="${session.userContainer}" class="image-personacon" align="center">
				<th:block th:replace="~{/incl/user_personacon::md_test}"></th:block>
			</div>
			<div th:unless="${session.userContainer}" class="image-logo" align="center"
				th:insert="~{/incl/playvoice_logo::white_seonbi_logo}">
			</div>
		</div>
	</div>
	<!-- 메뉴 영역 밖 (누르면 메뉴가 닫힘) -->
	<div onclick="history.back();" class="page_cover"></div>
	<!-- [모바일 메뉴] -->
	<div th:replace="~{/incl/mobile_menu2::mobile_menu}"></div>
</div><!-- end of Tablet & Mobile ver. -->

<script th:inline="javascript">
/* $("a[href='"+[[@{/admin}]]+"']").click(function(e){
	if($("#loginStatus").text() == 'true' && [[${session?.userContatiner?.member?.roleName=="ADMIN"}]]){
		return;
	}else{
		e.preventDefault();
		location.href = [[@{/auth/login}]] + "?destPage=" + $(this).attr("href");		
	}
	
}); */
</script>
</div>







<!--/*=====================================================================*/-->
<!--/*  						welcome_header							   */-->
<!--/*=====================================================================*/-->
<div th:fragment="welcome_header" class="welcome-header-navbar-section">
<div class="welcome-header-navbar-cover row no-gutters">
	<div class="welcome-header-logo-section col-auto align-self-center">
		<div class="welcome-logo"
			th:insert="~{/incl/playvoice_logo::trans_seonbi_logo}">
		</div>
	</div>
	<div class="col"></div>
	<div class="col-auto align-self-center">
		<a th:href="@{/main}" class="btn-navbar-bound">
			<span class="navbar-bound-item">
				<span data-text="main">main</span>
			</span>
		</a>
	</div>
	<div class="col-auto align-self-center">
		<a th:href="@{/auth/login}" class="btn-navbar-bound">
			<span class="navbar-bound-item">
				<span data-text="main">login</span>
			</span>
		</a>
	</div>
	<div class="col-auto align-self-center">
		<a th:href="@{/member/registration}" class="btn btn-playvoice-join">
			<span class="join-bound">
				<span data-width="#fff" data-text="join">join</span>
			</span>
		</a>
	</div>
</div>
</div><!-- end of header -->





