<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mobile_menu" id="mobileMenu" class="mobile-header-menu d-lg-none">
	
<!-- -----------------------[1. Mobile menu header]------------------------- -->
<div id="mobileMenuHeaderSection">
	<!-- -----------------------[1.1 회원 로그인 시 ]-------------------------------->
	<div class="header-depart-xs login">
		<div class="login-personal-section row no-gutters">
			<!-- 로그인 정보 -->
			<div class="header-person-xs col-auto align-self-center">
				<a th:href="@{/mypage/profile/view}" 
					th:insert="~{/incl/user_personacon::md_test}"></a>
			</div>
			<div class="header-alias-xs col align-self-center">
				<i class="fa fa-circle fa-fw"></i>
				<a th:href="@{/mypage/profile/view}">lazyhysong</a>
				<i class="fa fa-circle fa-fw"></i>
			</div>
			<!-- 닫기 버튼 -->
			<div class="col-auto text-right align-self-start">
				<a onclick="history.back();" id="menuCloseBtn" class="menu-close-btn">
					<i class="fa fa-times fa-2x fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="button-section row no-gutters">
			<div class="col pr-1" align="center">
				<form method="post">
					<button type="submit" class="btn btn-header btn-block">
						<i class="fa fa-sign-out-alt"></i>
						로그아웃
					</button>
				</form>
			</div>
			<div class="col px-1">
				<a th:href="@{/mypage}" class="btn btn-header btn-block">
					<i class="fa fa-bell"></i>
					여정 알람
				</a>
			</div>
			<div class="col px-1">
				<a th:href="@{/mypage/study/mypoint#firstGraphSection}" 
					class="btn btn-header btn-block">
					<i class="fa fa-chart-line"></i>
					학습 그래프
				</a>
			</div>
			<div class="col-auto pl-2 text-center align-self-center">
				<a th:href="@{/mypage/payment/list}" class="gold-round">
					<i class="fa fa-crown fa-lg"></i>
				</a>
			</div>
		</div>
	</div>
	
	<!-- -------------------------[1.2 비로그인]------------------------------- -->
	<div class="header-depart-xs" style="display: none;">
	<div class="login-personal-section row no-gutters">
		<!-- 로고 / 로그인 -->
		<div class="seonbi-logo-section col-auto align-self-center text-left">
			<a th:href="@{/auth/login}">
			<th:block th:replace="~{/incl/playvoice_logo::white_personacon_logo}"></th:block>
			</a>
		</div>
		<div class="login-required-ment col-auto pl-3 text-left align-self-center">
			<a class="btn login-btn">로그인</a>
		</div>
		<div class="login-required-ment col-auto pl-3 text-left align-self-center">
			<a class="btn join-btn" th:href="@{/member/registration}">회원가입</a>
		</div>
		<!-- 닫기 버튼 -->
		<div class="col px-3 align-self-start text-right">
			<a onclick="history.back();" id="menuCloseBtn" class="menu-close-btn">
				<i class="fa fa-times fa-2x fa-fw"></i>
			</a>
		</div>
	</div>
	</div>
</div><!-- end of mobileMenuHeaderSection -->

<!-- ------------------------[2. Mobile menu body]-------------------------- -->
<div id="mobileMenuBodySection">
<!-- --------------------------[2.1 스터디 앱 메뉴]------------------------------ -->
<div id="mobileAppContentDiv" class="header-contents-xs row no-gutters">
	<div class="app-title col-12 p-2">
		Play English <i class="fa fa-bars fa-fw"></i>
	</div>
	<div th:replace="~{/incl/app_menu2::app_menu_mobile}"></div>
</div><!-- end of mobileAppContentDiv -->

<!-- --------------------------[2.2 커뮤니티 메뉴]------------------------------ -->
<div id="mobileMainMenuDiv" class="header-contents-xs mb-2">
	<div class="app-title p-2">
		Play Social <i class="fa fa-bars fa-fw"></i>
	</div>
	<div class="play-social-menu-section row no-gutters">
		<div class="play-social-menu-cover mypage col-sm-3 col-4">
			<a th:href="@{/mypage}">
			<label><i class="fa fa-home"></i></label><br>
			<span>마이 페이지</span><br>
			<span class="eng-title">MyPage</span>
			</a>
		</div>
		<div class="play-social-menu-cover today col-sm-3 col-4">
			<a th:href="@{/mypage/study/today}">
			<label><i class="fa fa-chalkboard-teacher"></i></label><br>
			<span>오늘의 학습</span><br>
			<span class="eng-title">TodayStudy</span>
			</a>
		</div>
		<div class="play-social-menu-cover mypoint col-sm-3 col-4">
			<a th:href="@{/mypage/study/mypoint}">
			<label><i class="fa fa-comment-dollar"></i></label><br>
			<span>플레이 어카운트</span><br>
			<span class="eng-title">PlayAccount</span>
			</a>
		</div>
		<div class="play-social-menu-cover journey-study col-sm-3 col-4">
			<a th:href="@{/mypage/journey/study}">
			<label><i class="fa fa-plane"></i></label><br>
			<span>학습 여정</span><br>
			<span class="eng-title">JourneyInfo</span>
			</a>
		</div>
		<div class="play-social-menu-cover journey-log col-sm-3 col-4">
			<a th:href="@{/mypage/journey/log}">
			<label><i class="fas fa-pen-nib"></i></label><br>
			<span>여정 로그</span><br>
			<span class="eng-title">JourneyLog</span>
			</a>
		</div>
		<div class="play-social-menu-cover passport col-sm-3 col-4">
			<a th:href="@{/mypage/passport/view}">
			<label><i class="fa fa-passport"></i></label><br>
			<span>학습 여권</span><br>
			<span class="eng-title">Passport</span>
			</a>
		</div>
		<div class="play-social-menu-cover profile col-sm-3 col-4">
			<a th:href="@{/mypage/profile/view}">
			<label><i class="fa fa-universal-access"></i></label><br>
			<span>프로필 정보</span><br>
			<span class="eng-title">ProfileInfo</span>
			</a>
		</div>
		<div class="play-social-menu-cover popup col-sm-3 col-4">
			<a onclick="displayMemberProfile()">
			<label><i class="fa fa-user-astronaut"></i></label><br>
			<span>프로필 팝업</span><br>
			<span class="eng-title">ProfilePopup</span>
			</a>
		</div>
		<div class="play-social-menu-cover myteam col-sm-3 col-4">
			<a th:href="@{/myteam}">
			<label><i class="fa fa-place-of-worship"></i></label><br>
			<span>마이 팀</span><br>
			<span class="eng-title">MyTeam</span>
			</a>
		</div>
		<div class="play-social-menu-cover board col-sm-3 col-4">
			<a th:href="@{/board}">
			<label><i class="fa fa-shapes"></i></label><br>
			<span>플레이 보드</span><br>
			<span class="eng-title">PlayBoard</span>
			</a>
		</div>
	</div>
</div><!-- end of mobileMainMenuDiv -->

<div id="mobileSideMenuDiv" class="header-contents-xs mb-2">
	<div class="app-title p-2">
		Play Guide <i class="fa fa-bars fa-fw"></i>
	</div>
	
	<div class="play-social-menu-section play-guide row no-gutters">
		<div class="play-social-menu-cover membership col-sm-3 col-4">
			<a th:href="@{/membership}">
			<label><i class="fa fa-crown"></i></label><br>
			<span>멤버십</span><br>
			<span class="eng-title">Membership</span>
			</a>
		</div>
		<div class="play-social-menu-cover guide col-sm-3 col-4">
			<a th:href="@{/guide}">
			<label><i class="fa fa-question-circle"></i></label><br>
			<span>가이드</span><br>
			<span class="eng-title">Guide</span>
			</a>
		</div>
		<div class="play-social-menu-cover notice col-sm-3 col-4">
			<a th:href="@{/board/notice/list}">
			<label><i class="fa fa-user-ninja"></i></label><br>
			<span>공지사항</span><br>
			<span class="eng-title">Notice</span>
			</a>
		</div>
		<div class="play-social-menu-cover notice col-sm-3 col-4">
			<a th:href="@{/board/event/list}">
			<label><i class="fa fa-snowflake"></i></label><br>
			<span>이벤트</span><br>
			<span class="eng-title">Event</span>
			</a>
		</div>
		<!-- <div class="play-social-menu-cover playvoice col-sm-3 col-4">
			<a th:href="@{/business}">
			<label><i class="fa fa-bell"></i></label><br>
			<span>플레이보이스</span><br>
			<span class="eng-title">Playvoice</span>
			</a>
		</div> -->
	</div>
</div><!-- end of mobileSideMenuDiv -->

<div id="mobileContactMenuDiv" class="header-contents-xs mb-2">
	<div class="app-title p-2">
		Personal Contact <i class="fa fa-bars fa-fw"></i>
	</div>
	
	<div class="play-social-menu-section play-guide row no-gutters">
		<!-- 1:1 문의 -->
		<div class="play-social-menu-cover contact col-sm-3 col-4">
			<a th:href="@{/qna/app/list}">
			<label><i class="fa fa-mobile-alt"></i></label><br>
			<span>앱 서비스 문의</span><br>
			<span class="eng-title">App Service</span>
			</a>
		</div>
		<div class="play-social-menu-cover contact col-sm-3 col-4">
			<a th:href="@{/qna/order/list}">
			<label><i class="fa fa-credit-card"></i></label><br>
			<span>주문 결제 문의</span><br>
			<span class="eng-title">Order</span>
			</a>
		</div>
		<div class="play-social-menu-cover contact col-sm-3 col-4">
			<a th:href="@{/qna/delivery/list}">
			<label><i class="fa fa-truck"></i></label><br>
			<span>배송 문의</span><br>
			<span class="eng-title">Delivery</span>
			</a>
		</div>
		<div class="play-social-menu-cover contact col-sm-3 col-4">
			<a th:href="@{/qna/refund/list}">
			<label><i class="fa fa-receipt"></i></label><br>
			<span>취소 환불 문의</span><br>
			<span class="eng-title">Refund</span>
			</a>
		</div>
		<div class="play-social-menu-cover contact col-sm-3 col-4">
			<a th:href="@{/qna/report/list}">
			<label><i class="fa fa-flag-checkered"></i></label><br>
			<span>신고 문의</span><br>
			<span class="eng-title">Report</span>
			</a>
		</div>
	</div>
</div><!-- end of mobileContactMenuDiv -->
</div><!-- end of mobileMenuBodySection -->
	
</div><!-- end of menu -->


</html>



