<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 모바일 버전에서 드롭다운 메뉴를 전체화면을 이용하여 나오게 한다

[해당 기능 사용 이유; 모바일에서 드롭다운 메뉴 단점]
1. 작은 셀렉트 박스가 열려 메뉴를 선택하기가 불편
2. 메뉴를 선택하지 않고 셀렉트 박스를 닫을 때 다른 영역을 클릭해야함 (클릭한 영역의 클릭 이벤트가 발생할 경우가 있음)
3. 모양 자체가 모바일 앱에 친화적이지 않음 (셀렉트 박스 목록을 모두 보려면 스크롤을 위아래로 움직여야함) 

[사용 방법]
1. 해당 파일을 드롭다운을 사용하는 page 하단에 include 시킨다
2. 드롭다운을 여는 버튼 또는 div에 'openPlayvoiceDropdown' 클래스 삽입
3. 버튼에 드롭다운 박스에 들어갈 메뉴 div의 아이디를 'data-dropdownName'으로 설정 -->

<th:block th:fragment="menu">
<script th:inline="javascript">
$(document).ready(function(){
	
	
	
	// [드롭다운 메뉴를 비운 후 닫기]-----------------------------------------------------
	$(".closePVDropdown").click(function(){
		$("#playvoiceDropdownSection").hide();
	});
});

</script>

<div id="playvoiceDropdownSection" class="playvoice-dropdown-section">
	<div class="closePVDropdown playvoice-dropdown-back"></div>
	<div class=""></div>
</div>
	
</th:block>






	
