<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="search_article">

<!-- 1. Search Article Form -->
<div class="mt-3">
<div class="formContainer">
<h3>
	Searching Article Form
	<span>Please fill the text in the field.</span>
</h3>

<form id="searchArticleForm" method="get" class="form-horizontal">
	<div class="board-search-form-cover row no-gutters">
	<!-- 선택박스 -->
	<div id="searchOptionDiv" class="search-form-cover col-md-3 col-12">
		<select id="searchTypeSelect" name="searchType" class="form-control playvoice-form">
			<option value=""> --선택-- </option>
			<option></option>
		</select>
	</div>
	
	<!-- 키워드 텍스트 div-->
	<div id="keywordDiv" class="search-form-cover col-md-7 col-12">
		<input type="text" placeholder="검색어를 입력하세요." class="form-control playvoice-form"/>
	</div>
	
	<!-- 등록기간 설정 div -->
	<div id="regDateDiv" class="search-form-cover col-md-7 col-12" style="display: none;"><div class="row no-gutters">
		<div id="fromDateDiv" class="col-5 text-left lp0"> 
			<input type="text" placeholder="시작날짜" class="form-control playvoice-form"/>
		</div>
		<div class="col-1 text-center lp0">
			<i class="fas fa-window-minimize" style="color: #999999"></i>
		</div>
		<div id="toDateDiv" class="col-5 lp0">
			<input type="text" placeholder="종료날짜" class="form-control playvoice-form"/>
		</div>
		<div class="col-1 text-center"></div>
	</div></div>
	
	<!-- 검색버튼 -->
	<div class="search-form-cover col-md-1 col-3">
		<input id="searchBtn" type="button" value="Search" class="btn btn-playboard"/>
	</div>
	
	<!-- 히든필드 -->
	<div id="searchFormHidden_search" class="search-form-cover col-md-1 col-3 align-self-center">
		<div class="checkbox">
			<label style="font-size: 1.5em; margin:0;">
				<input type="checkbox" value="" checked disabled="disabled" class="showView">
				<span class="cr"><i class="cr-icon fa fa-check"></i></span>
			</label>
		</div>
				
		<input type="hidden" id="searchTypeForDynamic"/>
	</div>
</div>
</form>
<div class="errorMsgs" style="display: none;">
	<h3>
		Error Messages
		<span>Error Occured while processing the request.</span>
	</h3>
	<pre></pre>
</div>
</div> <!-- end of formContainer -->
</div>

</div><!-- end of search_article fragment -->
