<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/mypage_layout}">

<head>
<title>My Page</title>
  
<link rel="stylesheet" th:href="@{/css/app/playboard.css}">
<link rel="stylesheet" th:href="@{/css/app/mypage.css}">
   
<script th:src="@{/js/app/mypage.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
	// [사진 변경하기]--------------------------------------------------------------
	$(".changePicture").click(function(){
		var file = $(this).next(".pictureFile");
		file.click();
	});
	var pictureFile = $(".pictureFile");
	pictureFile.change(function(){
		var imgId = $(this).prev().find('img').attr('id');
		imageCheck(pictureFile);
		handleImagefile(event, imgId);
		$("#editPictures_btn").show();
	});
	
	// [사진 수정]-----------------------------------------------------------------
	$("#editPictures_btn").click(function(){
		
	});
	
	// [사진 수정 취소]--------------------------------------------------------------
	$("#cancelPictures_btn").click(function(){
		
	});
	
}); //end of ready


/* ----------------------------------------------------------------------------- 
*							handling screen event
* --------------------------------------------------------------------------- */
 
/** 이미지 파일 체크  */
function imageCheck(obj) {
	if(obj.val() != ""){
		var ext = obj.val().split('.').pop().toLowerCase();
		if($.inArray(ext, ['jpg','jpeg','png','gif']) == -1) {
			alert('지원하지 않는 확장자입니다.');
			obj.val('');
			return;
		} 
	}
}

/** 이미지 미리 보기  */
function handleImagefile(e, id){
	var files = e.target.files;
	var fileArr = Array.prototype.slice.call(files);
	
	fileArr.forEach(function(f){
		if(!f.type.match("image.*")) {
			alert("이미지 확장자만 가능합니다.");
			$(".pictureFile").val('');
			return;
		}
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#" + id).css("background", "url(" + e.target.result + ") no-repeat");
			$("#" + id).css("background-size", "cover");
			$("#" + id).css("background-position", "center");
		}
		reader.readAsDataURL(f);
	});
}
	
</script>
</head>

<section layout:fragment="content">


<!-- Edit pictures Form -->
<div id="editPictureFormContainer" class="edit-picture-form my-4">
	<div class="formContainer">
		<h3>
			Edit Profile Pictures
			<span>수정하고 싶은 사진을 클릭해 주세요.<br class="d-sm-none">
			사진 업로드 후 <b>저장버튼을 꼭 눌러주세요.</b></span>
		</h3>
		<div class="resMsgs" style="display: none;">
			<h3>
				Response Messages <span>Your request was processed.</span>
			</h3>
			<pre></pre>
		</div>
		<div class="title">
			<h3>내가 좋아하는 사람들 <i lang="fa" class="fa fa-democrat"></i></h3>
		</div>
		<form ><div class="row no-gutters">
			<div class="col-md-3 col-6 p-1">
				<div class="changePicture">
					<img id="img0_0" src="/images/app/member/profile_paper.png"
						style="background: url('/images/app/mypage/P_like.png') no-repeat;
						background-size: cover; background-position: center;">
				</div>
				<input type="file" accept="image/*" class="pictureFile"/>
			</div>
			<div class="col-md-3 col-6 p-1">
				<div class="changePicture">
					<img id="img0_1" src="/images/app/member/profile_paper.png"
						style="background: url('/images/app/mypage/P_like.png') no-repeat;
						background-size: cover; background-position: center;">
				</div>
				<input type="file" accept="image/*" class="pictureFile"/>
			</div>
			<div class="col-md-3 col-6 p-1">
				<div class="changePicture">
					<img id="img0_2" src="/images/app/member/profile_paper.png"
						style="background: url('/images/app/mypage/P_like.png') no-repeat;
						background-size: cover; background-position: center;">
				</div>
				<input type="file" accept="image/*" class="pictureFile"/>
			</div>
			<div class="col-md-3 col-6 p-1">
				<div class="changePicture">
					<img id="img0_3" src="/images/app/member/profile_paper.png"
						style="background: url('/images/app/mypage/P_like.png') no-repeat;
						background-size: cover; background-position: center;">
				</div>
				<input type="file" accept="image/*" class="pictureFile"/>
			</div>
			<div class="buttons col-12 mt-4 text-center">
				<button id="editPictures_btn" type="button" 
					class="editPictures_btn btn btn-mypage btn-lg">저 장</button>
				<button id="cancelPictures_btn" type="reset" 
					class="btn btn-outline-mypage btn-lg">취 소</button>
			</div>
		</div></form>
	</div>
</div>

</section><!--  end of content -->

</html>