<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/mypage_layout2}">

<head>
<title>My Point - 플레이보이스(playvoice)</title>
<meta name="format-detection" content="telephone=no"/>
<!-- datepicker -->
<link rel="stylesheet" th:href="@{/css/bootstrap/datepicker3.css}">
<link rel="stylesheet" th:href="@{/css/app/mypage.css}">
<link rel="stylesheet" th:href="@{/css/library.css}">
   
<script th:src="@{/js/public/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/public/bootstrap-datepicker.kr.js}"></script>
<script th:src="@{/js/public/chart.min.js}"></script>

<script th:inline="javascript">
$(document).ready(function() {
	
	// [랭크포인트 설명 열기]----------------------------------------------------------
	$(".rankPointGuide").click(function(){
		var guide = $(this).find(".rankPointGuide-detail");
		if(guide.is(":visible")) {
			guide.removeClass("active");
		} else {
			guide.addClass("active");
		}
	});
	
	// [서브타이틀 가이드 열기 (Mobile ver.)]-------------------------------------------
	$(".submenuActive").click(function(){
		var openActiveItem = $(this).siblings(".sub-title-small");
		var activeParent = $(this).closest(".mypage-sub-title-section");
		if(openActiveItem.is(":visible")) {
			activeParent.removeClass("active");
		} else {
			activeParent.addClass("active");
		}
	});

	// [포인트 카드 열기 (Mobile ver.)]-----------------------------------------------
	$(".activePointCard").click(function(){
		$(".pointCardDiv").toggle(100);
	});
	
});//end of ready

/* -----------------------------------------------------------------------------
 * 							Handling Display Process
 * ---------------------------------------------------------------------------*/

</script>
</head>

<section layout:fragment="content">
<!--/* PC Mobile Mixed version */-->

<div th:insert="~{/mypage/incl/mypage_top_menu2::menuAccount}"></div>

<div class="profile-top-cover mt-4">
	<h3>
		My Account
		<i class="fa fa-comment-dollar"></i>
	</h3>
	<div class="sub-title"><span class="kor">
		<i class="fa fa-quote-left relative-font"></i>
		빨간선 아래에 있다면 노력이 부족한 것이다.
		<i class="fa fa-quote-right relative-font"></i>
	</span></div>
</div>

<th:block th:with="accountNumber1 = '123456', accountNumber2 = '564789', 
	playPoint = 356, rankingPoint = 19354, regDate = '2019-08-21', memberType='S'">
<!-- profile top contents -->
<div class="d-none d-md-block">
	<div class="profile-top-content row no-gutters">
		<div class="title-icon col-auto text-center">
			<a th:href="@{/playpoint}">
				<i class="fa fa-file-invoice-dollar fa-lg fa-fw"></i>
			</a>
		</div>
		<div class="title-body col align-self-center">
			<span class="title">Account Number</span>
			<span class="body">[[${accountNumber1}]]-[[${accountNumber2}]]</span>
		</div>
	</div>	
</div>
<div class="d-md-none">
	<div class="activePointCard box-list-mobile box-main row no-gutters">
		<div class="icon-section col-auto pr-3">
			<label><i class="fa fa-file-invoice-dollar"></i></label>
		</div>
		<div class="detail col">
			<div class="guide-cover">Account Number</div>
			<div>
				<span class="num">[[${accountNumber1}]]-[[${accountNumber2}]]</span>
			</div>
		</div>
	</div>
</div>

<!-- [플레이 포인트 카드 (Mobile ver.)] -->
<div class="d-md-none"><div class="pointCardDiv mypoint-item-div" style="display: none;">
	<!-- 플레티넘 -->
	<div th:if="${memberType == 'P'}" 
		th:class="'playaccount-card-cover member-' + ${memberType}">
		<div class="card-top-margin"></div>
		<div class="card-info-section row no-gutters">
			<div class="card-chip col-auto"></div>
		</div>
		<div class="card-number">
			<span>[[${accountNumber1}]]</span><span>[[${accountNumber2}]]</span>
		</div>
		<div class="card-info row no-gutters">
			<div class="card-since col-auto">
				<div class="title">cardmember<br>since</div>
				<div>[[${regDate}]]</div>
			</div>
		</div>
	</div>
	<!-- 골드/ 실버/ 일반 -->
	<div th:unless="${memberType == 'P'}" 
		th:class="'playaccount-card-cover member-' + ${memberType}">
		<div class="card-top-margin"></div>
		<div class="card-info-section row no-gutters">
			<div class="card-chip col-auto"></div>
		</div>
		<div class="card-info row no-gutters">
			<div class="card-since col-auto">
				<div class="title">cardmember<br>since</div>
				<div>[[${regDate}]]</div>
			</div>
			<div class="card-number col align-self-end">
				<span>[[${accountNumber1}]]</span><span>[[${accountNumber2}]]</span>
			</div>
		</div>
	</div>
</div></div>
	
<!-- ----------------------[1. Play Point Account]-------------------------- -->
<div id="myPointSection" class="my-point-section">
<div class="mypage-sub-title-section">
	<h5 class="submenuActive">
		<i class="fa fa-square fa-fw"></i>
		Play Point Account
		<i class="open-guide"></i>
	</h5>
	<div class="sub-title-small">
		<i class="fa fa-caret-right"></i>
		<span class="kor">Play Point는 플레이보이스에서 컨텐츠 등록 활동과 관련된 포인트입니다.
		<a th:href="@{/guide#essentialAboutPlayvoiceDiv}" target="_blank">자세히 알아보기</a></span>
	</div>
</div>
<div class="mypage-content-box-section"><div class="mypage-content-box-div row no-gutters">
	<!-- [1.1 전체 플레이 포인트 정보 (PC ver.)] -->
	<div class="col-md-6 d-none d-md-inline-block"><div class="row no-gutters">
		<div class="point-icon col-auto">
			<i class="fa fa-comment-dollar fa-fw"></i>
		</div>
		<!-- play point -->
		<div class="point-info col pl-md-4 pl-2">
			<div class="title">Your Play Points</div>
			<div class="detail gold">
				<span class="num"
					th:text="${#numbers.formatInteger(playPoint, 1, 'COMMA')}"></span> golds
			</div>
		</div>
		<!-- P coin guide -->
		<div class="guide col-12">
			<div class="guide-detail">
				<i class="fa fa-info-circle fa-fw"></i>
				골드 멤버십 이상의 회원들은 적립한 Gold를<br class="d-sm-none">
				<span class="point">P-Coin</span>으로 사용할 수 있습니다.
			</div>
			<div class="title-sub mt-3 rankPointGuide">
				P Coin 이란 <i class="fa fa-question-circle"></i>
				<div class="title-sub-detail rankPointGuide-detail">
					플레이보이스에서 다양한 커뮤니티 활동을 통해 적립되는 
					Play Point는 Ranking Point와 함께 회원 분들의 
					<b>커뮤니티 활동에 대한 평가 및 보상의 지표</b>로 사용됩니다.<br><br>
					
					P-Coin은 Gold Point를 플레이 스토어에서 사용할 수 있도록 만든 
					<b>가상 캐쉬</b>입니다.
					P-Coin에 대한 자세한 정보는 
					<a th:href="@{/guide#essentialAboutPlayvoiceDiv}" target="_blank">가이드 페이지</a>에서 확인하세요.
				</div>
			</div>
		</div>
	</div></div>
	<!-- [1.2 전체 플레이 포인트 정보 (Mobile ver.)] -->
	<div class="col-12 d-md-none"><div class="box-cover-mobile box-white icon">
		<div class="top-icon">
			<label><i class="fa fa-comment-dollar"></i></label>
		</div>
		<div class="title-mobile">Your Play Points</div>
		<div class="detail-mobile">
			<div class="num" th:text="${#numbers.formatInteger(playPoint, 1, 'COMMA')}"></div>
			<div class="empty1"></div>
			<div class="guide-mobile text-center">golds</div>
		</div>
	</div></div>
	
	<!-- [1.3 플레이 포인트 카드 (PC ver.)] -->
	<div class="mypoint-item-div col-md-6 pl-xl-5 pl-3 d-none d-md-inline-block">
		<!-- 플레티넘 -->
		<div th:if="${memberType == 'P'}" 
			th:class="'playaccount-card-cover member-' + ${memberType}">
			<div class="card-top-margin"></div>
			<div class="card-info-section row no-gutters">
				<div class="card-chip col-auto"></div>
			</div>
			<div class="card-number">
				<span>[[${accountNumber1}]]</span><span>[[${accountNumber2}]]</span>
			</div>
			<div class="card-info row no-gutters">
				<div class="card-since col-auto">
					<div class="title">cardmember<br>since</div>
					<div>[[${regDate}]]</div>
				</div>
			</div>
		</div>
		<!-- 골드/ 실버/ 일반 -->
		<div th:unless="${memberType == 'P'}" 
			th:class="'playaccount-card-cover member-' + ${memberType}">
			<div class="card-top-margin"></div>
			<div class="card-info-section row no-gutters">
				<div class="card-chip col-auto"></div>
			</div>
			<div class="card-info row no-gutters">
				<div class="card-since col-auto">
					<div class="title">cardmember<br>since</div>
					<div>[[${regDate}]]</div>
				</div>
				<div class="card-number col align-self-end">
					<span>[[${accountNumber1}]]</span><span>[[${accountNumber2}]]</span>
				</div>
			</div>
		</div>
	</div>
</div></div>	
</div><!-- end of myPointSection -->


<!-- ---------------------[2. Ranking Point Account]------------------------ -->
<div id="myPointSection">
<div class="mypage-sub-title-section">
	<h5 class="submenuActive">
		<i class="fa fa-square fa-fw"></i>
		Ranking Point Account
		<i class="open-guide"></i>
	</h5>
	<div class="sub-title-small">
		<i class="fa fa-caret-right"></i>
		<span class="kor">Ranking Point는 플레이보이스의 다양한 앱을 통해 학습할 때 제공되는 포인트입니다.
		<a th:href="@{/guide#essentialAboutPlayvoiceDiv}" target="_blank">자세히 알아보기</a></span>
	</div>
</div>
<!-- [2.1 전체 랭킹 포인트 정보 (PC ver.)] -->
<div class="mypage-content-box-section">	
	<div class="d-none d-md-block"><div class="mypage-content-box-div row no-gutters">
		<!-- 나의랭킹 포인트 -->
		<div class="col-md-6"><div class="row no-gutters">
			<div class="point-icon col-auto">
				<i class="fa fa-chart-line fa-fw"></i>
			</div>
			<div class="col pl-md-4 pl-2">
				<div class="title">Your Ranking Points</div>
				<div class="detail">
					<span class="num"
						th:text="${#numbers.formatInteger(rankingPoint, 1, 'COMMA')}"></span> RP
				</div>
			</div>
			
			<div class="guide col-12">
				<div class="title-sub rankPointGuide">
					Ranking Point 란 <i class="fa fa-question-circle"></i>
					<div class="title-sub-detail rankPointGuide-detail">
						Ranking Point는 플레이보이스가 제공하는 다양한 학습 컨텐츠로부터 
						순수한 <b>학습 활동을 통해 적립되는 포인트</b>입니다.<br>
						외국어 학습은 단기간 내에 효과를 보기가 어렵습니다. 
						Ranking Point는 회원분들에게 배움의 긴 여행길에서
						노력에 대한 시각적 지표를 제공함으로써 목적한 바에 이루도록 돕고자 합니다.<br>
						또한 Ranking Point는 플레이보이스에서의 <b>랭킹 등수</b>와 <b>Group</b>을 이루는 데 지표로 사용됩니다.
					</div>
				</div>
			</div>
		</div></div>
		<!-- 나의 일주일동안 랭킹 포인트 -->
		<div class="ranking-point-div col-md-6 pl-md-4">
			<img src="/images/app/mypage/week_ranking_point.jpg" width="100%">
		</div>
	</div></div>
</div>
	
<!-- [2.2 전체 랭킹 포인트 정보 (Mobile ver.)] -->
<div class="d-md-none"><div class="box-cover-mobile box-white icon">
	<div class="top-icon">
		<label><i class="fa fa-chart-line"></i></label>
	</div>
	<div class="title-mobile">Your Ranking Points</div>
	<div class="detail-mobile">
		<div class="num" th:text="${#numbers.formatInteger(rankingPoint, 1, 'COMMA')}"></div>
		<div class="empty1"></div>
		<div class="guide-mobile text-center">RP</div>
	</div>
</div>
<!-- [2.3 나의 일주일동안 랭킹 포인트 (Mobile ver.)] -->
<div class="mypage-sub-title-section d-md-none">
	<h5 class="submenuActive">Weekly Ranking Point</h5>
</div>
<div class="box-cover-mobile box-main graph">
	<div class="detail-mobile">
		<img src="/images/app/mypage/week_ranking_point.jpg" width="100%">
	</div>
</div></div>
		
<!-- [2.4 회원 평균과 나의 랭킹포인트 비교 그래프] -->
<div class="mypage-sub-title-section d-md-none">
	<h5 class="submenuActive">Daily Ranking Point</h5>
</div>
<div class="mypage-content-box-section">
	<div class="mypage-content-box-div ranking-graph-div">
		<img src="/images/app/mypage/day_ranking_point.jpg" width="100%">
	</div>
</div>


<div class="mypage-sub-title-section">
	<h5 class="submenuActive">
		<i class="fa fa-square fa-fw"></i>
		Your Location Level
		<i class="open-guide"></i>
	</h5>
	<div class="sub-title-small">
		<i class="fa fa-caret-right"></i>
		<span class="kor">Location Level은 랭킹포인트의 적립을 통해 입국할 수 있는 현재 자신의 도시입니다.
		<a th:href="@{/guide#essentialAboutPlayvoiceDiv}" target="_blank">자세히 알아보기</a></span>
	</div>
</div>
<!-- [2.5 도시 정보] -->
<div class="mypage-content-box-section my-city-section">
	<div class="mypage-content-box-div box-cover-mobile group-div">
		<div class="top-icon d-md-none">
			<label><i class="fa fa-map-marker-alt"></i></label>
		</div>
		<div class="mb-3">
			<img src="/images/app/mypage/my_location_map.jpg" width="100%">
		</div>
		
		<!-- 도시 정보 PC ver. -->
		<div class="d-none d-md-block"><div class="row no-gutters">
			<div class="col-md-6"><div class="row no-gutters py-1">
				<div class="point-icon col-auto">
					<i class="far fa-compass fa-fw"></i>
				</div>
				<div class="col pl-md-4 pl-2">
					<div class="title">Your Location</div>
					<div class="detail">
						<span class="kor">서울, Korea</span> 
					</div>
				</div>
			</div></div>
			
			<div class="guide left-guide col-md-6 pl-md-3">
				<div class="guide-detail eng">
					<i class="fa fa-info-circle fa-fw"></i>
					Let's go further, <span class="point">1000RP</span> 
					left for the next city.
				</div>
				<img src="/images/common/icon/icon_paper.png" class="location-cha">
			</div>
		</div></div>
		<!-- 도시 정보 Mobile ver. -->
		<div class="d-md-none">
			<div class="title-mobile">Your Location</div>
			<div class="detail-mobile">
				<div class="kor">서울, Korea</div>
			</div>
			<div class="empty1 empty-line"></div>
			<div class="ment text-center">
				Let's go further, <span class="point">1000RP</span> 
				left for the next city.
			</div>
		</div>
	</div>
	
</div>
</div><!-- end of myPointSection -->


</th:block>	
	
</section>
