<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/dictationbook_layout2}">
<head>
<title>My Test Page of DictationBook - playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaRobot = 'noindex', 
	metaTitle = '딕테이션북 (DictationBook) - 플레이보이스 (playvoice)', 
	metaDescription = '플레이보이스 딕테이션북에서는 일상 생활에서 자주 접할 수 있는 영어 문장들을 받아쓰기로 연습할 수 있습니다.', 
	metaImage = '/images/common/characters/dictationbook.jpg', metaRegDate = null"></th:block>
	
<link rel="stylesheet" th:href="@{/css/app/dictationbook.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/public/chart.min.js}"></script>
	
<script th:inline="javascript">
$(document).ready(function(){
	
	// [테마에 대한 나의 시험 내역 열기]---------------------------------------------------
	$(".theme-info-cover").click(function(){
		var myInfoParent = $(this).parent(".theme-cover");
		var myInfoCover = $(this).parent(".theme-cover").find(".my-info-cover");
		$(".theme-cover").removeClass("active");
		myInfoCover.toggle();
		if(myInfoCover.is(":visible")) {
			$(this).siblings(".toggle-button-cover").hide();
			myInfoParent.addClass("active");
		} else {
			$(this).siblings(".toggle-button-cover").show();
		}
	});
	
	// [DSR 포인트 가이드 열고 닫기]----------------------------------------------------
	$(".dsrPointGuide").click(function(){
		$(this).closest(".graph-guide").find(".guide-detail").toggle(100);
	});
	
	// [나의 시험 내역 열고 닫기 버튼 동작]-------------------------------------------------
	$(".fold-my-info").click(function(){
		var myInfoParent = $(this).closest(".theme-cover");
		$(this).closest(".my-info-cover").hide();
		$(this).closest(".my-info-cover").siblings(".toggle-button-cover").show();
		myInfoParent.removeClass("active");
		/* 닫기 버튼 클릭 시 스크롤 이동 */
		var myInfoParentSection = myInfoParent.offset().top;
		$('html, body').animate({scrollTop : myInfoParentSection - $("#headerNavbar").height()}, 100);
	});
	$(".open-my-info").click(function(){
		var myInfoParent = $(this).closest(".theme-cover");
		$(this).parent().siblings(".my-info-cover").show();
		$(this).parent(".toggle-button-cover").hide();
		$(".theme-cover").removeClass("active");
		myInfoParent.addClass("active");
	});
	
	// [차트 불러오기]--------------------------------------------------------------
	$(".theme-info-cover").click(function(){
		getScoreLineGraph();
	});
	
	
	
});

function getScoreLineGraph() {
	var ctx = document.getElementById('scoreGragh').getContext('2d');
	new Chart(ctx, {
		type: 'line',
		data: {
			labels: ["1", "2", "3", "4"], //X축 값
			datasets: [{ 
				label: 'DSR Point', 
				data: [34, 62, 45, 78], // Y축 값
				borderWidth: 2, // 라인 두께 
				backgroundColor: [
	                'rgba(255,136,136, 0.2)'
	            ],
	            borderColor: [
	            	'rgba(236,64,122,1)'
	            ]
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						reverse: false, //y축 값 뒤집기
						beginAtZero: true //y축 값을 0부터 나타내기
					}
				}]
			}
		}
	});
}

</script>
</head>
<body>
<section layout:fragment="content">

<!-- title & menu -->
<div id="menuSection" class="row no-gutters"><div class="col-lg-1"></div>
	<div th:insert="~{/dictationBook/incl/dictationbook_menu2::menu}" class="col-lg-10"></div>
</div>

<div id="dictationMyinfoSection" class="dictation-myinfo-section my-4">
	
<!-- ---------------------[1. my dictation theme list]---------------------- -->
<div id="dictationThemeMyinfoDiv" class="dictation-theme-myinfo row no-gutters">
	<div class="col-lg-1"></div>
	<div class="col-lg-10 px-1 px-lg-3">
	<h3>
		List of <span class="index-text-color">DictationBook Test</span>
		<i class="fa fa-cubes fa-fw fa-lg" style="color: #ee6253;"></i><br>
		<small>응시한 테스트의 테마를 클릭하여 테스트 통계 정보를 확인해 보세요.</small>
	</h3>
	<div class="theme-list-cover theme">
		
		<div class="theme-list"><div class="theme-cover">
			<!-- [1.1 응시한 테마 정보] -->
			<div class="theme-info-cover row no-gutters">
				<div class="img col-md-auto col-12">
					<img src="/images/app/dictationbook/theme_paper3.png"
						style="background: url('/images/app/dictationbook/theme_0.jpg') no-repeat;
						background-size: cover; background-position: center;">
				</div>
				<div class="theme-title col-md col-12 align-self-center">
					<div class="title py-1">
						<span class="sharp">#</span>대화의 시작 상대방의 질문 알아듣기
					</div>
				</div>
				<div class="avg-point-info col-md-auto col-6 p-1 text-center align-self-center">
					<div class="avg-point-cover">
						<div class="point-title">
							전체 평균<br class="d-none d-md-block">
							DSR Point
						</div>
						<div class="point-content">78</div>
					</div>
				</div>
				<div class="avg-point-info col-md-auto col-6 p-1 text-center align-self-center">
					<div class="avg-point-cover">
						<div class="point-title">
							<span class="point">20대</span>
							평균<br class="d-none d-md-block">
							DSR Point
						</div>
						<div class="point-content">82</div>
					</div>
				</div>
				<div class="spin-icon-cover text-center" style="display: none;">
					<i class="fa fa-spinner fa-spin"></i>
				</div>
			</div>
			<div class="toggle-button-cover text-center">
				<button type="button" class="open-my-info fold-button">
					<i class="fa fa-angle-double-down fa-lg"></i>
				</button>
			</div>
			<!-- [1.2 테마 시험 정보 상세보기] -->
			<div class="my-info-cover" style="display: none;">
				<div class="test-estimate row no-gutters">
				<!-- 테스트 히스토리 -->
				<div class="my-test-list col-md-6">
					<div class="test-avg-colum row no-gutters">
						<div class="col-auto">
							테스트 히스토리
							<i class="fa fa-shoe-prints fa-fw fa-lg"></i><br>
							<small>Check out your test history</small>
						</div>
						<div class="col"></div>
						<div class="col-auto">
							<div class="avg-point-cover text-left">
								깨제너레이터님의<br>평균 DSR Point :
								<span class="avg-point">68</span>
							</div>
						</div>
					</div>
					<div class="test-colum test-header row no-gutters px-lg-3 pl-2 px-1 mx-md-1">
						<div class="num col-1 align-self-center">
							Num
						</div>
						<div class="score col align-self-center">
							Score
						</div>
						<div class="count col align-self-center">
							Voice Repeat
						</div>
						<div class="dsr-point col align-self-center">
							DSR Point
						</div>
						<div class="date col-3 align-self-center">
							Date
						</div>
					</div>
					<div class="test-list-cover p-lg-1 mx-md-1">
						<div class="test-colum test-list p-1">
							<div class="rank-style px-lg-2 px-1 row no-gutters">
								<div class="num col-1">
									1
								</div>
								<div class="score col">
									82
								</div>
								<div class="count col">
									3
								</div>
								<div class="dsr-point col">
									84
								</div>
								<div class="date col-3">
									2018-05-24
								</div>
							</div>
						</div>
						<div class="test-colum test-list p-1">
							<div class="rank-style px-lg-2 px-1 row no-gutters">
								<div class="num col-1">
									2
								</div>
								<div class="score col">
									82
								</div>
								<div class="count col">
									3
								</div>
								<div class="dsr-point col">
									72
								</div>
								<div class="date col-3">
									2018-05-23
								</div>
							</div>
						</div>
						<div class="test-colum test-list p-1">
							<div class="rank-style px-lg-2 px-1 row no-gutters">
								<div class="num col-1">
									3
								</div>
								<div class="score col">
									82
								</div>
								<div class="count col">
									3
								</div>
								<div class="dsr-point col">
									56
								</div>
								<div class="date col-3">
									2018-05-23
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 점수 변화  graph -->
				<div class="score-graph-cover col-md-6 px-md-3">
					<div class="score-graph-title">
						점수 변화
						<i class="fa fa-chart-bar fa-fw fa-lg"></i><br>
						<small>Check out the score variations</small>
					</div>
					<div class="score-graph text-center">
						<div class="none-graph">
							3회 이상 테스트부터 점수 변화 그래프를 제공합니다.<br>
							<i class="far fa-grin-alt"></i>
						</div>
						<canvas id="scoreGragh" class="graph" style="height: 250px; display: none;"></canvas>
						<div class="graph-guide">
							<div class="dsrPointGuide guide-title">
								DSR Point란 <i class="fa fa-question-circle"></i>
							</div>
							<div class="guide-detail">
								정답 개수와 선택하신 음성 반복 횟수를 함께 고려한 평가 포인트입니다.
							</div>
						</div>
					</div>
				</div>
				<!-- 재 응시 버튼 -->
				<div class="tryagain-button-section col-12">
					<button type="button" class="btn btn-dictation" title="테스트 다시 도전">
						Try Again <i class="fa fa-pencil-alt fa-fw"></i>
					</button>
				</div>
				
				<!-- 나의 상위 위치 퍼센트 & 틀린 문장 불러오기 (골드 아닌 경우) -->
				<div class="myinfo-service-section default col-12" style="display: none;">
					<div class="statistic-rank-section px-2">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님의 랭킹 위치
							<i class="fa fa-arrow-circle-down fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 현재 나의 위치를 확인해 보세요.</small>
						</h5>
						<div class="my-rank-cover row no-gutters">
							<div class="col-md-auto pb-2 pr-3">
								<button type="button" class="btn btn-sm btn-dictation jsAction" disabled="disabled">
									나의 위치 확인
								</button>
							</div>
							<div class="score-rank col-md pb-2">
								<div class="rank-cover" align="right">
									<div class="rank-percent" style="width: 50%;">
										<div class="rank-bg text-left">
											<i class="fa fa-child fa-lg fa-fw text-white"></i>
										</div>
									</div>
								</div>
								<div class="guide mt-2">
									<i class="fa fa-square fa-fw"></i>
									깨제너레이터님은 <b>상위 %</b> 입니다.<br class="d-sm-none">
									플보 패밀리의 %보다 더 잘하셨어요! <i class="far fa-lg fa-grin-alt"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="statistic-rank-section pt-3 px-2">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님이 틀린 문장들
							<i class="fa fa-shoe-prints fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 틀린 문장들을 확인해 보세요.</small>
						</h5>
						<div class="my-wrong-cover">
							<div>
								<button type="button" class="btn btn-sm btn-dictation jsAction" disabled="disabled">
									내가 틀린 문장들 확인
								</button>
							</div>
						</div>
					</div>
					<div class="default-guide">
						<div class="guide-cover jsAction text-center">
							<a th:href="@{/membership}">
							<i class="fa fa-crown fa-lg fa-fw" style="color: gold;"></i> 
							<b>Gold Membership Service</b><br> 나의 랭킹과 틀린 문장들이 궁금하나요?
							</a>
						</div>
					</div>
				</div>
				
				<!-- 나의 상위 위치 퍼센트 & 틀린 문장 불러오기 (골드인 경우) -->
				<div class="myinfo-service-section col-12">
					<div class="statistic-rank-section">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님의 랭킹 위치
							<i class="fa fa-arrow-circle-down fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 현재 나의 위치를 확인해 보세요.</small>
						</h5>
						<div class="my-rank-cover row no-gutters">
							<div class="col-md-auto pb-2 pr-3">
								<button type="button" class="btn btn-sm btn-dictation jsAction">
									나의 위치 확인
								</button>
							</div>
							<div class="score-rank col-md">
								<div class="rank-cover" align="right">
									<div class="rank-percent" style="width: 24%;">
										<div class="rank-bg text-md-left">
											<i class="fa fa-child fa-lg fa-fw text-white"></i>
										</div>
									</div>
								</div>
								<div class="guide mt-2">
									<i class="fa fa-square fa-fw"></i>
									깨제너레이터님은 <b>상위 24%</b> 입니다.<br class="d-sm-none">
									이 테마를 응시한 플보 패밀리의 76%보다 더 잘하셨어요! <i class="far fa-lg fa-grin-alt"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="statistic-rank-section">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님이 틀린 문장들
							<i class="fa fa-stream fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 틀린 문장들을 확인해 보세요.</small>
						</h5>
						<div class="my-wrong-cover">
							<div>
								<button type="button" class="btn btn-sm btn-dictation jsAction">
									내가 틀린 문장들 확인
								</button>
							</div>
							
							<div class="none-guide">
								우와! 틀린 문장이 하나도 없네요! 멋져요 
								<i class="far fa-grin-alt"></i>
							</div>
							<!-- 틀린 문장 list -->
							<div class="wrong-answer-list mt-3" style="display: none;">
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										3
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face that only your mother loves.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										2
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										1
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face that only you love.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="my-test-info-page">
									<ul class="pagination pagination-sm justify-content-center">
										<li class="page-item active">
											<a class="page-link">1</a></li>
										<li class="page-item">
											<a class="page-link">2</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="toggle-button-cover text-center">
				<button type="button" class="fold-my-info fold-button2">
					<i class="fa fa-angle-double-up fa-lg"></i>
				</button>
			</div>
			</div>
		</div></div>
			
		<!-- sponsor -->
		<div class="theme-list sponsor d-none d-md-block"><div class="theme-cover">
			<img src="/images/common/ads/grammarbook.jpg" width="100%">
		</div></div>
		
		<div class="dictaionbook-mypage-ad-section d-md-none">
			<img src="/images/common/ads/grammarbook.jpg" width="100%">
		</div>
		
		
		<div class="none-test-guide text-center" style="display: none;">
			응시한 딕테이션북 테마가 아직 없습니다.<br>
			마음에 드는 테마를 골라 연습한 후 통계정보를 확인해 보세요 <i class="far fa-grin-alt fa-lg"></i>
		</div>
		
	</div>
	
	<!-- page PC & Tablet Ver. -->
	<div class="d-none d-md-block">
		<div class="my-test-info-page row no-gutters mb-3">
			<div class="col-md-2 col-6 text-md-center text-left align-self-center">
				<button class="btn btn-dictation">
					<i class="fa fa-angle-left"></i> prev
				</button>
			</div>
			<div class="col-md-8 text-center align-self-center">
				<ul class="pagination pagination-sm justify-content-center">
					<li class="page-item active">
						<a class="page-link">1</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-6 text-md-center text-right align-self-center">
				<button class="btn btn-dictation">
					next <i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div>
	</div>
	
	<!-- page Mobile Ver. -->
	<div class="d-md-none">
		<div class="my-test-info-page row no-gutters mb-3">
			<div class="col-6 text-left">
				<button class="btn btn-dictation">
					<i class="fa fa-angle-left"></i> prev
				</button>
			</div>
			<div class="col-6 text-right">
				<button class="btn btn-dictation">
					next <i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div>
	</div>
	
	</div>
	

</div><!-- end of dictationThemeMyinfoDiv -->

<!-- --------------------------[2. my Test list]---------------------------- -->
<div id="dictationTestMyinfoDiv" class="dictation-test-myinfo row no-gutters">
	<div class="col-lg-1"></div>
	<div class="col-lg-10 px-1 px-lg-3">
	<h3>
		List of <span class="index-text-color">Level Evaluation</span>
		<i class="fa fa-cubes fa-fw fa-lg" style="color: #ee6253;"></i><br>
		<small>다른 학습 app에서 레벨 평가를 위해 테스트한 결과 목록입니다.</small>
	</h3>
	<div class="theme-list-cover test">
		<div class="none-test-guide text-center" style="display: none;">
			테스트 내역이 없습니다.<br>
			플레이보이스로 학습하면서 중간중간 실력을 검증해 보세요 <i class="far fa-grin-alt fa-lg"></i>
		</div>
		
		<div class="theme-list"><div class="theme-cover">
			<!-- [2.1 테마 정보] -->
			<div class="theme-info-cover row no-gutters">
				<div class="theme-title col-md col-12 align-self-center">
					<div class="title py-1">
						<span class="sharp">#</span>플레이보이스북 LEVEL1 ~ LEVEL3 TEST
					</div>
				</div>
				<div class="avg-point-info col-md-auto col-6 p-1 text-center align-self-center">
					<div class="avg-point-cover">
						<div class="point-title">전체 평균<br>DSR Point</div>
						<div class="point-content">61</div>
					</div>
				</div>
				<div class="avg-point-info col-md-auto col-6 p-1 text-center align-self-center">
					<div class="avg-point-cover">
						<div class="point-title"><span class="point">20대</span> 평균<br>DSR Point</div>
						<div class="point-content">63</div>
					</div>
				</div>
				<div class="spin-icon-cover text-center" style="display: none;">
					<i class="fa fa-spinner fa-spin"></i>
				</div>
			</div>
			
			<!-- [2.2 테마 시험 정보 상세보기] -->
			<div class="my-info-cover" style="display: none;">
				
				<div class="test-estimate"><div class="row no-gutters">
					<!-- 테스트 히스토리 -->
					<div class="my-test-list col-md-6">
						<div class="test-avg-colum row no-gutters">
							<div class="col-auto">
								테스트 히스토리
								<i class="fa fa-shoe-prints fa-fw fa-lg"></i><br>
								<small>Check out your test history</small>
							</div>
							<div class="col"></div>
							<div class="col-auto">
								<div class="avg-point-cover text-left">
									깨제너레이터님의<br>평균 DSR Point :
									<span class="avg-point">68</span>
								</div>
							</div>
						</div>
						<div class="test-colum test-header row no-gutters px-lg-3 pl-2 px-1 mx-md-1">
							<div class="num col-1 align-self-center">Num</div>
							<div class="score col align-self-center">Score</div>
							<div class="count col align-self-center">Voice Repeat</div>
							<div class="dsr-point col align-self-center">DSR Point</div>
							<div class="date col-3 align-self-center">Date</div>
						</div>
						<div class="test-list-cover p-lg-1 mx-md-1">
							<div class="test-colum test-list p-1">
								<div class="rank-style px-lg-2 px-1 row no-gutters">
									<div class="num col-1">1</div>
									<div class="score col">82</div>
									<div class="count col">3</div>
									<div class="dsr-point col">84</div>
									<div class="date col-3">2018-05-24</div>
								</div>
							</div>
							<div class="test-colum test-list p-1">
								<div class="rank-style px-lg-2 px-1 row no-gutters">
									<div class="num col-1">2</div>
									<div class="score col">82</div>
									<div class="count col">3</div>
									<div class="dsr-point col">72</div>
									<div class="date col-3">2018-05-23</div>
								</div>
							</div>
							<div class="test-colum test-list p-1">
								<div class="rank-style px-lg-2 px-1 row no-gutters">
									<div class="num col-1">3</div>
									<div class="score col">82</div>
									<div class="count col">3</div>
									<div class="dsr-point col">56</div>
									<div class="date col-3">2018-05-23</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 점수 변화  graph -->
					<div class="score-graph-cover col-md-6 px-md-3">
						<div class="score-graph-title">
							점수 변화 <i class="fa fa-chart-bar fa-fw fa-lg"></i><br>
							<small>Check out the score variations</small>
						</div>
						<div class="score-graph text-center">
							<div class="none-graph">
								3회 이상 테스트부터 점수 변화 그래프를 제공합니다.<br>
								<i class="far fa-grin-alt"></i>
							</div>
							<canvas id="scoreGragh" class="graph" style="height: 250px; display: none;"></canvas>
							<div class="graph-guide">
								<div class="dsrPointGuide guide-title">
									DSR Point란 <i class="fa fa-question-circle"></i>
								</div>
								<div class="guide-detail">
									정답 개수와 선택한 음성 반복 횟수를 함께 고려한 평가 포인트입니다.
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 재 응시 버튼 -->
				<div class="tryagain-button-section">
					<div id="testGuide_div" class="test-guide">
						<div>
							Level Evaluation 테마들은 <b>학습 평가를 위한  테스트</b>들입니다.
							<br class="d-none d-md-inline-block">
							해당 학습 서비스 어플에서만  재응시할 수 있습니다.<br><br>
							플레이보이스는 외국어 학습에 대한 증명된 학습 이론들을 시스템을 통해 구현하고 <br>
							그 기반 위에서 다양한 학습 콘텐츠와 서비스들을 회원들에게 무료로 제공합니다.
						</div>
						<div class="guide-small-text">
							Independent from English on the paper
						</div>
					</div>
				</div>	
			
				<!-- 나의 상위 위치 퍼센트 & 틀린 문장 불러오기 (골드인 경우) -->
				<div class="myinfo-service-section">
					<!-- 상위 위치 퍼센트 -->
					<div class="statistic-rank-section">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님의 랭킹 위치
							<i class="fa fa-arrow-circle-down fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 현재 나의 위치를 확인해 보세요.</small>
						</h5>
						<div class="my-rank-cover row no-gutters">
							<div class="col-md-auto pb-2 pr-3">
								<button type="button" class="btn btn-sm btn-dictation jsAction">
									나의 위치 확인
								</button>
							</div>
							<div class="score-rank col-md">
								<div class="rank-cover" align="right">
									<div class="rank-percent" style="width: 24%;">
										<div class="rank-bg text-md-left">
											<i class="fa fa-child fa-lg fa-fw text-white"></i>
										</div>
									</div>
								</div>
								<div class="guide mt-2">
									<i class="fa fa-square fa-fw"></i>
									깨제너레이터님은 <b>상위 24%</b> 입니다.<br class="d-sm-none">
									이 테마를 응시한 플보 패밀리의 76%보다 더 잘하셨어요! <i class="far fa-lg fa-grin-alt"></i>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 틀린 문장들 -->
					<div class="statistic-rank-section">
						<h5 class="statistic-title">
							<i class="forGold fa fa-crown"></i>
							깨제너레이터님이 틀린 문장들
							<i class="fa fa-stream fa-fw fa-lg"></i><br>
							<small>아래의 버튼을 클릭하여 틀린 문장들을 확인해 보세요.</small>
						</h5>
						<div class="my-wrong-cover">
							<div>
								<button type="button" class="btn btn-sm btn-dictation jsAction">
									내가 틀린 문장들 확인
								</button>
							</div>
							
							<div class="none-guide">
								우와! 틀린 문장이 하나도 없네요! 멋져요 
								<i class="far fa-grin-alt"></i>
							</div>
							<!-- 틀린 문장 list -->
							<div class="wrong-answer-list mt-3" style="display: none;">
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										3
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face that only your mother loves.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										2
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="wrong-answer-cover row no-gutters">
									<div class="num col-md-1 px-3 text-md-center">
										1
									</div>
									<div class="sentence col-md-11 px-3">
										<div class="a-title eng-sentence">
											You have a face that only you love.
											<button type="button" class="eng-speak-btn">
												<i class="fa fa-volume-up"></i>
											</button>
										</div>
										<div class="kor-sentence">넌 오직 너희 어머니만 좋아하는 얼굴을 가졌어.</div>
									</div>
									<div class="sentence col-md-11 ml-md-auto px-2 pb-2">
										<div class="my-answer px-2 py-1">
											<span class="a-title"><i class="fa fa-arrow-alt-circle-right"></i></span>
											<span class="eng-sentence">
												You've the voice that only your mother love.
											</span>
										</div>
									</div>
								</div>
								<div class="my-test-info-page">
									<ul class="pagination pagination-sm justify-content-center">
										<li class="page-item active">
											<a class="page-link">1</a></li>
										<li class="page-item">
											<a class="page-link">2</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div></div>
				<div class="toggle-button-cover text-center">
					<button type="button" class="fold-my-info fold-button2">
						<i class="fa fa-angle-double-up fa-lg"></i>
					</button>
				</div>
			</div>
		</div></div>
		
	</div>
	
	<!-- page PC & Tablet Ver. -->
	<div class="d-none d-md-block">
		<div class="my-test-info-page row no-gutters mb-3">
			<div class="col-md-2 col-6 text-md-center text-left align-self-center">
				<button class="btn btn-dictation">
					<i class="fa fa-angle-left"></i> prev
				</button>
			</div>
			<div class="col-md-8 text-center align-self-center">
				<ul class="pagination pagination-sm justify-content-center">
					<li class="page-item active">
						<a class="page-link">1</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-6 text-md-center text-right align-self-center">
				<button class="btn btn-dictation">
					next <i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div>
	</div>
	
	<!-- page Mobile Ver. -->
	<div class="d-md-none">
		<div class="my-test-info-page row no-gutters mb-3">
			<div class="col-6 text-left">
				<button class="btn btn-dictation">
					<i class="fa fa-angle-left"></i> prev
				</button>
			</div>
			<div class="col-6 text-right">
				<button class="btn btn-dictation">
					next <i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div>
	</div>
	
	
	</div>
</div><!-- end of dictationTestMyinfoDiv -->

</div><!-- end of dictationMyinfoSection -->




</section><!-- end of content -->



</body>
