<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/dictationbook_layout2}">

<head>
<title>여행가기 전 꼭 알아들어야 할 문장 20선 - playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaRobot = 'nofollow', 
	metaTitle = '여행가기 전 꼭 알아들어야 할 문장 20선 - 플레이보이스 (playvoice)', 
	metaDescription = '플레이보이스 딕테이션북에서는 일상 생활에서 자주 접할 수 있는 영어 문장들을 받아쓰기로 연습할 수 있습니다.', 
	metaImage = '/images/common/characters/dictationbook.jpg', metaRegDate = null"></th:block>
	
<link rel="stylesheet" th:href="@{/css/app/dictationbook.css}">	
<link rel="stylesheet" th:href="@{/css/app/keyboard.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/app/playvoice_keyboard.js}"></script>
	   
<script th:inline="javascript">
$(document).ready(function(){
	/* $("#stageInfo_modal").modal({
		show : true
	}); */
	// [bubbles animation]------------------------------------------------------
	/* bubblePopEffect('.choice-playcount-modal'); */
	// [menu active]------------------------------------------------------------
	$(".menu-cover #themeListMenu").addClass("menu-active");
	
	// [모바일 정답 입력칸의 길이를 임의로 조절 못하므로 입력한 text가 상단에 보이게 처리]------------------
	$("#answerInput").on("change paste keyup input", function(){
		var showAnswer = $("#showAnswer_mobile");
		if($(this).val().length > 0) {
			showAnswer.show(100);
		} else {
			showAnswer.hide(100);
		}
		showAnswer.find(".answer-text").text($(this).val());
	});
	
	/* if($(window).width() < 912) {
		$("#answerInput").prop("readonly", true);
	} */
	
	
	$(".closeStageBtn").click(function(){
		testEnd();
	});
	
	$("#popMenu_modal").on("click", "#testEnd_btn", function(){
		location.href="/dictationBook/test/result";
	});
	
}); //end of ready
/* ----------------------------------------------------------------------------- 
*							handling screen event
* --------------------------------------------------------------------------- */

function testEnd() {
	var modal_msg = '<div class="row no-gutters"><div class="col-sm text-center">' 
				+ '<img src=\"/images/common/characters/afro_cry.png\" width=\"70px\"></div>'
				+ '<div class="col-sm-auto px-2 align-self-center">테스트가 아직 끝나지 않았습니다.<br>종료하겠습니까?</div>'
				+ '<div class="col-sm"></div></div>';
	var buttons = '<button type="button" class="btn btn-outline-dictation btn-sm"'
				+'data-dismiss="modal">계속</button>&nbsp;&nbsp;'
				+ '<button id="testEnd_btn" type="button" class="btn btn-dictation btn-sm"'
				+ ' data-dismiss="modal">테스트 종료</button>';

	$("#popMenu_modal").find(".modal-header").html(modal_msg);
	$("#popMenu_modal").find(".modal-body")
					   .addClass("text-center").html(buttons);
	$("#popMenu_modal").modal({
		show : true
	});
	return;
}

/**
 * 성우 정보 출력
 */
function displayVoiceActorInfo() {
	var currentAccent = 'AU';
	var accent = (currentAccent.indexOf('-') > -1)? 
				(currentAccent.split('-')[1]) : currentAccent;
	$('#flag').attr("src", "/images/common/flags/"+accent+".png");
	/* $('#actor').css("background-image", "url(/images/common/actors/" + encodeURIComponent(currentVoiceActor.source) + ".jpg)");
	$('#actorName').html(currentVoiceActor.source); */
}


</script>
</head>

<section layout:fragment="content">
<!--/* -------------------------------[Modal] -----------------------------*/-->
<div id="popMenu_modal" class="choice-playcount-modal modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div id="modalContent" class="modal-content content-container">
			<div class="modal-header">
				<div class="title">
					<i class="fa fa-quote-left"></i>
					여행가기 전 꼭 알아들어야 할 문장 20선
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
			<div class="modal-body">
				<h5>음성 반복 횟수 선택</h5>
				<div class="explain">
					한 문제 당 음성을 몇번 반복해서 들을지 선택해 주세요 
					<i class="far fa-grin-alt"></i>
				</div>
				<div>
					<input name="choice_count" id="count_1" type="radio" class="choice-count" 
						data-dismiss="modal" th:data="1"/>
					<label class="choice-count-icon" for="count_1"></label>
					<label for="count_1"><span class="count">1회</span> "[특급] 실시간 통역 가능"</label><br>
					
					<input name="choice_count" id="count_2" type="radio" class="choice-count"
						data-dismiss="modal" th:data="2"/>
					<label class="choice-count-icon" for="count_2"></label>
					<label for="count_2"><span class="count">2회</span> "[고급] 일상 회화 가능"</label><br>
					
					<input name="choice_count" id="count_3" type="radio" class="choice-count"
						data-dismiss="modal" th:data="3"/>
					<label class="choice-count-icon" for="count_3"></label>
					<label for="count_3"><span class="count">3회</span> "[중급] 기본적 대화 가능"</label><br>
					
					<input name="choice_count" id="count_5" type="radio" class="choice-count"
						data-dismiss="modal" th:data="5"/>
					<label class="choice-count-icon" for="count_5"></label>
					<label for="count_5"><span class="count">5회</span> "[초급] 간단한 대화 가능"</label><br>
					
					<input name="choice_count" id="count_li" type="radio" class="choice-count"
						data-dismiss="modal" th:data="100"/>
					<label class="choice-count-icon" for="count_li"></label>
					<label for="count_li"><span class="count">무한반복</span> "[연습] 특급 수준의 잠재성을 보유"</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/* ------------------------------[/Modal] -----------------------------*/-->


<!-- title & menu -->
<div id="menuSection" class="row no-gutters"><div class="col-lg-1"></div>
	<div th:insert="~{/dictationBook/incl/dictationbook_menu2::menu}" class="col-lg-10"></div>
</div>



<div id="dictationQuestionSection" class="dictation-question-section my-4">
<form id="answerFrm" action="" accept-charset="ASCII">
	<!-- ------------------------[테마 타이틀 PC ver.]-------------------------- -->
	<div id="progressDiv" class="d-none d-md-block">
	<div class="row no-gutters">
		<div class="col-12 text-center">
			<!-- 테마 타이틀 -->
			<div class="title">
				<i class="fa fa-quote-left"></i>
				여행가기 전 꼭 알아들어야 할 문장 20선
				<i class="fa fa-quote-right"></i>
			</div>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-md-6 col px-1 ml-auto text-center align-self-center">
			<!-- 진행 바 -->
			<div class="rounded test-progress-cover">
				<div id="stage_progress" class="rounded test-progress" style="width: 0;"></div>
			</div>
		</div>
		<div class="col-md-3 col-auto px-1 text-center align-self-center">
			<button type="button" class="closeStageBtn btn btn-outline-dictation btn-sm jsAction">
				시험종료
			</button>
		</div>
		<div class="col-12" align="center">
			<hr class="division-line">
		</div>
	</div>
	</div><!-- end of progressDiv -->
	<!-- -----------------------[테마 타이틀 Mobile ver.]----------------------- -->
	<div id="progressMobileDiv" class="d-md-none">
	<div class="progress-mobile-div row no-gutters">
		<div class="col">
			<!-- 테마 타이틀 -->
			<div class="title">
				<i class="fa fa-quote-left"></i>
				여행가기 전 꼭 알아들어야 할 문장 20선
				<i class="fa fa-quote-right"></i>
			</div>
			<!-- 진행 바 -->
			<div class="rounded test-progress-cover">
				<div id="stage_progress" class="rounded test-progress" style="width: 0;"></div>
			</div>
		</div>
		<div class="col-auto pl-3 text-center align-self-center">
			<button type="button" class="closeStageBtn btn-mobile btn-main">
				종료
			</button>
		</div>
	</div>
	</div><!-- end of progressMobileDiv -->
	
	<div id="questionArea" class="question-cover row no-gutters my-3">
		<div class="guide col-12 d-md-none">어떻게 들리나요?</div>
		<div class="question-cover-side col"></div>
		<div class="col-auto px-md-4 px-3 py-1 text-center">
			<!-- flag / actor -->
			<img id="flag" src="/images/common/flags/ZA.png" class="flag"><br>
			<img id="actor" src="/images/app/member/profile_paper.png" 
				class="actor rounded-circle actor-image-frame"
				style="background-image: url(/images/common/characters/profile/afro.jpg)"><br>
			<span id="actorName" class="actor-name">Paul D Jackson</span>
		</div> 
		<div class="audio-section col-auto py-2">
			<div class="audio-cover">
				<div class="guide text-center d-none d-md-block">
					어떻게 들리나요?
				</div>
				<!-- 음성 파형 영역 -->
				<div class="sync-line text-center">
					<div class="quizSync-inner"></div>
				</div>
				<div class="pt-1 text-center">
					<i id="play" class="fa fa-play fa-3x fa-fw jsAction" style="display: none;"></i>
					<i id="pause" class="fa fa-pause fa-3x fa-fw jsAction"></i>
				</div>
			</div>
		</div> 
		<div class="question-cover-side col"></div>
		<div class="test-guide2 col-12 text-center mt-4">
			<i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
			파이팅! 포기하지 말고 들리는 데로만 적어보세요 <i class="far fa-grin-alt"></i>
		</div>
		<div class="w-100"></div>
		<!--/*---------------------- [정답 입력부] ------------------------*/-->
		<div id="answerDiv" class="answer-cover col-12 mt-4">
			<input id="answerInput" spellcheck="false" autocomplete="off" 
				class="quiz_form answer-input inputPlayKeyboard focus" type="text">
		</div>
		<div id="showAnswer_mobile" class="show-answer-mobile d-sm-none" 
			style="display: none;">
			<i class="fa fa-keyboard fa-fw"></i> <span class="answer-text"></span>	
		</div>	
		<div id="buttonDiv" class="button-section col-12 text-center mt-4">
			<button id="nextDictation" class="button-cover jsAction border-0" 
				type="submit" title="next">
				Next <i class="fas fa-step-forward fa-2x fa-fw"></i>
			</button>
		</div>
		
		<!-- sponsor -->
		<div th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}" 
			class="dictationbook-play-ad-section">
			<img src="/images/common/ads/728_90.jpg" width="728px" height="90px">
		</div>
	</div><!-- end of questionArea -->
	<!--/* <th:block th:replace="~{/common/playvoice_keyboard2::keyboard}"></th:block> */-->
	
</form>

</div><!-- end of dictationQuestionSection -->
	

</section><!-- end of content -->
</html>