<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playsquare_layout}">
<head>
<title>그래머북 (GrammarBook) - 플레이보이스 | Playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment::meta}"
	th:with="metaTitle = '그래머북 (GrammarBook) - 플레이보이스 | Playvoice', 
	metaDescription = 'GrammarBook은 자신이 공부했거나 잘 아는 문법 이론 및 팁을 함께 공유하는 공간입니다.
	영어 문법을 자신만의 스타일로 정리하면서 서로를 위한 문법 선생님이 되어 보세요.
	플레이보이스는 영어로 인한 불필요한 노력과 비용을 줄이고 함께 학습할 수 있는 공간을 제공합니다.', 
	metaImage = '/images/app/playsquare/green_cat.jpg'"></th:block>
	
<!-- schema org (bread, search) -->	
<script type="application/ld+json">
[<th:block th:insert="~{/incl/meta_fragment::schemaBread}"
	th:with="breadList = ${ {'/square', #httpServletRequest.requestURI} },
	breadName = ${ {'플레이 스퀘어', '그래머북 아티클 목록'} }"></th:block>,<th:block 
	th:insert="~{/incl/meta_fragment::schemaWebSite}"
	th:with="urlList = ${ {'/square/grammarBook/list/'} }"></th:block>]
</script>

<link rel="stylesheet" th:href="@{/css/app/comment.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">
<link rel="stylesheet" th:href="@{/summernote/summernote.min.css}">

<script th:src="@{/js/app/comment.js}"></script>
<script th:src="@{/js/app/sessiontimer.js}"></script>
<script th:src="@{/js/app/playsquare.js}"></script>
<script th:src="@{/js/app/discontent_report.js}"></script>
<script th:src="@{/summernote/summernote-bs4.min.js}"></script>
<script th:src="@{/summernote/plugin/br.summernote.js}"></script>
<script th:src="@{/summernote/plugin/semanticroles.summernote.js}"></script>
<script th:src="@{/summernote/lang/summernote-ko-KR.js}"></script>

<script th:inline="javascript" type="text/javascript">
var replyAppCode = /*[[${replyAppCode}]]*/0;
var tempArticleKey;
var mid = /*[[${session?.userContainer?.personacon?.pid}]]*/0;
$(document).ready(function(){
	
	// [검색 폼 열기]---------------------------------------------------------------
	$(".squareSearchBtn").click(function(){
		$("#searchSentence_div").toggle(100);
	});
	
	// [검색 취소]-----------------------------------------------------------------
	$("#cancelSearch_btn").click(function(){
		$("#searchSentence_div").hide();
		resetForm($(this));
	});
	
	// [현재 URI 주소에 따라 탭 선택 ; 전체보기, 내가 쓴 글 (Mobile.ver)]-----------------------
	var currentUri = location.pathname;
	if(currentUri.indexOf("mylist") > -1){
		$(".playvoice-dropdown-group .btn-secondary span").text("내가 쓴 글 보기");
	}
	
	
	var suggestionTimer;
	// [검색어 입력시 제시어 요청 및 검색버튼 활성화]-------------------------------------------
	$(document).on("input", "#searchKeyword", function(){
		clearTimeout(suggestionTimer);
		var add_btn = $(this).closest("form").find(".squareAddBtn");
		var input = $(this);
		if($(this).val().length > 0){
			suggestionTimer = setTimeout(function() {
				//------------------------------------------------
				getGrammarTitleSuggestionList($("#searchType").val().charAt(0), input.val(), input);
				//------------------------------------------------
			}, 500);
			
			add_btn.prop("disabled", false);
			
		} else {
			add_btn.prop("disabled", true);
		}
	});
	
	// [제시어 클릭하면 검색어로 입력 후 검색 폼 열기]------------------------------------------
	$(document).on("click", ".suggest-list-cover li", function(){
		$("#searchKeyword").val($(this).text());
		$("#searchSentence_div .squareAddBtn").prop("disabled",false);
		$("#searchSentence_div .suggest-list-cover").empty();
	});
	
	// [텍스트 입력폼 클릭시 제시어 목록 다시 보이기 & 닫기]--------------------------------------
	$("#searchKeyword").on("click", function(){
		if($(this).siblings(".suggest-list-cover").children("li").length > 0){
			$(this).siblings(".suggest-list-cover").toggle();
		}
	});
	
	// [텍스트 입력폼 외 클릭시 제시어 목록 닫기]---------------------------------------------
	$(document).on("click", function(e){
		var target = $(e.target);
		e.stopPropagation();
		if(!$(target).is("#searchKeyword")){
			$(".suggest-list-cover").hide();
		}
	});
	
	// [주제 검색 실행]--------------------------------------------------------------
	$("#searchForm").submit(function(e){
		e.preventDefault();
		//--------------------
		searchGrammar($("#searchSentence_div #searchType").val(), 
					 $("#searchSentence_div .requireSentenceForm").val(), 1);
		//--------------------
		
	});
	
	// [검색 결과 리스트 숨기기]--------------------------------------------------------
	$("#closeResultSearchSentence_btn").click(function(){
		$(this).closest(".result-search-section").hide();
		$("#defaultGrammarList, #defaultGrammarPagination").show();
	});

	// [앱 컨셉바 설명 펼치기]---------------------------------------------------------
	$(".toggleAppConceptBar").click(function(){
		$(this).find(".detail").toggle(100);
	});
	
		
	// [2차 카테고리 클릭 시 1차 카테고리의 클릭 이벤트가 불리지 않도록 함]--------------------
	$('.childrenCategory').on("click", function(e) {
		e.stopPropagation();
	})
	
	// [그래머 리스트 펼치기]----------------------------------------------------------
	var orgUrl = location.href;
	$(document).on("click", "#translationSection .toggleGrammarCover", function(){
		var $parentDigestCover = $(this).closest(".trans-list");
		var $cover = $(this).closest(".digest-cover");
		var $articleListCover = $parentDigestCover.find(".grammarBody");
		var $adfitDiv = $('#articleAd');
		
		// 다른 그래머들 모두 감춤
		$(".grammarBody:visible").each(function(index,digestCover){
			if(!$articleListCover.is(digestCover)){
				$(digestCover).hide(100);
				$(digestCover).closest(".trans-list").removeClass("articleOpen");
			}
		});
		var grammarId = $cover.find(".grammarId56").val();
		if($cover.is(".articleLoaded")){
			$articleListCover.toggle(100, function(){
				if($articleListCover.is(":visible")){
					var linkId = $articleListCover.find('.copy-url-cover :text').val().split('/').pop();
					history.replaceState(null,null, '/square/grammarBook/list/' + linkId);
					window.scrollTo(0, cover.offset().top - $("#headerNavbar").height());
					$parentDigestCover.addClass("articleOpen")
									  .find('.viewArticleAdSection').append($adfitDiv);
				}else{
					history.replaceState(null,null, orgUrl);
					$parentDigestCover.removeClass("articleOpen");
					$('#viewArticleAdDiv').append($adfitDiv);
				}
			});
		}else{
			//------------------------------------------------------------------
			getGrammarArticleList(grammarId, $articleListCover.find(".member-content-list"));
			//------------------------------------------------------------------
			$parentDigestCover.find('.viewArticleAdSection').append($adfitDiv);
		}
		
	});
	
	// [그래머 share link 클립보드로 복사]---------------------------------------------
	$(document).on("click", ".clip-target", function(){
		var clipParent = $(this).closest(".copy-url-section");
		var inputClip = clipParent.find(".hide-input");
		inputClip.select();
		try {  
			var successful = document.execCommand('copy'); 
			clipParent.find(".successClip-guide").show();
			setTimeout(function() {
				clipParent.find(".successClip-guide").hide();
			}, 2000);
			
		} catch (err) { 
			alert('이 브라우저는 지원하지 않습니다.') 
		} 
		inputClip.blur(); 
	});
	
	// [그래머 주제 수정 폼]-----------------------------------------------------------
	$(document).on("click", ".editTitle", function(){
		var grammar = $(this).closest(".digest-content-section");
		grammar.find(".content").hide(100);
		grammar.find(".titleInput").closest(".titleEditArea")
								  .show(100);
		grammar.find(".titleInput").focus();
	});
	
	// [그래머 주제 수정 취소]---------------------------------------------------------
	$(document).on("click", ".cancelTitleBtn", function(){
		var orgTitle = $(this).closest(".digest-cover").find(".title-sent span").text();
		$(this).closest(".digest-cover").find(".titleInput").val(orgTitle);
		$(this).closest(".titleEditArea").hide(100);
		$(this).closest(".digest-cover").find(".content").show(100);
	});
	
	// [그래머 주제 수정 실행]---------------------------------------------------------
	$(document).on("click", ".editTitleBtn", function(){
		var titleSpan = $(this).closest(".digest-cover").find(".title-sent span");
		var title = $(this).closest(".digest-cover").find(".titleInput").val();
		if(title.trim().length == 0){
			alert("주제는 비울 수 없습니다.");
			return;
		}
		var grammarId = $(this).closest(".digest-cover").find(".grammarId").val();
		var obj = {
				grammarId : grammarId,
				title : title
		};
		//------------------------------
		editGrammarTitle(obj, titleSpan);
		//------------------------------
	})
	
	// [그래머 주제 신고]------------------------------------------------------------
	$(document).on('click', '.grammarReport', function(){
		var grammarId = $(this).closest(".trans-list").find(".grammarId").val();
		var grammarWriter = $(this).closest(".trans-list").find(".grammarWriterAlias").val();
		var reportReadyResource = {
				appResourceId: Number(grammarId),
				appCodeName: 'GrammarBook',
				reporterId: mid,
				repAlias: /*[[${session?.userContainer?.personacon?.alias}]]*/null,
				posAlias: grammarWriter
		};
		//신고창 표시-------------------------------
		displayReportModal(reportReadyResource);
	})
	
	// [특정 주제의 그래머 추가 폼으로 이동]------------------------------------------------
	$(document).on("click", ".trans-list .moveMemberContent-form", function(){
		if($("#addArticleForm:visible").length == 0 || confirm("기존 작성중이던 내용은 사라집니다.\n계속하시겠습니까?")){
			$("#addArticleForm:visible button[type='reset']").click();
			$(this).closest(".grammarBody").find(".member-trans-form,.member-trans-guide").hide();
			//$("#addArticleForm .categorySelect").hide();
			 
			var editor = $(this).closest(".grammarBody").find(".member-trans-editor");
			var list = $(this).closest(".grammarBody").find(".member-content-list");
			if(editor.children().length > 0){
				editor.show();
			}else{
				$(".member-trans-editor").empty();
				var categoryId = $(this).closest(".trans-list").find(".grammarCategory .categoryId").val();
				var grammarId = $(this).closest(".trans-list").find(".grammarId").val();
				var title = $(this).closest(".trans-list").find(".title-sent span").text();
				var next = '/square/grammarBook/add';
				
				editor.load(next + " #addArticleForm", function(){
					$(this).closest(".grammarBody")
						.find(".member-trans-editor .categorySelect").remove();
					
					//---------------------------------------
					insertGrammarEditor($("#summernote"));
					//---------------------------------------
					// categoryId 설정
					createHidden(editor.find("form")[0], "categoryId", categoryId);
					
					// grammarId 설정
					createHidden(editor.find("form")[0], "grammarId", grammarId);
					// title 설정
					editor.find(".added-title span").text(title);
					editor.find(".added-title").show();
					editor.find("#title").val(title)
										 .prop("readonly", true)
										 .parent().hide();
					
					// [썸머노트 에디터가 로드된 후 임시저장된 작성글 불러오기]--------------------
					tempArticleKey = /*[[${session?.userContainer?.personacon?.alias}]]*/null;
					var tempGrammarArticle = sessionStorage.getItem('tempGrammarArticle_' + tempArticleKey);
					if(tempGrammarArticle != null && tempGrammarArticle.length > 0
						&& confirm("작성 중이던 내용이 있습니다. 다시 불러올까요?")){
						$("#summernote").summernote('pasteHTML',tempGrammarArticle);
					}
					
					// Register 버튼 재정의
					editor.find("#save").attr("type","button").on("click", function(){
						//------------------------------------------------------
						var content = filterSummernoteContent($("#summernote"));
						//------------------------------------------------------
						var len = content.length;
						if( len == 0 || len > 65000) {
							alert("Content length must be between 0 and 65,000."
							+" Total Length : "
							+ content.length +" characters");
							return;
						}else{
							editor.find("textarea[name='content']").val(content);
							sessionStorage.removeItem('tempGrammarArticle_' + tempArticleKey);
							//--------------------------------------
							appendGrammar(editor.find("form"), list);
							//--------------------------------------
						}
						
					})
					
					// Cancel 버튼 재정의
					editor.find("button[type='reset']").text("Cancel").on("click", function(){
						editor.closest(".grammarBody").find(".member-trans-form,.member-trans-guide").show();
						editor.hide();
					})
				});
			}
			editor.show();
			//----------------------
			initSessionMonitor(120);
			//----------------------
		}
	});
	
	// [아티클 펼치기]--------------------------------------------------------------
	$(document).on("click", ".trans-list .displayGrammarArticle", function(){
		var articleDetail = $(this).closest(".member-info").siblings(".viewArticle_div");
		articleDetail.toggle(100, function(){
			if(articleDetail.is(":visible")){
				window.scrollTo(0, articleDetail.closest(".content-cover").offset().top - $("#headerNavbar").height());
			}
		});
	});
	
	
	// [아티클 접기]---------------------------------------------------------------
	$(document).on("click", ".trans-list .hideArticle", function(){
		var articleTop = $(this).closest('.articleView').offset().top;
		if($("#headerNavbar").is(':visible')){
			articleTop -= $("#headerNavbar").height();
		}
		$(this).closest(".viewArticle_div").hide(100, function(){
			if(scrollY > articleTop){
				window.scrollTo(0, articleTop);
			}
		});
	});
	
	// [아티클 수정폼 표시]-----------------------------------------------------------
	$(document).on("click", ".editArticle", function(){
		if($("#addArticleForm:visible").length == 0 || confirm("기존 작성중이던 내용은 사라집니다.\n계속하시겠습니까?")){
			$("#addArticleForm:visible button[type='reset']").click();
			var article = $(this).closest(".content-cover");
			var editor = $("<div class='member-trans-editor py-4'></div>");
			var writers = $(this).closest(".trans-list").find(".digest-content-section .personal-cover");
			var categoryId = $(this).closest(".trans-list").find(".grammarCategory .categoryId").val();
			var grammarId = $(this).closest(".trans-list").find(".grammarId").val();
			var articleId = article.find(".articleId").val();
			var title = $(this).closest(".trans-list").find(".title-sent span").text();
			var subtitle = article.find(".subtitle").val();
			var content = article.find(".contentText").html();
			var likeCount = article.find(".articleLikeCount").text().trim();
			
			editor.load("/square/grammarBook/article/edit #addArticleForm", function(){
				$(this).closest(".grammarBody")
					.find(".member-trans-editor .categorySelect").remove();
				
				editor.find("textarea[name='content']").val(content);
				// [썸머노트 에디터가 로드된 후 임시저장된 작성글 불러오기]------------------------
				tempArticleKey = /*[[${session?.userContainer?.personacon?.alias}]]*/null;
				var tempGrammarArticle = sessionStorage.getItem('tempGrammarArticle_' + tempArticleKey);
				if(tempGrammarArticle != null && tempGrammarArticle.length > 0
					&& confirm("작성 중이던 내용이 있습니다. 다시 불러올까요?")){
					$("#summernote").text(tempGrammarArticle);
				}
				//-------------------------------------
				insertGrammarEditor($("#summernote"));
				//-------------------------------------
				
				// categoryId 설정
				createHidden(editor.find("form")[0], "categoryId", categoryId);
				// grammarId 설정
				createHidden(editor.find("form")[0], "grammarId", grammarId);
				// articleId 설정
				createHidden(editor.find("form")[0], "articleId", articleId);
				createHidden(editor.find("form")[0], "likeCount", likeCount);
				// title 설정
				editor.find("#title").val(title)
									 .prop("readonly", true)
									 .parent().hide();
				editor.find(".added-title span").text(title);
				editor.find(".added-title").show();
				// subtitle 설정
				editor.find("#subtitle").val(subtitle);
				
				
				// Register 버튼 재정의
				editor.find("#save").attr("type","button").on("click", function(){
								//------------------------------------------
					var content = filterSummernoteContent($("#summernote"));
								//------------------------------------------
					var len = content.length;
					if( len == 0 || len > 65000) {
						alert("Content length must be between 0 and 65,000."
						+" Total Length : "
						+ content.length +" characters");
						return;
					}else{
						editor.find("textarea[name='content']").val(content);
						sessionStorage.removeItem('tempGrammarArticle_' + tempArticleKey);
						//--------------------------------------
						editGrammarArticle(editor.find("form"), article);
						//--------------------------------------
					}
					
				})
				
				// Cancel 버튼 재정의
				editor.find("button[type='reset']").text("Cancel").on("click", function(){
					editor.remove();
					article.children().show();
				})
			});
			article.children().hide();
			article.append(editor);
			editor.show();
			initSessionMonitor(120);
		}
		
	});
	
	// [아티클 추천 실행]------------------------------------------------------------
	$(document).on('click', '.likeArticleBtn', function(e) {
		e.preventDefault();
		e.stopPropagation();
		
		if($("#loginStatus").text() != 'true'){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = '/auth/login?destPage=' + location.href;
			}
			return;
		}
		
		if($(this).is(":not(.active)")){
			var contentId = $(this).closest(".content-cover").find(".articleId").val();
			var mid = $("#yourId").val();
			var likeCount = $(this).closest(".content-cover").find('.articleLikeCount').text().trim();
			
			var obj = {
				contentId : contentId,
				memberId : mid,
				likeCount : Number(likeCount)
			}
			//-----------------------------
			handleGrammarArticleLike(obj, $(this));
			//-----------------------------
		}else{
			alert("이미 처리 되었습니다.");
			return;
		}
	});	
	
	// [아티클 신고]----------------------------------------------------------------
	$(document).on('click','.articleReport', function(){
		var grammarId = $(this).closest(".trans-list").find(".grammarId").val();
		var articleId = $(this).closest(".content-cover").find(".articleId").val();
		var articleWriter = $(this).closest(".member-info").find(".alias:eq(0)").text().trim();
		var reportReadyResource = {
				appResourceId: Number(grammarId),
				appContentId: Number(articleId),
				appCodeName: 'GrammarBook_Article',
				reporterId: mid,
				repAlias: /*[[${session?.userContainer?.personacon?.alias}]]*/null,
				posAlias: articleWriter
		};
		//신고창 표시-------------------------------
		displayReportModal(reportReadyResource);
	})
	
	// [댓글 리스트 펼치기]-----------------------------------------------------------
	$(document).on("click", ".trans-list .openCommentList", function(){
		if($(this).is('.replyLoaded')){
			var commentListSection = $(this).closest(".recommend-section").siblings(".comment-list-section");
			   commentListSection.toggle(100, function(){
				   if(commentListSection.is(":visible")){
					   window.scrollTo(0, commentListSection.offset().top - $("#headerNavbar").height());
				   }
			   });
		}else{
			$(this).closest(".viewArticle_div")
				   .find(".comment-list-section .comment-title")
				   .before($("#commentForCopy>div").clone());
			var commentListSection = $(this).closest(".recommend-section").siblings(".comment-list-section");
			
			var $content = $(this).closest('.content-cover');
			var articleId = $content.find(".articleId").val();
			var parentId = $content.closest('.trans-list').find(".grammarId").val();
			var url = "/reply/grammarBook/list/"+ articleId;
			
			reloadAll(url, commentListSection.find(".commentPage"));
			//댓글 폼 placeholder 변경
			$(".comment-textarea").attr("placeholder", "문법에 대한 의견이나 궁금한 점을 남겨봅시다.");
			var content = $(this).closest(".content-cover");
			commentListSection.find(".appContentWriter").val(content.find(".member-info>.alias").text());
			commentListSection.find(".appDomain").val("grammarBook");
			commentListSection.find(".parentContentId").val(parentId);
			commentListSection.find(".appContentId").val(content.find(".articleId").val());
			$(this).addClass('replyLoaded');
			commentListSection.show(100);
		}
		
	});
	
	//[댓글 리스트 접기]-------------------------------------------------------------
	$(document).on("click", ".trans-list .comment-title", function(){
		$(this).closest(".comment-list-section").hide(100);
	});
	
	// [페이지 로드 직후 첫번째 그래머 목록 포커싱]--------------------------------------------
	// window.scrollTo는 페이지 로딩 직후엔 잘 적용 안됨.
	// $(document).ready의 가장 아래에 위치할 것
	if($(".articleLoaded").length > 0){
		if ('scrollRestoration' in history) {
		    // Back off, browser, I got this...
		    history.scrollRestoration = 'manual';
		}
		$("html,body").animate({
			scrollTop: $(".articleLoaded").offset().top - $("#headerNavbar").height()
		});
	    if($(window).width() < 768){
		    $(".member-content-list .viewArticle_div").hide();
	    }
	}
	
	// [패이지 번호 클릭시 next page 전송]-----------------------------------------------
	var formObj = $("#pageForm");
	$("#defaultGrammarPagination a").click(function(e) {
		e.preventDefault();
		formObj.find('[name="page"]').val($(this).attr('data-pagenum'));
		formObj.submit();
	});
	 
}); //end of ready

/* ----------------------------------------------------------------------------- 
*							Handling page event
* --------------------------------------------------------------------------- */

/**
 * 세션이 만료되어 자동 로그아웃하기 직전에 작성 중이던 본문 내용을 브라우저에 저장
 */
function beforeLogout() {
	if($(".digest-form-div:visible").length > 0){
		var content = filterSummernoteContent($("#summernote"));
		sessionStorage.setItem('tempGrammarArticle_' + tempArticleKey, content);
		alert("작성 제한 시간이 만료되어 자동 로그아웃 합니다.\n작성 중이던 내용은 브라우저를 종료하실 때까지 보관됩니다.");
	}
}


/**
 * 검색된 주제들을 화면에 표시
 */
function displayGrammarList(grammarList, currentPageNum, total){
	
	$('.result-search-section .trans-list-page').siblings('.trans-list').remove();
	
	var num=1;	
	var fetchSize = 10;
	
	$.each(grammarList, function(index, grammar){
		num = (total-index)-(currentPageNum-1)*fetchSize;
		
		var row = $("#divsForCopy .trans-list").clone();
		row.find(".grammarId").val(grammar.gid);
		row.find(".grammarId56").val(grammar.id56);
		row.find(".grammarCategory").val(grammar.categoryName);
		row.find(".grammarTitle").text(grammar.title);
		row.find(".titleInput").val(grammar.title);
		row.find(".grammarHits").text(grammar.hits);
		var date = new Date(grammar.regDate);
		var dateString = date.getFullYear() 
						+ "-" + parseInt(date.getMonth() + 1).zf(2)
						+ "-" + date.getDate().zf(2);
		row.find(".date").text(dateString);
		if(grammar.articleCount > 3){
			row.find(".personal-other").text("+ " + (grammar.articleCount - 3));
		}else{
			row.find(".personal-other").parent().remove();
		}
		row.find(".articleWriterCount").text(grammar.articleCount);
		
		// 다이제스트 소유자도 아니면서 관리자도 아니면 타이틀 수정 불가
		var memberId = row.find(".dropdown-menu .editTitle").attr("viewer");
		if((grammar.personaconList.length > 1 || grammar.personaconList[0].pid != memberId)
			&& row.find(".dropdown-menu .editTitle").attr('data-admin') == 'false'){
			row.find(".dropdown-menu .editTitle").remove();
		}else{
			row.find(".dropdown-menu .editTitle").removeAttr('data-admin');
		}
		grammar.personaconList.forEach(function(personacon,index){
			if(index < 3){
				var slice = $("#divsForCopy").children(".personal-cover").clone();
				if(personacon.iconPath != null && personacon.iconPath != ""){
					slice.find("img")
					.css("background","url('/resource/profile/" + personacon.iconPath +"') no-repeat")
					.css("background-position","center")
					.css("background-size","cover");
				}
				row.find(".contentWritersProf").before(slice);
			}
		});
		
		$('.result-search-section .trans-list-page').before(row);
	});
}
/**
 * 검색된 주제의 페이징 표시
 */
function displayGrammarPageNavigationForSearch(pageMaker, sType){
	
	var prevPage = pageMaker.prevPage;
	var nextPage = pageMaker.nextPage;
	var currentPage = pageMaker.currentPage;
	var pageList = pageMaker.pageList;
	var currentPageNum = parseInt(pageMaker.currentPageNum);
	
	var ul = $('.result-search-section .trans-list-page ul');
	ul.empty();
	
	if(prevPage != null){
		var li = $('<li></li>');
		li.addClass('page-item');
		
		var link = $('<a class="page-link"></a>').attr('href', '#' )
						.html('PREV'+parseInt(prevPage.pageNumber+1));
		link.attr('onclick','searchGrammar("' + sType+ '","'
						   + $("#searchKeyword").val() + '",' 
						   + parseInt(prevPage.pageNumber+1) + ')');
		link.appendTo(li);
		li.appendTo(ul);
		
	}
	
	$.each(pageList, function(index, page){
		var li = $('<li class="page-item"></li>');
		if(parseInt(page.pageNumber) == (currentPageNum-1)){
			li.addClass("active");
		}
		var link = $('<a class="page-link"></a>');
		link.attr('href', 'javascript:void(0)');
		link.attr('onclick','searchGrammar("' + sType + '","'
						   + $("#searchKeyword").val() + '",' 
						   + parseInt(page.pageNumber+1) + ')');
		link.html(parseInt(page.pageNumber + 1));
		
		li.append(link);
		li.appendTo(ul);
	});
	
	if(nextPage != null){
		var li = $('<li></li>');
		li.addClass('page-item');
		
		var link = $('<a class="page-link"></a>').attr('href', '#' ).
		html('NEXT'+parseInt(nextPage.pageNumber+1));
		link.attr('onclick','searchGrammar("' + sType + '","'
						   + $("#searchKeyword").val() + '",' 
						   + parseInt(nextPage.pageNumber+1) + ')');
		
		link.appendTo(li);
		li.appendTo(ul);
	}
}


/**
 * 주제 제시어 목록 표시
 */
function displayGetSuggestionList(titleList, element) {
	var suggestUl = $(element).siblings(".suggest-list-cover");
	var exist = false;
	suggestUl.empty();
	titleList.forEach(function(title, index) {
		var li = "<li class='dropdown-item'><a>"
				 + title + "</a></li>";
		suggestUl.append(li);
	});
	suggestUl.show();
} 


/**
 * 아티클 목록이 조회됐을 경우 화면 후처리.
 * url주소 변경, popup주소 설정, 모바일 경우 아티클 모두 접기
 */
function successGetGrammarArticleList($targetDiv) {
	if($targetDiv.find('.articleView').length > 0){
		$targetDiv.closest(".grammarBody").show(100, function(){
			var $parent = $targetDiv.closest('.trans-list');	
			var $cover = $parent.find('.digest-cover');
			window.scrollTo(0, $cover.offset().top - $("#headerNavbar").height());
			$cover.addClass("articleLoaded");
			$parent.addClass("articleOpen");
		});
		var grammarId56 = $targetDiv.find('.copy-url-cover :text').val().split('/').pop();
		history.replaceState(null,null, '/square/grammarBook/list/' + grammarId56);
		$targetDiv.find(".loginRequired").attr("href", location.href);
		$targetDiv.find(".openGrammar")
					.attr("href", "/square/grammarBook/page/" + grammarId56);
		if($(window).width() < 768) {
			$targetDiv.find(".viewArticle_div").hide();
		} 
		
	} else {
		confirm('로그인 정보가 없거나 만료되었습니다. 확인/취소를 누르면 로그인 페이지로 이동합니다.');
		location.href = '/auth/login?destPage=' + location.pathname;
	}
}


/**
 * 그래머 주제 수정 성공하면 주제 수정폼을 숨김
 */
function successEditGrammarTitle(title, titleSpan) {
	titleSpan.text(title);
	titleSpan.closest(".digest-content-section").find(".titleEditArea").hide(100);
	titleSpan.closest(".content").show(100);
}
/**
 * 그래머 아티클 수정 후 주제 표시 수정 및 아티클 표시
 */
function successEditGrammar(resultTarget, articlePage){
	// destroy 명령을 쓰지 않으면 popover메뉴가 사라지지 않음
	$("#summernote").summernote("destroy");
	if(resultTarget!=null){
		var $contentPage = $(articlePage);
		var $content = $contentPage.find(".contentText");
		var $articleHeader = $contentPage.find('.displayGrammarArticle');
		var replyCount = $(resultTarget).find('.replyCount').text();
		var likeCount = $(resultTarget).find('.articleLikeCount').text();
		// 좋아요 갱신
		$articleHeader.find('.articleLikeCount').text(likeCount);
		
		// 부제목 갱신
		resultTarget.find('.displayGrammarArticle').replaceWith($articleHeader);
		
		// 본문 갱신
		resultTarget.find('.contentText').replaceWith($content);
		resultTarget.attr("tabindex","-1").focus();
		resultTarget.closest(".content-cover").children().show();
		resultTarget.closest(".content-cover").find(".member-trans-editor").remove();
	}
	//-------------------------------
	popupModal("본문이 수정되었습니다.");
	//-------------------------------
}

/**
 * 그래머 아티클 추가 후 주제 표시 수정 및 아티클 표시
 */
function successAppendGrammar(resultTarget, articlePage) {
	// destroy 명령을 쓰지 않으면 popover메뉴가 사라지지 않음
	$("#summernote").summernote("destroy");
	var $articleList = $(resultTarget).closest(".grammarBody");
	$articleList.find(".member-trans-form,.member-trans-guide").show();
	$articleList.find(".member-trans-editor").empty();
	// 작성자 중복 검사
	var writers = []
	resultTarget.find(":not(.comment-list-section) .alias").each(function(i, element) {
		writers.push($(element).text());
	})
	// 아티클 리스트 마지막에 신규 아티클 추가
	resultTarget.append($(articlePage).find(".content-cover"));
	resultTarget.find(".content-cover:last").attr("tabindex","-1").focus();
	
	// 중복된 아티클 작성자가 없을 경우 그래머 주제에 아티클 작성자 부분 갱신
	if(writers.indexOf(unescape(/*[[${session?.userContainer?.personacon?.alias}]]*/null)) == -1){
		writerNumber = resultTarget.closest(".trans-list")
								   .find(".digest-content-section .personal-cover:has(img)")
								   .length;
		if(writerNumber <3){
			var img = '<div class="personal-cover toggleGrammarCover col-auto align-self-center">' 
				+ '<img src="/images/app/member/profile_paper.png" '
				+ 'style="background: url(';
			if(/*[[${session?.userContainer?.personacon?.iconPath}]]*/null != null){
				img += '/resource/profile/' + (/*[[${session?.userContainer?.personacon?.iconPath}]]*/null) + ')';
			}else{
				img += '/images/app/member/profile_default.png)';
			}
			img += ' no-repeat; background-position: center; background-size: cover;"></div>';
			resultTarget.closest(".trans-list")
			   			.find(".digest-content-section .personal-cover:has(img):last")
						.after(img);
		}else if(writerNumber == 3){
			var ext = resultTarget.closest(".trans-list")
   								  .find(".digest-content-section .personal-other");
   			if(ext.length > 0){
   				ext.text("+ " + (Number(ext.text().replace("+","").trim()) + 1));
   			}else{
   				ext = '<div class="personal-cover toggleGrammarCover col-auto align-self-center">'
					+ '<div class="personal-other">+ 1</div></div>';
				resultTarget.closest(".trans-list")
			   			.find(".digest-content-section .personal-cover:has(img):last")
						.after(ext);
   			}
		}else{
			resultTarget.closest(".trans-list")
			   			.find(".digest-content-section .personal-other")
						.text("+ " + (writerNumber + 1));
		}
		
	}
	
	// 그래머 주제에 아티클수 부분 갱신
	resultTarget.closest(".trans-list")
	   			.find(".digest-content-section .content-writers:eq(1)")
				.text(resultTarget.find(".content-cover").length + " article(s) in this theme");
	//-------------------------------
	popupModal("아티클이 등록되었습니다.");
	//-------------------------------
}

function resetForm(obj){
	$(obj).closest("form").find(".squareSentenceForm").css("height", "36px");
	$(obj).closest("form").find(".squareAddBtn").attr("disabled", "disabled");
}

/**
 * 메세지를 모달로 띄운다.
 */
function popupModal(msg){
	$("#modalMsg").text(msg);
	$("#popModalDiv").modal({
		show: true
	});
}

/**
 * 댓글 수 갱신하기
 */
function updateReplyCount(selector, quantity) {
   var replyCount = $(selector).closest(".viewArticle_div").find(".openCommentList span");
   replyCount.text(parseInt(replyCount.text()) + quantity);
} 


/**
 * (Mobile) 드롭다운 메뉴 active
 */
function activePVDropdownMenu(obj, open) {
	if(open) {
		var menu = $(obj).closest(".playvoice-dropdown-group").find(".playvoice-dropdown-menu");
		menu.addClass("active");
		$("html").addClass("modalOpen");
	} else {
		var menu = $(obj).closest(".playvoice-dropdown-menu");
		menu.removeClass("active");
		$("html").removeClass("modalOpen");
	}
} 

/**
 * (Mobile) 드롭다운 서브메뉴 펼치기
 */
function dropPVSecondMenu(obj) {
	var parentCate = $(obj).closest(".category-item");
	var target = parentCate.find(".second-menu");
	if(target.is(":visible")) {
		target.slideUp(100);
		parentCate.removeClass("open");
	} else {
		$(".category-item").removeClass("open");
		$(".second-menu").hide();
		parentCate.addClass("open");
		target.slideDown(100);
	}
}

</script>
</head>

<section layout:fragment="content">
<input type="hidden" id="yourId" th:value="${session?.userContainer?.personacon?.pid}">
<!-- ----------------------[grammarBook guide modal]------------------------ -->
<div id="popModalDiv" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content content-container">
			<div  class="modal-body text-center py-3">
				<span id='modalMsg'>수정에 성공하였습니다</span>
			</div>
			<div class="modal-footer align-self-center">
				<button type="button" class="btn" data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- ----------------------------[1. 그래머북 소개]------------------------------ -->
<div id="introductionSection" class="introduction-section grammar mt-4">
	<h3 class="row no-gutters">
		<label class="pv-tm col-auto">Grammar Book</label>
		<label class="search-button-section col text-right d-md-none">
			<a class="addGrammarBtn loginRequired" th:href="@{/square/grammarBook/add}">
				<i class="fa fa-pen fa-flip-horizontal fa-fw"></i>
			</a>
			<a class="squareSearchBtn"><i class="fa fa-search"></i></a>
		</label>
	</h3>
	<div class="sub">Describe your English grammar in your own way and complete the GrammerBook with members.</div>
</div>

<div id="translationSection" class="translation-section grammar">
	<!-- ---[1.1 앱 컨셉 바 (PC ver.)]--- -->
	<div class="trans-list only-PC"><div class="translation-cover gold-membership 
		row no-gutters">
		<div class="logo col-md-auto align-self-center">
			<i class="fa fa-crown fa-3x"></i> 
		</div>
		<div class="guide col-md px-md-3 align-self-center">
			<div class="membership">
				Writing my own grammar book.
			</div>
			<div>
				GrammarBook은 자신이 공부했거나 잘 아는 문법 이론 및 팁을 함께 공유하는 공간입니다.<br>
				영어 문법을 자신만의 스타일로 정리하면서 서로를 위한 문법 선생님이 되어 보세요.<br>
				플레이보이스는 영어로 인한 불필요한 노력과 비용을 줄이고 함께
				학습할 수 있는 공간을 제공합니다.
				<i class="far fa-grin-squint fa-lg"></i>
			</div>
		</div>
		<div class="star col-md-auto col-12 align-self-center">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</div>
	</div></div>
	
	<div id="grammarBookContentsListDiv" class="translation-bg">
		<!-- ---[1.2 wise saying (PC ver.)]--- -->
		<div class="trans-list only-PC" 
			style="box-shadow: none; background-color: transparent;">
			<div class="translation-cover wise-saying">
			<div class="wise-saying-cover text-center">
				<i class="fa fa-quote-left"></i>
				<div class="saying">
					교육은 학생이 단순히 외부에서 주어진 자료를 흡수하고 반복하는 것이 아니다.<br class="d-none d-sm-block"> 
					<b>스스로 배울 수 있는 경지까지 올라가도록</b> 도와야 한다.
				</div>
				<div class="who">
					- <b>Avram Noam Chomsky</b>, 
					 the father of modern linguistics -
				</div>
				<i class="fa fa-quote-right"></i>
			</div>
		</div></div>
	
		<!-- ---[1.3 다이제스트 등록 버튼/ 검색 버튼 (PC ver.)]--- -->
		<div class="d-none d-md-block"><div class="translation-guide row no-gutters">
			<div class="add-digest-button-div col-auto align-self-center">
				<button type="button" class="addGrammarBtn btn btn-grammar2 loginRequired"
					th:href="@{/square/grammarBook/add}" 
					onclick="location.href=$(this).attr('href')">
					<span class="d-none d-md-inline-block">그래머 등록</span> 
					<i class="fa fa-pen fa-fw"></i>
				</button>
				<div class="add-guide">
					작성하려는 문법 내용과 같은 주제가 있는지 오른쪽의 검색 버튼을 눌러 먼저 <b>검색</b>해 보세요
					<i class="far fa-grin-alt"></i>
				</div>
			</div>
			<div class="add-babel-guide col px-2 align-self-center py-1 only-PC">
				영어 문법을 여러분들만의 방식으로 다른 회원들에게 알려주세요.<br class="d-none d-md-block">
				나만의 특별한 문법 학습 방법이 있다면 팁을 공유해 주세요.
			</div>
			<div class="search-button-section col-auto align-self-center">
				<a class="squareSearchBtn" title="주제 검색">
					<i class="fa fa-search"></i>
				</a>
			</div>
		</div></div>

		<!-- ---[1.4 search digest]--- -->
		<div id="searchResult" th:insert="~{/square/incl/search_sentences::search}"></div>
		<script th:inline="javascript">
			$("#searchType").val("title");
		</script>

		<!-- ---[1.5 앱 컨셉 바, 그래머북 리스트 sort 버튼 (Mobile ver.)]--- -->
		<div class="mobile-concept-bar-section box-cover-mobile box-main d-md-none">
			<!-- 앱 컨셉 바 -->
			<div class="trans-list only-mobile"><div class="toggleAppConceptBar
				translation-cover gold-membership">
				<div class="logo"><label><i class="fa fa-book"></i></label></div>
				<div class="guide"><div class="detail-cover">
					<div class="point">
						<b>아무리 작은 것도<br>이를 만들지 않으면 얻을 수 없다</b>
					</div>
					<div class="detail">
					GrammarBook에서 내가 이해한 문법 내용을 개성 있게 정리해 봅시다.
					누군가는 수없이 배워 왔고 누군가는 잊거나 잘 모르는 문법 이론이 많습니다.
					진정한 학습은 배운 것을 나만의 스타일로 설명하고 표현하는 것입니다.
					다른 멤버들의 설명을 보고 스스로 정리하면서 서로의 문법 선생님이 되어보세요.
					</div>
				</div></div>
			</div></div>
			<!-- 카테고리 -->
			<div class="translation-guide">
				<div class="select-trans-list playvoice-dropdown-group">
					<button class="btn btn-secondary w-100" type="button" 
						onclick="activePVDropdownMenu(this, true)">
						<span th:if="${selectedCategory != null}"
							th:text="${selectedCategory.name}"></span>
						<span th:unless="${selectedCategory != null}">전체보기</span>
						<i class="fa fa-caret-down fa-fw float-right"></i>
					</button>
					<div id="grammarDropdownMenu" class="playvoice-dropdown-menu">
						<div class="playvoice-dropdown-back"
							onclick="activePVDropdownMenu(this, false)"></div>
						<div class="playvoice-dropdown-content">
							<ul class="category-list">
								<li class="categorySelect menu-item first">
									<a th:href="@{/square/grammarBook/list}">전체보기</a>
								</li>
								<li class="categorySelect menu-item last" 
									th:if="${session?.userContainer}">
									<a th:href="@{/square/grammarBook/mylist/} + 
									${session.userContainer.personacon.id56}">내가 쓴 글 보기</a>
								</li>
								<li th:each="category, iter:${categoryList}" 
									class="categorySelect category-item"
									th:classappend="${iter.count == 1}? 'first':''">
									<a th:href="${'/square/grammarBook/list?searchType=category&keyword=' + category.id56}">
										<span class="index">[[${iter.count}]].</span> 
										[[${category.name}]]
									</a>
									<th:block th:if="${category.childrenCategoryList != null}">
									<span class="drop-icon" onclick="dropPVSecondMenu(this)">
										<i class="fa fa-caret-down"></i>
									</span>
									<ul class="second-menu" style="display: none;">
										<li th:each="childrenCategory, iter2:${category.childrenCategoryList}"
											class="childrenCategory category-item">
											<a th:href="${'/square/grammarBook/list?searchType=category&keyword=' + 
											childrenCategory.id56}">
												<span class="index">[[${iter.count}]].[[${iter2.count}]]</span>
												[[${childrenCategory.name}]]
											</a>
										</li>
									</ul> 
									</th:block>
								</li>
							</ul>
							<div class="playvoice-dropdown-close-section"
								onclick="activePVDropdownMenu(this, false)">close</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="defaultGrammarList">
			<!-- ---[1.6 다이제스트 리스트 sort 버튼 (PC ver.)]--- -->
			<div class="d-none d-md-block">
				<div class="select-trans-list list-pc row no-gutters">
					<div class="col-4 dropdown align-self-center">
						<button class="btn btn-secondary dropdown-toggle text-center w-100" 
							data-toggle="dropdown" type="button">
							<i class="fa fa-list fa-fw float-left"></i>
							<span th:if="${selectedCategory != null}"
								 class="selectedCategory" th:text="${selectedCategory.name}"></span>
							<span th:unless="${selectedCategory != null}" 
								class="selectedCategory">전체 보기</span>
							<i class="fa fa-caret-down fa-fw float-right"></i>
						</button>
						<ul class="dropdown-menu w-100">
							<li class="categorySelect jsAction dropdown-item"
								th:href="@{/square/grammarBook/list}"
								onclick="location.href=$(this).attr('href')">
								<i class="fa fa-list fa-fw"></i> 전체 보기
							</li>
							<li th:each="category, iter:${categoryList}" class="categorySelect jsAction dropdown-item"
								th:href="${'/square/grammarBook/list?searchType=category&keyword=' + category.id56}"
								onclick="location.href=$(this).attr('href')">
								<span class="index">[[${iter.count}]].</span> [[${category.name}]]
								<th:block th:if="${category.childrenCategoryList != null}">
									<i class="fa fa-caret-right"></i>
									<ul class="second-menu">
										<li th:each="childrenCategory, iter2:${category.childrenCategoryList}"
											th:href="${'/square/grammarBook/list?searchType=category&keyword=' + 
											childrenCategory.id56}"
											class="childrenCategory" 
											onclick="location.href=$(this).attr('href')">
											<span class="index">[[${iter.count}]].[[${iter2.count}]]</span>
											[[${childrenCategory.name}]]</li>
									</ul> 
								</th:block>
							</li>
						</ul>
					</div>
					<div class="col text-right align-self-center">
						<a th:if="${session?.userContainer}" 
							th:classappend="${(#strings.containsIgnoreCase(#request.requestURI,'/mylist'))?'active':''}" 
							th:href="@{/square/grammarBook/mylist/} + ${session.userContainer.personacon.id56}">
						   	<i class="fa fa-brain fa-fw mr-1"></i> <span>내가 쓴 글 보기</span></a>
					</div>
				</div>
			</div>
		
			<!-- ---------------------[2. 그래머북 컨텐츠 영역]-------------------- -->
			<div class="bookstore-list-section">
			<th:block th:each="grammar, iter:${pageMaker?.result?.content}">
				<!-- ---[2.1 그래머북 리스트 단위]--- -->
				<div class="trans-list"><div class="digest-cover row no-gutters" 
					th:classappend="${grammar.articleList != null ? 'articleLoaded':''}">
					<input type="hidden" class="grammarId" th:value="${grammar.gid}">
					<input type="hidden" class="grammarId56" th:value="${grammar.id56}">
					<input type="hidden" class="grammarWriterAlias" th:value="${grammar.personaconList[0].alias}">
					<div class="category-icon col-auto align-self-center text-center">
						<i class="fa fa-apple-alt fa-3x"></i><br>
						<!-- 카테고리 -->
						<label>[[${grammar.categoryName}]]</label>
					</div>
					<div class="digest-content-section col row no-gutters">
						<!-- 주제 정보 -->
						<div class="content toggleGrammarCover col-12 pr-md-3">
							<div class="title-sent">
								<i class="fas fa-quote-left mr-1"></i>
								<span>[[${grammar.title}]]</span>
								<i class="fas fa-quote-right ml-1"></i>
							</div>
						</div>
						<!-- 관리 버튼 -->
						<th:block th:if="${session?.userContainer != null}">
							<div th:if="${#strings.equals(grammar.personaconList[0].pid,
								session?.userContainer?.personacon?.pid)}
								OR ${session?.userContainer?.personacon?.memberType} == 'A'" 
								class="titleEditArea col-12 pr-md-3 row no-gutters" style="display: none;">
								<div class="col-md col-12">
									<input type="text" class="titleInput form-control" 
										th:value="${grammar.title}">
								</div>
								<div class="col-md-auto col-12 pl-md-2 py-1 text-right">
									<button class="cancelTitleBtn btn btn-sm btn-playsquare2" 
										type="reset">취 소</button>
									<button class="editTitleBtn btn btn-sm btn-playsquare" 
										type="button">수 정</button>
								</div>
							</div>
						</th:block>
						<!-- written by 조회수 -->
						<div class="content-writers toggleGrammarCover col-md-6 pb-2">written by</div>
						<div class="digest-info toggleGrammarCover col-md-6 col-12 pr-md-3 
							text-right d-none d-md-inline-block">
							<span class="view" title="조회 수">
								<i class="fa fa-paw fa-fw"></i>
								<span>[[${grammar.hits}]]</span>
							</span>
							<span th:text="${#dates.format(grammar.regDate, 'yyyy-MM-dd')}" 
								class="date ml-3"></span>
						</div>
						<div class="w-100"></div>
						<!-- 콘텐츠 작성자 -->
						<div th:each="personacon, iter3:${grammar.personaconList}" 
							class="personal-cover toggleGrammarCover col-auto align-self-center"
							th:classappend="${(iter3.count > 3)? 'displaynone':''}">
							<img th:if="${personacon.iconPath}" src="/images/app/member/profile_paper.png" 
								th:style="'background: url(\'/resource/profile/' +${personacon.iconPath} +'\') no-repeat;
								background-position: center; background-size: cover;'">
							<img th:unless="${personacon.iconPath}" src="/images/app/member/profile_paper.png" 
								style="background: url('/images/app/member/profile_default.png') no-repeat;
								background-position: center; background-size: cover;">
						</div>
						
						<div th:if="${#lists.size(grammar.personaconList) > 3}" 
							class="personal-cover toggleGrammarCover col-auto align-self-center">
							<div class="personal-other">+ [[${#lists.size(grammar.personaconList) - 3}]]</div>
						</div>
						<!-- 아티클 개수 메세지 -->
						<div class="content-writers col-md col-10 px-md-4 toggleGrammarCover 
							pt-md-2 pt-2">
							[[${grammar.articleCount}]] article(s) in this theme
						</div><div class="toggleGrammarCover col d-md-none"></div>
						<div class="digest-info toggleGrammarCover col-auto px-2 d-md-none align-self-end">
							<i class="fa fa-paw fa-fw"></i> <span>[[${grammar.hits}]]</span>
						</div>
						<!-- 수정, 신고 버튼 -->
						<div th:if="${session?.userContainer}" 
							class="col-auto pr-md-3 pl-md-0 px-2 text-right align-self-end">
							<div class="etc btn-group">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-ellipsis-h fa-lg"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
								    <li th:if="${#lists.size(grammar.personaconList) == 1 &&
								    	#strings.equals(grammar.personaconList[0].pid,session.userContainer.personacon.pid)
								    	OR #strings.toString(session.userContainer?.personacon?.memberType) == 'A'}" 
								    	
								    	class="editTitle dropdown-item text-center"><a>수정</a></li>
								    <li class="grammarReport dropdown-item text-center"><a>신고</a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<!-- --------------------[아티클 리스트 영역]--------------------- -->
				<div class="grammarBody member-digest-cover" 
					th:style="${grammar.articleList != null}?'':'display: none;'">
					<!-- article 리스트 -->
					<div class="member-content-list" 
						th:with="articleList=${grammar.articleList}">
						<th:block th:replace="~{/square/grammarBook/view_grammar}"></th:block>
					<!-- [아티클 삽입 되는 영역] -->
					</div>
					<!-- 광고 삽입되는 부분 -->
					<div class="viewArticleAdSection"></div>
					
					<div th:if="${session?.userContainer}" class="member-trans-form">
						<div class="moveMemberContent-form loginRequired text-center jsAction">
							<div class="member-write-btn d-none d-md-block">
								주제 관련 내용 작성하기 <i class="fa fa-pencil-alt"></i>
							</div>
							<div class="member-write-btn-xs d-md-none">
								<i class="fa fa-pencil-alt"></i>
							</div> 
						</div>
					</div>
					<div th:unless="${session?.userContainer}" class="member-trans-form">
						<div class="loginContents-form text-center jsAction">
							<a th:href="${#request.requestURI}" class="loginRequired">
								로그인이 필요한 서비스입니다.<br class="d-sm-none">
								<span class="click">click !</span>
								<i class="far fa-smile-wink"></i> 
							</a>
						</div>
					</div>
					<div class="member-trans-guide d-none d-md-block">
						플보 멤버들이 남긴 설명이 도움이 되었거나 공감이 된다면 추천을 눌러주세요<br>
						공유할 내용이 있다면 직접 설명을 적어 플보 멤버들에게 컨텐츠를 제공해 보세요 <i class="far fa-grin-alt"></i>
					</div>
					<!-- article 추가 폼 -->
					<div class="member-trans-editor py-4" style="display: none;"></div>
				</div></div>
				
				<!-- ---[2.2 그래머북 광고]--- -->
				<div th:if="${iter.count%4 == 0}" class="trans-list">
					<div class="digest-cover promotion">
						<th:block th:if="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- (Mobile) GrammarBook list -->
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-7152306695077047"
							     data-ad-slot="2538494279"
							     data-ad-format="horizontal"
							     data-full-width-responsive="false"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</th:block>
						<th:block th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- (PC) GrammarBook list -->
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-format="fluid"
							     data-ad-layout-key="-hg+g+2d-dw+ff"
							     data-ad-client="ca-pub-7152306695077047"
							     data-ad-slot="2386139972"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</th:block>
					</div>
				</div>
			</th:block>
			
			<!-- 아티클 삽입 광고 -->
			<div id="viewArticleAdDiv" class="append-view-article-section">
				<!-- 광고 (Mobile) -->
				<div th:if="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}" 
					id="articleAd" class="digest-ad-section">
					<ins class="kakao_ad_area" style="display:none;" 
						data-ad-unit    = "DAN-2VnqMeGHKhwZRvUK" 
						data-ad-width   = "320" 
						data-ad-height  = "50"></ins> 
					<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
				</div>
				<!-- 광고 (PC) -->
				<div th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}" 
					id="articleAd" class="digest-ad-section">
					<ins class="kakao_ad_area" style="display:none;" 
						data-ad-unit    = "DAN-bHUBe8Qj8PSydS1Z" 
						data-ad-width   = "728" 
						data-ad-height  = "90"></ins> 
					<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
				</div>
			</div>	
			</div>
		</div>
	</div>
	
	<!-- pagination -->
	<div id="defaultGrammarPagination">
		<div class="d-none d-md-block" th:with="option=${param.option}">
			<div class="trans-list-page row no-gutters my-3">
				<div class="col-md-3 text-center text-left align-self-center">
					<a th:if="${pageMaker?.prevPage}" 
					   th:data-pagenum="${pageMaker.prevPage.pageNumber + 1}" 
						class="btn btn-playsquare2">
						<i class="fa fa-angle-left"></i> prev
					</a>
				</div>
				<div class="col-md-6 text-center align-self-center">
					<ul class="pagination pagination-sm justify-content-center">
						<li class="page-item" th:each="page:${pageMaker?.pageList}"
							th:classappend="${page.pageNumber == pageMaker.currentPageNum -1} ? active: '' ">
							<a class="page-link" th:data-pagenum="${page.pageNumber + 1}">
							[[${page.pageNumber}+1]]</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 text-center text-right align-self-center">
					<a th:if="${pageMaker?.nextPage}" 
					   th:data-pagenum="${pageMaker.nextPage.pageNumber + 1}" 
						class="btn btn-playsquare2">
						next <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="d-md-none">
			<div class="trans-list-page row no-gutters my-3">
				<div class="col-6 text-left">
					<a th:if="${pageMaker?.currentPageNum != 1}" 
						th:data-pagenum="${(pageMaker?.currentPageNum -1)}"
						class="btn btn-playsquare2">
						<i class="fa fa-angle-left"></i> prev
					</a>
				</div>
				<div class="col-6 text-right">
					<a th:if="${pageMaker?.currentPageNum != (pageMaker?.totalPageNum)}" 
						th:data-pagenum="${(pageMaker?.currentPageNum +1)}"
						class="btn btn-playsquare2">
						next <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>

		<form id='pageForm' th:action="${'/square/grammarBook/list'}" method="get" th:object="${searchRequest}" style="display: none">
			Page : <input type='text' th:field="*{page}" th:value="${searchRequest.page}" style="width:5%">
			S-Type : <input type='text' th:field="*{searchType}" th:value="${searchRequest.searchType}" style="width:10%">
			Keyword : <input type='text' th:field="*{keyword}" th:value="${searchRequest.keyword}" style="width:20%">
		</form>
	</div>
	
	
	
	
	
</div><!-- end of translationSection -->
<!-- ------------------------- div area for copy --------------------------- -->
<div id="divsForCopy" style="display: none;">

	<!-- -------------------- digest List for Copy ------------------------- -->
	<div class="trans-list">
	<div class="digest-cover row no-gutters">
		<!-- grammar.gid -->
		<input type="hidden" class="grammarId">
		<input type="hidden" class="grammarId56">
		<div class="category-icon col-auto align-self-center text-center">
			<i class="fa fa-apple-alt fa-3x"></i>
			<label class="grammarCategory"></label>
		</div>
		<div class="digest-content-section col row no-gutters">
			<!-- 주제 정보 -->
			<div class="content toggleGrammarCover col-12 pr-md-3">
				<div class="title-sent">
					<i class="fas fa-quote-left mr-1"></i>
					<span class="grammarTitle"><!-- grammar.title --></span>
					<i class="fas fa-quote-right ml-1"></i>
				</div>
			</div>
			<div class="titleEditArea col-12 pr-md-3 row no-gutters" 
				th:viewer="${session?.userContainer?.personacon?.pid}"
				style="display: none;">
				<div class="col-md col-12">
					<input type="text" class="titleInput form-control">
				</div>
				<div class="col-md-auto col-12 pl-md-2 py-1 text-right">
					<button class="cancelTitleBtn btn btn-sm btn-playsquare2" type="reset">취 소</button>
					<button class="editTitleBtn btn btn-sm btn-playsquare" type="button">수 정</button>
				</div>
			</div>
			<!-- written by 조회수 -->
			<div class="content-writers toggleGrammarCover col-md-6 pb-2">written by</div>
			<div class="digest-info toggleGrammarCover col-md-6 col-12 pr-md-3 
				text-right d-none d-md-inline-block">
				<span class="view" title="조회 수">
					<i class="fa fa-paw fa-fw"></i>
					<span class="grammarHits"><!-- grammar.hits --></span>
				</span>
				<!-- #dates.format(grammar.regDate, 'yyyy-MM-dd') -->
				<span class="date ml-3"></span>
			</div>
			<div class="w-100"></div>
			<!-- 콘텐츠 작성자 contentWritersProf 전으로 추가 -->
			<div class="contentWritersProf" style="display: none;"></div>
			<!-- if="${grammar.articleCount > 3}" -->
			<div class="personal-cover toggleGrammarCover col-auto align-self-center">
				<div class="personal-other">+ <!-- grammar.articleCount - 3 --></div>
			</div>
			<!-- 아티클 개수 메세지 -->
			<div class="content-writers col-md col-10 px-md-4 toggleGrammarCover 
				pt-md-2 pt-2">
				<span class="articleWriterCount"></span> article(s) in this theme
			</div><div class="toggleDigestCover col d-md-none"></div>
			<span class="digest-info toggleGrammarCover col-auto px-2 d-md-none align-self-end">
				<i class="fa fa-paw fa-fw"></i> 
				<span class="grammarHits"><!-- digest.hits --></span>
			</span>
			<div th:if="${session?.userContainer}" 
				class="col-auto pr-md-3 pl-md-0 px-2 text-right align-self-end">
				<div class="etc btn-group">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
					    <li data-th-viewer="${session?.userContainer?.personacon?.pid}" 
					    	th:data-admin="${#strings.toString(session?.userContainer?.personacon?.memberType) == 'A'}"
					    	class="editTitle dropdown-item text-center"><a>수정</a></li>
					    <li class="grammarReport dropdown-item text-center"><a>신고</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
		
			
	<!-- -------------------------- article 영역 ----------------------------- -->
	<div class="grammarBody member-digest-cover" style="display: none;">
		<!-- article 리스트 -->
		<div class="member-content-list"></div>
		<!-- 아티클 등록 영역 -->
		<div th:if="${session?.userContainer}" class="member-trans-form">
			<div class="moveMemberContent-form loginRequired text-center jsAction">
				<div class="member-write-btn d-none d-md-block">
					주제 관련 내용 작성하기 <i class="fa fa-pencil-alt"></i>
				</div>
				<div class="member-write-btn-xs d-md-none">
					<i class="fa fa-pencil-alt"></i>
				</div> 
			</div>
		</div>
		<div th:unless="${session?.userContainer}" class="member-trans-form">
			<div class="loginContents-form text-center jsAction">
				<a th:href="${#request.requestURI}" class="loginRequired">
					로그인이 필요한 서비스입니다.<br class="d-sm-none">
					<span class="click">click !</span>
					<i class="far fa-smile-wink"></i> 
				</a>
			</div>
		</div>
		<div class="member-trans-guide d-none d-md-block">
			플보 멤버들이 남긴 설명이 도움이 되었거나 공감이 된다면 추천을 눌러주세요<br>
			공유할 내용이 있다면 직접 설명을 적어 플보 멤버들에게 콘텐츠를 제공해 보세요 <i class="far fa-grin-alt"></i>
		</div>
		<!-- article 추가 폼 -->
		<div class="member-trans-editor py-4" style="display: none;"></div>
		
	</div>
	</div>
	<!-- ---------------------- /grammarBook List for Copy -------------------------- -->
	
	<!-- ---------------- grammar.personaconList for Copy ----------------------- -->
					<!-- th:classappend="${(iter3.count > 3)? 'displaynone':''}" -->
	<div class="personal-cover toggleGrammarCover col-auto align-self-center">
		<!-- 퍼스나콘 img 표시 -->
		<img src="/images/app/member/profile_paper.png" 
		style="background: url('/images/app/member/profile_default.png') no-repeat;
		background-position: center; background-size: cover;">
	</div>
	<!-- ---------------- /grammarBook.personaconList for Copy ---------------------- -->
	<div id="commentForCopy" th:insert="~{/common/comment::comment}"></div>
	
	
</div>
</section>
</html>