<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playvoice_tts_layout}">
<head>
<title>Register - 플레이보이스 TTS | Playvoice - TTS</title>
<link rel="stylesheet" th:href="@{/css/app/playvoice_tts.css}">

<script th:inline="javascript">
$(document).ready(function() {
	// [화면 진입 시 id 폼에 포커스]-----------------------------------------------------
	$("#loginId").focus();
	
	// [아이디 입력값 검사 (서버 접속을 해야하므로 입력폼에서 마우스를 뗀 후 검사한다)]--------------------
	$("#loginId").change(function() {
		var idFilter = /([^a-zA-Z0-9-_])/; 
		var idValue = $(this).val();
		var target = "joinId";
		var msg;
		
		$(this).removeClass("is-valid");
		
		if(idValue.length < 4) {
			msg = "아이디를 4자이상 입력해주세요.";
			addAlertMsg(msg, target);
		} else {
			if(idValue.length > 20) {
				msg = "아이디는 20자까지 입력가능합니다.";
				addAlertMsg(msg, target);
			} else if(idFilter.test(idValue)) {
				msg = "아이디는 영문 대소문자와 숫자만 입력가능합니다.";
				addAlertMsg(msg, target);
			} else {
				addValueCheck(true, target);
				
				//----------------------
				isDuplicatedId(idValue);
				//----------------------
			}
		}
	});
	
	
	// [비밀번호 입력값 검사]----------------------------------------------------------
	$("#passwd").on("input",function(){
		var target = "joinPassword";
		var msg;
		
		// 비밀번호 재확인 입력상자에 입력된 값이 있을 땐 비밀번호 재확인 동작을 수행한다.
		if($("#repasswd").val().length >0) {
			$("#repasswd").trigger("input");
		} else {
			$(".login-form-group.joinRePassword").removeClass("confirm reject");
		}
		
		$(".login-form-group." + target).removeClass("confirm reject")
		
		if($(this).val().length >= 8){
			if($(this).val().length > 20){
				msg = "비밀번호는 20자까지 입력가능합니다.";
				addAlertMsg(msg, target);
			} else if(isValidPassword($(this).val()) == false){
				msg = "영문 대소문자/숫자/특수문자 2가지 이상 혼합 (*,&,+,- 제외)";
				addAlertMsg(msg, target);
			} else {
				addValueCheck(true, target);
			}
		} else {
			msg = "영문 대소문자/숫자/특수문자 2가지 이상 혼합 (8~20자)";
			addAlertMsg(msg, target);
		}
	});

	// [비밀번호 재확인]-------------------------------------------------------------
	$("#repasswd").on("input", function(){
		var target = "joinRePassword";
		
		if($(this).val() == $("#passwd").val()) {
			addValueCheck(true, target);
		} else {
			var msg = "입력한 비밀번호와 일치하지 않습니다.";
			addAlertMsg(msg, target);
		}
	});
	
	// [이메일 입력값 검사 (서버 접속을 해야하므로 입력폼에서 마우스를 뗀 후 검사한다)]--------------------
	$("#email").change(function() {
		var emailFilter = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
		var emailValue = $(this).val();
		var target = "joinEmail";
		var msg;
		
		if(emailValue.length > 0) {
			if(emailFilter.test(emailValue) == false) {
				msg = "이메일을 정확히 입력해주세요.";
				addAlertMsg(msg, target);
			} else {
				//---------------------------
				isDuplicatedEmail(emailValue);   
				//---------------------------
			}
		} else {
			msg = "이메일을 입력해주세요.";
			addAlertMsg(msg, target);
		}
	});

	// [14세 이상 체크 시 출생년도 폼 활성화]------------------------------------------------
	$("#ageOK").on("change", function(){
		if($(this).is(":checked")) {
			$("#birthYear").prop("disabled", false);
		} else {
			$("#birthYear").prop("disabled", true);
		}
	});
	
	// [출생년도 검사]--------------------------------------------------------------
	$("#birthYear").on('change',function(){
		var target = "joinBirth";
		
		if($(this).val() == 0) {
			var msg = "출생년도를 선택해 주세요.";
			addAlertMsg(msg, target);
		} else {
			addValueCheck(true, target);
		}
	});
	
	// [약관 동의]-----------------------------------------------------------------
	$('#agreementOK,#ageOK').change(function(){
		$('#addMemberBtn').prop('disabled',$('#agreementOK').is(':not(:checked)')
										|| $('#ageOK').is(':not(:checked)'));
	});
	
	// [멤버 등록 실행]--------------------------------------------------------------
	$("#addMemberBtn").click(function(){
		if($("#addMemberForm").find(".reject").length < 5) {
			$("#addMemberForm .login-form-group:not(.confirm)").addClass("reject");
		} else {
			$(this).prop('disabled', true);
			$("#addMemberForm").submit();
		}
	});

}); //end of ready

/**
 * 아이디 중복 검사 결과 표시
 */
function displayCheckId(result) {
	var target = "joinId";
	var msg;
	
	if(result) {
		var msg = "이미 사용중인 아이디입니다.";
		addAlertMsg(msg, target);
    } else {
    	addValueCheck(true, target);
    }
};

/**
 * 이메일 중복 검사 결과 표시
 */
function displayCheckEmail(result) {
	var target = "joinEmail";
	var msg;
	
	if(result) {
		var msg = "이미 사용중인 이메일입니다.";
		addAlertMsg(msg, target);
    } else {
    	addValueCheck(true, target);
    }
}

/**
 * 에러 메세지 보여주기
 */
function addAlertMsg(msg, target) {
	var targetDiv = $(".login-form-group." + target);
	if(targetDiv.find(".alert-msg")) {
		targetDiv.find(".alert-msg").remove();
	}
	var $rejectMsg = $("<div class=\"alert-msg\">" + msg + "</div>");
	$rejectMsg.appendTo(targetDiv);
	addValueCheck(false, target);
}

/**
 * 폼에 유효성 표시
 */
function addValueCheck(value, target) {
	var targetDiv = $(".login-form-group." + target);
	targetDiv.removeClass("confirm reject");
	if(value) {
		targetDiv.addClass("confirm");
		targetDiv.find(".alert-msg").remove();
	} else {
		targetDiv.addClass("reject");
	}
}
 
 
</script>
</head>

<section layout:fragment="content" class="playvoice-layout-mobile-section 
	mobile-container-mode dark-mode join-page">
<!-- ------------------------[1. join background]--------------------------- -->
<div class="join-image-section welcome-index-image-section">
	<div class="circle-bubble"></div>
	<div class="circle-bubble2"></div>
</div>

<!-- ---------------------------[2. join header]---------------------------- -->
<div class="join-index-ment-section row no-gutters">
	<!-- [2.1 뒤로가기] -->
	<div class="back-button-section col align-self-center">
		<button onclick="history.back(-1)" class="btn btn-trans" type="button">
			<i class="fa fa-angle-left"></i>
		</button>
	</div>
	<!-- [2.2 로고] -->
	<div class="col-auto align-self-center">
		<img src="/images/logo/tts_text_logo.png" alt="플레이보이스 TTS">
	</div>
	<div class="back-button-section col align-self-center"></div>
</div>

<div class="tts-join-position">
<!-- --------------------------[3. join form]------------------------------- -->
<form id="addMemberForm" action="/tts/member/add" th:object="${member}" 
	method="post" autocomplete="off">
<div class="playvoice-tts-login-section join-section">
	<!-- [3.1 에러 메세지] -->
	<div class="error-msg-section login-form-group" style="display: none;">
		<i class="fa fa-exclamation-triangle"></i>
		<span id="errorMsg">아이디와 비밀번호를 모두 입력해 주세요.</span>
	</div>
	<!-- [3.2 아이디] -->
	<div class="joinId login-form-group">
		<input th:field="*{loginId}" type="text" class="form-control playvoice-form"
			placeholder="아이디 (4~20자)" autocomplete="off"/>
	</div>
	<!-- [3.3 비밀번호] -->
	<div class="joinPassword login-form-group">
		<input th:field="*{passwd}" type="password" class="form-control playvoice-form"
			placeholder="비밀번호 (8~20자)" autocomplete="new-password"/>
	</div>
	<!-- [3.4 비밀번호 재확인] -->
	<div class="joinRePassword login-form-group">
		<input id="repasswd" type="password" class="form-control playvoice-form"
			placeholder="비밀번호 재확인"/>
	</div>
	<!-- [3.5 이메일] -->
	<div class="joinEmail login-form-group">
		<input th:field="*{email}" type="email" class="form-control playvoice-form"
			placeholder="이메일 (abc@playvoice.org)"/>
	</div>
	<!-- [3.6 나이 체크] -->
	<div class="login-form-group guide confirm-check">
		<label>
			<input id="ageOK" type="checkbox" class="option-input checkbox"/> 
			만 14세 이상입니다
		</label>
	</div>
	<!-- [3.7 출생년도] -->
	<div class="joinBirth login-form-group">
		<select id="birthYear" name="birthYear" class="form-control playvoice-form" 
			th:with="thisYear=${#dates.year(#dates.createToday())}" disabled>
			<option value="0">출생년도</option>
			<option th:each="year:${#numbers.sequence(thisYear-80, thisYear-14)}" 
				th:value="${year}">[[${year}]]</option>
		</select>
	</div>
	<!-- [3.8 약관 동의] -->
	<div class="login-form-group guide confirm-check">
		<label>
			<input id="agreementOK" type="checkbox" class="option-input checkbox"/> 
			이용약관 및 개인정보처리방침에 동의합니다.<br class="d-xl-none">
			<span class="terms-cover">
				[<a th:href="@{/terms/policy}" target="_blank" 
					class="group-join">이용약관</a> /
				<a th:href="@{/terms/privacy}" target="_blank" 
					class="group-join">개인정보처리방침</a>]
			</span>
		</label>
	</div>
	<!-- [3.9 가입 버튼] -->
	<div class="welcome-index-button-section">
		<div class="button-cover">
			<button id="addMemberBtn" class="btn btn-join" type="submit" disabled>
				Join
			</button>
		</div>
	</div>
	<div class="join-form-image-section"></div>
</div>
</form>
<!-- ----------------------------[4. login]--------------------------------- -->
<div class="playvoice-tts-join-section join-section">
	<span class="logo">playvoice</span> 아이디가 있나요?
	<a th:href="@{/tts}" class="btn btn-join">Login</a>
</div>
</div>




</section>


</html>