<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{/layout/playvoice_tts_layout2}">
<head>
<title>플레이보이스 TTS - 플레이보이스 | Playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaTitle = '플레이보이스 TTS - 플레이보이스 | Playvoice', 
	metaDescription = '플레이보이스 TTS는 영어 전문 TTS MP3 파일 변환 서비스입니다. 플레이보이스에는
	수십명의 다양한 성우들의 목소리가 있으며, 자신이 원하는 문장들을 고품질 음성 파일로 쉽고 간편하게 만들 수 있습니다.', 
	metaImage = '/images/common/characters/dictationbook.jpg',
	metaKeyword = 'TTS, MP3, 영어 듣기, 받아쓰기, 딕테이션, 스피킹 '"></th:block>
<!-- schema org (bread, search) -->	
<script type="application/ld+json">
[<th:block th:insert="~{/incl/meta_fragment2::schemaBread}"
	th:with="breadList = ${ {'/tts'} },
	breadName = ${ {'플레이보이스 TTS'} }"></th:block>]
</script>	

<link rel="stylesheet" th:href="@{/css/app/playvoice_tts.css}">

<script th:inline="javascript">
$(document).ready(function(){
	$("#moveAlbumListBtn").click(function(){
		location.href="/tts/myalbum/list";
	});
	  
}); //end of ready
/* ----------------------------------------------------------------------------- 
*							Handling page event
* --------------------------------------------------------------------------- */

</script>

</head>

<section layout:fragment="content" 
	class="playvoice-layout-mobile-section mobile-container-mode">

<!-- tts mobile header -->
<header id="playvoiceMobileHeader" class="playvocie-mobile-header-position" 
	th:insert="~{/tts/incl/tts_header2::header}"></header>

<!-- tts PC top menu -->
<div th:replace="~{/tts/incl/tts_menu2::pcTopMenu}"></div>
	
<div class="index-tts-menu-section">
	<!-- [1.1 나의 앨범] -->
	<div class="index-tts-menu-cover my-album">
		<div class="index-player-cover row no-gutters">
			<label class="col-auto align-self-center">
				<i class="fa fa-compact-disc"></i>
			</label>
			<div class="px-3 col">
				<div class="album-title">My New Album</div>
				<div class="album-detail" style="display: none;">2020 7월 토익 LC</div>
				<div class="album-detail none">
					아직 앨범이 없습니다. TTS 성우들과 음성 파일을 만들어 보세요!
				</div>
			</div>
			<div class="col-auto align-self-center">
				<button id="moveAlbumListBtn" class="btn btn-play" type="button">
					<i class="fa fa-play"></i>
				</button>
				<button id="movePlayListBtn" class="btn btn-play" 
					type="button" style="display: none;">
					<i class="fa fa-play"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- [1.2 tts text 입력 메뉴] -->
	<ul class="divide-line index-tts-menu-cover row no-gutters">
		<li class="add-file-menu-cover col-6">
			<a class="link-box" th:href="@{/tts/file/add?extension=text}">
				<label class="icon-cover"><i class="fa fa-pencil-alt"></i></label>
				<span class="title-cover">직접 입력</span>
			</a>
		</li>
		<li class="add-file-menu-cover col-6">
			<a class="link-box" th:href="@{/tts/file/add?extension=txt}">
				<label class="icon-cover"><i class="far fa-file-alt"></i></label>
				<span class="title-cover">텍스트 파일 등록</span>
			</a>
		</li>
		<li class="add-file-menu-cover col-6">
			<a class="link-box" th:href="@{/tts/file/add?extension=pdf}">
				<label class="icon-cover"><i class="far fa-file-pdf"></i></label>
				<span class="title-cover">PDF, WORD<br>파일 등록</span>
			</a>
		</li>
		<li class="add-file-menu-cover col-6">
			<a class="link-box" th:href="@{/tts/file/add?extension=image}">
				<label class="icon-cover"><i class="far fa-file-image"></i></label>
				<span class="title-cover">이미지 등록</span>
			</a>
		</li>
	</ul>
</div>
	
<!-- tts menu -->
<div th:replace="~{/tts/incl/tts_menu2::bottomMenu}"></div>


</section><!-- end of content -->



</html>