<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{/layout/playvoice_tts_layout}">
<head>
<title>플레이보이스 TTS - 플레이보이스 | Playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment::meta}"
	th:with="metaTitle = '플레이보이스 TTS - 플레이보이스 | Playvoice', 
	metaDescription = '플레이보이스 TTS는 영어 전문 TTS MP3 파일 변환 서비스입니다. 플레이보이스에는
	수십명의 다양한 성우들의 목소리가 있으며, 자신이 원하는 문장들을 고품질 음성 파일로 쉽고 간편하게 만들 수 있습니다.', 
	metaImage = '/images/common/characters/pictionary.jpg',
	metaKeyword = 'TTS, MP3, 영어 듣기, 받아쓰기, 딕테이션, 스피킹 '"></th:block>
	
<link rel="stylesheet" th:href="@{/css/app/playvoice_tts.css}">

<script th:src="@{/js/app/playvoice_audio.js}"></script>

<script th:inline="javascript">
var remainCreateCount = 0; // 남은 파일 생성 개수
var maxSentLength = 0;
$(document).ready(function(){
	// [1. 화면 진입 세팅]-----------------------------------------------------------
	var createdCount = js.userContainer.deviceStorage.createdCount;
	remainCreateCount = (/*[[${availableNum}]]*/ 5) - createdCount;
	maxSentLength = ('GP'.indexOf(js.userContainer.memberType) > -1) ? 1000 : 150;
	$('.remainCreateCount').text(remainCreateCount);
	$('.maxSentLength').text(maxSentLength);
	$('#sentenceListDiv .sentenceCover:lt(' + remainCreateCount + ')').addClass('admit');
	
	// [1.1 헤더 제목, 스텝 세팅]------------------------------------------------------
	setHeaderTitle("Editing Sentences", 2);
	
	// [1.2 예문 textarea 높이 자동 setting, 예문 글자 수 표시]------------------------------
	$("#listParcingSentencesSection .sentenceForm").each(function(i, obj){
		adjustHeight($(obj)); // textarea 높이 조정
	});
	// [1.3 화면 진입 시 체크박스 모두 default 상태로 두기(뒤로 가기 했을 경우 체크가 남아있는 문제)]--------
	$("#sentenceListDiv .sentenceCheck").prop("checked", false);

	// [캐릭터 가이드 멘트 보이기]-------------------------------------------------------
	$("#characterGuide").click(function(){
		if($(this).is(".ment")) {
			$(this).removeClass("ment");
		} else {
			$(this).addClass("ment");
		}
	});
	
	// [체크박스 전체 선택]-----------------------------------------------------------
	$("#checkAll").click(function(){
		if($(this).is(":checked")) {
			$("#sentenceListDiv .sentenceCheck").prop("checked", true);
		} else {
			$("#sentenceListDiv .sentenceCheck").prop("checked", false);
		}
	});
	
	// [체크한 예문 개수 편집 컨트롤러에 표시]-----------------------------------------------
	$(document).on("change", ".sentenceCheck, #checkAll", function(){
		var checkCount = $("#sentenceListDiv .sentenceCheck:checked").length;
		$("#countSelected").text(checkCount);
		if(checkCount > 0) {
			$("#groupingSentBtn, #deleteSentBtn").prop("disabled", false);
			$("#controlParcingSentencesDiv").show();
			$(".mobile-index-background-wave, .hiddenCheck").hide();
		} else {
			$("#groupingSentBtn, #deleteSentBtn").prop("disabled", true);
			$("#controlParcingSentencesDiv").hide();
			$(".mobile-index-background-wave, .hiddenCheck").show();
		}
	});
	
	// [예문 복사하기]--------------------------------------------------------------
	$(document).on("click", ".cloneSentence", function(){
		var parentCover = $(this).closest(".sentenceCover");
		var sentenceForm = parentCover.find(".sentenceForm");
		sentenceForm.select();
		try {  
			var successful = document.execCommand('copy'); 
			parentCover.find(".copy-sentence-section").addClass("active")
			setTimeout(function() {
				parentCover.find(".copy-sentence-section").removeClass("active")
			}, 1000);
		} catch (err) { 
			alert('이 브라우저는 지원하지 않습니다.') 
		} 
		sentenceForm.blur(); 
	});

	// [예문 선택 후 합치기]-----------------------------------------------------------
	$("#groupingSentBtn").click(function(){
		pushBeforeParaStorage() // 편집 전 예문 저장
		var msg = "";
		if($("#sentenceListDiv .sentenceCheck:checked").length < 2) {
			msg = "병합할 예문을 2개 이상 선택해 주세요.";
			openTTSModal(msg, 'alert');
			return;
		}
		var parentCover;
		var composeSent = "";
		var firstIndex;
		$("#sentenceListDiv .sentenceCheck:checked").each(function(i, obj){
			var sentIndex = $(obj).attr("data-count");
			parentCover = $(obj).closest(".sentenceCover");
			var sentArea = $("#textForm" + sentIndex);
			if(i == 0) {
				composeSent += sentArea.val().trim();
				firstIndex = sentIndex;
				parentCover.addClass("active");
			} else {
				composeSent += " " + sentArea.val().trim();
				parentCover.remove();
			}
		});
		
		var targetForm = $("#textForm" + firstIndex);
		
		targetForm.val(composeSent);
		
		adjustHeight(targetForm); // textarea 높이 자동 조정
		arrangeSentenceIndex(0); // 예문 순서 재정렬
		setTimeout(function() {
			$(".sentenceCover").removeClass("active");
		}, 1000);
	});

	// [예문 선택 후 삭제하기]----------------------------------------------------------
	$("#deleteSentBtn").click(function(){
		pushBeforeParaStorage() // 편집 전 예문 저장
		var msg = "";
		var checkedSize = $("#sentenceListDiv .sentenceCheck:checked").length;
		var paraSentLength = $("#sentenceListDiv .sentenceCover").length;
		if(checkedSize < 1) {
			msg = "삭제할 예문을 선택해 주세요.";
			openTTSModal(msg, 'alert');
			return;
		} else if (checkedSize == paraSentLength) {
			msg = "예문은 모두 삭제할 수 없습니다.";
			openTTSModal(msg, 'alert');
			return;
		}
		var parentCover;
		var parentCoverList = [];
		$("#sentenceListDiv .sentenceCheck:checked").each(function(i, obj){
			parentCover = $(obj).closest(".sentenceCover");
			parentCover.addClass("remove");
			parentCoverList.push(parentCover);
		});
		setTimeout(function() {
			for(i = 0; i < parentCoverList.length; i++) {
				parentCoverList[i].remove();
			}
			arrangeSentenceIndex(0); // 예문 순서 재정렬
		}, 400);
	});

	// [textarea에 예문 입력 (입력 폼으로 이동)]-------------------------------------------
	$("#listParcingSentencesSection").on("click", ".sentenceForm", function(){
		var parentDiv = $(this).closest(".sentenceCover");
		var sentenceForm = parentDiv.find(".sentenceForm").clone();
		var sentenceBack = parentDiv.find(".sentenceBack").clone();
		var formIndex = parentDiv.find(".sentenceCheck").attr("data-count");
		
		var sentPasteArea = $("#editParaSentSection").find("#sentenceEngFormDiv");
		sentPasteArea.empty();
		
		sentenceBack.appendTo(sentPasteArea);
		sentenceForm.appendTo(sentPasteArea);
		
		$("#editParaSentSection").find("#editFormIndex").val(formIndex);
		$("html").addClass("modalOpen");
		$("#editParaSentSection").show();
		location.hash = "#editForm";
		
		var text = sentenceForm.val();
		var target = $("#editParaSentSection").find(".textSize");
		getSizeOfText(text, target);
		
		sentPasteArea.show();
		$("#editParaSentSection").find(".textSize").css("opacity", "1");
		sentenceForm.focus();
	});

	// [영어 예문 입력 시 글자 수 세기]----------------------------------------------------
	$("#editParaSentSection").on("input", ".sentenceForm", function(){
		var text = $(this).val();
		var target = $("#editParaSentSection").find(".textSize");
		getSizeOfText(text, target);
	});
	
	// [예문 수정 폼 닫기]------------------------------------------------------------
	$(window).on("hashchange", function(){
		if (location.hash != "#editForm") {  
			$("html").removeClass("modalOpen");
			$("#editParaSentSection").hide();
		}
	});

	// [예문 수정하기]--------------------------------------------------------------
	$("#editParaSentBtn").click(function(){
		pushBeforeParaStorage() // 편집 전 예문 저장
		
		var formIndex = $("#editParaSentSection").find("#editFormIndex").val();
		var engSent = $("#editParaSentSection").find(".sentenceForm").val();
		
		var parentDiv = $("#sentenceListDiv").find(".sentenceCover").eq(formIndex - 1);
		var sentenceForm = parentDiv.find(".sentenceForm");
		sentenceForm.css("height", "24px").val(engSent);
		parentDiv.find(".sentenceBack").text(engSent);
		
		adjustHeight(sentenceForm);
		history.back(-1);
	});

	// [예문 form 추가]------------------------------------------------------------
	$("#addFormBtn").click(function(){
		pushBeforeParaStorage(); // 편집 전 예문 저장
		
		var $copyDiv = $("#copyDivSection .sentenceCover").clone();
		$copyDiv.appendTo("#sentenceListDiv");
		$copyDiv.find(".textSize").text("0");
		arrangeSentenceIndex(0); // 예문 순서 재정렬
		scrollTop : $(document).height();
	});
	
	// [편집 이전으로 되돌리기]---------------------------------------------------------
	$(".returnSentBtn").click(function(){
		getBeforeParaStorage();
	});
	
	// [모달창 닫기]----------------------------------------------------------------
	$(".closeAlertModal").click(function(){
		$("html").removeClass("modalOpen");
		$("#ttsAlertModal").hide();
	});
	
	// [뒤로 가기 (파일 등록 페이지로 이동)]------------------------------------------------
	$("#backAddFileBtn").click(function(){
		history.back(-1);
	});
	
	// [성우 선택 페이지로 이동 (next 버튼 클릭)]-------------------------------------------
	$("#choiceActorBtn").click(function(){
		var checkedSize = $("#sentenceListDiv .sentenceCheck:checked").length;
		var allSentSize = $("#sentenceListDiv .sentenceCheck").length;
		var msg = "";
		if(checkedSize > 0) {
		//1. 변환할 예문을 선택한 경우 (1.1 남은 생성횟수 확인, 1.2 문장 길이 확인)
			if(checkedSize > remainCreateCount) {
				msg = "오늘 남은 파일 생성 개수는 <b>" + remainCreateCount + 
					"개</b>입니다.<br>다시 선택해 주세요.";
				openTTSModal(msg, 'alert');
				return;
			} else {
				msg = checkedSize + "개의 예문을<br>음성 변환 예문으로 선택하였습니다.";
				openTTSModal(msg, 'submit');
			}
		} else {
		//2. 변환할 예문을 선택하지 않은 경우 (2.1 위의 파란 부분을 TTS로 변환할 건지 확인, 2.2 문장 길이 확인)
			var admitSent = "";
			if(remainCreateCount > 1) {
				admitSent = "1 ~ " + ((allSentSize > remainCreateCount)? remainCreateCount : allSentSize);
			} else {
				admitSent = "1";
			}
			msg = "음성으로 변환할 예문을 선택하지 않았습니다.<br>허용 영역의 <b>" + admitSent + 
				"번</b> 예문을<br>음성 변환 예문으로 선택합니다.";
			openTTSModal(msg, 'confirm');
		}
	});
	$("#confirmParaSelectBtn").click(function() {
		$("#sentenceListDiv .sentenceCheck").each(function(i, obj){
			if(i < remainCreateCount) {
				$(obj).prop("checked", true);
			}
		});
		checkSelectedSentLength();
	});
	$("#submitParaSelectBtn").click(function() {
		checkSelectedSentLength();
	});
	 
	
}); //end of ready
/* ----------------------------------------------------------------------------- 
*					editing sentence Handling page event
* --------------------------------------------------------------------------- */

/**
 * header title settion
 */
function setHeaderTitle(title, index) {
	var titleSection = $("#playvoiceMobileHeader").find(".tts-logo");
	var indexSection = $("#playvoiceMobileHeader").find(".index");
	titleSection.text(title);
	indexSection.text(index);
}

/**
 * 모달 창 열기
 */
function openTTSModal(msg, kind){
	$("#ttsAlertModal #msgSection").html("").html(msg);
	if(kind == 'alert') {
		$("#ttsAlertModal .alertFooter").show();
		$("#ttsAlertModal .confirmFooter, #ttsAlertModal .submitFooter").hide();
	} else if (kind == 'confirm') {
		$("#ttsAlertModal .confirmFooter").show();
		$("#ttsAlertModal .alertFooter, #ttsAlertModal .submitFooter").hide();
	} else {
		$("#ttsAlertModal .submitFooter").show();
		$("#ttsAlertModal .alertFooter, #ttsAlertModal .confirmFooter").hide();
	}
	$("html").addClass("modalOpen");
	$("#ttsAlertModal").show();
}

/**
 * textarea 높이 자동 조정 (예문을 수정할 때 예문 전체를 보이게 하기 위해)
 */
function adjustHeight(obj) {
	var backDiv = $(obj).closest(".sentenceCover").find(".sentenceBack");
	var textEleHeight = $(obj).prop('scrollHeight');
	var text = $(obj).val();
	var target = $(obj).closest(".sentenceCover").find(".textSize");
	$(obj).css("height", textEleHeight);
	backDiv.css("height", textEleHeight);
	
	getSizeOfText(text, target);
	changeDangerFont(text, target);
};

/**
 * 예문 순서 재정렬 (예문을 삭제 또는 병합 했을 경우 index 번호를 재정렬한다)
 */
function arrangeSentenceIndex(index) {
	// 예문 편집 영역
	$(".sentenceCover").removeClass("admit");
	$(".sentenceCover").each(function(i, obj){
		var indexNum = $(obj).find(".sentIndex");
		var checkbox = $(obj).find(".sentenceCheck");
		var textForm = $(obj).find(".sentenceForm");
		indexNum.text(i + 1);
		checkbox.attr("data-count", (i + 1));
		textForm.attr("id", "textForm" + (i + 1));
		getSizeOfText(textForm.val(), $(obj).find(".textSize"));
		if(i < remainCreateCount) {
			$(obj).addClass("admit");
		}
	});
	resetCheckbox(0); // 체크박스 리셋
};

/**
 * 삭제, 병합, 추가 버튼 클릭 때 예문 편집 내용을 리스트에 저장 (되돌리기 기능 목적)
 */
var beforeParaList = [];
var paraDataSize = 0;
function pushBeforeParaStorage() {
	paraDataSize++;
	var $copyParaDiv = $("#listParcingSentencesSection #sentenceListDiv").clone();
	beforeParaList.push($copyParaDiv);
	if(paraDataSize > 0) {
		$(".returnSentBtn").prop("disabled", false);
	}
}

/**
 * 배열에 담아 둔 편집 전 예문으로 되돌리기
 */
function getBeforeParaStorage() {
	var $copyParaDiv = beforeParaList[paraDataSize - 1];
	$("#listParcingSentencesSection #sentenceListDiv").replaceWith($copyParaDiv);
	beforeParaList.pop();
	paraDataSize--;
	if(paraDataSize < 1) {
		$(".returnSentBtn").prop("disabled", true);
	}
	resetCheckbox(0); // 체크박스 리셋
}

/**
 * 체크박스 리셋
 */
function resetCheckbox(index) {
	$(".sentenceCheck, #checkAll").prop("checked", false);
	$("#groupingSentBtn, #deleteSentBtn").prop("disabled", true);
	$("#countSelected").text(0);
}

/**
 * 글자 수 센 후 표시
 */
function getSizeOfText(textValue, target) {
	var textSize;
	if(textValue == null) {
		textSize = 0;
	} else {
		textSize = textValue.length;
		changeDangerFont(textValue, target);
	}
	$(target).text("").text(textSize);
	if(textSize > maxSentLength) {
		$(target).closest(".sentenceCover").addClass("over");
	} else {
		$(target).closest(".sentenceCover").removeClass("over");
	}
}

/**
 * 한 파일 당 초과한 글자수 배경색으로 표시
 */
function changeDangerFont(textValue, target) {
	var textSize = textValue.length;
	textValue = textValue.replace(/(<([^>]+)>)/gi, "");
	if (textSize > maxSentLength) {
		var text0 = textValue.substring(0, maxSentLength);
		var text1 = textValue.substring(maxSentLength);
		textValue = text0 + "<b>" + text1 + "</b>";
	}
	$(target).closest(".sentenceCover").find(".sentenceBack").html(textValue);
}

/**
 * 체크한 예문의 글자 수 초과 여부 확인 후 성우 선택 페이지로 이동
 */
function checkSelectedSentLength() {
	var overParaSize = 0;
	$("#sentenceListDiv .sentenceCheck:checked").each(function(i, obj){
		var parentCover = $(obj).closest(".sentenceCover");
		var sentLength = parentCover.find(".sentenceForm").val().length;
		if(sentLength > maxSentLength) {
			overParaSize++;
		} 
	});
	if(overParaSize > 0) {
		msg = "선택한 예문 중<br>" + maxSentLength + "자를 넘는 예문이 <b>" + 
				overParaSize + "개</b> 있습니다.<br>다시 확인해 주세요.";
		openTTSModal(msg, 'alert');
		return;
	} else {
		submitParaSent();
	}
}

/**
 * 성우 선택 페이지로 이동
 */
function submitParaSent() {
	var selectedSent = $("#sentenceListDiv .sentenceCheck:checked");
	
	var param_sentenceList = [];
	selectedSent.each(function(i, obj){
		var $parentDiv = $(obj).closest(".sentenceCover");
		var text = $parentDiv.find(".sentenceForm").val();
		var trans = $parentDiv.find(".sentenceTrans").val();
		
		param_sentenceList.push({text: text, trans: trans});
	});
	
	var form = $("#listParcingSentencesForm")[0];
	appendData(form, js.userContainer.member.mid, 'memberId');
	appendData(form, param_sentenceList, 'sentenceList');
	form.submit();
}

</script>



</head>


<section layout:fragment="content" 
	class="edit-parcing-sentence-list-section mobile-container-mode">
<div class="modalFadeSection">
<!-- tts header -->
<header id="playvoiceMobileHeader" th:with="headerFixed = 'fixedStatic bgMain'" 
	th:insert="~{/tts/incl/tts_header::editing_header}"></header>
	
<div id="editParcingSentencesSection">
<!-- ------------------------[1. 센텐스 수정 컨트롤 영역]--------------------------- -->
<div id="controlParcingSentencesSection" class="parcing-sentences-control-section row no-gutters">
	<!-- [1.1 전체 선택 (체크 박스)] -->
	<div class="select-sentence-section col-auto align-self-center">
		<span class="sentence-index">all</span>
		<label class="check-sentenece">
			<input id="checkAll" type="checkbox" class="option-input checkbox"/>
		</label>
	</div>
	<!-- [1.2 편집 이전으로 되돌리기] -->
	<div class="hiddenCheck select-sentence-section col-auto align-self-center">
		<button type="button" class="returnSentBtn btn btn-trans"
			disabled="disabled">
			<i class="fa fa-undo"></i>
		</button>
	</div>
	<div id="controlParcingSentencesDiv" class="parcing-sentences-control-cover 
		row no-gutters" style="display: none;">
		<!-- [1.3 체크 박스로 선택한 예문 개수] -->
		<div class="select-count-guide col align-self-center">
			<span id="countSelected" class="num">0</span> 개 선택
		</div>
		<!-- [1.4 편집 이전으로 되돌리기] -->
		<div class="delete-btn-section col-auto align-self-center">
			<button type="button" class="returnSentBtn btn btn-trans"
				disabled="disabled">
				<i class="fa fa-undo"></i>
			</button>
		</div>
		<!-- [1.5 선택한 예문 병합하기] -->
		<div class="delete-btn-section col-auto align-self-center">
			<button id="groupingSentBtn" type="button" class="btn btn-trans"
				disabled="disabled">
				<i class="fa fa-object-group"></i> <span>병합</span>
			</button>
		</div>
		<!-- [1.6 선택한 예문 삭제하기] -->
		<div class="delete-btn-section col-auto align-self-center">
			<button id="deleteSentBtn" type="button" class="btn btn-trans"
				disabled="disabled">
				<i class="fa fa-trash-alt"></i> <span>삭제</span>
			</button>
		</div>
	</div><!-- end of controlParcingSentencesDiv -->
</div><!-- end of controlParcingSentencesSection -->

<form id="listParcingSentencesForm" th:attr="action=@{/tts/actor/select}" method="post">
<!-- ------------------------[2. 파싱한 예문 리스트 영역]--------------------------- -->
<div id="listParcingSentencesSection" class="parcing-sentences-section">
	<!-- [2.1 가이드] -->
	<div class="edit-sentence-guide">
		<div><i class="fa fa-square"></i>
			한 파일 당 글자 수 : <b class="maxSentLength"></b> 자 (공백 포함)
		</div>
		<div><i class="fa fa-square"></i>
			오늘 생성 가능한 파일 개수 : 
			<span class="remain remainCreateCount"></span> 개
			/ <span th:text="${availableNum}"></span>
		</div>
		<div id="characterGuide" class="TY-slice-animation">
			<div class="guide">
				예문을 잘게 잘게!<br>
				<b>반복 듣기</b>가 편한 형태로 편집하는 것이 어떨까요?
			</div>
			<div class="character-cover"></div>
		</div>
	</div>
	
	<div id="sentenceListDiv" class="parcing-sentences-list-cover">
		<!-- [2.2 파일 업로드로 예문을 받아 왔을 경우] -->
		<div th:if="${sentenceList}" th:each="simpleSentence, iter : ${sentenceList}" 
			class="sentenceCover parcing-sentences-cover row no-gutters">
			<!-- 예문 선택 체크박스 -->
			<div class="select-sentence-section col-auto">
				<span th:text="${iter.count}" class="sentIndex sentence-index"></span>
				<label class="check-sentenece">
					<input th:data-count="${iter.count}" type="checkbox" 
						class="sentenceCheck option-input checkbox"/>
				</label>
				<div class="text-size-cover">
					<label class="textSize"></label>
				</div>
				<input type="hidden" class="sentenceTrans"/>
			</div>
			<div class="background-section col row no-gutters">
				<!-- 예문 text -->
				<div class="sentence-text-section col">
					<div class="sentenceBack background-text formEdit">[[${simpleSentence.text}]]</div>
					<textarea th:id="'textForm' + ${iter.count}" 
						placeholder="영어 문장을 입력해 주세요." class="sentenceForm form-control 
						playvoice-form">[[${simpleSentence.text}]]</textarea>
				</div>
				<!-- 예문 복사 -->
				<div class="copy-sentence-section col-auto">
					<div>
						<i class="cloneSentence far fa-clone"></i>
						<div class="clone-guide-msg">복사 완료</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [2.3 직접 입력으로 예문을 입력할 경우] -->
		<div th:unless="${sentenceList}" 
			class="sentenceCover parcing-sentences-cover row no-gutters admit">
			<!-- 예문 선택 체크박스 -->
			<div class="select-sentence-section col-auto">
				<label>
					<span class="sentIndex sentence-index">1</span>
					<input data-count="1" type="checkbox" 
						class="sentenceCheck option-input checkbox"/>
				</label>
				<div class="text-size-cover">
					<label class="textSize"></label>
				</div>
			</div>
			<!-- 예문 text -->
			<div class="sentence-text-section col">
				<div class="sentenceBack background-text"></div>
				<textarea id="textForm1" placeholder="영어 문장을 입력해 주세요."
					class="sentenceForm form-control playvoice-form"></textarea>
			</div>
			<!-- 예문 복사 -->
			<div class="copy-sentence-section col-auto">
				<div>
					<i class="cloneSentence far fa-clone"></i>
					<div class="clone-guide-msg">복사 완료</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [2.4 예문 폼 추가] -->
	<div class="senence-form-button-section">
		<button id="addFormBtn" class="btn btn-plus" type="button">
			<i class="fa fa-plus"></i>
		</button>
	</div>
</div><!-- end of listParcingSentencesSection -->
</form>

<!-- -----------------------------[3. 버튼 영역]------------------------------- -->
<div id="listParcingButtonsSection" class="list-parcing-buttons-section">
	<!-- [3.1 다음으로 (성우 선택 페이지로 이동)] -->
	<div class="button-cover">
		<button id="choiceActorBtn" class="btn btn-next" type="button">
			next
		</button>
	</div>
</div><!-- end of listParcingButtonsSection -->


<!-- ---------------------------[4. 예문 수정 영역]------------------------------ -->
<div id="editParaSentSection" class="edit-sentence-page-section" style="display: none;">
	<!-- [4.1 예문 수정 컨트롤] -->
	<div class="edit-sentence-page-div">
		<div class="edit-sentence-page-header row no-gutters">
			<div class="back-button-cover col">
				<button onclick="history.back(-1)" class="btn btn-trans" type="button">
					<i class="fa fa-angle-left fa-fw"></i>
				</button>
			</div>
			<div class="edit-title col-auto">Editing Text</div>
			<div class="col"></div>
		</div>
	</div>
	<!-- [4.2 예문 수정 폼] -->
	<div class="sentenceCover sentence-form-div">
		<input id="editFormIndex" type="hidden"/>
		<div class="text-size">
			<span class="textSize"></span> / <span class="maxSentLength"></span>
		</div>
		<div id="sentenceEngFormDiv" class="sentence-form"></div>
	</div>
	<!-- [4.3 버튼] -->
	<div class="edit-button-cover button-cover">
		<button id="editParaSentBtn" class="btn btn-confirm" type="button">편집 완료</button>
	</div>
</div><!-- end of editParaSentSection -->

</div>


</div>

<!-- -----------------------[3. TTS alert modal]---------------------------- -->
<div id="ttsAlertModal" class="playvoice-mobile-modal-section modal-alert" style="display: none;">
	<div class="closeAlertModal inform-modal-back"></div>
	<div class="inform-modal-content bg-tts-main1">
		<div id="msgSection" class="inform-modal-body"></div>
		<div class="alertFooter inform-modal-footer row no-gutters">
			<div class="button-cover col">
				<button class="closeAlertModal btn-mobile btn-main2" 
					type="button">확인</button>
			</div>
		</div>
		<div class="submitFooter inform-modal-footer row no-gutters">
			<div class="button-cover col">
				<button id="submitParaSelectBtn" class="btn-mobile btn-main2" 
					type="button">확인</button>
			</div>
			<div class="button-cover col">
				<button class="closeAlertModal btn-mobile btn-main2" 
					type="button">취소</button>
			</div>
		</div>
		<div class="confirmFooter inform-modal-footer row no-gutters">
			<div class="button-cover col">
				<button id="confirmParaSelectBtn" class="btn-mobile btn-main2" 
					type="button">확인</button>
			</div>
			<div class="button-cover col">
				<button class="closeAlertModal btn-mobile btn-main2" 
					type="button">취소</button>
			</div>
		</div>
	</div>
</div><!-- end of requestRefundModal -->


<!-- ----------------------------------------------------------------------- -->
<!-- -------------------------[copy div section]---------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<div id="copyDivSection" style="display: none;">
	<!-- ---------------------[1. 예문 form]---------------------------------- -->
	<div class="sentenceCover parcing-sentences-cover row no-gutters">
		<!-- 예문 선택 체크박스 -->
		<div class="select-sentence-section col-auto">
			<span class="sentIndex sentence-index"></span>
			<label class="check-sentenece">
				<input data-count="" type="checkbox" 
					class="sentenceCheck option-input checkbox"/>
			</label>
			<div class="text-size-cover">
				<label class="textSize">0</label>
			</div>
			<input type="hidden" class="sentenceTrans"/>
		</div>
		<div class="background-section col row no-gutters">
			<!-- 예문 text -->
			<div class="sentence-text-section col">
				<div class="sentenceBack background-text"></div>
				<textarea placeholder="영어 문장을 입력해 주세요."
					class="sentenceForm form-control playvoice-form"></textarea>
			</div>
			<!-- 예문 복사 -->
			<div class="copy-sentence-section col-auto">
				<div>
					<i class="cloneSentence far fa-clone"></i>
					<div class="clone-guide-msg">복사 완료</div>
				</div>
			</div>
		</div>
	</div><!-- end of 예문 form -->

</div>	


<!-- tts bottom menu -->
<div th:replace="~{/tts/incl/tts_menu::bottomMenu}"></div>	

</section><!-- end of content -->
</html>