<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/admin_basic_layout}">

<head>
	<title>List Sentence</title>
	<link rel="stylesheet" th:href="@{/css/app/sentencebook.css}">
	
	<script th:src="@{/js/public/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/public/bootstrap-datepicker.kr.js}"></script>
	<script th:src="@{/js/app/sentencebook.js}"></script>
	
<script th:inline="javascript">

$(document).ready(function() {
	//[테이블 데이터(eng) 클릭시 상세보기]--------------------------------------------------
	$('.resultWrapper').on('click', '.sentenceDetail', function(e) {
		e.preventDefault();
		
		//상세보기 폼 열기
		$('.sentenceDetailPart').css('display','block');
		//센텐스 정보 추출
		pickUpSentenceInfo($(this));
		//보이스 정보 조회
		displayVoiceList($('#sid').val());
		//이전에 수정을 했었ㄷ다면
		$('.successBtn').css('display', 'none');
		//상세보기/수정 폼으로 이동
		window.scroll(0, getOffsetTop(document.getElementById("editSentenceForm")));
	});
	
})//end of reday

</script>
</head>

<!-- <div layout:fragment="side-menu">
	<div th:insert="~{/admin/sentenceBook/incl/sentenceBook_menu::adminMenu}">관리자 메뉴</div>
</div> -->

<section layout:fragment="content">
<div class="row"><div class="col-12">
	<h3>예문 검색</h3>
	<!-- ----------------[inclule : Search Sentence Form]------------------- -->
	<div  id="searchSentenceDiv" th:insert="~{/admin/sentenceBook/incl/search_sentence::search_sentence}" ></div>
	<!-- ------------------------------------------------------------------- -->
	
	
	<!-- ----------------[inclule : Search Sentence Form]------------------- -->
	<div  id="searchSentenceDiv2" th:insert="~{/admin/sentenceBook/incl/search_sentence::search_sentence}" ></div>
	<!-- ------------------------------------------------------------------- -->
	
</div></div> <!--/* end of 예문 목록 */-->
	
	
<!--/* =====================[예문 상세 보기/보이스 목록/ 보이스 수정 및 삭제]====================== */-->	
<div class="sentenceDetailPart row" style="display:none"><div class="col-12">
	
	<div class="formContainer" id="eidtSentenceFormContainer">
		<h3>
			View Detail &amp; Editing Sentence Form <button type="button" class="btn btn-info btn-xs successBtn" style="display:none">
			<span class="glyphicon glyphicon-ok"></span> SUCCESS</button>
			<span>Please fill the text in the field.</span>
		</h3>
		<div class="resMsgs" style="display:none;">
			<h3>
				Response Messages
				<span>Your request was processed.</span>
			</h3>
			<pre>[[${resMsgs}]]</pre>
		</div>
		<!--/*---------------------------- [Sentence 상세 정보 폼]-------------------------------*/-->
		<form th:action="@{/sentenceBook/edit}" method="post" class="form-horizontal" id="editSentenceForm">
			<div class="row">
				<div class="col-12">
					<div class="form-group row">
						<label for="sid" class="col-2 control-label headerLabel text-right">SID</label>
						<div class="col-10">
							<input type="text" id="sid" name="sid" class="form-control" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="eng" class="col-2 control-label headerLabel text-right">영어</label>
						<div class="col-10">
							<input type="text" id="eng" name="eng" class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="kor" class="col-2 control-label headerLabel text-right">한국어</label>
						<div class="col-10">
							<input type="text" id="kor" name="kor" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label for="voiceExist" class="col-2 control-label headerLabel text-right">보이스</label>
						<div class="col-10">
							<input type="text" id="voiceExist" name="voiceExist" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label for="cateExist" class="col-2 control-label headerLabel text-right">카테고리</label>
						<div class="col-10">
							<input type="text" id="cateExist" name="cateExist" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label for="source" class="col-2 control-label headerLabel text-right">출처</label>
						<div class="col-10 ">
							<input type="text" id="source" name="source" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label for="firstWriter" class="col-2 control-label headerLabel text-right">작성자</label>
						<div class="col-10 ">
							<input type="text" id="firstWriter" name="firstWriter" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<label for="regDate" class="col-2 control-label headerLabel text-right">등록일</label>
						<div class="col-10 ">
							<!-- <input type="text" id="regDate" name="regDate" class="form-control" /> -->
							<p id="regDate" class="form-control-static"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="editSubmitDiv">
				<div class="col-12">
					<div class="form-group row">
						<div class="ml-auto col-10">
							<input type="button" id="editSentenceBtn" value="Edit" class="btn btn-primary"/>
							<!--/* <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> */-->
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<!--/*---------------------------- [등록된 Voice 목록 정보]-------------------------------*/-->
		<div class="row no-gutters" style="margin: 20px 0px 0px 0px;">
			<div class="col-12" id="existingVoiceList" style="display: block">
				<table class="table table-bordered table-sm table-hover text-center" id="voiceListTable">
					<thead>
					<tr class="thead">
						<th>VID</th>
						<th>대표</th>
						<th>구분</th>
						<th>속도</th>
						<th>성별</th>
						<th>액센트</th>
						<th>출처</th>
						<th>파일</th>
						<th>등록일</th>
						<th>편집</th>
					</tr></thead>
					<tbody id="voiceList"><!--/* 기존 등록된 보이스 목록 */--></tbody>
				</table>
			</div>
		</div>
		
		<!--/*---------------------------- [Voice 정보 수정 폼]-------------------------------*/-->
		<form method="post" class="form-horizontal" id="editVoiceForm" style="display:none">
			<div id="sentenceDiv0" class="row my-2">
				<div class="col-12">
					<div class="form-group row">
						<label for="demo" class="col-2 control-label headerLabel text-right">VID</label>
						<div class="col-10">
							<label class="checkbox-inline">
 								<input type="text" id="vid" name="vid" />
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="demo" class="col-2 control-label headerLabel text-right">대표 보이스</label>
						<div class="col-10">
							<label class="checkbox-inline">
 								<input type="checkbox" name="demo" />
 								<input type="hidden" value="on" name="_demo"/>
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="source" class="col-2 control-label headerLabel text-right">구분</label>
						<div class="col-10 ">
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="TTS1"/><span>무료TTS</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="TTS2" /><span>유료TTS</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="MV" /><span>Movie/Drama</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="YOU" /><span>YouTube</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="TED" /><span>TED</span>
							</label><br>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="LV" /><span>라이센스 보이스</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="MV" /><span>회원 보이스</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="DV" /><span>기증자 보이스</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceType" value="ETC" /><span>기타</span>
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="source" class="col-2 control-label headerLabel text-right">속도</label>
						<div class="col-10 ">
							<label class="radio-inline">
 								<input type="radio" name="voiceRate" value="A"/><span>학습용</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceRate" value="B" /><span>일반대화</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceRate" value="C" /><span>빠른대화</span>
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="source" class="col-2 control-label headerLabel text-right">액센트</label>
						<div class="col-10 ">
							<label class="radio-inline">
								<input type="radio" name="accent" value="US" checked="checked"/><span>미국</span>
							</label>
							<label class="radio-inline">
								<input type="radio" name="accent" value="CA" /><span>캐나다</span>
							</label>
							<label class="radio-inline">
								<input type="radio" name="accent" value="UK"/><span>영국</span>
							</label>
							<label class="radio-inline">
								<input type="radio" name="accent" value="AU"/><span>호주</span>
							</label>
							<label class="radio-inline">
								<input type="radio" name="accent" value="IN"/><span>인디아</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="accent" value="KR"/><span>한국</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="accent" value="EU"/><span>유럽</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="accent" value="ASA" /><span>아시아</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="accent" class="accent-etc" value="ETC"/><span>기타</span>
								<input type="text" class="accent-text" placeholder="국가코드 입력"/>
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="source" class="col-2 control-label headerLabel text-right">성별</label>
						<div class="col-10 ">
							<label class="radio-inline">
 								<input type="radio" name="voiceSex" value="M"/><span>남자</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceSex" value="W"/><span>여자</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceSex" value="B"/><span>남자 아이</span>
							</label>
							<label class="radio-inline">
 								<input type="radio" name="voiceSex" value="G"/><span>여자 아이</span>
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="firstWriter" class="col-2 control-label headerLabel text-right">출처/제공자</label>
						<div class="col-10 ">
							<input type="text" name="source"
									  placeholder="출처 URL, 회원 Id, 보이스 제공자 이름, 영화 제목, 기타 등"  class="form-control"/>
						</div>
					</div>
					<div class="form-group row">
						<label for="firstWriter" class="col-2 control-label headerLabel text-right">비고</label>
						<div class="col-10 ">
							<textarea name="description"
									  placeholder="비고"  class="form-control" ></textarea>
						</div>
					</div>
				</div>	
			</div>
			<div class="row" id="submitDiv">
				<div class="col-12">
					<div class="form-group row">
						<div class="ml-auto col-10">
							<input type="button" id="editVoiceBtn" value="Edit" class="btn btn-primary"/>
							<!--/* <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> */-->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div><!-- eidtSentenceFormContainer -->
	
</div></div><!--/* end of 예문 상세보기 */-->

<div class="text-right" style="color:red;">
	source :: search_sentences.html	
</div>
</section><!-- end of section -->

