<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- --------------------------------------------------------------------------- 
*								[영어는 왜 어려울까요?]
* -------------------------------------------------------------------------  -->
<div th:fragment="speakingEnglish">
	<!-- 캐릭터와 서브 타이틀 -->
	<div class="sub-title-section row no-gutters">
		<div class="meerkat-shape-section col-auto">
			<div class="body">
				<div class="leg-section">
					<div class="leg"></div><div class="leg second"></div>
				</div>
				<div class="tail-section">
					<div class="tail"><div class="tail">
						<div class="tail"><div class="tail">
							<div class="tail last"></div>
						</div></div>
					</div></div>
				</div>
			</div>
			<div class="arm-section">
				<div class="arm"></div><div class="arm second"></div>
			</div>
			<div class="ear-section">
				<div class="ear"></div><div class="ear second"></div>
			</div>
			<div class="head">
				<div class="eye"></div><div class="eye second"></div>
				<div class="mouse"></div>
				<div class="nose"></div>
			</div>
		</div>
		<div class="question-section">
			<i class="fa fa-question"></i>
		</div>
		<div class="quote-section col align-self-center">
			<i class="fa fa-quote-left"></i>
			내 영어는 왜 이렇게 안 늘까?
			<i class="fa fa-quote-right"></i>
		</div>
	</div>
	
	<!-- 텍스트 설명 -->
	<div class="introduce-text-section">
		아주 열심히까지는 아니더라도 <br>
		다른 것보다는 많은 노력과 시간을 들였건만<br class="d-sm-none"> 
		항상 제자리걸음이네.
	</div>
	
	<div class="intro-images-section korean"></div>
	
	<!-- 텍스트 설명 -->
	<div class="introduce-text-section">
		주변에 영어 잘하는 사람들<br>
		예전보다 훨씬 많아진 것 같고<br class="d-sm-none">
		자신감이 있어 보일 때마다<br>
		불안한건 나만 그런가.
	</div>
	
	<div class="intro-images-section academy"></div>
	
	<!-- 텍스트 설명 -->
	<div class="introduce-text-section">
		잘 나가간다는 학원도 다녀보고<br class="d-sm-none">
		좋다는 앱도 설치해보고<br class="d-sm-none">
		여러 학습법도 찾아봤지만<br>
		실력은 항상 제자리걸음<br><br>
		지금까지 방식으로 다시 공부하기는 싫고<br>
		그렇다고 무작정 무계획으로 공부할 수도 없어<br>
		정말 괜찮은 새로운 방법은 어디 없을까?
	</div>
	
	<div class="intro-images-section all-dance"></div>
	
	<div class="introduce-text-section">	
		<span class="emp"><b>영어</b>를 <b>'체육시간'</b>처럼</span><br><br>
		여러분의 친구가 운동을 잘하기 위해 체육 교과서를 외운다면<br class="d-sm-none"> 
		무슨 충고를 해 주시겠어요?<br>
		춤을 추기 위해 책상에서 춤의 이론서를 읽고<br class="d-sm-none"> 
		그 내용을 연습장에 적어 외운다면요?
	</div>
</div>





<!-- --------------------------------------------------------------------------- 
*								[playvoice]
* -------------------------------------------------------------------------  -->
<div th:fragment="playvoice">
	<div class="sub-title-section row no-gutters">
		<div class="TY-shape-section col-auto">
			<div class="mane-section">
				<div class="mane"></div>
			</div>
			<div class="bird-body">
				<div class="face-section">
					<div class="eye"></div><div class="eye"></div>
					<div class="mouse"></div>
				</div>
				<div class="arm hello"></div>
			</div>
		</div>
		<div class="quote-section col align-self-center">
			<i class="fa fa-quote-left"></i>
			영어 학습의 베이스 캠프<br class="d-sm-none">
			플레이보이스
			<i class="fa fa-quote-right"></i>
		</div>
	</div>
	
	<div class="introduce-text-section">	
		<span class="emp">플레이보이스는 <b><br class="d-sm-none">
		영어 학습에 대한 다양한 '환경'</b>을 제공합니다.</span><br><br>
		
		플레이보이스는<br>
		영어를 가르치는 곳이 아닙니다.<br>
		혼자 공부하는 곳은 더욱 아닙니다.
	</div>
	
	<div class="intro-images-section output"></div>
	
	<div class="introduce-text-section">	
		우리는 누구라도 자신의 생각을 <br class="d-sm-none">
		<b>영어로 말할 수 있는 목표</b>를 가집니다.<br><br>
		우리는 <b>학습 도구에 증명된 학습이론</b>을 결합시켜<br class="d-sm-none">
		시스템에 준비를 시킵니다.<br><br>
		여러분이 플레이보이스에서 해야 할 일은 단순합니다.
	</div>
	
	<div class="intro-images-section sky"></div>
	<div class="introduce-text-section">	
		<span class="emp">그것은 자신에게 맞는 학습을 선택한 후<br class="d-sm-none">
		<b>'영어를 진짜로 사용해 보기'</b> 입니다.</span><br><br>
		
		오랜 공부기간 동안 우리는 그것만  빼고 다 해보았습니다.<br>
		그리고 만족할 만한 결과를 얻지 못했습니다.<br><br>

		이제부터라도 보고 듣고 배운 것을<br class="d-sm-none">
		<b>사용</b>하고 <b>공유</b>해야 합니다.
	</div>
</div>





<!-- --------------------------------------------------------------------------- 
*								[플레이보이스 앱]
* -------------------------------------------------------------------------  -->
<div th:fragment="playvoiceApp">
	<div class="introduce-text-section">	
		플레이보이스에는 여러분의 학습, 공유 그리고 목표를 제시할<br>
		다양한 앱들이 있습니다.
	</div>
	
	<div class="app-appear-section intro-membership-section">
		<div class="app-menu-section" th:insert="~{/incl/app_menu::app_menu}"></div>
		<div class="laptop">
			<div class="shadow"></div>
			<div class="lid"></div>
			<div class="screen"><div class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" title="픽셔너리">
						<img src="/images/app/guide/app_pictionary.jpg" 
							class="d-block w-100" alt="Pictionary">
					</div>
					<div class="carousel-item" title="탐정 줄리">
						<img src="/images/app/guide/app_DetectiveJulie.jpg" 
							class="d-block w-100" alt="Detective Julie">
					</div>
					<div class="carousel-item" title="플레이보이스북">
						<img src="/images/app/guide/app_playvoicebook.jpg" 
							class="d-block w-100" alt="PlayvoiceBook">
					</div>
					<div class="carousel-item" title="에그 샷" 
						style="background-color: #c7e2ff;">
						<img src="/images/app/guide/app_EggShot.jpg" 
							class="d-block w-100" alt="Egg Shot">
					</div>
					<div class="carousel-item" title="죠니 덱" 
						style="background-color: #814cb6;">
						<img src="/images/app/guide/app_JohnnyDeck.jpg" 
							class="d-block w-100" alt="Johnny Deck">
					</div>
					<div class="carousel-item" title="딕테이션북">
						<img src="/images/app/guide/app_dictationbook.jpg" 
							class="d-block w-100" alt="DictationBook">
					</div>
					<div class="carousel-item" title="잉글리시 스택" 
						style="background-color: #f1f4f9;">
						<img src="/images/app/guide/app_babel_eng.jpg" 
							class="d-block w-100" alt="babel">
					</div>
					<div class="carousel-item" title="코리안 스택" 
						style="background-color: #f8f1f9;">
						<img src="/images/app/guide/app_babel_kor.jpg" 
							class="d-block w-100" alt="babel">
					</div>
					<div class="carousel-item" title="다이제스트">
						<img src="/images/app/guide/app_digest.jpg" 
							class="d-block w-100" alt="digest">
					</div>
					<div class="carousel-item" title="그래머북">
						<img src="/images/app/guide/app_grammarBook.jpg" 
							class="d-block w-100" alt="grammarBook">
					</div>
					<div class="carousel-item" title="스몰톡">
						<img src="/images/app/guide/app_smallTalk.jpg" 
							class="d-block w-100" alt="smalltalk">
					</div>
				</div>
			</div></div>
			<div class="bottom d-none d-lg-block">
				<div class="keyboard"></div>
				<div class="trackpad"></div>
			</div>
		</div>
	</div>
	
	<div class="introduce-text-section">	
		언어 전문가, 교육 전문가, 심리 전문가, AI,<br class="d-sm-none"> 
		그리고 수많은 통계 자료들의 도움을 받아<br>
		과학적으로 분석한 <b>언어 학습 모듈</b>을<br class="d-sm-none"> 
		모든 학습 앱에 도입하였습니다.
	</div>
	
	<div id="iconDeck" class="icon-desc-section row no-gutters pt-3">
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-users"></i></div>
			<div class="icon-title-section">커뮤니티</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-robot"></i></div>
			<div class="icon-title-section">플보 AI의<br>학습 분석</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-clipboard-check"></i></div>
			<div class="icon-title-section">과학적 학습 모듈</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-book"></i></div>
			<div class="icon-title-section">영어 책 600권<br>이상의 예문</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-chart-line"></i></div>
			<div class="icon-title-section">학습 통계 및 랭킹 정보</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-user-check"></i></div>
			<div class="icon-title-section">개인 맞춤 서비스</div>
		</div>
		<div class="icon-desc col-lg col-md-3 col-4">
			<div class="icon-section"><i class="fa fa-gamepad"></i></div>
			<div class="icon-title-section">학습 게임<br>게이미피케이션</div>
		</div>
	</div>
	
	<div class="introduce-text-section">	
		게이미피케이션 접목을 통해<br class="d-sm-none"> 
		게임을 하듯 학습하여 지루함을 덜어내고<br>
		현재 자신의 실력을 검증할 수 있는 테스트와<br> 
		다양한 통계 및 랭킹 정보를 제공합니다.<br><br>
		여러분의 학습을 돕고 분석해 줄 AI 시스템과<br>
		영어 책 600권 이상의 다양한 예문이 준비되어 있습니다.
	</div>
</div>




<!-- --------------------------------------------------------------------------- 
*								[가입만으로 무료로 이용 가능]
* -------------------------------------------------------------------------  -->
<div th:fragment="cosmopolitanTourist">
	<div class="introduce-text-section">	
		영어 학습 자체가<br class="d-sm-none"> 
		우리를 억압하는 독재자가 되게 하지 마세요.
	</div>
	
	<div class="intro-images-section bird"></div>
	<div class="introduce-text-section">	
		언어 학습은 마라톤과 같습니다.<br>
		여러분은 플레이보이스 여정으로<br class="d-sm-none"> 
		꾸준히 나아가기만 하면 됩니다.<br>
	</div>
</div>



</html>
