<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<div th:fragment="request" id="editPictionSection" class="edit-pictionary-word-section">
<script>
$(document).ready(function(){
	var refuseCommentMsg = "요청 거절 시 거절 사유를 입력해 주세요 \n"
				+ "ex1) 작성한 뜻이 단어와 관련이 없어요. \n"
				+ "ex2) 요청 내용에 오타가 있어요.";
	$(".refuse-comment-section textarea").attr("placeholder", refuseCommentMsg);
});
</script>

<div class="report-list-guide view-word-list-guide">
	<div class="sub-title row no-gutters">
		<span class="col">단어 수정 요청</span>
		<span class="col-auto"><i class="fa fa-times fa-lg" data-dismiss="modal"></i></span>
	</div>
	<div class="detail-body">
		수정 요청 내용을 자세히 검토 후 <b>수정 반영</b> 또는 <b>요청 거절</b>을 눌러주세요.<br>
		<span class="detail-alert">※ 관리자의 검토 후 수정 내용이 최종 반영됩니다.</span>
	</div>
	
</div>

<!-- --------------------------[1. 기존 단어 뜻]-------------------------------- -->
<div id="editWordDiv" class="add-word-container add">
	<div class="pictionary-word-section">
		<div class="word-cover  px-md-4 px-2 py-3">
			<div class="report-owner row no-gutters mb-2">
				<div class="alias col-auto pr-1 align-self-center">
					<i class="fa fa-quote-left"></i> lazyhysong <i class="fa fa-quote-right"></i>
				</div>
				<div class="inform col-auto align-self-center"> 님이 작성한 단어 내용입니다.</div>
			</div>
			<div class="add-word-div px-2 pb-2">
				<!-- WORD -->
				<span class="word">
					<i class="fas fa-cube fa-fw"></i>
					<span>play</span>
				</span>
			</div>
			<div class="origin-meaning">
			<div class="meaning row no-gutters">
				<div class="report-select-section col-lg-2 col-md-3 col-auto px-2">
					동사
				</div>
				<div class="col pb-1">
					놀다, 경기를 하다, 연주하다
				</div>
			</div>
			<div class="meaning row no-gutters">	
				<div class="report-select-section col-lg-2 col-md-3 col-auto px-2">
					타동사
				</div>
				<div class="col pb-1">
					장난을 치다, 속이다, 연기하다
				</div>
			</div>
			<div class="meaning row no-gutters">
				<div class="report-select-section col-lg-2 col-md-3 col-auto px-2">
					명사
				</div>
				<div class="col pb-1">
					놀이, 연극, 경기
				</div>
			</div>
			</div>
		</div>
	</div>
	
</div><!-- end of editWordDiv -->



<!-- ---------------------------[2. 단어 수정 요청]------------------------------ -->
<div id="reportWordListDiv" class="report-word-list-section add-word-container add">
	
	<!-- 수정 요청 리스트 -->
	<div class="pictionary-word-section">
		
		<div class="reportCoverDiv word-cover px-md-4 px-2 py-3">
			<div class="report-owner row no-gutters mb-3">
				<div class="alias col-auto pr-1 align-self-center">
					<i class="fa fa-quote-left"></i> 옴냥냥이힝 <i class="fa fa-quote-right"></i>
				</div>
				<div class="inform col-auto align-self-center">
					님이 수정 요청한 내용입니다.
				</div>
				<div class="date col text-right align-self-center">2019-10-07 13:01</div>
			</div>
			<div class="meaning row no-gutters">
				<div class="report-select-section col-lg-2 col-md-3 col-auto px-2 pt-2">
					동사
				</div>
				<div class="col">
					<div class="report-pictionary-mean">놀다, 경기를 하다, (악기를)연주하다</div>
				</div><div class="w-100"></div>
				<div class="report-select-section comment col-lg-2 col-md-3 col-auto px-2 pt-2">
					요청 코멘트
				</div>
				<div class="col">
					<div class="report-msg">
						동사 뜻에 지문이 부족해서 넣었어요. 수정 부탁드립니다! 아! 그리고 타동사 쪽에 단어 뜻이 좀 부족한 거 같아요.
					</div>
				</div>
			</div>
			<div class="meaning row no-gutters">
				<div class="report-select-section col-lg-2 col-md-3 col-auto px-2 pt-2">
					명사
				</div>
				<div class="col">
					<div class="report-pictionary-mean">놀이, 연극, 경기</div>
				</div><div class="w-100"></div>
				<div class="report-select-section comment col-lg-2 col-md-3 col-auto px-2 pt-2">
					요청 코멘트
				</div>
				<div class="col">
					<div class="report-msg">
						필요없는 의미가 있는 거 같아서 하나는 지웠습니다.
					</div>
				</div>
			</div>
			<!-- 거절 사유 입력란 -->
			<div id="refuseCommentDiv" class="refuse-comment-section meaning row no-gutters">
				<textarea class="form-control" placeholder="요청 거절 시 거절 사유를 입력해 주세요"></textarea>
			</div>
			<div id="applyReportButton" class="reportBtnDiv pt-md-2 py-2 text-center">
				<button type="button"
					class="submit-btn btn btn-pictionary-add mr-2">수정 반영</button>
				<button id="refuseReportBtn" type="button" 
					class="btn btn-outline-pictionary">요청 거절</button>
			</div>
		</div>
	</div>
	
</div><!-- end of reportWordListDiv -->


</div>



