<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- -----------------------[my pictionary tab menu]------------------------ -->
<div th:fragment="myPictionaryMenu">
<script>
$(document).ready(function(){
	$('.myTrainingNav[href="' + location.pathname + '"]').addClass('active');
	
	// [단어 검색 버튼 활성화]---------------------------------------------------------
	$(document).on("change keyup keydown", ".searchFormAbled", function(){
		if($(this).val().length > 0) {
			$(this).siblings("button").prop("disabled", false);
		} else {
			$(this).siblings("button").prop("disabled", true);
		}
	});
	// [단어 검색 실행]--------------------------------------------------------------
	$("#searchWordForm, #searchWordForm_xs").submit(function(e) {
		e.preventDefault();
		searchPictionaries($(this).find("input[type='search']").val());
	});
	
	$("#searchWordBtn").click(function(){
		location.href="/pictionary/search";
	});

	// [검색어를 입력란에 유지한다]---------------------------------------------
	const searchKeyword = location.pathname.split(/\/word\/search\/.+\//)[1];
	$("#search_input").val(decodeURI(searchKeyword != undefined ? searchKeyword : ''));
	
});
/* ----------------------------------------------------------------------------- 
*							handling screen event
* --------------------------------------------------------------------------- */
/**
 * 키워드로 픽셔너리 검색. 검색키워드를 sessionStorage에 저장.
 */
function searchPictionaries(keyword) {
	if(keyword !=null && keyword.length > 0){
		// 검색어가 숫자를 포함한 기본기호와 한글일 경우
		if(keyword.match(/[^(\u0020-\u0040|\u005B-\u0060|\u007B-\u007F|\uAC00-\uD7AF)]/gi)==null){
			self.location = "/pictionary/word/search/kor/" + keyword;
		// 검색어가 숫자를 포함한 기본기호와 영어일 경우
		}else if(keyword.match(/[^(\u0020-\u007F)]/)==null){
			self.location = "/pictionary/word/search/eng/" + keyword;
		}else{
			alert("영어나 한글 중 한 언어로만 검색해 주세요.");
		}
	}else{
		alert("검색 할 단어를 입력해 주세요.");
		return false;
	}
};
</script>
<div class="review-tab-button-section">
<!-- PC ver. -->
<div class="nav-tab-position d-none d-lg-block"><ul>
	<li><a th:href="@{/pictionary/word/mylist}" class="myTrainingNav tab-button">
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">나의 컨텐츠</span>
		<i class="for-add fa fa-pen-fancy"></i>
	</a></li>
	<li><a th:href="@{/pictionary/tracer/list}" class="myTrainingNav tab-button">
		<i class="forGold fa fa-crown"></i>
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">트레이서</span>
		<i class="for-tracer fa fa-shoe-prints"></i>
	</a></li>
	<li><a th:href="@{/pictionary/tracer/quiz}" class="myTrainingNav tab-button">
		<i class="forGold fa fa-crown"></i>
		<span class="pv-tm">Pictionary</span>
		<span class="pv-tm-around">트레이서 퀴즈</span>
		<i class="fa fa-gamepad"></i>
	</a></li>
	<!--/* <li>
	<form id="searchWord_form" th:action="@{/pictionary/word/search}" method="get">
		<label class="searchform-cover">
			<input id="search_input" placeholder="키워드 검색" name="title" 
				class="searchFormAbled search-form-pc form-control" type="search">
			<button class="search-btn-pc btn" disabled="disabled" type="submit">
				search <i class="fa fa-search"></i>
			</button>
		</label>
	</form>
	</li> */-->
</ul></div>

<!-- mobile & Tablet ver. -->
<div class="d-lg-none"><div class="my-pictionary-menu-mobile row no-gutters">
	<div class="menu-b col">
		<button th:href="@{/pictionary/word/mylist}" class="myTrainingNav btn-mobile btn-main" 
			onclick="location.href=$(this).attr('href')" type="button">
			<i class="for-add fa fa-pen-fancy"></i><br>
			<span class="pv-tm-around">나의 컨텐츠</span>
		</button>
	</div>
	<div class="menu-b col">
		<button th:href="@{/pictionary/tracer/list}" class="myTrainingNav btn-mobile btn-main" 
			onclick="location.href=$(this).attr('href')" type="button">
			<i class="for-tracer fa fa-shoe-prints"></i><br>
			<span class="pv-tm-around">트레이서</span>
			<i class="forGold fa fa-crown"></i>
		</button>
	</div>
	<div class="menu-b col">
		<button th:href="@{/pictionary/tracer/quiz}" class="myTrainingNav btn-mobile btn-main" 
			onclick="location.href=$(this).attr('href')" type="button">
			<i class="fa fa-gamepad"></i><br>
			<span class="pv-tm-around">트레이서 퀴즈</span>
			<i class="forGold fa fa-crown"></i>
		</button>
	</div>
</div></div>
</div>

</div>
		

