<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="piction" class="piction-used-modal"><div class="row no-gutters">
<div class="pictionary-piction-list-section col-12">
	<!-- [2.1 픽션 리스트] -->
	<div class="piction-cover row no-gutters">
		<!-- [픽션 사진] -->
		<div class="col-lg-4"><div class="piction-picture">
			<div class="piction-picture-cover ver2">
				<div class="display-piction-picture piction-img" data-dismiss="modal"
					style="background: url(/images/app/profile/13.jpg) no-repeat;
					background-size: cover; background-position: center;"></div>
			</div>
			<div class="modal-guide">
				바깥 영역이나 이미지를 클릭하면 창이 닫힙니다.
			</div>
		</div></div>
		
		<!-- [픽션 예문] -->
		<div class="piction-sentence col-lg-8"><div class="sentence-back">
			<div class="piction-sentence-one pl-md-3 row no-gutters">
				<div class="col">
					<!-- 영어 예문 -->
					<div class="eng">
						The pollution is so <b>serious</b> 
						that we have to reduce the use of plastic.
					</div>
					<!-- 한국어 해석 -->
					<div class="kor">
						오염이 너무 심각하니 플라스틱 사용을 줄여야 합니다.
					</div>
					<!-- 등록자 정보 (Mobile ver.) / 수정, 삭제 버튼, 좋아요 -->
					<div class="owner pt-2"><div class="row no-gutters">
						<div class="col-auto align-self-center d-md-none">
							<th:block th:replace="~{/incl/user_personacon::sm_test}"></th:block>
						</div>
						<div class="alias col-auto align-self-center px-2 d-md-none">개구리</div>
						<div class="sentence-button-section col-md-auto col 
							text-md-left text-right align-self-center">
							<button type="button" class="btn btn-outline-pictionary 
								btn-xs jsAction" title="예문 음성">
								<i class="fa fa-headphones-alt"></i>
							</button>
						</div>
					</div></div>
				</div>
				<div class="owner col-auto pl-1 d-none d-md-inline" align="center">
					<th:block th:replace="~{/incl/user_personacon::md_test}"></th:block>
					<div class="alias pt-1">개구리</div>
				</div>
			</div>
			
			<div class="piction-sentence-one pl-md-3 row no-gutters">
				<div class="col">
					<!-- 영어 예문 -->
					<div class="eng">
						The pollution is so <b>serious</b> 
						that we have to reduce the use of plastic. hahahah!
					</div>
					<!-- 한국어 해석 / 예문 관리 버튼 (PC ver.) -->
					<div class="kor">
						오염이 너무 심각하니 플라스틱 사용을 줄여야 합니다. 하하하!
					</div>
					<!-- 등록자 정보 (Mobile ver.) / 수정, 삭제 버튼, 좋아요 -->
					<div class="owner pt-2"><div class="row no-gutters">
						<div class="col-auto align-self-center d-md-none">
							<th:block th:replace="~{/incl/user_personacon::sm_test}"></th:block>
						</div>
						<div class="alias col-auto align-self-center px-2 d-md-none"><a>개구리</a></div>
						<div class="sentence-button-section col-md-auto col text-md-left text-right align-self-center">
							<button type="button" class="btn btn-outline-pictionary btn-xs jsAction" title="예문 음성">
								<i lang="fa" class="fa fa-headphones-alt fa-fw"></i>
							</button>
						</div>
					</div></div>
				</div>
				<div class="owner col-auto pl-1 d-none d-md-inline" align="center">
					<th:block th:replace="~{/incl/user_personacon::md_test}"></th:block>
					<div class="alias pt-1">개구리</div>
				</div>
			</div>
			
			<div class="piction-sentence-one pl-md-3 row no-gutters">
				<div class="col">
					<!-- 영어 예문 -->
					<div class="eng">
						The pollution is so <b>serious</b> 
						that we have to reduce the use of plastic.
					</div>
					<!-- 한국어 해석 / 예문 관리 버튼 (PC ver.) -->
					<div class="kor">
						오염이 너무 심각하니 플라스틱 사용을 줄여야 합니다.
					</div>
					<!-- 등록자 정보 (Mobile ver.) / 수정, 삭제 버튼, 좋아요 -->
					<div class="owner pt-2"><div class="row no-gutters">
						<div class="col-auto align-self-center d-md-none">
							<th:block th:replace="~{/incl/user_personacon::sm_test}"></th:block>
						</div>
						<div class="alias col-auto align-self-center px-2 d-md-none"><a>개구리</a></div>
						<div class="sentence-button-section col-md-auto col text-md-left text-right align-self-center">
							<button type="button" class="btn btn-outline-pictionary btn-xs jsAction" title="예문 음성">
								<i lang="fa" class="fa fa-headphones-alt fa-fw"></i>
							</button>
						</div>
					</div></div>
				</div>
				<div class="owner col-auto pl-1 d-none d-md-inline" align="center">
					<th:block th:replace="~{/incl/user_personacon::md_test}"></th:block>
					<div class="alias pt-1">개구리</div>
				</div>
			</div>
			
		</div></div>
	</div>
</div>

</div></div>



