<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/smalltalk_layout2}">
<head>
<title>Add Story - playvoice</title>
<link rel="stylesheet" th:href="@{/css/app/app_add.css}">
<link rel="stylesheet" th:href="@{/css/app/playsquare.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">

<script th:src="@{/js/common.js}"></script>

<script th:src="@{/summernote/summernote-bs4.min.js}"></script>
<script th:src="@{/summernote/plugin/br.summernote.js}"></script>
<script th:src="@{/summernote/lang/summernote-ko-KR.js}"></script>
<script th:src="@{/js/app/basicchar-filter.js}"></script>

<script th:src="@{/js/app/playsquare.js}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script> -->

<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
	// [가이드 닫기]----------------------------------------------------------------
	$("#closeGuide_btn").click(function(){
		$(".smalltalkGuide").hide(100);
		$(".openGuideBtn").show();
	});
	// [가이드 열기]---------------------------------------------------------------
	$(".openGuideBtn").click(function(){
		$(this).hide();
		$(".smalltalkGuide").show(100);
	});
	
	// [썸머노트 에디터 로드]-----------------------
	insertSummernoteEditor($("#summernote"));
	//---------------------------------------
	
	// [미리보기 띄우기]-------------------------------------------------------------
	$("#save").click(function(){
		$("#digestFormDiv").hide();
		$("#paragraphicalPreview").show(100);
		$(".smalltalkGuide").hide();
		var paragraphicalPreview = $("#paragraphicalPreview").offset().top - 50;
	    $('html, body').animate({scrollTop : paragraphicalPreview}, 300);
	});
	
	// [다시 문단 나누러 돌아가기]-------------------------------------------------------
	$("#rollbackContent").click(function(){
		$("#paragraphicalPreview").hide();
		$("#digestFormDiv").show();
		$(".smalltalkGuide").show();
		var digestFormDiv = $("#digestFormDiv").offset().top - 50;
	    $('html, body').animate({scrollTop : digestFormDiv}, 300);
	});
	
	// [미리보기 띄우기]-------------------------------------------------------------
	$("#saveStory").click(function(){
		$("#loadingSection").show();
		setTimeout(function() {
			location.href="/square/smalltalk/translate";
		}, 700);
		
	});
	
});


</script>

</head>

<section layout:fragment="content">

<div th:replace="~{/square/smalltalk/incl/smalltalk_top_menu2::menu}"></div>


<div id="introductionSection" class="article-introduction-section mt-5">
	<h3><span>Adding New Articles Form</span></h3>
	<!-- 작성 목적 -->
	<div class="add-purpose-info cha1 row no-gutters">
		<div class="character-section col-auto">
			<img class="character" src="/images/common/icon/icon_paper.png">
		</div>
		<div class="col">
			<img class="character d-sm-none" src="/images/common/icon/icon_paper.png">
			<div class="point">잡담도 지성이고 능력이다!</div>
			<div>수많은 게시글들이 사람들의 주목을 받아 왔듯이 다양한 이야기를 가진 자들이 언제나 주인공입니다.<br class="d-none d-xl-block">
			영어를 통해 자신의 이야기를 직접 작성해 보거나 아니면 관심 있는 이야깃거리를 소개할 수도 있어요.<br class="d-none d-xl-block">
			관심 있는 특정 분야를 찾아 소개하고 스스로 학습도 해 보세요. 영어가 엄청 빠르게 발전하게 될 거예요.
			</div>
		</div>
	</div>
</div>


<div id="addSmallTalkSection" class="add-smalltalk-section">
	<!-- 스토리 등록 순서 표시 -->
	<div class="add-order-point row no-gutters"><div class="col"></div>
	<div class="order-point step1 active col-auto px-md-3 align-self-center">
		<i class="fa fa-circle fa-fw"></i>
		<span class="step-num">STEP 1</span>
	</div>
	<div class="dashed-point col-auto px-md-3 align-self-center">
		<i class="fa fa-circle fa-fw"></i>
		<i class="fa fa-circle fa-fw"></i>
		<i class="fa fa-circle fa-fw"></i>
	</div>
	<div class="order-point step2 col-auto px-md-3 align-self-center">
		<i class="fa fa-circle fa-fw"></i>
		<span class="step-num">STEP 2</span>
	</div>
	<div class="dashed-point col-auto px-md-3 align-self-center">
		<i class="fa fa-circle fa-fw"></i>
		<i class="fa fa-circle fa-fw"></i>
		<i class="fa fa-circle fa-fw"></i>
	</div>
	<div class="order-point step3 col-auto px-md-3 align-self-center">
		<i class="fa fa-circle fa-fw"></i>
		<span class="step-num">STEP 3</span>
	</div>
	<div class="col text-right align-self-center">
		<div class="open-guide-section d-none d-md-block">
		<a class="openGuideBtn" style="display: none;">
			<i lang="fa" class="far fa-lightbulb fa-fw"></i> 
			작성 가이드 보기 <i class="fa fa-angle-down fa-fw"></i>
		</a>
		</div>
	</div></div>

	<!-- ---------------------------[작성 가이드]------------------------------- -->
	<div class="open-guide-section d-md-none">
		<a class="openGuideBtn" style="display: none;">
			<i lang="fa" class="far fa-lightbulb fa-fw"></i> 
			작성 가이드 보기 <i class="fa fa-angle-down fa-fw"></i>
		</a>
	</div>
	<div class="add-digest-guide-cover smalltalkGuide row no-gutters">
		<div class="guide col-md px-md-3 align-self-center">
			<div class="title">
				<span>작성 가이드</span>
				<span class="guide-icon"><i lang="fa" class="far fa-lightbulb fa-lg"></i> </span>
				<i id="closeGuide_btn" class="fa fa-times float-right fa-lg" title="가이드 닫기"></i>
			</div>
			<div class="guide-text">
				<span class="num">1.</span> 게시글은 반드시 <span class="emp">영어</span>로 
					작성해야 하며 제목은 <span class="emp">우리말 / 영어</span> 중에서 선택할 수 있어요.<br>
				<span class="num">2.</span> 게시글은 <span class="emp">5000자 이하</span>로 작성해 주세요.
					내용이 많은 게시글인 경우 적절한 단락(paragraph)으로 나눠 주세요.<br>
				<span class="num">3.</span> 단락(paragraph)을 지정하기 위해서는 원하는 위치에서 
					에디터의 <label class="editor-button">━</label> 버튼을 눌러주세요. (한 단락에 1000자 이내)<br>
				<span class="num">4.</span> 게시글 작성 후 'NEXT' 버튼을 누르면 작성한 게시글의 단락을 확인할 수 있습니다.<br> 
			</div>
		</div>
	</div>
	<div class="translation-bg">
		
		<!--/*응답메세지 박스*/-->
		<div id="resMsgs" class="respond-msg" style="display: none;">
			<h4>Respond Messages</h4>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
			<div id="scriptMsgs"></div>
		</div>
		
		<form id="storyAddForm">
		<div id="digestFormDiv" class="digest-form-div">
			
			<!--/*주제 */-->
			<div class="form-group row">
				<label for="title" class="col-md-1 control-label pl-md-0">주제</label>
				<div class="col-md-11">
					<input type="text" placeholder="주제를 입력해 주세요." class="form-control"/>
				</div>
			</div>
			
			<!--/*내용 */-->
			<div class="form-group row">
				<label for="content" class="col-md-1 control-label pl-md-0">내용</label>
				<div class="article-default-font-style eng col-md-11">
					<textarea id="summernote" name="content" class="form-control" 
						style="display: none;"></textarea>
				</div>
			</div>
			
			<!--/*작성자 */-->
			<div class="form-group row">
				<label for="writer" class="col-md-1 col-auto control-label pl-md-0">작성자</label>
				<div class="form-alias col-md-11 col">
					<span>lazyhysong</span>
				</div>
			</div>
			
			<!--/*submit 컨트롤 박스*/-->
			<div class="form-group">
				<div class="add-button-section text-center">
					<button type="reset" class="btn btn-playsquare2 mr-3">취소</button>
					<button id="save" type="button" class="btn btn-smalltalk2">
						NEXT <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
			
		</div><!-- end of digestFormDiv -->
		
		</form>
		
		<div id="paragraphicalPreview" class="article-default-font-style eng" style="display: none;">
			<div class="paragraph">
				<span class="para-title">문단 1</span>
				<pre>
					How to be a gentleman on a date?<br>
					The answer lies in behaving like a gentleman even before your date starts, 
					and continuing to do so till the very end.
				</pre>
			</div>
			<hr>
			<div class="paragraph">
				<span class="para-title">문단 2</span>
				<pre>
					The manners of a gentleman are all about being polite and 
					courteous while being firm and manly at the same time.
				</pre>
			</div>
			<hr>
			<div class="paragraph">
				<span class="para-title">문단 3</span>
				<pre>
					From giving compliments to opening doors and 
					from starting conversations to wearing clothes that make you look like a gentleman, 
					this post gives tips on how you can be the perfect gentleman on your first date.
				</pre>
			</div>
			<hr>
			<p class="confirm-guide">
				입력한 내용의 <b>문단</b>이 원하는 대로 나눠졌나요?
				<b>오타</b>는 없는지, 마침표와 같은 <b>문장 종결자</b>를 확인하셨나요?<br>
				나눠진 문단의 단위로 해석과 구문 분석이 제공됩니다.<br>
				<b><i class="fa fa-exclamation-triangle"></i> 최종 등록 후에는 문단별로만 수정이 가능하오니</b> 
				이 점 참고하여 내용을 다시 한번 검토해 주세요.
			</p>
			<div class="form-group">
				<div class="add-button-section text-center">
					<button id="rollbackContent" type="button" class="btn btn-playsquare2 mr-3">
						<i class="fa fa-arrow-left"></i> 변경하기</button>
					<button id="saveStory" type="button" class="btn btn-smalltalk2">
						NEXT <i class="fa fa-arrow-right"></i>
						<div class="button-msg"><b>문단별로만 수정이 가능하오니</b><br>내용을 다시 검토해 주세요</div>
					</button>
				</div>
			</div>
		</div>
		
		<div class="errorMsgs" style="display: none;">
			<h3>
				Error Messages
				<span>Error occured while processing the request.</span>
			</h3>
			<pre></pre>
		</div>
	</div>
	
</div><!-- end of addSmallTalkSection -->

<div id="loadingSection" class="loading-section" style="display: none;">
	<div class="loading-progress">
		<div class="loading-icon">
			<div class="playvoice-loader robot">
				<div class="square style1"></div>
				<div class="square style2"></div>
				<div class="square style3"></div>
				<div class="square style4"></div>
				<div class="square style5"></div>
				<div class="square style6"></div>
				<div class="square style7"></div>
				<div class="square style8"></div>
			</div>
		</div>
		<div class="loading-text">
			잠시만 기다려 주세요!<br>
			농땡이 치고 있는 번역 로봇들을 찾아<br>
			lazyhysong님의 <br>
			작업을 지시하고 있습니다. <i class="fa fa-robot fa-fw"></i>
		</div>
	</div>
</div>


</section>
</html>