<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="comment">
<!--/* -------------------------------[Modal] -----------------------------*/-->
<div id="successAddComment_modal" class="modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document"><div class="modal-content content-container py-3">
		<div class="modal-body text-center">
			<div id="modal_msg">댓글이 성공적으로 등록되었습니다.</div>
			<div class="mt-3">
				<button type="button" class="btn btn-danger jsAction" data-dismiss="modal">확 인</button>
			</div>
		</div>
	</div></div>
</div>

<!--/* ------------------------------[댓글 보기]----------------------------- */-->
<div id="commentDiv">
<form method="post">
	<!--------------------/* 1. 댓글 등록화면 영역 */----------------------->
	<div th:if="${session.userContainer}" class="comment-form"><div class="row no-gutters">
		<div class="col-md-auto d-none d-md-block py-2">
			<th:block th:replace="~{/incl/user_personacon::md}"></th:block>
		</div>
		<div class="col-md col-12 pl-md-2 pt-1">
			<div class="row no-gutters">
				<div class="comment-icon col-auto">
					<i class="fa fa-pencil-alt fa-flip-horizontal"></i>
				</div>
				<div class="col">
					<textarea placeholder="예문의 설명에 대한 의견이나 궁금한 점을 남겨봅시다." 
						class="comment-textarea controlComment" rows="1" ></textarea>
				</div>
			</div>
			<div id="submitDiv">
				<div class="comment_button_section text-right" style="display: none;">
					<input type="reset" value="CANCEL" 
						class="cancelCommentBtn btn btn-sm btn-light"/>
					<input type="button" value="COMMENT" disabled="disabled" 
						class="addCommentBtn releaseBtn btn btn-sm btn-main-submit"/>
				</div>
			</div>
		</div>	
	</div></div>

	<div th:unless="${session.userContainer}" class="comment-form">
		<div style="padding-top: 5px;">
			<textarea class="loginRequired" th:href="${#request.requestURI}" 
				rows="1" placeholder="로그인 후 댓글을 이용하실 수 있습니다." 
				readonly="readonly"></textarea>
		</div>
	</div>
	
	<!-- 대댓글 등록폼(댓글 폼으로부터 복사) -->
	<div th:if="${session.userContainer}" id="re_comment_copy" 
		class="re-comment-copy row no-gutters" style="display: none;">
		<div class="col-md-auto col-2 pr-1 py-4">
			<th:block th:replace="~{/incl/user_personacon::sm}"></th:block>
		</div>
		<div class="child-comment-content-div comment-form col-md col-10">
			<!-- 폼 컴포넌트 영역 -->
			<div>
				to. <span class="re-alias">수신인</span>
			</div>
			<div>
				<textarea rows="1" class="recomment-textarea controlComment"></textarea>
			</div>
			<!-- 폼 전송 영역 -->
			<div class="text-right pt-1">
				<input type="reset" value="CANCEL" 
					class="cancelCommentBtn2 recomment-cancel btn btn-light btn-sm"/>
				<input type="button" value="COMMENT" disabled="disabled"
					class="addCommentBtn2 releaseBtn recomment-btn btn btn-main3 btn-sm"/>
			</div>
			<input type="hidden" class="hidden_parentId"/>
		</div>
	</div><!-- end of re_comment_copy -->
		
	<!-------------------------/* 2. 댓글 목록 영역 */------------------------->
	<div class="commentPage"></div>

	<input type="hidden" class="yourId" th:if="${session.userContainer}" 
			th:value="${session.userContainer.personacon.pid}">
	<input type="hidden" class="yourAlias" th:if="${session.userContainer}" 
			th:value="${session.userContainer.personacon.alias}">
	<input type="hidden" class="appContentWriter" th:value="${appContentWriter}">
	<input type="hidden" class="appDomain" th:value="${appDomain}">
	<input type="hidden" class="appContentId" th:value="${appContentId}">
	<input type="hidden" class="parentContentId" th:value="${parentContentId}">
</form></div><!-- end of formContainer  -->

	
<!-- <div class="text-right" style="color:red;">
	source :: common/comment.html	
</div> -->
</div>

</html>