<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="myInfo">
	<!--/* =============================================================== */-->
	<!--/*							myinfoDiv PC ver. 					   */-->
	<!--/* =============================================================== */-->
	<div class="d-none d-lg-inline">
		<!-- 나의 레벨 스테이지 진행정보 -->
		<div class="my-level rounded">
			<div class="pb-2 text-dark" style="font-weight: 600; font-size: 0.8rem;">
				나의 레벨 &nbsp;&nbsp;
				<button type="button" class="btn btn-danger btn-xs">
					<b>START</b>
				</button>
			</div>
			<div class="p-1 bg-dark rounded text-white text-center jsAction">
				<span style="font-size: 0.8rem;">Level <span>8</span>
				- Stage <span>5</span></span>
			</div>
		</div>
		
		<!-- Gold Membership -->
		<!-- <div class="membership my-3 px-1 rounded jsAction"><div class="row">
			<span class="col-10 py-3 pl-4 pr-2 align-self-center">
				<span class="fa-stack fa-lg">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="fas fa-crown fa-stack-1x"></i>
				</span>
				<span style="margin-left: 3px; font-weight: 500;">지금 멤버십에 가입하세요!</span>
			</span>
			<span class="col-2 py-3 pl-0 pr-4 text-right align-self-center">
				<i lang="fa" class="fa fa-angle-right fa-fw fa-2x"></i>
			</span>
		</div></div> -->
		
		<!-- 광고 -->
		<!-- <div class="advertise my-3 rounded px-2 py-3">
			<img src="../resources/images/app/playvoicebook/ad.png" width="100%">
			[Ad section]
		</div> -->
	</div>
	
	<div class="text-right" style="color:red;">
		source :: playvoicebook_myinfo.html	
	</div>
</div>