<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/playvoicebook_layout}">

<head>
<title>PlayvoiceBook Level - playvoice</title>
	
<link rel="stylesheet" th:href="@{/css/app/playvoicebook.css}">
<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
	
}); //end of ready
</script>
</head>

<section layout:fragment="content">
<!-- title & menu -->
<div id="menuSection" class="row no-gutters"><div class="col-lg-1"></div>
	<div th:insert="~{/playvoiceBook/incl/playvoicebook_menu::menu}" class="col-lg-10"></div>
</div>


<div id="playvocieBookGuideSection" class="playvoice-book-guide-section row no-gutters mt-4">
<div class="col-lg-1"></div>
<div class="col-lg-10 px-lg-2">
	<h3>
		About Levels <i class="fa fa-headphones fa-fw"></i><br>
	</h3>
	
	<!-- ----------------------[1. 커뮤니티 활동 포인트 획득]------------------------ -->
	<div id="communityGuideSection" class="playvoice-book-guide-cover">
		<!-- TY -->
		<div class="TY-shape-section">
			<div class="mane-section">
				<div class="mane"></div>
			</div>
			<div class="bird-body">
				<div class="face-section">
					<div class="eye"></div><div class="eye"></div>
					<div class="mouse"></div>
				</div>
				<div class="arm left-fly"></div>
				<div class="arm right-fly"></div>
			</div>
		</div>
		<div class="playvoice-book-level-guide">
			<h5>다음 레벨을 중비 중입니다 <i class="far fa-grin-alt"></i></h5>
			<div>
				플레이보이스북 레벨은 지속적인 연구를 통해 <b>업데이트</b>될 예정입니다.<br>
				다음 레벨에 대한 안내는 플레이보이스북 공지 사항에서 확인할 수 있습니다.<br><br>
				플레이보이스북은 어려운 문법이나 독해 위주의 문장들보다 
				우리 실생활에 자주 사용할 수 있는 다양한 예문들을 체계적으로 구성하였습니다.<br>
				각각의 레벨 안에 스테이지 예문들은
				최소한의 문법으로 문장의 <b>패턴(Patterns)</b>과 <b>구조(Structure)</b>를 이해할 수 있도록 
				다양하고 체계화된 예문들로 구성되어 있습니다.<br><br>
				새로운 레벨을 구성하는 동안 남은 
				<a th:href="@{/playvoiceBook/kick/deck}"><i class="fa fa-layer-group"></i> 죠니 덱</a>의 
				카드가 없는 지 확인해 보세요.
				<i class="far fa-grin-squint"></i>
			</div>
			<div class="button-section text-center">
				<button th:href="@{/playvoiceBook}" type="button" class="btn btn-main2"
					onclick="location.href=$(this).attr('href')">
					<i class="fa fa-egg"></i> HOME
				</button>
				<button th:href="@{/playvoiceBook/kick/deck}" type="button" class="btn btn-main2"
					onclick="location.href=$(this).attr('href')">
					<i class="fa fa-layer-group"></i> Johnny Deck
				</button>
			</div>
		</div>
	</div>
</div></div><!-- end of playvocieBookGuideSection -->

</section>

</html>