<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playvoicebook_layout2}">

<head>
<title>Levels of PlayvoiceBook - 플레이보이스 (playvoice)</title>
   
<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaRobot = 'nofollow', metaTitle = '플레이보이스북 레벨 목록 - 플레이보이스 (playvoice)', 
	metaDescription = '플레이보이스북은 영어 문장의 패턴과 구조 이해를 위한 체계화된 예문을 
	전 세계인의 멀티 보이스 (Multi voice)로 제공합니다.', 
	metaImage = '/images/common/characters/playvoicebook.jpg', metaRegDate = null"></th:block>
	
<link rel="stylesheet" th:href="@{/css/bootstrap/datepicker3.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoicebook.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">
<script th:src="@{/js/app/playvoicebook.js}"></script>
<script th:inline="javascript">
$(document).ready(function() {
	$('#levelListPanel .levelDiv').click(function(e) {
		e.preventDefault();
		
		var selected = $(this);
		var isLoaded = selected.attr("load");
		var description = selected.find(".level-description");
		
		
		if (isLoaded == 'false') {
			//--------------------------------------------
			getStageList(selected.attr("lid"), selected);
			//--------------------------------------------
			description.removeClass("level-gap");
		} else {
			if($(selected).next().is(":visible")) {
				description.addClass("level-gap");
				$(this).removeClass("active");
			} else {
				description.removeClass("level-gap");
				$(this).addClass("active");
			}
			toString($(selected).next());
			$(selected).next().toggle(100);
		}
	});
	
	$(document).on("click", ".tag.hidden-card", function(){
		$(this).addClass("active");
		setTimeout(function() {
			$(".tag.hidden-card").removeClass("active");
		}, 1000);
	});
	
});

/**
 * stage목록을 출력 : <div class="stageDiv>
 */
 var cardIndex = Math.floor(Math.random() * 4);;
 function displayStageList(stageList, selector) {
 	cardIndex = cardIndex%4;
 	
 	 stageList.forEach(function(stage, index) {
 		stage.rep = emphasizeEng(stage.rep, stage.emLoc);
 		var stageCover = document.createElement("div");
 		stageCover.setAttribute("class", "stage-cover col-lg-3 col-sm-4 col-6 p-sm-3 p-2")
 		
 		var stageDiv = document.createElement("div");
 		stageDiv.setAttribute("class", "stage-style"+cardIndex+" tag-container");
 		
 		var tagDiv = document.createElement("div");
 		tagDiv.setAttribute("class", "tag");
 		tagDiv.innerHTML = '<div class="stage-pattern tag-side");"><table>'
 			+ '<tr><td class="stage-seq text-left p-1">'
 			+ '<span>' + (index+1) + '</span><br><i></i></td>'
 			+ '<td class="text-right"><td></tr>'
 			+ '<tr><td colspan="2" class="stage-rep text-center">'
 			+ stage.rep 
 			+ '</td></tr>'
 			+ '<tr><td></td><td class="stage-seq text-right p-1">'
 			+ '<i></i><br><span>' + (index+1) + '</span></td></tr></table></div>'
 			+ '<div class="stage-card-back tag-side is-back">'
 			+ '<div class="py-2 text-center">'
 			+ '<span class="subtitle">stage 목표</span><div>'
 			+ '<div class="stage-objective text-center">'
 			+ stage.objective + '</div></div>';
 			
 		//특정스테이지div를 클릭할 경우 플레이어로 연결한다.
 		//플레이어에서 레벨과 스테이지 정보 표시를 위해 levelSeq와 stageSeq를 추가 전송한다.
 		stageDiv.addEventListener("click", function(e) {
 			var levelSeq = $(selector).attr("levelSeq");
 			var stageSeq = index+1;
 			//---------------------------------------------------
 			forwardPlayerPage(stage.stageId, levelSeq, stageSeq);
 			//---------------------------------------------------
 		});	
 		
 		stageDiv.appendChild(tagDiv);
 		stageCover.appendChild(stageDiv);
 		
 		//$(selector).append(stageCover);
 		$(selector).next().append(stageCover);
 	});
 	 
 	$(selector).next().show();
 	$(selector).attr("load", "true");
 	cardIndex++;
 }

 /**
  * 영어 강조 하기
  */
function emphasizeEng(eng, emLoc){
 	var tag = '<span style="color:red;" ></span>';
 	return emphasizeText(eng, emLoc, tag);
}
</script>
</head>

<section layout:fragment="content">
<!-- title & menu -->
<div id="menuSection" class="row no-gutters"><div class="col-lg-1"></div>
	<div th:insert="~{/playvoiceBook/incl/playvoicebook_menu2::menu}" class="col-lg-10"></div>
</div>

<div id="levelContentSection" class="row no-gutters my-4">
	<div class="col-lg-1"></div>
	<div class="col-lg-10 px-lg-2">
		<!-- ---------------------[gold membership]------------------------- -->
		<div class="d-none d-md-block"><div class="membership-guide-cover row no-gutters">
			<div class="logo col-md-auto col-12 align-self-center">
				<i class="fa fa-crown fa-3x"></i> 
			</div>
			<div class="guide col-md px-md-3 align-self-center">
				<div class="membership">
					Join in <span class="pv-tm">Playvoice</span> Membership
				</div>
				<div>
					플레이보이스는 영어로 인한 불필요한 노력과 비용을 줄이고 게임을 하듯 다른 회원들과 함께 학습할 수 있도록 합니다. 
					그 학습 활동들을 통해 도움이 필요한 이웃들을 연결해 주는 소셜 벤처 기업입니다.<br>
					지금 플레이보이스 계정을 만들어보세요
					<i class="fa fa-comment-dollar fa-lg"></i>
					재미있고 흥미로운 일들을 만나실 수 있습니다  
					<i class="far fa-grin-squint fa-lg"></i>
				</div>
			</div>
			<div class="star col-md-auto col-12 align-self-center">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</div>
		</div></div>
		
		<div class="playvoicebook-list-title-section d-md-none">
			<h3>
				<span class="pv-tm">PlayvoiceBook</span> Levels<br>
				<small>Choose one of the themes and take a test.</small>
			</h3>
		</div>	
		
		<div id="levelListPanel">
			<th:block th:each="levelNum : ${#numbers.sequence(1,3)}">
			<div class="levelDiv level-style jsAction mt-sm-5 mt-4 p-2"><div class="row no-gutters">
				<div class="col-sm-2 col-3 p-0">
					<!-- level image -->
					<img th:src="'/images/app/playvoicebook/' + ${levelNum} + '.png'" 
						class="rounded-circle">
					<div class="level-name d-lg-none text-center">
						Level [[${levelNum}]]
					</div>
				</div>
				<div class="level-info-cover col-sm-10 col-9"><div class="row no-gutters">
					<div class="level-description level-gap col pr-lg-2">
						<b>Level 1은 영어의 가장 기본적 문법에 대해 학습합니다.</b><br>
						향후 Level에서는 Level 1에서 다루는 문법 수준은 숙지하고 있다고 가정하고 진행됩니다.<br>
						중학교 수준의 기본 문법에 대해 익숙하신 회원분들은 바로 다음 Level에서 학습하시기 바랍니다.<br>
					</div>
					<div class="level-name col-auto text-right d-none d-lg-inline">
						Level 1
					</div>
				</div></div>
			</div></div>
	
			<!-- stage 영역 -->
			<div id="stageDiv" class="stageDiv row no-gutters mt-1 mb-5 stage-row-margin" 
				style="display: none;">
				<div class="stage-cover col-lg-3 col-sm-4 col-6 p-sm-3 p-2">
					<div class="stage-style0 stage-special-style tag-container">
						<div class="tag">
							<div class="stage-pattern tag-side">
								<table>
									<tr><td class="stage-seq text-left p-1">
										<span>1</span><br>
										<i></i>
									</td><td></td></tr>
									<tr><td colspan="2" class="stage-rep text-center">
										<span>나는 학생이야.</span>
									</td></tr>
									<tr><td></td><td class="stage-hits text-right p-1">
										<i></i><br>
										Hits <span>1120</span>
									</td></tr>
								</table>
							</div>
							<div class="stage-card-back tag-side is-back">
								<div class="py-2 text-center">
									<span class="subtitle"><b style="color: red;">I am</b> a student.</span>
								</div>
								<div class="stage-objective text-center">
									<a th:href="@{/playvoiceBook/player}">
									'1인칭 be동사에 대해 학습합니다.<br><br>
	
									영어에서 '나는 ~이다.' 라고 할 때
									'~이다.'를 표현하는 동사를 be동사라고 합니다.<br>
									
									우리말과 달리 영어의 be동사는 인칭(1인칭 부터 3인칭까지)과 수(단수/복수)에 따라 달라집니다.<br>
									
									참고로 문법적으로 be동사 뒤에 나오는 품사들은 
									대부분 뭔가를 보충해 주는 의미를 가진 '보어(complement)라고 합니다.<br>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stage-cover col-lg-3 col-sm-4 col-6 p-sm-3 p-2">
					<div class="stage-style1 tag-container">
						<div class="tag">
							<div class="stage-pattern tag-side">
								<table>
									<tr><td class="stage-seq text-left p-1">
										<span>2</span><br>
										<i></i>
									</td></tr>
									<tr><td class="stage-rep text-center">
										<span>당신은 군인이군요.</span>
									</td></tr>
									<tr><td class="stage-hits text-right p-1">
										<i></i><br>
										Hits <span>1120</span>
									</td></tr>
								</table>
							</div>
					
							<div class="stage-card-back tag-side is-back">
								<div class="py-2 text-center">
									<span class="subtitle"><b style="color: red;">You are</b> a soldier.</span>
								</div>
								<div class="stage-objective text-center">
									<a th:href="@{/playvoiceBook/player}">
									'2인칭 be동사에 대해 학습합니다.<br><br>
									2인칭 be동사는 단수/복수와 관계없이 'are'로써 동일합니다.<br>
									be동사 뒤에 나오는 품사를 '보어'라고 하였습니다. 
									어떤 형태의 보어들이 등장하는지도 한번 살펴보세요.
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stage-cover col-lg-3 col-sm-4 col-6 p-sm-3 p-2">
					<div class="stage-style2 tag-container">
						<div class="tag">
							<div class="stage-pattern tag-side">
								<table>
									<tr><td class="stage-seq text-left p-1">
										<span>3</span><br>
										<i></i>
									</td></tr>
									<tr><td class="stage-rep text-center">
										<span>그는 의사야.</span>
									</td></tr>
									<tr><td class="stage-hits text-right p-1">
										<i></i><br>
										Hits <span>532</span>
									</td></tr>
								</table>
							</div>
					
							<div class="stage-card-back tag-side is-back">
								<div class="py-2 text-center">
									<span class="subtitle"><b style="color: red;">He is</b> a doctor. <b style="color: red;">He is</b> a doctor.</span>
								</div>
								<div class="stage-objective text-center">
									<a th:href="@{/playvoiceBook/player}">
									'3인칭 단수 be동사에 대해 학습합니다.<br><br>
									3인칭 단수 be동사는 'is'를 사용합니다.<br>
									be동사 뒤에 나오는 품사를 '보어'라고 하였습니다. 
									어떤 형태의 보어들이 등장하는지도 한번 살펴보세요.
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stage-cover col-lg-3 col-sm-4 col-6 p-sm-3 p-2">
					<div class="stage-style3 tag-container">
						<div class="tag hidden-card">
							<div class="stage-pattern tag-side">
								<table>
									<tr><td class="stage-seq text-left p-1">
										<span>4</span><br>
										<i></i>
									</td></tr>
									<tr><td class="stage-rep text-center">
									</td></tr>
									<tr><td class="stage-hits text-right p-1">
										<i></i><br>
										<span></span>
									</td></tr>
								</table>
								<i class="fa fa-lock"></i>
								<div class="hidden-character">LOCKED</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</th:block>
		</div><!-- end of levelListPanel -->
		
		<!-- list sponsor section -->
		<div class="playvoicebook-list-sponsor-section text-center">
			<th:block th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}">
			<img src="/images/common/ads/playvoicebook_level_list.jpg"
				class="level-list-ad-pc" width="100%" height="90px">
			</th:block>
			<th:block th:if="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}">
			<img src="/images/common/ads/320_50.jpg"
				class="level-list-ad-mobile" width="100%" height="50px">
			</th:block>
		</div>
		
		<div id="playvoiceBookPageDiv"><div class="level-list-page row no-gutters my-5">
			<div class="col-md-3 col-6 text-left align-self-center">
				<button th:href="@{/playvoiceBook/test/guide}" class="btn btn-pvb">
					<i class="fa fa-angle-left"></i> prev
				</button>
			</div>
			<div class="col-md-6 d-none d-md-inline text-center align-self-center">
				<ul class="pagination pagination-sm justify-content-center">
					<li class="page-item">
						<a class="page-link">1</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-6 text-right align-self-center">
				<button th:href="@{/playvoiceBook/test}" class="btn btn-pvb" disabled="disabled">
					next <i class="fa fa-angle-right"></i>
				</button>
			</div>
		</div></div>
		
	</div>
			
</div><!-- end of levelContentSection -->

</section>