<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/playvoicebook_layout2}">

<head>
<title>스테이지 서머리 (PlayvoiceBook) - 플레이보이스 | Playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaTitle = '스테이지 서머리 (PlayvoiceBook) - 플레이보이스 | Playvoice', 
	metaDescription = '감각동사를 이용하여  \'자동사+보어\' 형태의 문장을 사용하는 연습을 해 봅시다.
	감각동사란 보고, 듣고, 냄새 맡고, 맛을 보고 피부로 느끼는 등의 감각 기관과 관련된 동사입니다.
	감각동사 또한 앞 스테이지에서 학습하신 것과 같은 자동사이며 뒤에 보어가 따라붙습니다. 이때 보어는 일반적으로 형용사가 쓰입니다.', 
	metaImage = '/images/common/characters/playvoicebook.jpg'"></th:block>
	
<link rel="stylesheet" th:href="@{/css/app/playvoicebook.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">
<script th:src="@{/js/app/playvoicebook.js}"></script>

<script th:inline="javascript">
$(document).ready(function() {
	
	//[셀프테스트]----------------------------------------------------------------
	$('#self').change(function(e) {
		var parentLabel = $(this).closest(".btn-selftest");
		/* $('.eng').each(function() {
			$(this).addClass('engTest')
			$(this).html("<span style='ont-size: 1em;'>Speak the following sentence in English.</span>");
		}); */
		if ($(this).prop("checked") == true) {
			$('.eng').hide(100);
			$('.explainTest').show();
			parentLabel.addClass("active");
		} else {
			$('.eng').show(200);
			$('.explainTest').hide();
			parentLabel.removeClass("active");
		}
	});
	
	//영어 예문 토글
	$('.playvoiceDiv').click(function(e) {
		if($('#self').prop("checked") == true) {
			$(this).find('.eng').toggle(100);
		} else {
			return;
		}
	});
	
	//예문 설명 토글
	$('.displayComment').click(function(){
		//$(this).children().css('background-color','#F7F7F7');
		$(this).parent().parent().find('div[data-value="comment"]').toggle(200);
	});
	
	
	//목록으로 이동
	$('#goStageList_btn, #goStageList_btn_xs').click(function(){
		
	});
	
	//스테이지 다시 학습
	$('#retryLearning_btn, #retryLearning_btn_xs').click(function(){
		history.back(-1);
	});
	
	//다음 스테이지로 이동
	$('#goNextStage_btn, #goNextStage_btn_xs').click(function(){
		
	});
	
}); // end of ready


/**
 * 영어 강조 하기
 */
function emphasizeEng(eng, emLoc){
	var tag = '<span style="color:red;" ></span>';
	return emphasizeText(eng, emLoc, tag);
}

</script>
</head>

<section layout:fragment="content">

<!-- title & menu -->
<div th:replace="~{/playvoiceBook/incl/playvoicebook_menu2::menu}"></div>

<div id="stageSummarySection">
<div class="row my-4"><div class="col-lg-1"></div>
	<div class="stage-summary-section col-lg-10 px-lg-3">
		<div class="stage-summary-info d-md-none">
			<h3>Stage Summary</h3>
		</div>
		
		<!-- stage objective -->
		<div class="ribbon-content">
			<div class="title-cover">
				<div class="title">
					<i class="fa fa-book-open fa-fw" style="color: #ee6253;"></i>
					Stage Summary
				</div>
			</div>
			<div class="body">
				<b>감각동사</b>를 이용하여 '자동사+보어' 형태의 문장을 사용하는 연습을 해 봅시다. <br>
				감각동사란 보고, 듣고, 냄새 맡고, 맛을 보고 피부로 느끼는 등의 감각 기관과 관련된 동사입니다. <br>
				감각동사 또한 앞 스테이지에서 학습하신 것과 같은 자동사이며 뒤에 보어가 따라붙습니다. 이때 보어는 일반적으로 <b>형용사</b>가 쓰입니다.
			</div>
		</div>
		
		
		<!-- playvoiceList -->
		<div id="playvoiceListDiv">
			<div class="self-test-guide row no-gutters px-md-3">
				<div class="explainTest col-sm-7 explain-test align-self-center
					d-none d-sm-inline-block">
					한국어를 보고 <span class="point-added2">영어로 말해보세요.</span><br> 
					문장 영역을 클릭하면 영어 예문을 볼 수 있습니다.
					<i class="far fa-grin-alt fa-lg"></i>
				</div>
				<div class="self-test col-sm align-self-center">
					<label class="btn btn-selftest btn-sm jsAction active" 
						title="한국어를 보고 영어로 말해보세요." style="margin:0;">
						<i class="fa fa-vial"></i> 셀프 테스트
						<input id="self" type="checkbox" checked="checked"
							class="option-input checkbox"/>
					</label>
				</div>
				<div class="explainTest col-12 explain-test align-self-center d-sm-none">
					한국어를 보고 <span class="point-added2">영어로 말해보세요.</span><br> 
					문장 영역을 클릭하면 영어 예문을 볼 수 있습니다.
					<i class="far fa-grin-alt fa-lg"></i>
				</div>
			</div>
			<div class="self-test-list-section">
				<th:block th:each="eng, iter : ${engList}">
				<div class="playvoice-cover row no-gutters p-2">
					<div class="playvoiceDiv jsAction col col-lg-11"><div class="row no-gutters">
						<div class="count-style col-auto text-center align-self-start">
							[[${iter.count}]].
						</div>
						<div class="col px-lg-3 align-self-center">
							<div class="sentenceDiv">
								<div class="eng" th:utext="${eng}" 
									style="display: none; "></div>
								<div class="kor my-2">
									[[${korList[iter.index]}]]
								</div>
							</div>
							<div data-value="comment" class="comment" style="display:none;"
								th:text="${commentList[iter.index]}"></div>
						</div>
					</div></div>
					<div th:if="${commentList[iter.index] != null}" 
						class="col-auto col-lg-1 pl-2 text-right">
						<button class="displayComment btn btn-info-custom btn-sm 
							jsAction" title="예문 설명">
							<i class="fas fa-map"></i>
						</button>
					</div>
				</div>
				
				<!-- summary sponsor -->
				<div th:if="${iter.count < 6} AND ${iter.count%5 == 0}" 
					class="playvoicebook-summary-ad-section">
					<div class="d-none d-md-block">
					<img src="/images/common/ads/playvoicebook_summary_pc.jpg"
						width="100%" height="90px">
					</div>
					<div class="d-md-none">
					<img src="/images/common/ads/playvoicebook_summary_mobile.jpg"
						width="100%" height="90px">
					</div>
				</div>
				<div th:if="${iter.count > 5} AND ${iter.count < 11} AND ${iter.count%5 == 0}" 
					class="playvoicebook-summary-ad-section">
					<div class="d-none d-md-block">
					<img src="/images/common/ads/playvoicebook_summary_pc.jpg"
						width="100%" height="90px">
					</div>
					<div class="d-md-none">
					<img src="/images/common/ads/playvoicebook_summary_mobile.jpg"
						width="100%" height="90px">
					</div>
				</div>
				<div th:if="${iter.count > 10} AND ${iter.count%5 == 0}" 
					class="playvoicebook-summary-ad-section">
					<img src="/images/common/ads/728_90.jpg"
						width="100%" height="90px">
				</div>
				</th:block>
			</div>
		</div><!-- end of playvoiceListDiv -->
		
		<div id="buttonsDiv" class="summary-button-section button-section text-center">
			<button th:href="@{/playvoiceBook/level}" class="button-cover2 jsAction mr-3"
				onclick="location.href=$(this).attr('href')">
				<i class="fa fa-stream mr-1"></i> 목록으로
			</button>
			<button id="retryLearning_btn" type="button" class="button-cover jsAction">
				<i class="fa fa-history mr-1"></i> 다시 학습하기
			</button>
		</div>
		
	</div>
		
</div><!-- end of stageSummarySection's boundary -->
	
	
</div><!-- end of stageSummarySection -->

</section><!-- end of content -->