<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{/layout/playvoice_section_layout2}">
<head>
<title>Playvoice | The Basecamp for Learning English</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"
	th:with="metaRobot = null, metaTitle = null, metaDescription = null, 
	metaImage = null, metaRegDate = null"></th:block>
	
<link rel="stylesheet" th:href="@{/css/playvoice_characters.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">

<style>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,800i&display=swap');
</style>
</head>

<section layout:fragment="content">
<div class="coming-soon-page-section-cover">
<div id="welcomeHeaderSection" class="header-section row no-gutters">
	<div class="logo-section col-auto">
		<div><img src="/images/common/icon/icon_paper.png" 
			class="logo-picture back-position"></div>
	</div>
</div><!-- end of welcomeHeaderSection -->

<div id="welcomeBodySection" class="welcome-body-section container">
	<div class="coming-soon-ment-section">
		<h1>It's time to open up</h1>
		<h5>
			We would love to invite you to 
			<span class="playvoice">playvoice</span> soon.
		</h5>
	</div>
	<div class="coming-soon-title-section">
		<b class="title">Playvoice Project</b>
		The Episode Ⅰ - <b>A cosmopolitan tourist</b>
	</div>
	<div></div>
	<!-- 미어캣 -->
	<div class="meerkat-shape-section">
		<div class="body">
			<div class="leg-section">
				<div class="leg"></div><div class="leg second"></div>
			</div>
			<div class="tail-section">
				<div class="tail"><div class="tail">
					<div class="tail"><div class="tail">
						<div class="tail last" th:href="@{/main}"
							onclick="location.href=$(this).attr('href')"></div>
					</div></div>
				</div></div>
			</div>
		</div>
		<div class="arm-section">
			<div class="arm"></div><div class="arm second"></div>
		</div>
		<div class="ear-section">
			<div class="ear"></div><div class="ear second"></div>
		</div>
		<div class="head">
			<div class="eye"></div><div class="eye second"></div>
			<div class="mouse"></div>
			<div class="nose" th:href="@{/main}" 
				onclick="location.href=$(this).attr('href')"></div>
		</div>
	</div>
</div><!-- end of welcomeBodySection -->
</div>
</section><!-- end of content -->