<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{/layout/playvoice_section_layout2}">
<head>
<title>플레이보이스 | Playvoice</title>
<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"></th:block>
<!-- schema org -->	
<script type="application/ld+json">
[<th:block th:replace="~{/incl/meta_fragment2::schemaLogo}"></th:block>]
</script>
	
<link rel="stylesheet" th:href="@{/css/playvoice_characters.css}">
<link rel="stylesheet" th:href="@{/css/app/welcome.css}">

<script th:inline="javascript">
$(document).ready(function(){
	
	// [캐러셀 화면 넘어가는 속도 조절]----------------------------------------------------
	$('.carousel').carousel({
		interval: 1800
	});
	
	// [스크롤 에니매이션 지정 (아이콘 움직임, 배경 기울기 등)]-----------------------------------
	var winHeight = $(window).height();
	$(window).on('scroll',function() {
		var scrTop = $(document).scrollTop() / winHeight, 
			scrTopFixed = scrTop.toFixed(2), 
			scrTransform = scrTopFixed; 
			introApps = $(".-apps");
		
		scrollFlyPlane(scrTransform * 80); // 비행기 아이콘 날아가기
		scrollLabtopUp(scrTransform * 10);// 랩탑이 위로 올라감
		scrollDivRotate(scrTransform * 2); // div 기울기
		
		if(checkVisible($(introApps))) {
			introApps.addClass("active");
			$("html").addClass("modalOpen");
			$(".app-guide-section").focus();
		}
	});



	$(".app-guide-section").on('mousewheel',function(e){
		var elementParent = $(this);
			parentDiv = elementParent.closest(".-apps");
			appContentElement = elementParent.find(".app-guide-cover");
			firstElement = appContentElement.eq(1);
			lastElement = appContentElement.eq(appContentElement.length - 2);
			
		if(parentDiv.is(".active")) {
			elementParent.focus();
			var wheelDelta = e.originalEvent.wheelDelta;
			elementParent.scrollLeft(-wheelDelta + elementParent.scrollLeft(), 500);
			
			if(wheelDelta > 0) {
				// 왼쪽 이동
				elementParent.focus();
				var fistCompare = firstElement.offset().left + firstElement.width()/2;
				var leftCompare = elementParent.scrollLeft() + elementParent.width()/2;
				if(fistCompare > leftCompare) {
					parentDiv.removeClass("active");
					$("html").removeClass("modalOpen");
				}
			} else {
				elementParent.focus();
				var scrollLeft = elementParent.scrollLeft();
				var innerWidth = elementParent.innerWidth();
				var scrollWidth = elementParent.prop("scrollWidth");
				if(scrollLeft + innerWidth >= scrollWidth) {
					parentDiv.removeClass("active");
					$("html").removeClass("modalOpen");
				}

			}
			
		}
	});

	
	
});


/**
 * (스크롤 이벤트) 비행기 아이콘 날아가기
 */
function scrollFlyPlane(scrTransform) {
	$(".fa-plane").css({
		'bottom': scrTransform/2 + "%",
		'left': scrTransform + "%",
	});
}

/**
 * (스크롤 이벤트) 랩탑 위로 올라감
 */
function scrollLabtopUp(scrTransform) {
	$(".laptop-cover").css("min-height","calc(600px - "+scrTransform+"rem)");
	$(".laptop-cover .laptop").css("top","-"+scrTransform+"rem");
}

/**
 * (스크롤 이벤트) div 기울기
 */
function scrollDivRotate(scrTransform) {
	$(".-about, .-howto").css("transform","skewY("+scrTransform+"deg)");
	setTimeout(function() {
		$(".-about, .-howto").css("transform","skewY(0deg)");
	}, 800);
}






function moveDivPage(div, obj) {
	var moveSection = $("#" + div).offset().top;
    $('html, body').animate({scrollTop : moveSection}, 300);
}


/**
 * 스크롤 시 화면 영역에 div가 중간에 위치하는지 감지
 */
function checkVisible(elm, eval) {
    eval = eval || "object visible";
    var viewportHeight = $(window).height(), // Viewport Height
        scrolltop = $(window).scrollTop(), // Scroll Top
        y = $(elm).offset().top,
        elementHeight = $(elm).height();   
    
    if (eval == "object visible") {
    	return ((y < scrolltop) && ((y + elementHeight) > (scrolltop + viewportHeight)));
    }
    if (eval == "above") {
    	return ((y < scrolltop));
    }
}

</script>

<style>
@font-face {
	font-family: 'Cafe24Simplehae'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}
</style>

</head>

<section layout:fragment="content">
<!-- ------------------------------[header]--------------------------------- -->
<header th:replace="~{/incl/header2::welcome_header}"></header>
<div id="playvoiceWelcomeCoverage" class="playvoice-welcome-coverage">
<!-- ----------------------------[welcome title]---------------------------- -->
<div id="playvoiceWelcomeSection0" class="playvoice-first-entry-section -title">
	<!-- [welcome title] -->
	<div id="playvoiceWelcomeTitleDiv" class="playvoice-title-section">
		<div class="playvoice-title">
			<div class="eng-title">
				<span class="episode">Episode<span class="i">I</span></span> 
				- A Cosmopolitan Tourist
			</div>
			<h1>Welcome to <br>playvoice</h1>
			<div class="sub-title">
				<span>대한민국 영어 리부트 프로젝트,</span>
				서울에서 뉴욕까지의 여정을 통해 영어를 경험해 보세요.
			</div>
		</div>
	</div>
	<!-- 페이지 노트북 -->
	<div class="laptop-cover">
		<div class="laptop">
			<div class="shadow"></div>
			<div class="lid"></div>
			<div class="screen"><div class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" title="픽셔너리">
						<img src="/images/app/guide/app_pictionary.jpg" 
							class="d-block w-100" alt="Pictionary">
					</div>
					<div class="carousel-item" title="탐정 줄리">
						<img src="/images/app/guide/app_DetectiveJulie.jpg" 
							class="d-block w-100" alt="Detective Julie">
					</div>
					<div class="carousel-item" title="플레이보이스북">
						<img src="/images/app/guide/app_playvoicebook.jpg" 
							class="d-block w-100" alt="PlayvoiceBook">
					</div>
					<div class="carousel-item" title="에그 샷" 
						style="background-color: #c7e2ff;">
						<img src="/images/app/guide/app_EggShot.jpg" 
							class="d-block w-100" alt="Egg Shot">
					</div>
					<div class="carousel-item" title="죠니 덱" 
						style="background-color: #814cb6;">
						<img src="/images/app/guide/app_JohnnyDeck.jpg" 
							class="d-block w-100" alt="Johnny Deck">
					</div>
					<div class="carousel-item" title="딕테이션북">
						<img src="/images/app/guide/app_dictationbook.jpg" 
							class="d-block w-100" alt="DictationBook">
					</div>
					<div class="carousel-item" title="잉글리시 스택" 
						style="background-color: #f1f4f9;">
						<img src="/images/app/guide/app_babel_eng.jpg" 
							class="d-block w-100" alt="babel">
					</div>
					<div class="carousel-item" title="코리안 스택" 
						style="background-color: #f8f1f9;">
						<img src="/images/app/guide/app_babel_kor.jpg" 
							class="d-block w-100" alt="babel">
					</div>
					<div class="carousel-item" title="다이제스트">
						<img src="/images/app/guide/app_digest.jpg" 
							class="d-block w-100" alt="digest">
					</div>
					<div class="carousel-item" title="그래머북">
						<img src="/images/app/guide/app_grammarBook.jpg" 
							class="d-block w-100" alt="grammarBook">
					</div>
					<div class="carousel-item" title="스몰톡">
						<img src="/images/app/guide/app_smallTalk.jpg" 
							class="d-block w-100" alt="smalltalk">
					</div>
				</div>
			</div></div>
			<div class="bottom d-none d-lg-block">
				<div class="keyboard"></div>
				<div class="trackpad"></div>
			</div>
		</div>
	</div>
	
	<!-- particle 효과 -->
	<div class="pv-hero-particle"><div class="pv-particle">
		<div class="pv-particle-item -v1 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v2 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v3 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v4 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v5 -dot"></div>
		<div class="pv-particle-item -v6 -dot"></div>
		<div class="pv-particle-item -v7 -dot"></div>
		<div class="pv-particle-item -v8 -dot"></div>
		<div class="pv-particle-item -v9 -dot"></div>
		<div class="pv-particle-item -v10 -dot"></div>
		<div class="pv-particle-item -v11 -dot"></div>
	</div></div>
</div><!-- end of playvoiceFirstEntrySection -->



<!-- --------------------------[1. 플레이보이스는?]------------------------------ -->
<div id="playvoiceWelcomeSection1" class="playvoice-first-entry-section -about">
	<div class="playvoice-first-entry-cover">
		
	</div>
</div>


<!-- --------------------------[2. 앱 소개]----------------------------------- -->
<div id="playvoiceWelcomeSection2" class="playvoice-first-entry-section -apps">
	<div class="app-guide-back"><div class="app-guide-section">
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
		<div class="app-guide-cover"></div>
	</div></div>
</div>


<!-- --------------------------[3. 어떻게 사용]--------------------------------- -->
<div id="playvoiceWelcomeSection3" class="playvoice-first-entry-section -howto">
	<div class="playvoice-first-entry-cover">
	
	</div>
</div>


<!-- --------------------------[4. 시작하기]----------------------------------- -->
<div id="playvoiceWelcomeSection4" class="playvoice-first-entry-section -enjoy">
	
	
	<!-- particle 효과 -->
	<div class="pv-hero-particle"><div class="pv-particle">
		<div class="pv-particle-item -v1 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v2 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v3 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v4 -img">
			<img src="/images/common/icon/icon_paper.png" alt="플레이보이스">
		</div>
		<div class="pv-particle-item -v5 -dot"></div>
		<div class="pv-particle-item -v6 -dot"></div>
		<div class="pv-particle-item -v7 -dot"></div>
		<div class="pv-particle-item -v8 -dot"></div>
		<div class="pv-particle-item -v9 -dot"></div>
		<div class="pv-particle-item -v10 -dot"></div>
		<div class="pv-particle-item -v11 -dot"></div>
	</div></div>
</div>


<div class="newyork-image-section">
	<div class="newyork-image-cover"></div>
</div>
</div><!-- end of playvoiceWelcomeCoverage -->



</section><!-- end of content -->
</html>