<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playboard_layout2}">

<head>
<title>플레이보드 게시글 수정 - 플레이보이스 | Playvoice</title>
<link rel="stylesheet" th:href="@{/css/app/app_add.css}">
<link rel="stylesheet" th:href="@{/css/app/playboard.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>

<script th:inline="javascript">
var file_num = 0;

$(document).ready(function() {
	/* 동적(파일) 실행 */
	var paste = $("#file_paste");
	$("#copy_btn0").click(function(){
		var file_copys = $(".file-copy"); // 카피 할 부분
		if(file_copys.length > 9) {
			alert('파일은 최대 10개까지 첨부할 수 있습니다.');
		} else {
			var input = $("#file_copy0").clone();
			input.appendTo(paste); //end copy
			file_num++;
       
			var copy_section = $(".file-copy").last();
			var file_label = $(".file-label").last();
			var attached_file = $(".attachedFiles").last();
			var attached_file_label = $(".attachedFilesLabel").last();
			var add = $(".copy-btn").last();
			var deletes = $(".delete-btn").last();
			copy_section.attr("id", "file_copy" + file_num);
			file_label.html("");
			attached_file.val("");
			attached_file.attr("id", "attachedFiles[" + file_num + "]");
			attached_file_label.attr("for", "attachedFiles[" + file_num + "]");
			attached_file_label.text("파일을 선택해 주세요 (최대 10개)");
			add.css("display", "none");
			deletes.css("display", "");
			deletes.attr("id", "delete_btn" + file_num);
		}
	});
	
	
});

function deletes(id){
	for(var i = 0; i <= file_num; i++){
		if(id == 'delete_btn' + i){
			$("#file_copy" + i).remove();
			break;
		}
	}
}

function filesAttr(){
	var files = document.getElementsByClassName("attachedFiles");
	var post_num = 0;
	for(var i = 0; i < files.length; i++){
		if(files[i].value != ""){
			files[i].name = "attachedFiles[" + post_num + "]";
			post_num++;
		}
	}
}

</script>
</head>

<section layout:fragment="content">
<div class="add-board-article-section mt-lg-5">
	<div class="article-introduction-section">
		<h3 class="category"><span>Editing Article Form</span></h3>
	</div>

	<!-- ----------------------[1. Edit Article Form]------------------------ -->
	<div id="editArticleFormContainer" class="edit-board-form-section formContainer">
		<!--/*응답메세지 박스 : server*/-->
		<div class="resMsgs" style="display:none;">
			<h3>
				Response Messages
				<span>Your request was processed.</span>
			</h3>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
		</div>
		
		<!--/*응답메세지 박스 : script*/-->
		<div id="resMsgs" style="display:none;">
			<h4>Respond Messages</h4>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
			<div id="scriptMsgs"></div>
		</div>
		
		<form id="fileListForm" method="post" class="form-horizontal">
			<div id="attachedFileDiv">
				<!--/*첨부파일 목록*/-->
				<div class="form-group row no-gutters">
					<label for="writer" class="file-label col-md-1 col-12 control-label 
						headerLabel">첨부파일</label>
					<div class="file-copy-input col-md-10 col"><div id="removeFileBtns">
						<div class="mb-1">
							<span>final_destination.jpg</span>
							<i class="fa fa-times fa-fw text-danger" title="파일 삭제"></i>
						</div>
						<div class="mb-1">
							<span>my_drake_i_like_the_music.png</span>
							<i class="fa fa-times fa-fw text-danger" title="파일 삭제"></i>
						</div>
					</div></div>
				</div>
			</div>
		</form>
		
		<form id="editArticleForm" class="form-horizontal" method="post">
			<div id="articleDiv">
				<input id="category" type="hidden" value="1234"/>
				<input type="hidden" readonly="readonly" value="1241212"/>
				<span class="personacon-alias" style="display: none;">2020-06-20 (금) 13:16:26</span>
				
				<!-- [1.1 타이틀] -->
				<div class="form-group row no-gutters">
					<label for="title" class="col-md-1 control-label headerLabel">타이틀</label>
					<div class="col-md-11">
						<input type="text" value="7년 사귄 여자친구랑 헤어진 썰" 
							class="form-control playvoice-form"/>
					</div>
				</div>
				
				<!-- [1.2 아티클 내용] -->
				<div class="form-group row no-gutters">
					<label for="content" class="col-md-1 control-label headerLabel
						d-none d-md-inline-block">내용</label>
					<div class="article-text-section col-md-11">
						<div id="summernote" class="playvoice-form"></div>
						<script>
						$('#summernote').summernote({
							placeholder: 'Hello stand alone ui',
							tabsize: 2,
							height: 400
						});
						</script>
					</div>
				</div>
				
				<!-- [1.3 작성자] -->
				<div class="form-group row no-gutters">
					<label for="writer" class="col-md-1 col-3 control-label 
						headerLabel">작성자</label>
					<div class="col-md-11 col">
						<span class="personacon-alias">lazyhysong 화욤이</span>
					</div>
				</div>
				
				<!-- [1.4 첨부파일] -->
				<div id="file_copy0" class="file-copy form-group row no-gutters">
					<label for="atte" class="file-label col-md-1 col-12 control-label 
						headerLabel">첨부파일<br class="d-none d-md-block">
						<span class="guide">(최대 10개)</span>
					</label>
					<div class="file-copy-input col-md-10 col">
						<div class="custom-file" style="width: 100%;">
							<input type="file" id="attachedFiles[0]" name="attachedFiles[0]" 
								class="custom-file-input attachedFiles">
							<label class="custom-file-label attachedFilesLabel form-control playvoice-form" 
								for="attachedFiles[0]">파일을 선택해 주세요 (최대 10개)</label>
						</div>
					</div>
					<div class="file-copy-button col-md-1 col-auto text-center align-self-center">
						<button id="copy_btn0" type="button" class="copy-btn btn 
							btn-sm btn-playboard">
							<i class="fa fa-plus"></i>
						</button>
						<button id="delete_btn0" type="button" onclick="deletes(this.id)" 
							class="delete-btn btn btn-xs btn-danger" style="display:none;">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div id="file_paste">
				<!-- 동적파일 폼 붙여넣는 영역 -->
				</div>
				
				<!-- [1.5 첨부파일 경로] -->
				<div class="form-group row no-gutters" style="display: none;">
					<div class="col-md-11 ml-auto">
						<div class="mb-1">final_destination.jpg</div>
						<div class="mb-1">my_drake_i_like_the_music.png</div>
					</div>
				</div>
				</th:block>
			</div>
			
			<!--/*submit 컨트롤 박스*/-->
			<div id="submitDiv" class="submit-button-section row no-gutters">
				<label class="col-md-1 col d-none d-md-inline-block"></label>
				<div class="col-auto">
					<button id="editArticleBtn" type="button" 
						class="btn btn-playboard-submit">수정</button>
				</div>
				<div class="col-auto">
					<button id="resetBtn" type="reset" 
						class="btn btn-playboard-outline">취소</button>
				</div>
				<div class="col-auto">
					<button id="backListBtn" type="button" 
						class="btn btn-playboard-outline">목록으로</button>
				</div>
			</div>
		 </form>
		 <div class="errorMsgs" style="display: none;">
		 	<h3>
				Error Messages
				<span>Error Occured while processing the request.</span>
			</h3>
			<pre></pre>
	 	</div>
	</div><!-- end of addArticleFormContainer -->
</div>
	
</section><!-- end of content -->