<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playboard_layout}">

<head>
<title>[[${article?.title}]] - 플레이보이스 | Playvoice</title>

<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment::meta}"
	th:with="metaTitle = ${article?.title} + ' - 플레이보이스 | Playvoice', 
	metaDescription = ${#stringUtil.removeTag(article?.content)}, 
	metaImage = '/images/app/board/index_board.jpg', 
	metaRegDate = ${article?.regDate}"></th:block>
	
<!-- schema org (bread, article) -->	
<script type="application/ld+json">
[<th:block th:insert="~{/incl/meta_fragment::schemaBread}"
	th:with="breadList = ${ {'/board', '/board/' + board.alias + '/list', 
	#httpServletRequest.requestURI} },
	breadName = ${ {'플레이 보드', board?.korName + ' 목록', 
	article?.title} }"></th:block>,<th:block 
	th:insert="~{/incl/meta_fragment::schemaBlog}"
	th:with="schemaHeadline = ${article?.title},
	metaDescription = ${#stringUtil.removeTag(article?.content)},
	metaImage = '/images/app/board/index_board.jpg',
	schemaAlias = ${article?.personacon?.alias},
	metaRegDate = ${article?.regDate},
	ratingCount = ${article?.likeCount}"></th:block>]
</script>
	
<link rel="stylesheet" th:href="@{/css/app/playboard.css}">
<link rel="stylesheet" th:href="@{/css/app/comment.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">

<script th:src="@{/js/app/playboard.js}"></script>

<script th:inline="javascript">
$(document).ready(function() {

	const isLogin = /*[[${#authentication.principal} eq 'anonymousUser'
		? null :${#authentication.principal.member.loginId}]]*/null;
	const boardAlias = /*[[${board.alias}]]*/'free';
	const articleId = $('#articleId').val();
	const articleId56 = /*[[${article.id56}]]*/null;
	
	// [앱 컨셉바 설명 펼치기]---------------------------------------------------------
	$(".toggleAppConceptBar").click(function(){
		$(this).find(".detail").toggle(100);
	});
	// [댓글 페이지 가져오기]----------------------------------------------------------
	var next = '/reply/board/list/' + articleId;
	$('#commentPage').load(next);
	
	// [게시글 좋아요 처리]-----------------------------------------------------------
	$('#likeCountBtn').click(function(e) {
		if(isLogin == null){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = "/auth/login?destPage=" + location.pathname + location.search;
			}
			return;
		}
		var mid = $('#yourId').val();
		var obj = {
			contentId : articleId,
			memberId : mid
		}
		//--------------
		handleLike(obj);
		//--------------
	});
	
	// [삭제 처리]-----------------------------------------------------------------
	$('#deleteArticleBtn, #deleteArticleBtn_xs').click(function(e) {
		e.preventDefault();
		if(isLogin == null){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = "/auth/login?destPage=" + location.pathname + location.search;
			}
			return;
		}
		
		if(confirm("삭제할까요?")){
			if(boardAlias == null){
				var pathname = window.location.pathname;	//pathname=/board/notice/list
				var index = pathname.indexOf('/board/')+7;
				var lastIndex = pathname.lastIndexOf('/');
				boardAlias = pathname.substring(index, lastIndex);
			}
			var obj = {
				boardAlias:boardAlias, 
				articleId:articleId
			};
			//-----------------
			deleteArticle(obj);
			//-----------------
		}
	});
	
	
	// [수정 처리]-----------------------------------------------------------------
	$('#editArticleBtn').click(function(e) {
		e.preventDefault();
		if(isLogin == null){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = "/auth/login?destPage=" + location.pathname + location.search;
			}
			return;
		}
		if(boardAlias == null){
			var pathname = window.location.pathname;	//pathname=/board/notice/list
			var index = pathname.indexOf('/board/')+7;
			var lastIndex = pathname.lastIndexOf('/');
			boardAlias = pathname.substring(index, lastIndex);
		}
		location.href = '/board/' + boardAlias + '/edit/' + articleId;
	});
	
	// [댓글 입력]-----------------------------------------------------------------
	$('#addCommentBtn').click(function(e) {
		e.preventDefault();
		if(isLogin == null){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = "/auth/login?destPage=" + location.pathname + location.search;
			}
			return;
		}
		
		var comment = $('#comment').val();
		var personaconId = $('#yourId').val(); 
		
		var obj = {
			comment:comment, 
			personaconId:personaconId, 
			articleId:articleId
		};
		//--------------
		addComment(obj);
		//--------------
		$(this).siblings('#cancelCommentBtn').click();
	});
	
	// [신고처리]-----------------------------------------------------------------
	$('#reportBtn').click(function(e) {
		if(isLogin == null){
			if(confirm("로그인 페이지로 이동합니다.")){
				self.location = "/auth/login?destPage=" + location.pathname + location.search;
			}
			return;
		}
	});

	// [아티클 share link 클립보드로 복사]---------------------------------------------
	$(".share-link").click(function(){
		var clipParent = $(this).closest(".copy-url-cover");
		var inputClip = clipParent.find(".hide-input");
		inputClip.select();
		try {  
			var successful = document.execCommand('copy'); 
			clipParent.find(".successClip-guide").show();
			setTimeout(function() {
				clipParent.find(".successClip-guide").hide();
			}, 2000);
			
		} catch (err) { 
			alert('이 브라우저는 지원하지 않습니다.') 
		} 
		inputClip.blur();
	});
	
}); /* end of ready */


/* ----------------------------------------------------------------------------- 
*							Handling page event
* --------------------------------------------------------------------------- */

/**
 * 게시글 좋아요 화면 처리
 */
function successHandleLike(count) {
	if(count == -1){
		alert("이미 처리 되었습니다.");
		$('#likeCountBtn').prop("disabled", true);
		$('#likeCountBtn i').css("color", "#D9544F");
		return;
	}
	$('#likeCount').html(count);
	$('#likeCountBtn i').css("color", "#D9544F");
}

/**
 * 게시글 삭제 화면 처리
 */
function successDeleteArticle(boardAlias) {
	alert("게시글이 삭제되었습니다.");
	location.href = '/board/' + boardAlias + '/list';
}

/* 
 * 댓글 페이지 리로드
 */
function successAddComment(articleId){
	alert('댓글이 등록되었습니다.');
	var next = '/reply/board/list/' + articleId;
	$('#comment').val('');			//코멘트 영역 초기화
	$('#commentPage').load(next+' #commentList');
}

</script>
</head>



<section layout:fragment="content">

<div id="viewArticleContent" class="view-article-section mt-lg-5">
<!--/* ----------------------------[1.1광고]------------------------------- */-->
<div th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}"
	class="playboard-view-ad-section">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-format="fluid"
	     data-ad-layout-key="-h1+9-s-3v+9w"
	     data-ad-client="ca-pub-7152306695077047"
	     data-ad-slot="5229518055"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<!--/* -------------------------[1.2 게시글 상세 정보]-------------------------- */-->
<div id="detailBoardArticleSection" 
	th:with="loginPersonacon = ${session?.userContainer?.personacon}">
	
<div id="viewArticleFormContainer" class="formContainer">
	<!-- [1.1 타이틀] -->
	<div class="article-title-div">
		<i class="fa fa-quote-left"></i>
		<span th:text="${article.title}">타이틀</span>
		<i class="fa fa-quote-right"></i>
	</div>
	<!-- [1.2 아티클 정보 / 내용] -->
	<div id="articleDiv" class="article-content-div">
		<!-- [PC & Tablet ver.] -->
		<div class="d-none d-md-block"><div class="article-info row no-gutters">
			<h5 class="col-1 align-self-center">작성자 :</h5> 
			<h6 th:with="personacon=${article.personacon}" 
				class="col-auto align-self-center">
				<th:block th:replace="~{/incl/user_personacon::user_sm}"></th:block>
			</h6>
			<h6 class="col align-self-center">
				<span class="personacon-alias" th:text="${article.personacon.alias}"></span>
			</h6>
			
			<h5 class="col-1 align-self-center">등록일 :</h5> 
			<h6 class="date col-3 align-self-center">
				[[${#dates.format(article.regDate, 'yyyy-MM-dd (E) HH:mm')}]]
			</h6>
			
			<h5 class="col-1 align-self-center">조회수 :</h5> 
			<h6 class="col-1 align-self-center">[[${article.hits}]]</h6>
			
			<h5 th:if="${session.userContainer != null AND 
				!#strings.equalsIgnoreCase(article.personacon.pid, loginPersonacon.pid)}" 
				class="col-1 text-right align-self-center">
				<button id="reportBtn" type="button" 
					class="btn btn-xs btn-report">신고</button>
			</h5> 
		</div></div>
		<!-- [Mobile ver.] -->
		<div class="d-md-none"><div class="article-info row no-gutters">
			<div th:with="personacon=${article.personacon}" 
				class="personacon-section col-auto align-self-center">
				<th:block th:replace="~{/incl/user_personacon::user_sm}"></th:block>
			</div>
			<div class="writer-info-section col align-self-center">
				<div class="personacon-alias">[[${article.personacon.alias}]]</div>
				<div class="article-date-info">
					<span>[[${#dates.format(article.regDate, 'yyyy-MM-dd (E) HH:mm')}]]</span>
					<span>조회 [[${article.hits}]]</span>
				</div>
			</div>
			<div th:if="${session?.userContainer}" 
				class="etc-section col-auto p-2 btn-group align-self-center">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-ellipsis-v fa-fw"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<th:block th:if="${#strings.equalsIgnoreCase(article.personacon.pid, loginPersonacon.pid)}
						OR ${loginPersonacon?.memberType} == 'A'">
					<li id="editArticleBtn_xs" class="dropdown-item text-center">수정</li>
					<li id="deleteArticleBtn_xs" class="dropdown-item text-center">삭제</li>
					</th:block>
					<li th:if="${!#strings.equalsIgnoreCase(article.personacon.pid, loginPersonacon.pid)}" 
						class="dropdown-item text-center">신고</li>
				</ul>
			</div>
		</div></div>
		
		<!-- 공유 링크 -->
		<div class="col-auto share-link-section">
			<div class="copy-url-cover text-right">
				<div>
					<input type="text" th:value="${board.contentUrl}" 
						class="hide-input"/>
					<span class="share-title">Share :</span><br class="d-md-none">
					<span class="share-link">
						<span>[[${board.contentUrl}]]</span>
						<i class="fa fa-external-link-alt fa-fw"></i>
					</span>
				</div>
				<div class="clip-guide">클릭하여 복사</div>
				<div class="successClip-guide" style="display: none;">복사가 완료되었습니다</div>
			</div>
		</div>
		
		<th:block th:if="${board.categoryId==T(com.varxyz.playvoice.common.Constants).BOARD_LIBRARY 
			|| board.categoryId==T(com.varxyz.playvoice.common.Constants).BOARD_FREE}">
		<!-- 첨부파일 -->
		<div th:if="${article?.attachedFiles != null AND 
			#lists.size(article?.attachedFiles)>0}" class="attached-files-list">
			<a th:each="attachedFile : ${article.attachedFiles}" 
				th:href="@{/download/board/{path}/{original}(path=${attachedFile.filePath}, original=${attachedFile.fileName})}">
				<i class="fa fa-download"></i>
				<span th:text="${attachedFile.fileName}"></span>
			</a>
		</div>
		</th:block>
		
		<!-- 아티클 내용 -->
		<div class="article-content" th:utext="${article.content}"></div>
	</div><!-- end of articleDiv -->

	<!-- [1.3 좋아요/삭제/편집 컨트롤] -->
	<form id="modifyForm" class="article-control-button-section">
		<div th:if="${session.userContainer != null}" id="submitDiv">
			<div class="formGroup row no-gutters">
				<div class="col-md-4 d-none d-lg-inline"></div>
				<div class="col-md-4 col-12 text-center">
					<button id="likeCountBtn" type="button" class="btn btn-sm btn-like">
						<i class="like-button fa fa-heart" style="color: #c7c7c7;"></i>
						<span>LIKE <span id="likeCount" th:text="${article.likeCount}"></span></span>
					</button>
				</div>
				
				<div class="col-md-4 text-right d-none d-lg-inline" 
					th:if="${article.personacon.pid == loginPersonacon.pid}
					OR ${loginPersonacon?.memberType} == 'A'">
					<button id="editArticleBtn" class="btn btn-sm btn-playboard">
						<i class="fa fa-edit fa-fw"></i> Edit
					</button>
					<button id="deleteArticleBtn" class="btn btn-sm btn-playboard2">
						<i class="fa fa-trash fa-fw"></i> Delete
					</button>
				</div>
			</div>
		</div>
		<div>
			<input type="hidden" id="articleId" th:value="${article.aid}"/>
			<input type="hidden" id="personaconId" th:value="${article.personacon.pid}"/>
			<input type="hidden" id="yourId" th:if="${session.userContainer}" 
				th:value="${loginPersonacon.pid}"/>
		</div>
	</form>
</div>
</div><!-- end of detailBoardArticleSection -->

<!-- 광고 영역 -->
<div id="playboardContentAdSection" class="playboard-content-ad-section">
	<div class="playvoice-ad-coverage">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- PlayBoard view layout bottom -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7152306695077047"
		     data-ad-slot="6646541507"
		     data-ad-format="horizontal"
		     data-full-width-responsive="false"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>

<!-- ----------------------------[2. 댓글 보기]-------------------------------- -->
<div id="boardCommentSection" class="article-comment-section">
<h3 class="comment-title">Comments</h3>
<div class="article-comment-cover">
	<form id="replyForm" method="post">
		<!-- [2.1 댓글 등록 폼] -->
		<div th:if="${session.userContainer}" class="comment-form">
			<div class="row no-gutters">
				<div class="col-md-auto d-none d-md-block py-2">
					<th:block th:replace="~{/incl/user_personacon::md}"></th:block>
				</div>
				<div class="col-md col-12 pl-md-2 pt-1">
					<div class="row no-gutters">
						<div class="comment-icon col-auto">
							<i class="fa fa-pencil-alt fa-flip-horizontal"></i>
						</div>
						<div id="articleDiv" class="col">
							<textarea id="comment" rows="1" placeholder="댓글을 입력해 주세요." 
								class="comment-textarea controlComment"></textarea>
						</div>
					</div>
					<!-- 폼 전송 영역 -->
					<div id="submitDiv">
						<div id="comment_button_section" class="text-right" 
							style="display: none;">
							<input id="cancelCommentBtn" type="reset" value="취 소" 
								class="btn btn-sm btn-light"/>
							<input id="addCommentBtn" type="button" value="등 록" 
								class="releaseBtn btn btn-sm btn-main-submit" 
								disabled="disabled"/>
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		<div th:unless="${session.userContainer}" class="comment-form">
			<div class="loginRequired" style="padding-top: 5px;">
				<textarea rows="1" placeholder="로그인 후 댓글을 이용할 수 있습니다." 
					readonly="readonly"></textarea>
			</div>
		</div>
		
		<!-- [2.2 대댓글 등록폼(댓글 폼으로부터 복사)] -->
		<div th:if="${session.userContainer}" id="re_comment_copy" 
			class="re-comment-copy row no-gutters" style="display: none;">
			<div class="col-md-auto col-2 pr-1 py-4">
				<th:block th:replace="~{/incl/user_personacon::sm}"></th:block>
			</div>
			<div class="child-comment-content-div comment-form col-md col-10">
				<!-- 폼 컴포넌트 영역 -->
				<div>to. <span class="re-alias">답글 받는 멤버</span></div>
				<div><textarea rows="1" class="recomment-textarea controlComment"></textarea></div>
				<!-- 폼 전송 영역 -->
				<div class="text-right pt-1">
					<input class="cancelCommentBtn2 btn btn-light btn-sm" 
						type="reset" value="취 소"/>
					<input class="addCommentBtn2 releaseBtn recomment-btn btn btn-main3 btn-sm" 
						onclick="handleReComment()" type="button" 
						value="등 록" disabled="disabled"/>
				</div>
				<input type="hidden" class="hidden_parentId"/>
			</div>
		</div><!-- end of re_comment_copy -->
	
		<!-- [2.3 댓글 영역] -->
		<div id="commentPage"></div>
	</form>
</div>
</div><!-- end of boardCommentSection -->

<!-- 광고 영역 -->
<div id="playboardCommentAdSection" class="playboard-comment-ad-section">
	<div class="playvoice-ad-coverage">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- PlayBoard view layout comment -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7152306695077047"
		     data-ad-slot="7492719314"
		     data-ad-format="horizontal"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>


</div>
</section><!-- end of content -->
</html>