<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playvoice_basic_layout2}">

<head>
<title>Playvoice | The BaseCamp for Learning English</title>

<link rel="stylesheet" th:href="@{/css/app/playboard.css}">
<link rel="stylesheet" th:href="@{/css/app/terms.css}">

<script th:inline="javascript">
$(document).ready(function() {
	// [앱 컨셉바 설명 펼치기]---------------------------------------------------------
	$(".toggleAppConceptBar").click(function(){
		$(this).find(".detail").toggle(100);
	});
	
	//[게시글 검색시]----------------------------------------------------------
	$('.search-article').click(function(e){
		$('#searchFormDiv').toggle();
	});
	
	//[초기 sortMark 디스플레이 설정]--------------------------------------------
	var defaultSortBy= $('#sortName').val();
	var target = $('a[data-value='+defaultSortBy+']');
	$('a[data-value='+defaultSortBy+']').next().css("display", "inline");
	
	//[next pagination 링크 전송]---------------------------------------------
	var formObj = $("#pageForm");
	$(".pagination a").click(function(e) {
		e.preventDefault();
		formObj.find('[name="page"]').val($(this).attr('href'));
		formObj.submit();
	});
	
	//[ajax 전송 : 2) 테이블 컬럼 헤더 검색]---------------------------------------
	$("#articleListByDefault a[class=thlink]").click(function(e) {
		console.log("#articleListByDefault a[class=thlink]");
		
		//단순조회에서는 searchType은 불필요하다.
		$('#searchType2').val('all');
		
		console.log("#end of articleListByDefault");
	});
});
</script>
</head>

<section layout:fragment="content">

<!-- title & menu -->
<div id="menuSection" th:insert="~{/terms/incl/terms_menu2::menu}"></div>

<div class="mt-lg-4">

<!--/* ------------------------[게시글 상세보기 표시 영역]------------------------ */-->
<div id="viewArticle"></div>

<!--/* ------------------------[플레이보드 타이틀 영역]-------------------------- */-->
<div class="introduction-section">
	<h3 class="article-title row no-gutters">
		<span class="col-auto">
			[[${engName}]]
			<span class="d-none d-md-inline-block">Board</span>
		</span>
	</h3>
	<div class="sub">the previous terms and conditions of playvoice</div>
</div>

<!-- -----------------------[include : Search Article Form]----------------- -->
<div id="searchFormDiv" th:insert="~{/board/incl/search_article2::search_article}" 
	 class="search-form-section" style="display: none;"></div>
	
<!--/* ---------------------------[2. 게시글 목록]---------------------------- */-->
<div id="articleListByDefault" class="board-article-list-section">
	<!--/* 검색과 등록 아이콘 */-->
	<div class="d-none d-lg-block"><div class="search-add-button-section row no-gutters">
		<div class="col-6 text-left">
			<a href="javascript:void(0)" class="search-article">
				<i class="fas fa-search fa-fw"></i>
				<span class="guide-quote">게시글 검색</span>
			</a>
		</div>
	</div></div>
	
	<!-- [2.1 PC & Tablet ver.] -->
	<div class="d-none d-md-block">
	<table id="boardTable" class="board-table-l table table-sm table-bordered table-hover text-center">
		<thead>
		<tr class="thead">
			<th style="width: 60px;">번호</th>
			<th>제목</th>
			<th style="width: 60px;"><!-- N or P label --></th>
			<th style="width: 60px;">등록일<span class="sortMark">▼</span></th>
			<th style="width: 60px;">조회수</th>
			<th style="width: 110px;">작성자</th>
		</tr></thead>
		
		<tbody>
		<!-- ------------------------/* 게시글 목록 */-------------------------- -->
		<tr>
			<!--/*번호*/-->
			<td class="t-number">2546</td>
			
			<!--/*제목*/-->
			<td class="t-title text-left" title="제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~! 제목이다하하항!!~!">
				<a th:href="@{/terms/policy/view}" class="articleLink">
					<span class="subject">
						플레이보이스 이용약관 (시행일자: 2018년 5월 1일)
					</span>
					<span class="comment-badge">
						<span class="badge badge-pill reply-count">
							235
						</span>
					</span>
				</a>
			</td>
			<td class="t-info text-right"></td>
		
			<!--/*등록일*/-->
			<td class="t-date">11-24</td>
			
			<!--/*조회수*/-->
			<td class="t-hits">23423</td>
			
			<!--/*작성자*/-->
			<td class="t-writer">
				<span>플레이보이스</span>
			</td>
		</tr>
		</tbody>
	</table></div>
	
	<!-- [2.2 Mobile & Tablet ver.] -->
	<div class="d-md-none">
	<table id="boardTable" th:with="today='2019-11-27(목)'" 
		class="board-table-l table table-sm table-bordered table-hover text-center tboby-xs">
		<tbody>
		<!------------/*게시글 목록*/------------>
		<tr>
			<td class="text-left">
				<div class="t-title-xs">
					<a th:href="@{/terms/policy/view}" class="articleLink">
						<span class="subject-xs">
							플레이보이스 이용약관 (시행일자: 2018년 5월 1일)
						</span>
						<span class="comment-badge">
							<span class="badge badge-pill reply-count">
								235
							</span>
						</span>
					</a>
				</div>
				<div class="t-info-xs">
					<span class="t-writer-xs">플레이보이스</span> 
					<span class="t-date-xs">11-24</span> 
					<span class="t-hits-xs"><i class="fa fa-eye"></i> 23423</span>
				</div>
			</td>
			<td class="text-right" style="width: 50px; padding-left:0;"></td>
		</tr>
		</tbody>
	</table></div>
	
	<!--/* Paging */-->
	<nav class="article-list-pagenation-section mt-3">
		<ul class="pagination pagination-sm justify-content-center">
			<li class="page-item">
				<a class="page-link">
					PREV
				</a>
			</li>
			<li class="page-item active">
				<a class="page-link">1</a>
			</li>
			<li class="page-item">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">
					NEXT
				</a>
			</li>
		</ul>
	</nav>
</div> <!-- end of articleListByDefault -->

	
</div></section><!-- end of content -->