<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/admin_basic_layout}">

<head>
	<title>View Article Layout</title>
	<!-- comment -->
	<link rel="stylesheet" th:href="@{/css/app/comment.css}">
	
<style type="text/css">
	.title-img-mark, .title-img-mark-last {
	   margin-right:0 5px;
	   margin-bottom: 10px;
	   width: 20px;
	}
	.title-img-mark-last{
	   transform: rotate(180deg);
	}
</style>

<script th:inline="javascript">
$(document).ready(function() {

	//--------------------------------------------------------[게시글 좋아요 처리]
	$('#likeCountBtn').click(function(e) {
		var articleId = $('#articleId').val();
		var mid = $('#yourId').val();
		var likeCount=$('#likeCount').text();
		
		var obj = {
			contentId : articleId,
			memberId : mid,
			contentApp : "BOARD_RE",
			likeCount : likeCount
			//csrf:csrf
		}
		handleLike(obj);
	});
	
	//----------------------------------------------------------[삭제 처리]
	$('#deleteArticleBtn').click(function(e) {
		e.preventDefault();
		if(confirm("삭제할까요?")){
			var boardAlias = [[${board.alias}]];
			
			if(boardAlias == null){
				var pathname = window.location.pathname;	//pathname=/board/notice/list
				var index = pathname.indexOf('/admin/board/')+7;
				var lastIndex = pathname.lastIndexOf('/');
				boardAlias = pathname.substring(index, lastIndex);
			}
			
			var articleId = [[${article.id56}]];
			var obj = {
				boardAlias:boardAlias, 
				articleId:articleId
				//csrf:csrf
			};
			
			$.ajax({
				type:'post',
				url: '/admin/article/del/'+ obj.articleId,
				data:JSON.stringify(obj), 
				dataType: 'text',
				/* beforeSend : function(xhr){
					xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
				}, */
				contentType: "application/json",
				success:function(){
					alert("해당 게시글이 삭제되었습니다.");
					location.href=[[@{/admin/board/}]]+boardAlias+'/list';
				},
				error: function(e){
					alert("처리중 에러가 발생하였습니다.\n"+JSON.stringify(e));
					console.log("ERROR : ", e);
				}
			});
		}
	});
	
	
	//----------------------------------------------------------[수정 처리]
	$('#editArticleBtn').click(function(e) {
		e.preventDefault();
		
		var boardAlias = [[${board.alias}]];
		var articleId = [[${article.id56}]];
		
		if(boardAlias == null){
			var pathname = window.location.pathname;	//pathname=/board/notice/list
			var index = pathname.indexOf('/admin/board/')+7;
			var lastIndex = pathname.lastIndexOf('/');
			boardAlias = pathname.substring(index, lastIndex);
		}
		location.href=[[@{/admin/board/}]]+boardAlias+'/edit/'+articleId;
		
	});
	
	//----------------------------------------------------------[댓글처리]
	$('#addCommentBtn').click(function(e) {
		e.preventDefault();
		
		var comment = $('#comment').val();
		var personaconId = $('#yourId').val(); 
		var articleId = $('#articleId').val();
		
		var obj = {
			comment:comment, 
			personaconId:personaconId, 
			articleId:articleId
			//csrf:csrf
		};
		console.log(obj);
		
		$.ajax({
			type:'post',
			url: '/reply/'+ obj.articleId,
			data:JSON.stringify(obj), 
			dataType:'json',
			/* beforeSend : function(xhr){
				xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
			}, */
			contentType: "application/json",
			success:function(){
				var articleId = [[${article.id56}]];
				var boardAlias = [[${board.alias}]];
				var next = [[@{/admin/board/}]]+boardAlias+'/view/'+articleId;
				
				//코멘트 영역 초기화
				$('#comment').val('');
				//댓글 리로딩
				var articleId = [[${article.id56}]];
				$('#commentList').load(next+' #commentList');	//#앞에 공백추가
			}
		});
	});
	
	//----------------------------------------------------------[댓글 좋아요 처리]
	$('.like-comment').click(function(e) {
		e.preventDefault();
		var contentId = $(this).attr("data-contentId");//${reply.rid}
		var mid = $('#yourId').val();
		//var likeCount=$('#likeCount').text();
		
		var obj = {
			contentId : contentId,
			memberId : mid,
			contentApp : "COMMENT"
			//likeCount : likeCount,
			//csrf:csrf
		}
		
		var target = $(this);
		handleCommentLike(obj, $(this));
	});
	
	//----------------------------------------------------------[댓글 싫어요 처리]
	$('.dislike-comment').click(function(e) {
		e.preventDefault();
		alert("------------------------"+$(this));
		var contentId = $(this).attr("data-contentId");//${reply.rid}
		var mid = $('#yourId').val();
		//var likeCount=$('#likeCount').text();
		
		var obj = {
			contentId : contentId,
			memberId : mid,
			contentApp : "COMMENT"
			//csrf:csrf
		}

		handleCommentDislike(obj, $(this));
	});
	
	//------------------------------------------------------[댓글 텍스트폼 엔터처리]
	$("#comment").on('keydown keyup', function () {
		$(this).height(1).height( $(this).prop('scrollHeight') + 12);   
	});
	
	//----------------------------------------------------------[신고처리]
	$('#reportBtn').click(function(e) {
		
	});
	
}); /* end of ready */




/*
 * 게시글에 대한 '좋아요'처리
 */
function handleLike(obj){
	alert(JSON.stringify(obj));
	$.ajax({
		type:'post',
		url: '/article/like/'+ obj.contentId,	//articleId
		data:JSON.stringify(obj), 
		dataType:'json',
		/* beforeSend : function(xhr){
			xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
		}, */
		contentType: "application/json",
		success: function(result){
			var count = result;
			if(count == -1){
				alert("이미 처리 되었습니다.");
				$('#likeCountBtn').prop("disabled", true);
				return;
			}
			$('#likeCount').html(count);
		},
		error: function(e){
			alert("처리중 에러가 발생하였습니다.\n"+JSON.stringify(e));
			console.log("ERROR : ", e);
			
			return;
		}
	});
}

/*
 * 댓글 및 대댓글에 대한 '좋아요'처리
 */
function handleCommentLike(obj, thisObj){
	$.ajax({
		type:'post',
		url: '/reply/like/'+ obj.contentId,	//reply.rid
		data:JSON.stringify(obj), 
		dataType:'json',
		/* beforeSend : function(xhr){
			xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
		}, */
		contentType: "application/json",
		success: function(result){
			var count = result;
			if(count == -1){
				alert("이미 처리 되었습니다.");
				return;
			}
			thisObj.children('span').text(count);
		},
		error: function(e){
			alert("처리중 에러가 발생하였습니다.\n"+JSON.stringify(e));
			console.log("ERROR : ", e);
			return;
		}
	});
}


/*
 * 댓글 및 대댓글에 대한 '싫어요'처리
 */
function handleCommentDislike(obj, thisObj){
	$.ajax({
		type:'post',
		url: '/reply/dislike/'+ obj.contentId,	//reply.rid
		data:JSON.stringify(obj), 
		dataType:'json',
		/* beforeSend : function(xhr){
			xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
		}, */
		contentType: "application/json",
		success: function(result){
			var count = result;
			if(count == -1){
				alert("이미 처리 되었습니다.");
				return;
			}
			thisObj.children('span').text(count);
		},
		error: function(e){
			alert("처리중 에러가 발생하였습니다.\n"+JSON.stringify(e));
			console.log("ERROR : ", e);
			return;
		}
	});
}



/* 대댓글 처리 */
function handleReComment(e){
	//e.stopPropagation();
	//e.preventDefault();
	//alert(".............................start: "+roop);
	//if(roop > 0){
	//	return;
	//}
	
	var comment = $('#comment2').val();
	var personaconId = $('#yourId').val(); 
	var parentId = $('#parentId').val();
	var articleId = $('#articleId').val();
	var recipient = $(".re-alias").last().text();
	
	var obj = {
		comment:comment, 
		parentId : parentId,
		personaconId:personaconId, 
		articleId:articleId, 
		recipient : recipient
		//csrf:csrf
	};
	console.log(obj);
	
	//if(roop == 0){
		roop++;
		//alert(".............................roop: "+roop);
		$.ajax({
			type:'post',
			url: '/reply/'+ obj.articleId,
			data:JSON.stringify(obj), 
			dataType:'json',
			/* beforeSend : function(xhr){
				xhr.setRequestHeader(obj.csrf.headerName, obj.csrf.token);
			}, */
			contentType: "application/json",
			success:function(){
				//alert(".............................success: "+roop);
				var articleId = [[${article.id56}]];
				var boardAlias = [[${board.alias}]];
				var next = [[@{/board/}]]+boardAlias+'/view/'+articleId;
				
				//코멘트 영역 초기화
				$('#comment2').val('');
				//댓글 리로딩
				//var articleId = [[${article.aid}]];
				$('#commentList').load(next+' #commentList');	//#앞에 공백추가
				//roop = 0;
			}
		});
	//}
	//alert(".............................end: "+roop);
}



/* 대댓글 폼 불러오기 */
function re_reply(index, parentId){
	
	/* a가 0일 경우 parentId가 없는 댓글, 
	1일경우 parentId가 있는 댓글이다*/

	var alias = $("#alias" + index).text(); // 별명
	$(".re-form").html(""); // 다른 대댓글 폼 지우기
	$(".re-form").css("display", "none");
	
	var paste = $("#re_comment_paste" + index); //붙여넣기 되는 영역
	var input = $("#re_comment_copy").clone();
	input.appendTo(paste); //end copy
	
	$(".re-comment-copy").last().attr("id", "re_comment_copy" + index);
	$(".re-comment-copy").last().css("display", "");
	$(".hidden_parentId").last().attr("id", "parentId");
	$(".hidden_parentId").last().val(parentId);
	$(".re-comment-area").last().attr("id", "comment2");
	$(".recomment-btn").last().attr("id", "addCommentBtn2");
	$(".recomment-cancel").last().attr("onclick", "cancel_recomment(" + index + ")");
	
	$("#re_comment_paste" + index).css("display", ""); // 해당 폼 열기
	$("#comment" + index).focus(); 
	$(".re-alias").html(alias); // 답글을 받는 사람 별명 보여주기
}

/* 대댓글 취소 */
function cancel_recomment(a) {
	$(".re-form").html(""); // 다른 대댓글 폼 지우기
	$(".re-form").css("display", "none");
}




</script>
</head>



<section layout:fragment="content">




<div class="row">
<!--/* ------------------------------------[게시글 정보]-------------------------------------- */-->
	<div class="col-xs-12">
		<h3>[[${board.korName}]]</h3>
		<div class="formContainer" id="viewArticleFormContainer">
			<div class="row text-center" style="margin-bottom:15px; font-family: 'Trebuchet MS', '함초롬바탕', '나눔명조'; 	font-size: 13pt; color:#00B4CF;">
				<img th:src="@{/images/app/board/quotation_marks.png}" class="title-img-mark">
						<span th:text="${article.title}">타이틀은 여기있다</span>([[${article.aid}]])
					<img th:src="@{/images/app/board/quotation_marks.png}" class="title-img-mark-last">		
			</div>
			<div id="articleDiv" class="row" style="font-family: NanumGothic; font-size: 10pt;">
				<div class="col-xs-12" style="background-color: #FAFAFA">
					<h5 class="col-xs-1">작성자 :</h5> 
					<h6 class="col-xs-4 pad-l5">
						<img  th:if="${article.personacon.gold}" th:src="@{/images/app/member/gold_member_black.png}" width="20px">
						<img th:unless="${article.personacon.gold}" th:src="@{/images/app/member/member_black.png}" width="20px">
						<span th:text="${article.personacon.alias}"></span>
					</h6>
					
					<h5 class="col-xs-1">등록일 :</h5> 
					<h6 class="col-xs-3 pad-l5">[[${#dates.format(article.regDate, 'yyyy-MM-dd (E) HH:mm')}]]</h6>
					
					<h5 class="col-xs-1">조회수 :</h5> 
					<h6 class="col-xs-1 pad-l5">[[${article.hits}]]</h6>
					<!-- 
					<h5 class="col-xs-0">좋아요 :</h5> 
					<h6 class="col-xs-0 pad-l5">[[${article.likeCount}]]</h6> -->
					
					<h5 class="col-xs-1">
                     	<a id="reportBtn">
                     		<button id="reportBtn" class="btn btn-xs btn-warning">신고</button>
                     	</a>
					</h5> 
				</div>
				<!--/*첨부파일 */-->
				<div class="row" th:if="${#lists.size(article.attachedFiles)>0}">
					<div class="col-xs-12 text-right" >
						<a th:each="attachedFile : ${article.attachedFiles}" 
							th:href="@{/download/board/{path}/{original}(path=${attachedFile.filePath}, original=${attachedFile.fileName})}"  >
							<span class="glyphicon glyphicon-download-alt" style="color: orange;"></span>
							<span th:text="${attachedFile.fileName}"></span>
						</a>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12" style="margin: 30px 0px 30px 0px; 
						font-family: 'Open Sans', 'Segoe UI', '나눔고딕'; 
						font-size: 1em;"  th:utext="${article.content}">
						
					</div>
				</div>
			</div>	
	
	<!--/* ------------------------------------[좋아요/삭제/편집 컨트롤 ]-------------------------------------- */-->
			<form id="modifyForm">
				<div class="row" id="submitDiv">
					<div class="formGroup">
						<div class="col-xs-4 col-xs-offset-4 text-center">
							<button type="button" class="btn btn-default" id="likeCountBtn">
								<font color="#D9544F">
									<span class="like-button glyphicon glyphicon-heart-empty" lang="gl"></span>
									LIKE <span id="likeCount" th:text="${article.likeCount}"></span>
								</font>
							</button>
							<!--/* <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> */-->
                        </div>
						
						<div th:if="${(session.userContainer != null) && (article.personacon.pid == session.userContainer.personacon.pid)}">
							<div class="col-xs-4 text-right">
								<button id="editArticleBtn" class="btn btn-primary">
									<span lang="gl" class="glyphicon glyphicon-pencil"></span> Edit
								</button>
								<button id="deleteArticleBtn" class="btn btn-danger">
									<span lang="gl" class="glyphicon glyphicon-remove"></span> Delete
								</button>
							</div>
						</div>
					</div>
				</div>
				<div>
					<input type="hidden" id="articleId" th:value="${article.id56}"/>
					<input type="hidden" id="personaconId" th:value="${article.personacon.id56}"/>
					<input type="hidden" id="yourId" th:if="${session.userContainer}" th:value="${session.userContainer.personacon.id56}"/>
				</div>
			</form>
		</div><!-- end of formContainer -->
	</div>
</div>


<!--/* ------------------------------------[댓글 보기]-------------------------------------- */-->
<div class="row">
	<div class="col-xs-12">
		<h3>Comments</h3>
		<div class="formContainer">
			<div class="row">
				<form id="replyForm" method="post">
					<div th:if="${session.userContainer != null}" class="comment-form">
						<div class="row">
							<div class="col-sm-1 hidden-xs" style="padding: 5px 5px 5px 10px;">
								<div class="member-personacon">
									<a><img th:src="@{/images/app/member/profile_paper.png}" 
										class="personacon-profile"
										style="background: url('/images/app/member/profile_default.png') no-repeat;
										background-position: center; background-size: 100% auto;">
									<img th:src="@{/images/app/member/profile_paper.png}" 
										th:class="'personacon-frame frame-' + ${session.userContainer.personacon.memberType}"></a>
								</div>
							</div>
							<!-- 폼 컴포넌트 영역 -->
							<div id="articleDiv" class="col-sm-11 col-xs-12" style="padding: 5px 10px;">
								<textarea placeholder="댓글을 입력해 주세요." id="comment" class="comment-area"></textarea>
							</div>
							<!-- 폼 전송 영역 -->
							<div id="submitDiv" class="col-xs-12">
								<div class="hidden-lg hidden-md hidden-sm col-xs-6 text-left" style="padding:0;">
									<div class="member-personacon">
										<a><img th:src="@{/images/app/member/profile_paper.png}" 
											class="personacon-profile"
											style="background: url('/images/app/member/profile_default.png') no-repeat;
											background-position: center; background-size: 100% auto;">
										<img th:src="@{/images/app/member/profile_paper.png}" 
											th:class="'personacon-frame frame-' + ${session.userContainer.personacon.memberType}"></a>
									</div>
									<span th:if="${(session.userContainer != null)}"
										th:text="${session.userContainer.personacon.alias}"></span>
								</div>
								<div class="col-sm-offset-4 col-sm-8 col-xs-6 text-right" style="padding:0;">
									<input type="reset" id="cancelCommentBtn" value="취 소" class="btn btn-default" />
									<input type="button" id="addCommentBtn" value="등 록" class="btn btn-main" /> 
								</div>
							</div>
						</div>
					</div>
		
		
					<div th:unless="${session.userContainer != null}" class="comment-form">
						<div class="form-section col-md-12 col-xs-12">
							<div class="row">
								<!-- 폼 컴포넌트 영역 -->
								<div id="articleDiv" class="col-xs-12 text-center">
									<textarea rows="1" placeholder="로그인 후 댓글을 이용하실 수 있습니다." readonly="readonly"></textarea>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 복사될 답글 폼 -->
					<div id="re_comment_copy" class="re-comment-copy row" style="display: none;">
						<input type="hidden" class="hidden_parentId"/>
						<div class="re-info col-sm-1 col-xs-2 text-center">└</div>
						<div class="comment-form col-sm-11 col-xs-10">
							<!-- 폼 컴포넌트 영역 -->
							<div>
								to. <span class="re-alias">워오홍</span>
							</div>
							<div>
								<textarea placeholder="댓글을 입력해 주세요." class="re-comment-area"></textarea>
							</div>
							<!-- 폼 전송 영역 -->
							<div class="col-sm-offset-4 col-sm-8 col-xs-offset-6 col-xs-6 text-right" style="padding:0;">
								<input type="reset" value="취 소" class="recomment-cancel btn btn-default btn-sm"/>
								<input type="button" value="등 록" class="recomment-btn btn btn-main btn-sm" onclick="handleReComment()"/>
							</div>
						</div>
					</div>
						
		
<!-------------------------------------/* 댓글 영역 */---------------------------------------->
					<div id="commentList">
						<div class="comment-area" th:each="reply,iterStat : ${article.replies}">
							<!-- 댓글1 -->
							<div th:unless="${reply.parentId}" class="parent-comment col-xs-12">
								<div class="col-sm-1 col-xs-2" style="padding: 5px 5px 5px 0px;">
									<div class="member-personacon">
										<a><img th:src="@{/images/app/member/profile_paper.png}" 
											class="personacon-profile"
											style="background: url('/images/app/member/profile_default.png') no-repeat;
											background-position: center; background-size: 100% auto;">
										<img th:src="@{/images/app/member/profile_paper.png}" 
											th:class="'personacon-frame frame-' + ${article.personacon.memberType}"></a>
									</div>
								</div>
								<div class="col-sm-11 col-xs-10" style="padding:0;">
									<div class="nickname"> 
										<a><span th:id="'alias' + ${iterStat.index}" th:text="${reply.personacon.alias}">오홍이</span></a>
									</div>
									<div th:text="${reply.comment}+'('+${reply.rid}+' / '+${reply.parentId}+')' " class="comment-body">아이구야 죽것네... </div>
									<div>
										<span class="date">
											[[${#dates.format(reply.regDate, 'yyyy-MM-dd (E) HH:mm')}]]
										</span>
										<span class="pull-right">
											<a th:onclick="'re_reply(\'' + ${iterStat.index} + '\',\'' + ${reply.rid} + '\')'" class="like-comment-btn">
												<!-- <i lang="fa"class="fas fa-comments"></i> -->
												<span>REPLY</span>
											</a>
											<a href="javascript:void(0)" class="like-comment-btn like-comment" th:data-contentId="${reply.rid}">
												<i lang="fa" class="fa fa-thumbs-up"></i>
												<span th:text="${reply.likeCount}">12</span>
											</a> 
											<a href="javascript:void(0)" class="dislike-comment-btn dislike-comment" th:data-contentId="${reply.rid}">
												<i lang="fa" class="fa fa-thumbs-down"></i>
												<span th:text="${reply.dislikeCount}">53</span>
											</a> 
										</span>
									</div> 
								</div>
							</div><!-- /.parent-comment -->
							
<!-------------------------------------/* 대댓글 영역 */---------------------------------------->
							<div th:if="${reply.parentId}" class="child-comment col-xs-12">
								<div class="row">
									<div class="re-info col-sm-1 col-xs-2 text-center">└</div>
									<div class="re-comment col-sm-11 col-xs-10">
										<div class="nickname"> 
											<div class="member-personacon">
												<a><img th:src="@{/images/app/member/profile_paper.png}" 
													class="personacon-profile"
													style="background: url('/images/app/member/profile_default.png') no-repeat;
													background-position: center; background-size: 100% auto;">
												<img th:src="@{/images/app/member/profile_paper.png}" 
													th:class="'personacon-frame frame-' + ${article.personacon.memberType}"></a>
											</div>
										</div>
										<div th:text="${reply.recipient}+' : '+${reply.comment} +'('+${reply.rid}+' / '+${reply.parentId}+')'">
											껄껄껄 저는 외로워요
										</div>
										<div>
											<span class="date">
												[[${#dates.format(reply.regDate, 'yyyy-MM-dd (E) HH:mm')}]]
											</span>
											<span class="pull-right">
												<a th:onclick="'re_reply(\'' + ${iterStat.index} + '\',\'' + ${reply.parentId} + '\')'" class="like-comment-btn">
												 	<!-- <i lang="fa"class="fas fa-comments"></i> -->
													<span th:text="REPLY">대댓글</span>
												</a>
												<a href="javascript:void(0)" class="like-comment-btn like-comment" th:data-contentId="${reply.rid}">
													<i lang="fa" class="fa fa-thumbs-up"></i>
													<span th:text="${reply.likeCount}">82</span>
												</a> 
												<a href="javascript:void(0)" class="dislike-comment-btn dislike-comment" th:data-contentId="${reply.rid}">
													<i lang="fa" class="fa fa-thumbs-down"></i>
													<span th:text="${reply.dislikeCount}">83</span>
												</a> 
											</span>
										</div> 
									</div><!-- /.re-comment -->
								</div>
							</div><!-- /.child-comment -->
							<div th:id="'re_comment_paste' + ${iterStat.index}" class="re-form child-comment col-xs-12" style="display: none;">
								<!-- 대댓글 폼이 들어오는 곳 -->
							</div>
						</div><!-- /.comment-area -->
					</div>
				</form>
			</div>
		</div><!-- end of comment formContainer -->
	</div>
</div>

<div class="text-right" style="color:red;">
	source :: view_article_layout.html	
</div>
</section><!-- end of content -->

