<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ---------------------------[Z Seoul 서울 한국]---------------------------- -->
<th:block th:fragment="level_Z">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="Z"
			style="background: url('/images/app/mypage/cities/groupZ1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>안녕하세요. 환영합니다!</span><br>
			<small>You are in <b>Korea</b> as the starting point 
			for a long journey that is planned to be completed 
			after you arrived at <b>NewYork</b> </small>
		</div>
	</div>
</th:block>

<!-- ---------------------------[Y Tokyo 도쿄 일본]---------------------------- -->
<th:block th:fragment="level_Y">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="Y"
			style="background: url('/images/app/mypage/cities/groupY1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>こんにちは。かんげいします。</span><br>
			<small>You are currently in <b>Tokyo</b>, <b>Japan</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- -------------------------[X Shanghai 상하이 중국]-------------------------- -->
<th:block th:fragment="level_X">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="X"
			style="background: url('/images/app/mypage/cities/groupX1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span class="bigger">你好,欢迎你</span><br>
			<small>You are currently in <b>Shanghai</b>, <b>China</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
	
</th:block>

<!-- -------------------------[W Taipei 타이베이 대만]--------------------------- -->
<th:block th:fragment="level_W">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="W"
			style="background: url('/images/app/mypage/cities/groupW1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span class="bigger">你好,歡迎您來仿</span><br>
			<small>You are currently in <b>Taipei</b>, <b>Taiwan</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- ---------------------------[V Hong Kong 홍콩]--------------------------- -->
<th:block th:fragment="level_V">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="V"
			style="background: url('/images/app/mypage/cities/groupV1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span class="bigger">你好,欢迎你</span><br>
			<small>You are currently in <b>Hong Kong</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>


<!-- --------------------------[U Sydney 시드니 호주]--------------------------- -->
<th:block th:fragment="level_U">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="U"
			style="background: url('/images/app/mypage/cities/groupU1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Hello, Welcome!</span><br>
			<small>You are currently in <b>Sydney</b>, <b>Australia</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>


<!-- --------------------------[T Hanoi 하노이 베트남]-------------------------- -->
<th:block th:fragment="level_T">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="T"
			style="background: url('/images/app/mypage/cities/groupT1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Xin chào các bạn.<br>Hân hạnh chào đón các bạn.</span><br>
			<small>You are currently in <b>Hanoi</b>, <b>Vietnam</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- --------------------------[S Bangkok 방콕 태국]--------------------------- -->
<th:block th:fragment="level_S">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="S"
			style="background: url('/images/app/mypage/cities/groupS1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>สวัสดีค่ะ ยินดีต้อนรับค่ะ</span><br>
			<small>You are currently in <b>Bangkok</b>, <b>Thailand</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>


<!-- ------------------[R Kuala Lumpur 쿠알라룸푸르 말레이시아]--------------------- -->
<th:block th:fragment="level_R">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="R"
			style="background: url('/images/app/mypage/cities/groupR1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>Selamat pagi. Apa khabar?</span><br>
			<small>You are currently in <b>Kuala Lumpur</b>, <b>Malaysia</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- --------------------------[Q Maldives 몰디브]---------------------------- -->
<th:block th:fragment="level_Q">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="Q"
			style="background: url('/images/app/mypage/cities/groupQ1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Assalaam Alaikum. Maruhabaa.</span><br>
			<small>You are currently in <b>Maldives</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- -------------------------[P Mumbai 뭄바이 인도]---------------------------- -->
<th:block th:fragment="level_P">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="P"
			style="background: url('/images/app/mypage/cities/groupP1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>नमस्कार। आपका स्वागत है।</span><br>
			<small>You are currently in <b>Mumbai</b>, <b>India</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- -----------------------[O Dubai 두바이 아랍에미네이트]------------------------ -->
<th:block th:fragment="level_O">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="Q"
			style="background: url('/images/app/mypage/cities/groupO1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>مرحبا. أنا مسرور بلقائك.</span><br>
			<small>You are currently in <b>Dubai</b>, <b>UAE</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- --------------------------[N Doha 도하 카타르]----------------------------- -->
<th:block th:fragment="level_N">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="N"
			style="background: url('/images/app/mypage/cities/groupN1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>مرحبا. أنا مسرور بلقائك.</span><br>
			<small>You are currently in <b>Doha</b>, <b>Qatar</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- ----------------------[M Jerusalem 예루살렘 이스라엘]------------------------ -->
<th:block th:fragment="level_M">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="M"
			style="background: url('/images/app/mypage/cities/groupM1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>שלום, אני .נעים מאוד</span><br>
			<small>You are currently in <b>Jerusalem</b>, <b>Israel</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- -----------------------[L Istanbul 이스탄불 터키]-------------------------- -->
<th:block th:fragment="level_L">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="L"
			style="background: url('/images/app/mypage/cities/groupL1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>merhaba. hoş geldin.</span><br>
			<small>You are currently in <b>Istanbul</b>, <b>Turkey</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- -----------------------[K Athens 아테네 그리스]---------------------------- -->
<th:block th:fragment="level_K">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="K"
			style="background: url('/images/app/mypage/cities/groupK1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span class="bigger">Γειά σας. Καλώς ήρθατε.</span><br>
			<small>You are currently in <b>Athens</b>, <b>Greece</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- -----------------------[J Rome 로마 이탈리아]------------------------------ -->
<th:block th:fragment="level_J">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="J"
			style="background: url('/images/app/mypage/cities/groupJ1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Salve. Benvenuto.</span><br>
			<small>You are currently in <b>Rome</b>, <b>Italy</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- ----------------------[I Budapest 부다페스트 헝가리]------------------------- -->
<th:block th:fragment="level_I">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="I"
			style="background: url('/images/app/mypage/cities/groupI1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>Szervusz, Üdvözlet.</span><br>
			<small>You are currently in <b>Budapest</b>, <b>Hungary</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- ------------------------[H Wien 비엔나 오스트리아]--------------------------- -->
<th:block th:fragment="level_H">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="H"
			style="background: url('/images/app/mypage/cities/groupH1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Hallo. Willkommen.</span><br>
			<small>You are currently in <b>Wien</b>, <b>Austria</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- --------------------------[G Prague 프라하 체코]--------------------------- -->
<th:block th:fragment="level_G">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="G"
			style="background: url('/images/app/mypage/cities/groupG1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Dobrý den. Vitáme vás.</span><br>
			<small>You are currently in <b>Prague</b>, <b>Czech</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- --------------------------[F Munich 뮌헨 독일]---------------------------- -->
<th:block th:fragment="level_F">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="F"
			style="background: url('/images/app/mypage/cities/groupF1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Hallo. Willkommen.</span><br>
			<small>You are currently in <b>Munich</b>, <b>Germany</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- ------------------------[E Zurich 취리히 스위스]--------------------------- -->
<th:block th:fragment="level_E">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="E"
			style="background: url('/images/app/mypage/cities/groupE1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span>Hallo. Willkommen.</span><br>
			<small>You are currently in <b>Zurich</b>, <b>Switzerland</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- -------------------------[D Paris 파리 프랑스]----------------------------- -->
<th:block th:fragment="level_D">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="D"
			style="background: url('/images/app/mypage/cities/groupD1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span>Bonjour. Bienvenue.</span><br>
			<small>You are currently in <b>Paris</b>, <b>France</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- --------------------[C Amsterdam 암스테르담 네덜란드]------------------------ -->
<th:block th:fragment="level_C">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="C"
			style="background: url('/images/app/mypage/cities/groupC1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span title="나의 여행 정보 바로가기">Hallo, Welkom!</span><br>
			<small>You are currently in <b>Amsterdam</b>, <b>Netherlands</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>
<!-- ------------------------[B London 런던 영국]------------------------------ -->
<th:block th:fragment="level_B">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="B"
			style="background: url('/images/app/mypage/cities/groupB1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title" style="padding: 1.5rem;">
			<span title="나의 여행 정보 바로가기">Hello, Welcome!</span><br>
			<small>You are currently in <b>London</b>, <b>United Kingdom</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>

<!-- ------------------------[A New York 뉴욕 미국]---------------------------- -->
<th:block th:fragment="level_A">
	<div class="col-md-8 pt-md-0 pt-2">
		<img src="/images/app/playsquare/reading_paper.png" class="level-img" data-level="A"
			style="background: url('/images/app/mypage/cities/groupA1_index.jpg') no-repeat;
			background-size: cover; background-position: center; width: 100%;">
	</div>
	<div class="col-md-7">
		<div class="index-title">
			<span title="나의 여행 정보 바로가기">Hello, Welcome!</span><br>
			<small>You are currently in <b>New York</b>, <b>USA</b>.
			Welcome to today, Yesterday has gone, Forget it.</small>
		</div>
	</div>
</th:block>






<!-- ---------------------------[rejected 입국심사]--------------------------- -->
<th:block th:fragment="level_rejected">
	<div class="back-height-div col-md-8"></div>
	<div class="col-md-12">
		<div class="rejucted-image-div"></div>
	</div>
	<div class="rejected-title-section col-md-7">
		<div class="index-title">
			<div class="rejected">
				<i class="fa fa-exclamation-triangle text-warning"></i>
				다음 나라 입국을 위해 심사 대기 중입니다.<br class="d-md-none">
				테스트에 응시해주세요.
			</div>
			<div class="immigration-test-button pt-3">
				<a th:href="@{/mypage/notice/test/{limit}(limit=${achievedLevelNum})}" class="btn test-button">
					입국 심사 받으러 가기
					<i class="test-icon1 fa fa-arrow-right"></i>
				</a><br class="d-md-none">
				<span class="test-guide">※ 테스트는 1일 1회 응시 가능합니다</span>
			</div>
			
		</div>
	</div>
</th:block>

</html>