<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="passport">
<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
	var memberId = /*[[${mid}]]*/0;
	// [스탬프 날짜 month의 타입을 바꿔서 다시 세팅]------------------------------------------
	var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
						"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	$(".stamp-page .date").each(function(index,element){
		var stampDate = $(element).html();
		var dateElements = stampDate.split(".");
		
		var month = parseInt(dateElements[1]);
		stampDate = dateElements[0] + "." + monthNames[month - 1] + "." + dateElements[2];
		$(element).html(stampDate);
	});
	
	// [여권 표지 보이기 (pagination 클릭 이벤트)]----------------------------------------
	$("#displayPassprtCover").click(function(){
		displayPassportCover($(this));
	});
	
	// [여권 회원 정보 페이지 보이기 (pagination 클릭 이벤트)]--------------------------------
	$("#displayPassportMemberPage").click(function(){
		displayPassportMemberPage($(this));
	});
	
	// [여권 스탬프 페이지 보이기 (pagination 클릭 이벤트)]----------------------------------
	$(".displayStampPage").click(function(){
		displayPassportStampPage($(this));
	});
	
	// [여권 페이지 슬라이드로 넘기기]----------------------------------------------------
	var totalPassportPage = $(".passport-page").length - 1; //여권 마지막 페이지 번호
	$("#passportSwipeArea").swipe( {
		swipe:function(event, direction, distance, duration, fingerCount,
					   fingerData, allowPageScroll) {
			var passportPage = $("#passportRealPage").val(); 
			if(direction == "left") {
				if(passportPage >= totalPassportPage) {
					$("#passportRealPage").val(totalPassportPage);
					return;
				} else {
					passportPage++;
					if(passportPage == 1) {
						// 멤버 정보 페이지로 이동할 경우
						displayPassportMemberPage($("#displayPassportMemberPage"));
					} else if(passportPage > 1) {	
						// 스탬프 페이지로 이동할 경우
						displayPassportStampPage($(".page-" + passportPage));
					}
				} 
			} else if(direction == "right") {
				if(passportPage == 0) {
					$("#passportRealPage").val("0");
					return;
				} else {
					passportPage--;
					if(passportPage == 0) {
						// 여권 표지 페이지로 이동할 경우
						displayPassportCover($("#displayPassprtCover"));
					} else if(passportPage == 1) {
						// 멤버 정보 페이지로 이동할 경우
						displayPassportMemberPage($("#displayPassportMemberPage"));
					} else if(passportPage > 1) {
						// 스탬프 페이지로 이동할 경우
						displayPassportStampPage($(".page-" + passportPage));
					}
				}
			}
		},
		allowPageScroll:"auto"
	});
});	


/* -----------------------------------------------------------------------------
 * 							Handling Display Process
 * ---------------------------------------------------------------------------*/

/**
 * 여권 표지를 보여줌
 */
function displayPassportCover(obj) {
	$("#closePassportDiv").show();
	$("#openPassportDiv").hide();
	
	$(".passport-page").removeClass("active");
	$(obj).addClass("active");
	
	$("#passportRealPage").val("0");
}

/**
 * 여권의 회원 정보 페이지를 보여줌
 */
function displayPassportMemberPage(obj) {
	$("#closePassportDiv").hide();
	$("#openPassportDiv").show();
	$("#openPassportDiv .memberInfoPage").show();
	$("#openPassportDiv .stampListPage").hide();
	$(".stamp-book-backpage").addClass("hide-back");
	
	$(".passport-page").removeClass("active");
	$(obj).addClass("active");
	$("#passportRealPage").val("1");
}

/**
 * 여권의 스탬프 페이지를 보여줌
 */
function displayPassportStampPage(obj) {
	var passportPage = $(obj).attr("data-passportPage");
	
	$("#closePassportDiv").hide();
	$("#openPassportDiv").show();
	$("#openPassportDiv .memberInfoPage").hide();
	$("#openPassportDiv .stampListPage").show();
	$(".stamp-book-backpage").removeClass("hide-back");
	
	$(".passport-page").removeClass("active");
	$(obj).addClass("active");
	$("#passportRealPage").val(passportPage);
}
 
 

</script>

<div id="myPassportSection" class="my-passport-section row no-gutters"
	th:with="tribeCode = ${#strings.substring(tribe,0,1)}">
<div class="col-xl-1"></div>
<div id="passportSwipeArea" th:class="'passport-area col-xl-10 group-' 
	+ ${tribeCode} + ' member-' + ${memberType}">
	<input id="passportRealPage" type="hidden" 
		th:value="${#lists.size(passportStampList) > 0}? ${currentPage + 1}:'0'"/>
	<!-- [1.1 여권 표지] -->
	<div id="closePassportDiv" class="row no-gutters" 
		th:style="${passportStampList}?'display: none;':''">
		<div class="col-3"></div>
		<div class="stamp-book-cover-half col-6">
			<div class="passport-cover-img"></div>
		</div>
	</div><!-- end of closePassportDiv -->
	
	<div id="openPassportDiv" th:style="${passportStampList}?'':'display: none;'">
		<div class="stamp-book-cover"></div>
		<div class="stamp-book-backpage"></div>
		
		<!-- [1.2 회원 정보] -->
		<div class="memberInfoPage stamp-book-bg member-info row no-gutters"
			th:style="${passportStampList}?'display: none;':''">
			
			<!-- 플보 리퍼블릭 -->
			<div class="playvoice-constitution-section col-6">
				<div class="playvoice-constitution-cover d-none d-md-block">
					<div class="playvoice-constitution">
						<i class="fa fa-circle fa-fw left"></i>
						THE CONSTITUTION OF<br>PLAYVOICE
						<i class="fa fa-circle fa-fw right"></i>
					</div>
					<div class="constitution-body-section">
						<div class="constitution-cover">
							<div class="law-title">제1 조 (Article 1 of the Constitution)</div>
							<div class="law-detail">
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제1항</span>
									<span class="clause-detail col">
										영어 학습의 <b>주권은 입(mouth)</b>에 있다.
									</span>
								</div>
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제2항</span>
									<span class="clause-detail col">
										눈에 보이는 모든 영어 컨텐츠는 <b>직접 입으로 반복</b>해서 말해야 한다.
									</span>
								</div>
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제3항</span>
									<span class="clause-detail col">
										눈으로만 보고 귀로만 듣는 영어 학습은 <b>말짱 헛방</b>임을 스스로 세뇌 시켜라.
									</span>
								</div>
								<div class="article-clause plus">
									아이들이 끊임없이 웅얼거리고 재잘거리는 이유와 당신의 과묵한 결과를 비교해 보라.
								</div>
							</div>
						</div>
						<div class="constitution-cover">
							<div class="law-title">제2 조  (Article 1 of the Constitution)</div>
							<div class="law-detail">
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제1항</span>
									<span class="clause-detail col">
										영어는 학습이 아니라 <b>운동</b>이다.
									</span>
								</div>
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제2항</span>
									<span class="clause-detail col">
										모든 운동의 효과는 지속적인 <b>반복</b>의 결과이다.
									</span>
								</div>
								<div class="article-clause row no-gutters">
									<span class="clause-title col-auto align-self-start">제3항</span>
									<span class="clause-detail col">
										영어 학습의 가장 좋은 비법은 <b>꾸준함</b>이다. 
									</span>
								</div>
								<div class="article-clause plus">
									꾸준함만으로 충분하다. 더 좋은 학습 방법을 찾다가, 다른 것으로 갈아타다가 시간 낭비하지 마라.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="playvoice-constitution-cover d-md-none">
					<div class="playvoice-constitution"></div>
					<div class="passport-ministry kor">
						본 여권을 소지한 플레이보이스 멤버가 아무 지장 없이 학습할 수 있도록 하여 주시고 
						필요한 모든 지원과 즐거움을 주실 것을 관계자 여러분께 요청합니다.
					</div>
					<div class="passport-ministry eng">
						The Ministry of Foreign Affairs of 
						the Republic of Playvoice requests all 
						whom it may concern to permit the bearer, 
						a national of the Republic of Playvoice, 
						to study freely without delay or hindrance 
						and to give every possible assistance and enjoyment in case of need.
					</div>
				</div>
			</div>
			
			<!-- 회원 정보 -->
			<div class="passport-member-info-section col-6">
				<div class="member-info-title">
					<span class="nation-name-kor">플레이보이스</span>
					<span>republic of playvoice</span>
				</div>
				<div class="row no-gutters">
					<div class="passport-member-image-div col-auto text-center px-1">
						<span class="passport-text-kor">여권 </span>
						<span class="passport-text">passport</span><br>
						<img class="passport-profile-image" 
							src="/images/app/mypage/passport/passport_image_paper.png"
							th:style="'background: url(\'/images/app/member/'+${iconPath}+'.jpg\');
							background-size: cover; background-position: center;'">
						<img class="passort-img-stamp" 
							src="/images/app/mypage/passport/passport_image_stamp.png">
					</div>
					<div class="passport-member-info-div col" style="position: relative;">
						<div class="passport-info">
							<div class="passport-info-title">종류/ Type</div>
							<div th:if="${memberType} == 'M'" class="passport-info-detail">play</div>
							<div th:if="${memberType} == 'S'" class="passport-info-detail">silver</div>
							<div th:if="${memberType} == 'G'" class="passport-info-detail">Gold</div>
							<div th:if="${memberType} == 'P'" class="passport-info-detail">platinum</div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">발행부족/ Issuing Tribe</div>
							<div class="passport-info-detail">
								<span th:text="${tribe}"></span> 
							</div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">여권번호/ Passport No.</div>
							<div class="passport-info-detail" th:text="${tribeCode}+${mid}"></div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">별명/ Alias</div>
							<div class="passport-info-detail alias">[[${alias}]]</div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">성별/ Sex</div>
							<div class="passport-info-detail">[[${sex}]]</div>
						</div>
						<img class="passort-img-stamp2" 
							src="/images/app/mypage/passport/passport_image_stamp2.png">
					</div>
					<div class="passport-issue-info col-12 pt-sm-2 px-1">
						<div class="passport-info">
							<div class="passport-info-title">국적/ Nationality</div>
							<div class="passport-info-detail nation">REPUBLIC OF PLAYVOICE</div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">발급일/ Date of issue</div>
							<div class="passport-info-detail date">[[${regDate}]]</div>
						</div>
						<div class="passport-info">
							<div class="passport-info-title">발행관청/ Authority</div>
							<div class="passport-info-detail ministry">
								MINISTRY OF FOREIGN AFFAIRS AND TRADE
							</div>
						</div>
					</div>
				</div>
				
				<div class="passport-code px-1">
					<div>
					P[[${tribeCode}]][[${tribe}]]&lt;&lt;playvoice<!-- 
					 -->&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
					</div>
					<div>
					[[${tribeCode}]][[${mid}]][[${tribe}]][[${regDate}]]00000000000000000000000000000000000	
					</div>
				</div>
			
			</div>
		</div>
		
		<!-- [1.3 여권 스탬프 리스트] -->
		<div th:if="${passportStampList}" class="stampListPage stamp-book-bg row no-gutters">
			<div class="stamp-page col-6 align-self-start">
				<th:block th:each="stamp, iter:${levelList}">
				<div th:if="${iter.index < 6}"
					th:class="'stamp-position group-' + ${stamp}">
					<div class="stamp"
						th:style="'background: url(/images/app/mypage/passport/stamp_'+${stamp}+'_'+${cityList[iter.index]}+'.png) no-repeat;
						background-size: contain; background-position: center;'">
						<div th:if="${#strings.length(stamp) == 1}" class="date">27.07.2019</div>	
						<div class="stamp-info">
							<div class="info">[[${cityList[iter.index]}]]에 입국하신 것을 환영합니다! 즐거운 시간 보내세요!</div>
							<div class="info-date">2019-07-27</div>
						</div>
					</div>
				</div>
				</th:block>
			</div>
			<div th:if="${#lists.size(levelList) > 6}" class="stamp-page col-6 align-self-start">
				<th:block th:each="stamp, iter:${levelList}">
				<div th:if="${iter.index > 5}"
					th:class="'stamp-position group-' + ${stamp}">
					<div class="stamp"
						th:style="'background: url(/images/app/mypage/passport/stamp_'+${stamp}+'_'+${cityList[iter.index]}+'.png) no-repeat;
						background-size: contain; background-position: center;'">
						<div th:if="${#strings.length(stamp) == 1}" class="date">27.08.2019</div>	
						<div class="stamp-info">
							<div class="info">[[${cityList[iter.index]}]]에 입국하신 것을 환영합니다! 즐거운 시간 보내세요!</div>
							<div class="info-date">2019-08-27</div>
						</div>
					</div>
				</div>
				</th:block>
				<div class="stamp-position group-Gold">
					<div class="stamp" th:with="yAxis='75', slope='7', stamp='AA'"
						style="background: url(/images/app/mypage/passport/GrammarBookUpvoted.png) no-repeat;
						background-size: contain; background-position: center;">
						<div class="date" th:style="${#strings.length(stamp) == 1}?
							'':'top:' + ${yAxis} + '%; transform: rotate('+ ${slope} +'deg);'">
							27.01.2019
						</div>	
						<div class="stamp-info">
							<div class="info">playvoiceBook Top Ranker! 축하합니다!</div>
							<div class="info-date">2019.01.27</div>
						</div>
					</div>
				</div>
				<div class="stamp-position">
					<div class="stamp" th:with="yAxis='62', slope='12', stamp='AA'"
						style="background: url(/images/app/mypage/passport/GrammarBookMostCreator.png) no-repeat;
						background-size: contain; background-position: center;">
						<div class="date" th:style="${#strings.length(stamp) == 1}?
							'':'top:' + ${yAxis} + '%; transform: rotate('+ ${slope} +'deg);'">
							27.11.2019
						</div>	
						<div class="stamp-info">
							<div class="info">Hall of Fame! 랭킹포인트 Top 랭커입니다.</div>
							<div class="info-date">2019.11.27</div>
						</div>
					</div>
				</div>
				<div class="stamp-position">
					<div class="stamp" th:with="yAxis='70', slope='-8', stamp='AA'"
						style="background: url(/images/app/mypage/passport/m8.png) no-repeat;
						background-size: contain; background-position: center;">
						<div class="date" th:style="${#strings.length(stamp) == 1}?
							'':'top:' + ${yAxis} + '%; transform: rotate('+ ${slope} +'deg);'">
							27.01.2019
						</div>	
						<div class="stamp-info">
							<div class="info">playvoiceBook Top Ranker! 축하합니다!</div>
							<div class="info-date">2019.01.27</div>
						</div>
					</div>
				</div>
				<div class="stamp-position">
					<div class="stamp" th:with="yAxis='55', slope='-5', stamp='AA'"
						style="background: url(/images/app/mypage/passport/8.png) no-repeat;
						background-size: contain; background-position: center;">
						<div class="date" th:style="${#strings.length(stamp) == 1}?
							'':'top:' + ${yAxis} + '%; transform: rotate('+ ${slope} +'deg);'">
							27.12.2019
						</div>
						<div class="stamp-info">
							<div class="info">Hall of Fame! 플레이포인트 Top 랭커입니다.</div>
							<div class="info-date">2019.12.27</div>
						</div>
					</div>
				</div>
				
			</div><div class="w-100"></div>
			<th:block th:with="nowPage = ${currentPage}">
				<div class="passport-margin col-6 align-self-bottom">
					<span class="float-left">[[${(nowPage * 2) - 1}]]</span>Visas
				</div>
				<div class="passport-margin col-6 align-self-bottom">
					<span class="float-right">[[${nowPage * 2}]]</span>Visas
				</div>
			</th:block>
		</div>
	
	</div><!-- end of openPassportDiv -->
	
	<!-- [1.4 여권 페이지] -->				
	<div class="passport-pagination">
		<ul th:if="${passportStampList}" class="passport-page-list">
			<li id="displayPassprtCover" class="passport-page" title="여권 표지">
				<i class="fa fa-passport"></i>
			</li>
			<li id="displayPassportMemberPage" class="passport-page" 
				data-passportPage="1" title="개인 정보">
				<i class="fa fa-circle"></i>
			</li>
			<li th:each="num: ${#numbers.sequence(1,currentPage)}" 
				th:class="'displayStampPage passport-page page-' + ${num + 1}" 
				th:data-passportPage="${num + 1}"
				th:classappend="${num == currentPage}? 'active':''">
				<a><i class="fa fa-circle"></i></a>
			</li>
			<li class="passport-page">
				<i class="fa fa-angle-right"></i>
			</li>
		</ul>
		<ul th:unless="${passportStampList}" class="passport-page-list">
			<li id="displayPassprtCover" class="passport-page active" title="여권 표지">
				<i class="fa fa-passport"></i>
			</li>
			<li id="displayPassportMemberPage" class="passport-page" data-passportPage="1">
				<i class="fa fa-circle"></i>
			</li>
		</ul>
	</div>
	
</div></div>




</div>



