<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playvoice_section_layout2}">
<head>
<title>Login - playvoice</title>
<!-- search console & sns meta tags -->
<th:block th:insert="~{/incl/meta_fragment2::meta}"></th:block>
	
<link rel="stylesheet" th:href="@{/css/playvoice_characters.css}">
<link rel="stylesheet" th:href="@{/css/app/member.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_sponsor.css}">
<link rel="stylesheet" th:href="@{/css/app/playvoice_ad.css}">


<script th:inline="javascript">
$(document).ready(function() {
	// [날짜별로 배경 이미지 세팅]-------------------------------------------------------
	var today = new Date();
	var calcDateNum = today.getDate()%4;
	var backgroundStyle = 'background-image:url(\'/images/app/member/registration_back'
			+ calcDateNum + '.jpg\');';
	$(".join-background-cover").attr("style", backgroundStyle);

}); //end of ready


</script>
</head>

<section layout:fragment="content" class="playvoice-join-section">
<div class="playvoice-join-body-section container"><div class="join-background-cover">
<div id="loginFormContainer" class="formContainer row no-gutters">
	
	<!-- --------------------------[login 메세지]---------------------------- -->
	<div class="join-message-section col-md-6">
		<!-- logo -->
		<div class="join-logo-section">
			<div class="d-none d-md-block" align="center" 
				th:insert="~{/incl/playvoice_logo::mini_logo}"></div>
			<div class="d-md-none" align="center" 
				th:insert="~{/incl/playvoice_logo::logo_header_got}"></div>
		</div>
		<!-- 메세지 -->
		<h5 class="join-mini-title"><a th:href="@{/}">WELCOME TO PLAYVOICE</a></h5>
		<div class="join-message-cover">
			<div class="message1">
				<a th:href="@{/}">The First BaseCamp for<br>
				Climbing English</a>
			</div>
			<div class="message2">
				<a th:href="@{/}">Get Your Own Playvoice Account Today !</a>
			</div>
		</div>
	</div>
	
	<!-- ---------------------------[login form]---------------------------- -->
	<div class="join-form-section col-md-6">
		<h3 class="row no-gutters">
			Playvoice Login
			<button type="button" class="btn btn-info btn-xs" style="display:none">
				<span class="glyphicon glyphicon-ok"></span> Ok
			</button>
		</h3>
		<div class="times-section text-right">
			<a th:href="@{/}" title="플레이보이스 메인으로">
				<i class="fa fa-times fa-fw"></i>
			</a>
		</div>
		
		<div id="resMsgs" style="display: none;">
			<h4>Respond Messages</h4>
			<ul th:each="msg:${resMsgs}">
				<li th:text="${msg}"></li>
			</ul>
			<div id="scriptMsgs" class="text-danger">sdfsdf</div>
		</div>
		<div class="resMsgs row no-gutters" style="display: none;">
			<label class="col-md-1 col-2 pt-1"></label>
			<div class="col-10 pl-1">
				<b class="text-danger">로그인 정보가 올바르지 않습니다.</b>
			</div>
		</div>
		
		<form id="memberLoginForm" class="form-horizontal"><div class="join-form-cover">
		<!-- 아이디 -->
		<div class="form-group row no-gutters">
			<label class="col-form-label col-md-1 col-2 pt-1">
				<i class="far fa-id-badge fa-fw fa-lg"></i>
			</label>
			<div class="col-10 pl-1">
				<input type="text" class="form-control" placeholder="아이디"/>
				<div id="loginIdConfirm" class="guide"></div>
			</div>
			<div class="inform-guide col-1 align-self-center">
				<div class="text-center">
					<i class="far fa-question-circle fa-fw"></i>
				</div>
				<div class="text-warning-msg">
					영문 대소문자/숫자 <font color="pink">( 4~20자 )</font>
				</div>
			</div>
		</div>
		
		<!-- 비밀번호 -->
		<div class="form-group row no-gutters">
			<label class="col-form-label col-md-1 col-2 pt-1" style="border-bottom-color: #e45063;">
				<i class="fa fa-unlock-alt fa-fw fa-lg"></i>
			</label>
			<div class="col-10 pl-1">
				<input type="password" class="form-control" placeholder="비밀번호"/>
				<div id="passwdConfirm" class="guide"></div>
			</div>
			<div class="inform-guide col-1 align-self-center">
				<div class="text-center">
					<i class="far fa-question-circle fa-fw"></i>
				</div>
				<div class="text-warning-msg msg-passwd">
					영문/숫자/특수문자 2가지 이상 혼합<br>
					<font color="pink">( 8~20자 )</font>
				</div>
			</div>
		</div></div>
		
		<div class="suggest-section row no-gutters">
			<div class="col-md-1"></div>
			<div class="remember-me-cover col-md-5 col-auto text-left">
				<label>
					<input type="checkbox" id="remember-me" name="remember-me"
						class="option-input checkbox"/> 아이디 기억
				</label>
			</div>
			<div class="col-md-5 col text-right">
				<a th:href="@{/auth/search}">아이디 · 비밀번호 찾기</a>
			</div>
			
		</div>

		<!-- 로그인 버튼 -->
		<div  class="row no-gutters mb-3">
			<div class="col-md-1"></div>
			<div class="col-md-10 pl-md-1">
				<button id="loginBtn" type="button" 
					class="btn btn-main-submit jsAction btn-block">로 그 인</button>
			</div>
		</div>
		</form><!-- end of memberLoginForm -->
		
		<!-- sns login -->		
		<!-- <div class="sns-login-button-section text-center row no-gutters mb-3">
			<div class="col"></div>
			<div class="col-auto px-1">
				<button class="btn btn-kakao" type="button" title="kakao">
					<img src="/images/common/icon/kakao_symbol.png">
				</button>
			</div>
			<div class="col-auto px-1">
				<button class="btn btn-facebook" type="button" title="facebook">
					<i class="fab fa-facebook-f"></i>
				</button>
			</div>
			<div class="col-auto px-1">
				<button class="btn btn-google" type="button" title="google">
					<i class="fab fa-google"></i>
				</button>
			</div>
			<div class="col-auto px-1">
				<button class="btn btn-naver" type="button" title="naver">
					<img src="/images/common/icon/naver_symbol.jpg">
				</button>
			</div>
			<div class="inform-guide col-1 align-self-center"></div>
		</div> -->
		
		
		<!-- 가입 페이지로 -->
		<div class="auth-line row no-gutters">
			<div class="col-12 text-right">
				플레이보이스 회원이 아닌가요?
				<a th:href="@{/member/registration}" class="login-link">JOIN</a>
			</div>
		</div>
	</div>
</div><!-- end of loginFormContainer -->

</div>

<!-- login sponsor section -->
<div class="login-ad-section">
	<div th:if="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}" 
		class="login-ad-cover">
		<img class="login-ad-mobile" src="/images/common/ads/login_mobile.jpg">
		<img class="login-ad-pc" src="/images/common/ads/login_PC.jpg">
	</div>
	<div th:unless="${#strings.contains(#httpServletRequest.getHeader('User-Agent'),'Mobi')}"
		class="login-ad-cover">
		<img src="/images/common/ads/login_PC.jpg">
	</div>
</div>


</div>


<!-- footer -->
<div th:insert="~{/incl/footer2::footer}"></div>
</section>
