<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playvoice_section_layout2}">
<head>
<title>플레이보이스 (playvoice)</title>
<link rel="stylesheet" th:href="@{/css/app/member.css}">

<script th:inline="javascript">
$(document).ready(function() {
	$("#editPassword").click(function(){
		alert("비밀번호가 변경되었습니다.", true);
	});

}); //end of ready
function alertCallback(){
	location.href="/auth/login";
	
}

</script>
</head>

<section layout:fragment="content" class="playvoice-join-section find-member">
<div class="playvoice-join-body-section container"><div class="join-background-cover row no-gutters">
<div class="col"></div>
<div id="joinFormContainer" class="formContainer col-md-8">
	<div class="join-message-section">
		<!-- logo -->
		<div class="join-logo-section">
			<div align="center" th:insert="~{/incl/playvoice_logo::mini_logo}"></div>
			<div class="login-info-title">
				<h3>Create New Password</h3>
			</div>
		</div>
		<!-- ----------------------[1. 비밀번호 변경]--------------------------- -->
		<div id="findLoginInfo1" class="find-login-info-div">
			<div class="find-login-info-guide">
				<b>새 비밀번호를 입력해 주세요.</b><br>
				영문/ 숫자/ 특수문자 중 2가지 이상 혼합<br>
				(*, &amp;, +, - 제외 | 8~20자)
			</div>
			<div class="join-message-cover">
				<div class="form-section">
					<div class="form-group">
						<input type="password" class="form-control playvoice-form"
							placeholder="비밀번호 (8~20자)"/>
						<div id="passwdConfirm"></div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control playvoice-form"
							placeholder="비밀번호 재확인"/>
						<div id="passwdConfirm2"></div>
					</div>
				</div>
				<div class="button-section">
					<button id="editPassword" type="button"
						class="btn login-info-button btn-main2 edit-password">
						비밀번호 수정
					</button>
				</div>
			</div>
		</div>
		
	</div>
</div><!-- end of joinFormContainer -->
<div class="col"></div>
</div></div>

<!-- footer -->
<div th:insert="~{/incl/footer2::footer}"></div>
</section>
			