<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{/layout/membership_layout2}">
<head>
<title>Pay Membership - playvoice</title>

<link rel="stylesheet" th:href="@{/css/app/membership.css}">

<script th:inline="javascript">
$(document).ready(function(){
	// [menu active]------------------------------------------------------------
	$("#menuSection .membershipInfo").addClass("menu-active");
	
	// [숫자만 입력시키기 (전화번호, 캐시 입력란)]-------------------------------------------
	$(".onlyInputNumber").on("change keyup keydown", function(){
		var type = $(this).val().replace(/[^0-9]/g,'');
		$(this).val(type);
	});
	
	
	// [할인 금액 선택시 선택한 폼 active 시키기]-------------------------------------------
	$(".discount-cover").click(function(){
		$(".discount-cover").removeClass("active");
		$(this).addClass("active");
		var discountType = $(this).find(".discountType");
		discountType.prop("checked", true);
		var totalPrice = $(".totalPrice").text();
		if(discountType.val() == 'cash') {
			$(".couponForm").prop("disabled", true);
			$(".cashForm").prop("readonly", false);
			$(".cashForm").focus();
			
			var useCash = $(".cashForm").val();
			var type = 'A';
			applyDiscountPrice(useCash, type); // 입력된 캐시 값이 있으면 결제 정보에 적용
		} else if(discountType.val() == 'coupon') {
			$(".couponForm").prop("disabled", false);
			$(".cashForm").prop("readonly", true);
			
			var useCash = $(".couponForm").val();
			var type = $(this).find("option:selected").attr("data-discountType");
			applyDiscountPrice(useCash, type); // 선택된 쿠폰 값이 있으면 결제 정보에 적용
		}
	});
	
	// [캐시 모두 사용 선택 시 캐시 입력란에 숫자 입력]------------------------------------------
	$(".allUse").click(function(){
		var myCash = $(".myCash").val();
		if($(this).is(":checked") == true) {
			$(".cashForm").val(myCash);
		} else {
			$(".cashForm").val("0");
		}
	});
	// [캐시 입력란에 숫자 입력시 결제 정보에 반영]--------------------------------------------
	$(".cashForm").on("change", function(){
		var myCash = $(".myCash").val(); // 보유 캐시
		var inputCash = $(this).val(); // 입력한 캐시
		var type = 'A';
		inputCash = parseInt(inputCash.replace(/(^0+)/, ""));
		var useCash = 0;
		if(inputCash > myCash) {
			useCash = myCash;
		} else if(inputCash == "") {
			useCash = 0;
		} else {
			useCash = inputCash;
		}
		$(this).val(useCash);
		
		// 입력된 캐시 값을 결제 정보에 적용
		applyDiscountPrice(useCash, type);
	});
	
	// [쿠폰 선택시 결제 정보에 반영]-----------------------------------------------------
	$(".couponForm").on("change", function(){
		var myCoupon = $(".couponForm").val(); // 보유 캐시
		var type = $(this).find("option:selected").attr("data-discountType");
		// 입력된 캐시 값을 결제 정보에 적용
		applyDiscountPrice(myCoupon, type);
	});
	
	// [결제 정보에 현재 날짜 데이터 표시하기]-----------------------------------------------
	var todayDate = new Date();
	var period = 14;
	var endDate = new Date(new Date().setDate(todayDate.getDate() + period))
	var monthNames = ["January", "February", "March", "April", "May", "June",
			"July", "August", "September", "October", "November", "December"];
	var year = todayDate.getFullYear();
	var month = todayDate.getMonth() + 1;
	var date = todayDate.getDate().zf(2);
	$(".ticket-date-border .year").html(year);
	$(".ticket-date-border .month").html(monthNames[todayDate.getMonth()]);
	$(".ticket-date-border .date").html(date);
	$(".nowDate1").text("" + year + "-" + month + "-" + date + " ~ ");
	$(".nowDate2").text("" + endDate.getFullYear() 
						   + "-" + (endDate.getMonth() + 1)
						   + "-" + endDate.getDate().zf(2));
	
	
	/*[# th:if="${active == true}"]*/
	// [약관 동의 체크 시 결제 버튼 활성화]-------------------------------------------------
	$("#agreePayment").change(function(){
		$("#checkOutBtn").prop("disabled", !$(this).is(":checked"));
	});
	
	// [결제 하기]-----------------------------------------------------------------
	$("#checkOutBtn").click(function(){
		location.href="/payment/membership/result";	
	});
	/*[/]*/
	
	
	/*[# th:unless="${active == true}"]*/
	// [이전 페이지로 돌아가기]---------------------------------------------------------
	$(".backToPage").click(function(){
		window.history.back();
	});
	$('html').addClass('modalOpen');

	/*[/]*/
	
});

/**
 * 입력된 할인 가격을 결제 정보에 적용
 */
function applyDiscountPrice(discountAmount, type) {
	var totalPrice = $("#totalPrice").val();
	var inputTotalPrice = totalPrice - discountAmount;
	if(type == 'R') {
		inputTotalPrice = totalPrice*(1-discountAmount);
		discountAmount = totalPrice*discountAmount;
	}
	inputTotalPrice = inputTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	discountAmount = parseInt(discountAmount).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	$(".applyDiscount").text(discountAmount);
	$(".inputTotalPrice").text(inputTotalPrice);
}
 
</script>

</head>

<section layout:fragment="content">

<div id="menuSection" th:insert="~{/membership/incl/membership_menu2::menu}"></div>

<div class="introduction-section mt-4">
	<h3>Join the Gold Membership</h3>
	<div class="sub">
		Please fill the text in the field.
	</div>
</div>

<div id="joinMembershipSection" class="join-membership-section free-membership">
<form>
<div class="row no-gutters">

<!-- ----------------------------[1. 정보 입력]-------------------------------- -->
<div id="addInformationDiv" class="personal-payment-info-section col-md pr-md-3">
	
	<!-- [1.1 개인정보 입력] -->
	<div class="member-info-section personal-payment-info-cover">
		<h5>정보 입력 
			<a class="loginRequired" th:href="@{/mypage/member/edit}" 
				target="_blank" title="개인 정보 수정"><i class="fa fa-edit"></i></a>
		</h5>
		<div class="form-group row no-gutters">
			<label class="col-lg-2">이름</label>
			<div class="col-lg-5">
				<input type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group row no-gutters">
			<label class="col-lg-2">전화번호</label>
			<div class="col-lg-10 row no-gutters">
				<div class="col-xl-2 col-lg-3 col">
					<select id="phone1" class="buyerTel confirm-edit form-control"
						th:with="phone1Arr=${#strings.arraySplit('010,011,012,015,016,017,018,019',',')}">
						<option th:each="phone1:${phone1Arr}" th:text="${phone1}" 
							th:value="${phone1}"></option>
					</select>
				</div>
				<div class="col-auto align-self-center px-2"> - </div>
				<div class="col-xl-2 col-lg-3 col">
					<input type="tel" class="confirm-edit form-control onlyInputNumber" 
						maxlength="4"/>
				</div>
				<div class="col-auto align-self-center px-2"> - </div>
				<div class="col-xl-2 col-lg-3 col">
					<input type="tel" class="confirm-edit form-control onlyInputNumber" 
						maxlength="4"/>
				</div>
			</div>
		</div>
		<div class="form-group row no-gutters">
			<label class="col-lg-2">주소</label>
			<div class="col-lg-10">
				<div class="row no-gutters pb-2">
					<div class="col-lg-6 col">
						<input type="text" class="addAdressForm confirm-edit form-control" placeholder="우편 번호"/>
					</div>
					<div class="col-lg col-auto pl-2 control-button">
						<button id="searchPostNum" class="btn btn-sm btn-search-post" type="button">
							우편번호 검색
						</button>
					</div>
				</div>
				<div class="pb-2">
					<input type="text" class="addAdressForm confirm-edit form-control" placeholder="주소"/>
				</div>
				<div class="pb-1">
					<input type="text" class="confirm-edit form-control" placeholder="상세 주소"/>
				</div>
			</div>
		</div>
		<div class="form-guide">
			* 개인정보 및 연락처의 수정은 
			<a class="loginRequired" 
				th:href="@{/mypage/member/edit}" target="_blank">회원 정보 수정</a> 
			페이지에서 변경해 주세요.
		</div>
	</div>
	
	
	<!-- [1.3 할인 정보 입력] -->
	<div class="discount-section personal-payment-info-cover">
		<h5>할인 금액</h5>
		
		<div class="discount-cover-row row no-gutters">
			<!-- 포인트 할인 -->
			<div class="col-md-6 px-2 pb-2"><div class="discount-cover">
				<div>
					<label class="option-label">
						<input type="radio" name="discountType" class="discountType option-input radio" 
							value="cash"> 캐시
					</label>
				</div>
				<div class="row no-gutters">
					<div class="choice-title col-lg-4 col-md-auto col-4 align-self-center">보유 캐시</div>
					<div class="choice-detail col pl-2 text-lg-left text-md-right text-left align-self-center">
						<span th:text="${#numbers.formatInteger(0, 1, 'COMMA')}">1300</span>
						<input type="hidden" value="0" class="myCash"/>
					</div>
					<div class="choice-detail col-lg-auto col-md-12 col-auto text-right align-self-center">
						<label style="margin: 0;">
						<input type="checkbox" class="allUse option-input checkbox"> 모두 사용
						</label>
					</div><div class="w-100 mb-2"></div>
					<div class="choice-title col-lg-4 col-md-auto col-4 align-self-center">사용할 캐시</div>
					<div class="col-lg-8 col-md-12 col pl-md-0 pl-2 align-self-center">
						<input type="text" class="cashForm form-control onlyInputNumber" 
							value="0" readonly="readonly"/>
					</div>
				</div>
			</div></div>
			
			<!-- 쿠폰 할인 -->
			<div class="col-md-6 px-2 pb-2"><div class="discount-cover"
				th:classappend="${active == true}? 'active':''">
				<div>
					<label class="option-label">
						<input type="radio" name="discountType" class="discountType option-input radio" 
							value="coupon" checked="checked"> 쿠폰
					</label>
				</div>
				<div class="row no-gutters">
					<div class="choice-title col-lg-4 col-auto align-self-center">보유 쿠폰</div>
					<div class="choice-detail col pl-2 text-lg-left text-right 
						align-self-center"><span th:text="${myCouponList.size()}">1</span> 개</div>
					<div class="w-100 mb-2"></div>
					<div class="col-12 align-self-end">
						<select class="couponForm form-control">
							<option value="0">== 쿠폰 선택 안 함 ==</option>
							<th:block th:each="coupon, iter : ${myCouponList}">
								<option th:if="${#strings.contains('A',(discountType[iter.index]))}" 
									th:value="${dicountAmount[iter.index]}" 
									th:data-discountType="${discountType[iter.index]}"
									th:text="${coupon} + ' (' + 
									${#numbers.formatInteger(dicountAmount[iter.index], 1, 'COMMA')} + '원)'"></option>
								<option th:if="${#strings.contains('R',(discountType[iter.index]))}" 
									th:value="${dicountAmount[iter.index]}" 
									th:data-discountType="${discountType[iter.index]}"
									th:text="${coupon} + ' (' + 
									${#numbers.formatInteger(dicountAmount[iter.index]*100, 1, 'COMMA')} + '%)'"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div></div>
		</div>
	</div>
	
	
	<!-- [1.4 결제 수단 선택] -->
	<div class="payment-section personal-payment-info-cover">
		<h5>결제 수단</h5>
		<div class="payment-method-section row no-gutters">
			<div class="col-md-6 px-2 mb-2">
				<label class="option-label">
					<input type="radio" name="paymentWay" checked="checked" 
						value="card" class="paymentWay option-input radio"> 신용/체크카드
				</label>
			</div>
			<div class="col-md-6 px-2 mb-2">
				<label class="option-label">
					<input type="radio" name="paymentWay" value="vbank" 
						class="paymentWay option-input radio"> 무통장 입금
				</label>
			</div>
			<div class="col-md-6 px-2 mb-2">
				<label class="option-label">
					<input type="radio" name="paymentWay" value="trans" 
						class="paymentWay option-input radio"> 실시간 계좌 이체
				</label>
			</div>
			<!-- <div class="col-md-6 px-2 mb-2">
				<label class="option-label">
					<input type="radio" name="paymentWay" value="phone" 
						class="paymentWay option-input radio"> 휴대폰 소액 결제
				</label>
			</div> -->
			<div class="free-membership-guide">
				<label th:if="${active == true}">
					※ 골드 멤버십 무료체험 쿠폰을 반드시 선택해 주세요.<br>
					체험 기간은 신청한 날부터 2주간 적용됩니다.
				</label>
				<label class="backToPage jsAction" th:unless="${active == true}">
					※ 무료체험 쿠폰을 이미 소진하여 골드 멤버십 무료 체험을 이용할 수 없습니다.<br>
					<span class="text-danger mt-2">이전 페이지로 돌아가기</span>
				</label>
			</div>
		</div>
	</div>

</div><!-- end of addInformationDiv -->




<!-- ----------------------------[2. 결제 정보]-------------------------------- -->
<div id="paymentInfoDiv" class="payment-information-section col-md-auto">
	<div class="gold-ticket-bg gold member-P">
		<!-- ticket header -->
		<div class="ticket-header ticket-style row no-gutters">
			<div class="col">
				<div class="small-title">playvoice</div>
				<div class="title">membership</div>
			</div>
			<div class="ticket-header-logo col-auto">
				<img src="/images/logo/logo_trans_seonbi.png">
			</div>
		</div>
		<!-- ticket body -->
		<div class="ticket-body ticket-style">
			<div class="ticket-divine"></div>
			<div class="style-line">
				<div class="style-line-detail"></div>
				<div class="logo-section"><div align="center">
					<div class="member-personacon-lg">
						<img src="/images/app/member/profile_paper.png" 
							class="personacon-profile"
							style="background: url('/images/app/member/profile_ex7.jpg') no-repeat;
							background-position: center; background-size: cover;">
						<img src="/images/app/member/profile_paper.png" 
							class="personacon-frame ticket-frame">
					</div>
				</div></div>
			</div>
			<div class="ticket-detail-line mb-3"><div class="ticket-detail">
				<!-- [2.1 서비스 정보] -->
				<div class="service-info-cover">
					<div class="detail-title">상품명</div>
					<div class="detail-info service">
						FREE TRIAL GOLD MEMBERSHIP 2 WEEKS
					</div>
				</div>
				<div class="service-info-cover">
					<div class="detail-title">금액</div>
					<div class="detail-info">
						<!-- 서비스 금액 -->
						<span class="big" 
							th:text="${#numbers.formatInteger(11000, 1, 'COMMA')}"></span>
						<span class="small">원</span>
					</div>
				</div>
				<div class="service-info-cover">
					<div class="detail-title">기간</div>
					<div class="detail-info">
						<span class="nowDate1 big">시작일</span>
						<span class="nowDate2 big">만료일</span>
					</div>
				</div>
				<!-- [2.2 할인 금액] -->
				<div class="service-info-cover">
					<div class="detail-title">할인 금액</div>
					<div class="detail-info">
						<span class="applyDiscount big">0</span>
						<span class="small">원</span>
					</div>
				</div>
				<div class="ticket-welcome-comment">
					<div>Come play with us!!</div>
					<div class="small">
						You can build your ideas and contents libraries here.
					</div>					
				</div>
			</div></div>
			<div class="ticket-divine2"></div>
		</div>
		<!-- ticket footer -->
		<div class="ticket-footer ticket-style">
			<div class="payment-cover row no-gutters">
				<div class="col-12 px-2">
					<div class="sub-title">총 결제 금액</div>
				</div>
				<div class="col-auto align-self-end">
					<!-- [2.3 결제 금액] -->
					<div class="detail">
						<input id="totalPrice" type="hidden" value="11000"/>
						<i class="fa fa-won-sign mr-1"></i><span 
							th:text="${#numbers.formatInteger(11000, 1, 'COMMA')}"
						 	class="inputTotalPrice">11,000</span>
					</div>
					<div class="code-section">
						<i class="fa fa-barcode"></i><i class="fa fa-barcode"></i><i class="fa fa-barcode"></i>
					</div>
				</div><div class="col"></div>
				<div class="col-auto">
					<div class="ticket-date-border">
						<div class="month">월</div>
						<div class="date">날짜</div>
						<div class="year">연도</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end of paymentInfoDiv -->


<!-- [결제 하기] -->
<div class="join-membership-button-section col-12 row no-gutters">
	<div class="col-md"></div>
	<div class="col-md-auto">
		<div class="join-membership-guide-msg"><label>
			<input id="agreePayment" type="checkbox" class="option-input checkbox">
			주문 내역 및 결제 정보를 확인하였으며,
			개인 정보 수집 및 <a th:href="@{/terms/policy}" target="_blank">이용 약관</a>에 동의합니다.
		</label></div>
		<button id="checkOutBtn" class="btn btn-main2 w-100" type="button" disabled>결제하기</button>
	</div>
	<div class="col-md"></div>
</div>

</div>
</form>

<!-- 무료 체험을 이용할 수 없는 경우 -->
<div th:if="${active != true}" class="none-active-guide-section">
	<div class="none-active-back"></div>
	<div class="none-active-guide-cover">
		<div class="guide-header">
			<i class="fa fa-exclamation-triangle"></i>
		</div>
		<div class="none-active-guide">
			<div>체험 서비스를 이미 이용하였거나<br>체험권 쿠폰이 만료되어 무료 체험을 이용할 수 없습니다.</div>
			<div class="button-section">
				<button class="backToPage btn back-btn" type="button">
					<i class="fa fa-arrow-left"></i>
					이전 페이지로 돌아가기
				</button>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------------[유의 사항]--------------------------------- -->
<div class="payment-attend-section mt-4">
	<div class="payment-attend-cover">
		<div class="title">[안내사항]</div>
		<div><ul>
			<li>골드 멤버십 무료 체험 기간이 끝나더라도 자동으로 결제되지 않습니다.</li>
			<li>무료 체험 기간 동안 골드 멤버십 가입 시, 추가 할인된 금액으로 골드 멤버십에 가입할 수 있는 할인 쿠폰이 지급됩니다.</li>
		</ul></div>
	</div>
	
	<div class="payment-attend-cover">
		<div class="title">[유의사항]</div>
		<div><ul>
			<li><a th:href="@{/payment/membership/fail}">
				멤버십 기간 동안 플레이 포인트 제약 없이 서비스를 자유롭게 이용 가능하며 
				골드 또는 플래티넘 멤버십의 경우 활동에 따라 골드 포인트를 획득하게 됩니다.<br>
				단, 활동 시작 후 획득한 골드 포인트는 멤버십 만료일 자정을 기준으로 사용할 수 없게 됩니다.</a></li>
			<li>골드 멤버십 무료 체험은 한 계정 당 1회 이용할 수 있습니다.</li>
			<li>골드 멤버십 무료 체험은 환불 대상이 아닙니다.</li>
			<li>무료 체험 이용 중 멤버십 결제를 하면 결제한 멤버십이 바로 적용됩니다.</li>
			<li>무료 체험 이용 중 또는 이용이 끝난 후 멤버십 회원권을 결제하면 결제한 회원권에 대한 환불이 불가능합니다.<br>
				단, 회원권 결제 후 서비스를 한 번도 이용하지 않은 경우 결제일로부터 3일 이내에 결제한 금액의 전액 취소가 가능합니다.</li>
			<li>멤버십 결제에 대한 자세한 약관은 <a th:href="@{/terms/policy}" 
				target="_blank">플레이보이스 이용약관</a>을 확인해 주세요.</li>
		</ul></div>
	</div>
	
	<div class="payment-attend-cover">
		<div class="title">[현금 영수증 안내]</div>
		<div><ul>
			<li>무료 멤버십의 경우 실제로 결제되는 금액이 없기 때문에 현금 영수증 발급은 불가합니다.</li>
		</ul></div>
	</div>
</div>

</div><!-- end of joinMembershipSection -->

</section>