<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Use of pictionary_layout -->

<!-- [head 정보]============================================================ -->
<head th:fragment="headFragment">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177620090-1"></script>
<script data-ad-client="ca-pub-7152306695077047" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', 'UA-177620090-1');
</script>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta th:if="${#session}" name="_csrf_header" th:content="${_csrf?.headerName}"/>
<meta th:if="${#session}" name="_csrf" th:content="${_csrf?.token}"/>	
<title>Placevoice.org</title>
<!-- favicon -->
<link rel="shortcut icon" th:href="@{/images/logo/playvoice_favicon.ico}"> 
<link rel="icon" th:href="@{/images/logo/logo_seonbi_short.png}">
<!-- css -->
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-theme.min.css}">
<link rel="stylesheet" th:href="@{/css/cr.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/playvoice_icon.css}">
<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
<!-- js -->
<script th:src="@{/js/public/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/public/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/public/jquery.serializejson.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/public/popper.min.js}"></script>
<script th:src="@{/js/public/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:inline="javascript" 
	th:replace="~{/incl/layout_scripts_fragment::basic_setting}"></script>
<script th:inline="javascript" 
	th:replace="~{/incl/layout_scripts_fragment::quote_setting}"></script>
<script th:inline="javascript" 
	th:replace="~{/incl/layout_scripts_fragment::ajax_setting}"></script>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function() {
	
	// [모바일 로고 섹션에 앱 이름 변경]---------------------------------------------------
	$("#playvoiceMobileTextLogo").hide();
	$("#playvoiceMobileAppName").text("Pictionary").show();

});
</script>
</head>
<!-- [end of head 정보]====================================================== -->
<body>

<div>
	<!-- [header]============================================================== -->
	<header th:replace="~{/incl/header::header}" ></header>
	<div th:replace="~{/incl/nav_header::nav_header}"></div>
	<!-- [end of header]======================================================= -->
	
	<section layout:fragment="content" class="playvoice-layout-content-section container"></section>
	
	<!-- [footer]=========================================================== -->
	<footer th:insert="~{/incl/footer::footer}"></footer>
	<!-- [end of footer]==================================================== -->
	
</div>

</body>
</html>

