<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/playkick_layout}">

<head>
<title>Index of Toiletto - playvoice</title>

<link rel="stylesheet" th:href="@{/css/app/playkick.css}">
<script th:src="@{/js/app/touchswipe/jquery.touchSwipe.min.js}"></script>
<script th:inline="javascript">
$(document).ready(function() {
	// [로또 당첨자 리스트에 페이지 세팅]--------------------------------------------------
	var rankerSize = $(".ranker-cover").length; // 랭커 수
	var currenRankPageIndex = 1;
	var rankPageLength;
	var windowWidth = $(window).width();
	if(windowWidth < 1200) {
		rankPageLength = Math.ceil(rankerSize/3);
	} else {
		rankPageLength = Math.ceil(rankerSize/4);
	}
	for(var i = 1; i <= rankPageLength; i++) {
		var page = '<span class="rank-page">' + i + '</span>';
		$(".rank-page-list").append(page);
		if(i == 1) {
			$(".rank-page").addClass("active");
		}
	}
	// [로또 당첨자 리스트 페이지 넘기기]--------------------------------------------------
	$(".next.ranking-slide").on("click",function(){
		var section = $(this).closest(".member-ranking-section");
		changePageNav(section, 540);
	});
	$(".prev.ranking-slide").on("click",function(){
		var section = $(this).closest(".member-ranking-section");
		changePageNav(section, -540);
	});
	$(".ranking-list").swipe( {
		swipe:function(event, direction, distance, duration, fingerCount,
					   fingerData, allowPageScroll) {
			var rankingSection = $(this).closest(".member-ranking-section");
			if(direction == "left") {
				rankingSection.find(".next.ranking-slide").click();
			} else if(direction == "right") {
				rankingSection.find(".prev.ranking-slide").click();
			}
		},
		allowPageScroll:"auto"
	});
	
	
});
/* ----------------------------------------------------------------------------- 
*							handling screen event
* --------------------------------------------------------------------------- */
/**  
 * 로또 당첨자 페이지 선택 이동<br>
 * listSection : 슬라이드 영역과 페이지번호 영역을 포함하는 Element <br>
 * moveLength : 슬라이드 영역이 이동할 거리. 오른쪽 방향이면 양수, 왼쪽 방향이면 음수 <br>
 * <br>
 * [listSection] 영역 내부의 클래스명 구조 <br>
 * 슬라이딩으로 넘겨질 영역 : .ranking-list <br>
 * 페이지번호 영역 : .rank-page-list 영역 내부 .rank-page <br>
 * 선택되는 페이지번호 : 페이지번호 영역 + .active <br>
 */
function changePageNav(listSection, moveLength) {
	if($(window).width() < 768) {
		return;
	}
	var slideArea = $(listSection).find(".ranking-list");
	slideArea.animate({
		scrollLeft :slideArea.scrollLeft() + moveLength
	}, 500);
	var pageNavigations = $(listSection).find(".rank-page-list .rank-page");
	var active = $(listSection).find(".rank-page-list .active");
	
	if(moveLength > 0){
		if(pageNavigations.index(active) < pageNavigations.length - 1) {
			active.next().addClass("active");
			active.removeClass("active");
		}
	}else{
		if(pageNavigations.index(active) > 0) {
			active.prev().addClass("active");
			active.removeClass("active");
		}
	}
};


</script>

<style>
@font-face {
	font-family: 'Cafe24Simplehae'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}

</style>


</head>

<section layout:fragment="content">

<div id="playToilettoSection" class="playvoice-play-kick-section my-4">
	


<!-- ------------------------[3. 로또 당첨자]----------------------------------- -->
<div id="winnerToilettoSection" class="kick-lucky-winner-section">
<div class="member-ranking-section">
	<h3>
		Lucky Members
		<i class="fas fa-gifts fa-fw" style="color: #fe164d;"></i><br>
		<small>토일레또에 당첨된 행운의 멤버들입니다.</small>
	</h3>
	
	<div class="ranking-bg">
		<div id="rankingSwipe" class="ranking-list">
			<!-- 토일레또 당첨자가 있을 떄 -->
			<ul th:if="${winnerList}" class="rank-slide">
				<li th:each="winner : ${winnerList}">
					<div class="ranker-cover"><div class="rank-style">
						<div class="openProfile rep-image" th:data-mid="${winner.id56}">
							<img th:if="${winner.iconPath}" class="lozad" 
								data-src="/images/app/member/profile_paper.png" 
								th:data-background-image="'/resource/profile/' +${winner.iconPath}"
								style="background-repeat:no-repeat;background-position: center; background-size: cover;">
							<img th:unless="${winner.iconPath}" src="/images/app/member/profile_paper.png" 
								class="profile-default">
						</div>
						<div class="alias" th:text="${winner.alias}"></div>
					</div></div>
				</li>
			</ul>
			<!-- 토일레또 당첨자가 없을 떄 -->
			<div th:unless="${winnerList}" class="ranking-list">
				<div class="character-cover">
					<div class="character-ment">
						에그 샷 행운의 로또 첫 주인공은 누가 될까?<br>
						에그 샷을 자주 할수록 당첨 확률이 높아진대!
					</div>
					<div class="character-div"></div>
				</div>
			</div>
		</div>
		<div class="direction-button">
			<span class="prev ranking-slide">
				<i class="fa fa-angle-left fa-4x fa-fw"></i>
			</span>
			<span class="next ranking-slide">
				<i class="fa fa-angle-right fa-4x fa-fw"></i>
			</span>
		</div>
		
		<div class="rank-page-list pb-2 text-right"></div>	
	</div>
</div>
</div><!-- end of winnerToilettoSection -->


</div><!-- end of playToilettoSection -->

</section>