<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="membership">
<div class="membership-info-list-section none-membership" 
	th:with="silver1 = '4100', 
	gold12D1 = '8300', goldD12 = '99600', 
	platinum12D1 = '23200', platinumD12 = '278400'">
	<div class="membership-info-list-cover row no-gutters">
		<!-- silver -->
		<div class="membership-info-list col-lg-4 col-auto">
			<div class="membership-info-cover">
				<div class="membership-info-header">
					<div class="membership-image">
						<img src="/images/common/icon/icon_paper.png" 
							class="silver" alt="플레이보이스 멤버십">
					</div>
					<div class="membership-title">
						<div class="title">Silver</div>
						<div class="sub-title">study only</div>
					</div>
				</div>
				<div class="membership-body">
					<div class="membership-benefit-back">
						<div class="price-section">
							<div class="price-info">
								<div>실버 멤버십 1개월권</div>
							</div>
							<div class="price">
								<i class="fa fa-won-sign"></i>
								<span>[[${#numbers.formatInteger(silver1, 1, 'COMMA')}]]</span>
								<span class="small">/ 월</span>
							</div>
						</div>
						<div class="membership-benefit-section w-100">
							<ul class="fa-ul">
								<li><i class="fa fa-check fa-li"></i>
									포인트 차감 없이 학습 앱과 커뮤니티 서비스 자유롭게 이용
								</li>
								<li><i class="fa fa-check fa-li"></i>
									단, 골드 학습 서비스는 이용하지 못합니다.
								</li>
							</ul>
						</div>
					</div>
					<div class="go-through-button-section w-100">
						<a th:href="@{/membership}" target="_sub">Learn More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- gold -->
		<div class="membership-info-list col-lg-4 col-auto">
			<div class="membership-info-cover">
				<div class="membership-info-header">
					<div class="membership-image">
						<img src="/images/common/icon/icon_paper.png" 
							class="gold" alt="플레이보이스 멤버십">
					</div>
					<div class="membership-title">
						<div class="title">gold</div>
						<div class="sub-title">gold donation member</div>
					</div>
				</div>
				<div class="membership-body">
					<div class="membership-benefit-back">
						<div class="price-section">
							<div class="price-info">
								<div>골드 멤버십 12개월권</div>
							</div>
							<div class="price">
								<i class="fa fa-won-sign"></i>
								<span>[[${#numbers.formatInteger(gold12D1, 1, 'COMMA')}]]</span>
								<span class="small">/ 월</span>
							</div>
						</div>
						<div class="membership-benefit-section">
							<ul class="fa-ul">
								<li><i class="fa fa-check fa-li"></i>
									포인트 차감 없이 모든 학습 앱과 커뮤니티 서비스 자유롭게 이용
								</li>
								<li><i class="fa fa-check fa-li"></i>
									골드 학습 서비스 이용
								</li>
								<li><i class="fa fa-check fa-li"></i>
									골드 포인트 적립
								</li>
								<li><i class="fa fa-check fa-li"></i>
									여러 프로모션 이벤트에 골드 포인트 사용 가능
								</li>
								<li><i class="fa fa-check fa-li"></i>
									10종 이상의 골드 멤버십 아이덴티티 세트
								</li>
								<li><i class="fa fa-check fa-li"></i>
									플레이보이스 후원하는 기부 활동의 참여자로 등록
								</li>
								<li><i class="fa fa-check fa-li"></i>
									골드 멤버십 한정 스페셜 쿠폰 발급
								</li>
							</ul>
						</div>
					</div>
					<div class="go-through-button-section gold w-100">
						<a th:href="@{/membership}" target="_sub">Learn More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- platinum -->
		<div class="membership-info-list col-lg-4 col-auto">
			<div class="membership-info-cover platinum">
				<div class="membership-info-header">
					<div class="membership-image">
						<img src="/images/common/icon/icon_paper.png" 
							class="platinum" alt="플레이보이스 멤버십">
					</div>
					<div class="membership-title">
						<div class="title">platinum</div>
						<div class="sub-title">
							platinum donation member<br>
							only 1000 member limited
						</div>
					</div>
				</div>
				<div class="membership-body">
					<div class="membership-benefit-back">
						<div class="price-section">
							<div class="price-info">
								<div>플래티넘 멤버십 12개월권</div>
							</div>
							<div class="price">
								<i class="fa fa-won-sign"></i>
								<span>[[${#numbers.formatInteger(platinum12D1, 1, 'COMMA')}]]</span>
								<span class="small">/ 월</span>
							</div>
						</div>
						<div class="membership-benefit-section">
							<ul class="fa-ul">
								<li class="point"><i class="fa fa-check fa-li"></i>
									골드 멤버십의 모든 혜택
								</li>
								<li><i class="fa fa-plus fa-li"></i>
									10종 이상의 플레티넘 멤버십 아이덴티티 세트
								</li>
								<li><i class="fa fa-plus fa-li"></i>
									골드 멤버십 후원 참여자로 등록
								</li>
								<li><i class="fa fa-plus fa-li"></i>
									플래티넘 멤버십 한정 스페셜 쿠폰 발급
								</li>
								<li><i class="fa fa-plus fa-li"></i>
									모든 이벤트와 프로모션에 대한 우선권 제공
								</li>
								<li><i class="fa fa-plus fa-li"></i>
									골드 멤버십 회원 중 1000명 특별 선정
								</li>
							</ul>
						</div>
					</div>
					<div class="go-through-button-section gold w-100">
						<a th:href="@{/membership}" target="_sub">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>