<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="menu">
<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){

	// [div 링크 메뉴 클릭 처리]-------------------------------------------------------
	$('.linkMove').click(function(){
		location.href = $(this).attr('href');		
	})
	
	// [현재 선택된 픽셔너리 네비게이션 메뉴에 menu-active 적용]-------------------------------
	const $selectedTabs = $('.mainTab [data-reg]');
	const pathname = location.pathname;
	$selectedTabs.each(function(i, element) {
		const matched = pathname.match($(this).attr("data-reg"));
		if(matched != null && matched[0].length > 0){
			$(element).closest('.mainTab').find('.menuTab').addClass('menu-active');
		}
	});
	
});	
</script>
<!-- [1. PC ver.] -->	
<div class="menu-cover d-none d-lg-block"><div class="row no-gutters menu">
	<div class="mainTab menu-b col-auto text-center align-self-center" data-tab="home">
		<a th:href="@{/membership}" class="menuTab menu-item home"
			data-reg="/membership$">
			<i class="fa fa-crown fa-fw"></i>
			<span>플레이보이스 멤버십</span>
		</a>
	</div>
	<div class="mainTab menu-b col-auto text-center align-self-center" data-tab="myInfo">
		<a th:href="@{/mypage/payment/list}" data-reg="/mypage/payment/list" 
			class="loginRequired menuTab menu-item myInfo">
			<i class="fa fa-user-astronaut fa-fw"></i>
			<span>나의 멤버십 정보</span>
		</a>
	</div>
	<div class="mainTab menu-b col-auto text-center align-self-center" data-tab="membershipFAQ">
		<a th:href="@{/membership/guide}" data-reg="/membership/guide" 
			class="menuTab menu-item membershipFAQ">
			<i class="fa fa-question fa-fw"></i>
			<span>멤버십 FAQ</span>
		</a>
	</div>
	<div class="col text-right d-none d-lg-inline menu-flages align-self-center">
		<img src="/images/common/flags/FR.png">
		<img src="/images/common/flags/US.png">
		<img src="/images/common/flags/DE.png">
		<img src="/images/common/flags/CA.png">
		<img src="/images/common/flags/AU.png">
	</div>
</div></div>

<!-- [2. Mobile & Tablet ver.] -->
<div class="menu-cover-mobile box-list-mobile box-main d-lg-none">
<div class="row no-gutters menu">
	<div class="mainTab menu-b col text-center align-self-center" data-tab="home">
		<a th:href="@{/membership}" data-reg="/membership$" 
			class="menuTab menu-item home">
			<i class="fa fa-crown fa-fw"></i><br>
			<span>멤버십</span>
		</a>
	</div>
	<div class="mainTab menu-b col text-center align-self-center" data-tab="myInfo">
		<a th:href="@{/mypage/payment/list}" data-reg="/mypage/payment/list" 
			class="loginRequired menuTab menu-item myInfo">
			<i class="fa fa-user-astronaut fa-fw"></i><br>
			<span>나의 멤버십 정보</span>
		</a>
	</div>
	<div class="mainTab menu-b col text-center align-self-center" data-tab="membershipFAQ">
		<a th:href="@{/membership/guide}" data-reg="/membership/guide" 
			class="menuTab menu-item membershipFAQ">
			<i class="fa fa-question fa-fw"></i><br>
			<span>멤버십 FAQ</span>
		</a>
	</div>
</div></div>


</div>