<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<div>
		<div>
			<div
				style="background: #1b1f40; color: #fff; border-left: solid 15px #a06006;">
				<div>골드 멤버십</div>
				<div
					style="position: absolute; top: -1.2rem; left: 0rem; z-index: 1;">
					<div
						style="background-color: #a30c0c; display: inline-block; width: 40px; height: 40px; position: relative; transform: rotate(20deg);"></div>
					<div
						style="line-height: 40px; font-size: 12.5px; font-family: 'PT Sans', Sans-Serif; position: absolute; top: 0rem; left: 0rem; text-align: center; width: 40px; text-shadow: none; color: #fff;">gold</div>
				</div>
			</div>
			<h3
				style="margin-top: 2rem; font-size: 2.8rem; font-family: 'Segoe UI', 'Open Sans', 'PT Sans', 'Nunito Sans'; text-align: left; line-height: 0.9; color: #1B1F40; font-weight: bolder; text-transform: uppercase;">
				gold<br class="d-none d-lg-block"> membership<b
					style="color: #d19903;">.</b>
			</h3>
			<div
				style="font-family: 'Roboto', 'Nunito Sans', '나눔고딕', 'NanumSquare', Sans-Serif; margin-bottom: 2rem; word-break: keep-all; word-wrap: break-word;">
				<div
					style="color: #212c87; padding: 0.5rem 0; font-family: 'Open Sans', 'PT Sans', 'Nunito Sans', 'NanumSquare', Sans-Serif; font-size: 1.05em; font-weight: 600;">
					플레이보이스 골드 멤버십에 가입하신 것을 축하합니다!<br> <span
						style="font-size: 0.85em;"> 골드 카드와 프리미엄 여권이 발급 되었습니다.<br>
						들거운 여정이 되길 바랍니다.
					</span>
				</div>
			</div>
			<div>
				<a href=""
					style="padding: 0.5rem 1.2rem; border-radius: 3rem; border: solid 1px #1b1f40; cursor: pointer; background: transparent; color: #1b1f40 !important; font-weight: 600; font-size: 13.5px; text-transform: uppercase; font-family: 'Open Sans', 'PT Sans', 'Nunito Sans', 'NanumSquare', Sans-Serif; text-decoration: none;">
					골드 멤버십 혜택 보기 <i style="color: #cb2026;content: \f061;font-family: fontAwesome"></i>
				</a>
			</div>
		</div>
	</div>

</body>
</html>