<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Playvoice Coupon Issue Email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>


<div id="emailContentSection" >
<div style="background-color: #edf2fd; font-family: 'Tahoma','Open Sans', 'NanumGothic', 
	'나눔고딕', '나눔바른고딕', 돋움체, DotumChe, AppleGothic; padding: 0 0 30px 0; height: 100%;">	
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<!-- mail header -->
<tr><td align="center" valign="top">
	<table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#1b1f40" style="background-color:#1b1f40;max-width:640px" width="100%">
		<tbody>
		<!-- playvoice logo -->
		<tr>
			<td valign="top" style="padding: 10px 20px 10px 20px; text-align: left;">
				<a target="_blank" href="https://www.playvoice.org"
					style="text-decoration: none;">
					<img src="https://www.playvoice.org/images/logo/logo_white_inset.png" 
						style="width: 50px; border-radius: 50%;" alt="플레이보이스">
				</a>
			</td>
			<td valign="top" style="padding: 10px 20px 10px 20px; text-align: right;
				font-size: 15px; vertical-align: middle;">
				<a target="_blank" href="https://www.playvoice.org"
					style="text-decoration: none; color: #fff;">Membership Assistance</a>
			</td>
		</tr>
		</tbody>
	</table>
</td></tr>

<!-- mail body -->
<tr><td align="center" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;max-width:640px" width="100%">
	<tbody>
	<!-- playvoice logo -->
	<tr>
		<td valign="top" style="padding:20px; text-align: center;">
			<div style="text-align: center; padding: 2rem 1.5rem 1rem;">
				<div style="font-size: 13.5px; padding-bottom: 5px;
					font-family: '-apple-system', 'apple sd gothic neo',
					'Roboto', 'Open Sans', 'NanumGothic','나눔 고딕', 
					'Malgun Gothic', 'Dotum', sans-serif;">
					The BaseCamp for Learning English
				</div>
				<h1 style="font-size: 1.8rem; margin: 0;">
					playvoice
				</h1>
			</div>
			<div style="padding: 1.5rem 1.5rem 1.5rem 1.5rem; text-align: center;">
				<a href="https://www.playvoice.org/coupon/issue/free?email={0}"
					style="background-color: #dd2138; color: #fff; 
					border: solid 1px #dd2138; padding: 1.2rem 2rem 1.2rem 2rem; 
					border-radius: 0; text-decoration: none;
					box-shadow: -5px -5px 10px 0 #ffffff, 5px 5px 15px 0 rgba(13,39,80,0.36), 
					inset -3px -3px 5px 0 #9f1728, inset 3px 3px 5px 0 #ee8a97;
					border-radius: 0.5rem; border: none; font-size: 13.5px; 
					cursor: pointer;" target="_blank">멤버십 체험 쿠폰 발급</a>
			</div>
			<div style="font-size: 13.5px; text-align: center; padding: 1rem 1.5rem 1rem 1.5rem;">
				<img src="https://www.playvoice.org/images/common/characters/popular_bird.png" 
					width="100px" style="margin-bottom: 15px;" alt="플레이보이스"><br>
				플레이보이스 가입 축하 선물입니다!<br><br>
				버튼을 클릭하여 11,000원 상당의<br>
				골드 멤버십 체험 쿠폰을 발급 받으세요.<br>
				
			</div>
			<div style="font-size: 12px; text-align: center; padding: 1rem 1.5rem 2rem 1.5rem;">
				&#5867; 2주동안 골드 멤버십 서비스를 무료로 이용할 수 있습니다.<br>
				&#5867; 체험권 만료 후 자동 결제가 없습니다.
			</div>
		</td>
	</tr>
	<!-- mail footer -->
	<tr><td align="center" valign="top">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;max-width:640px;  border-top: solid 8px #edf2fd;" width="100%">
	<tbody>
		<tr><td align="center" valign="top" bgcolor="#FFFFFF" style="padding-right:20px;padding-bottom:45px;padding-left:30px">
			<div style="padding: 2rem 1.5rem;  font-size: 12px; text-align: center; color: #888;">
				본 메일은 가입 요청자의 입력 데이터를 기반으로 발송되는 인증 메일 서비스입니다.<br>
				잘못 수신된 경우 양해 바라며 삭제하시기 바랍니다.<br><br><br>
				<a href="https://www.playvoice.org" style="font-weight: 600; text-decoration: none;">플레이보이스 지원 팀</a>
			</div>
			<div style="text-align: center; color:#6a655f;padding: 0 1.5rem 1.5rem;
				font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:12px;">
				© 2020 Playvoice®, All Rights Reserved.<br>
				<a target="_blank" href="https://www.playvoice.org/guide" 
					style="text-decoration: none; color: #e94169;">
					FAQ</a>   •   
				<a target="_blank" href="https://www.playvoice.org/terms/policy" 
					style="text-decoration: none; color: #e94169;">
					Terms of Use</a>   •   
				<a target="_blank" href="https://www.playvoice.org/terms/privacy" 
					style="text-decoration: none; color: #e94169;">
					Privacy Policy</a>
			</div>
		</td></tr>
	</tbody>
	</table>
	</td></tr>
	</tbody>
</table>
</td></tr>





</tbody>
</table>	
	
	
	
</div>
</div>	
	
	
</body>
</html>