<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>

	
<div id="emailContentSection" style="border-collapse: collapse; background-color: #f5f6fa; 
	padding: 1.5rem;">
	<div style="width: 756px; max-width: 100%; margin: 0 auto; background-color: #fff;
		font-family: 'Open Sans', 'NanumGothic', '나눔고딕', '나눔바른고딕', 'Malgun Gothic', 'Dotum';">
	<!-- ----------------------------[1. header]---------------------------- -->
	<div id="emailHeaderDiv" style="background-color: #1b1f40; display: -ms-flexbox; 
		display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
		<div style="padding: 0.5rem 1.5rem; -ms-flex: 0 0 auto; flex: 0 0 auto; 
			width: auto; position: relative; align-self: center;">
			<a href="www.playvoice.org" target="_blank" style="line-height: 0.5; padding: 0;">
				<img src="../../static/images/app/email/logo_trans_white.png" 
					style="width: 50px; border-radius: 50%;">
			</a>
		</div>
		<div style="-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; 
			flex-grow: 1; align-self: center; padding: 0 1.5rem; text-align: right;
			font-size: 18px; color: #fff;">
			Join Assistance
		</div>
	</div><!-- end of emailHeaderDiv -->
	
	<!-- --------------------------[2. email Body]-------------------------- -->
	<div id="emailBodyDiv" style="font-size: 13.5px;">
		<div style="text-align: center; padding: 1rem 1.5rem;">
			<div style="font-size: 1.1rem; 
				font-family: 'Roboto', 'Open Sans', 'NanumGothic','나눔 고딕', 
				'Malgun Gothic', 'Dotum', sans-serif;">
				We're glad you're here,
			</div>
			<div style="font-size: 1.8rem; font-family: Georgia,Times,'Times New Roman',serif;
				letter-spacing: -1px; line-height: 2.2rem;">
				on playvoice
			</div>
		</div>
		<div style="font-size: 13.5px; text-align: center; padding: 1rem 1.5rem;">
			아래의 버튼을 클릭하여 이메일을 인증 후 가입 절차를 진행해 주세요.
		</div>
		<div style="padding: 2rem 1.5rem 3rem; text-align: center;">
			<!-- 이메일 인증 -->
			<a target="_blank" href="https://www.playvoice.org"
				style="background-color: #dd2138; color: #fff; border: solid 1px #dd2138; 
				padding: 1rem 1.5rem; border-radius: 0; text-decoration: none;">
				이메일 인증
			</a>
		</div>
		<div style="padding: 1.5rem; border-top: solid 8px #f5f6fa;">
			플레이보이스 가입을 위한 이메일 인증을 요청하지 않았나요?<br>그렇다면 이 메일을 무시하세요.<br><br>
			감사합니다.<br><br><br>
			플레이보이스 지원 팀
		</div>
	</div><!-- end of emailBodyDiv -->
	</div>
</div><!-- end of emailContentSection -->


	
</body>
</html>