<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>


<div id="emailContentSection" style="background-color: #f5f6fa;">
<table style="width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 2px;
	line-height: 1.5; color: #1b1f40; font-family: 'Roboto', 'Open Sans', 'NanumGothic',
	'나눔 고딕', 'Malgun Gothic', 'Dotum',Sans-serif; font-size: 13.5px;">
	<thead>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1.5rem; background-color: #1b1f40;
				text-align: center; line-height: 1; position: relative;">
				<a target="_blank" href="https://www.playvoice.org"
					style="text-decoration: none; position: absolute; 
					left: calc(50% - 25px); bottom: -25px;">
					<img src="../../static/images/app/email/logo_trans_white.png" 
						style="width: 50px; border-radius: 50%;" alt="플레이보이스">
				</a>
			</td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 3rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 0 1.5rem 1.5rem; 
				font-family: Georgia,Times,'Times New Roman','NanumGothic',
				'나눔 고딕', 'Malgun Gothic', 'Dotum',serif; font-weight: 600; color: #303672;
				text-align: center; letter-spacing: -0.5px; line-height: 2.2rem;">
				<div style="font-size: 1.5rem;">playvoice</div>
				<div style="font-size: 0.85rem; 
					font-family: verdana,'Roboto', 'Open Sans', 'NanumSquare',
					'나눔스퀘어', 'Malgun Gothic', 'Dotum',Sans-serif;">
					휴면계정 전환 안내
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				안녕하세요, {0} 님<br>
				{0}님의 계정이 휴면 상태로 전환되었습니다.<br>
				회원님께서는 최근 1년간 플레이보이스에 로그인하지 않은 상태입니다.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				플레이보이스는 정보통신망 이용 촉진 및 정보 보호 등에 관련 법률에 따라, 
				최근 1년 이상 플레이보이스를 로그인하지 않은 회원의 계정을 
				휴면계정으로 전환하여 개인 정보를 안전하게 분리 보관하고 있습니다.<br>
				휴면계정은 플레이보이스 접속 후 로그인하면 다시 활성화됩니다.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<!-- 휴면계정 회원 정보 -->
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; text-align: left;">
				<div style="background-color: #f5f6fa; padding: 0.8rem;">
				<table style="width: 100%; max-width: 100%; border-collapse: collapse; 
					border-spacing: 2px;">
					<!-- 아이디 -->
					<tr>
						<td style="width: 100px; padding: 0.8rem;">아이디</td>
						<td style="padding: 0.8rem;">eee0***</td>
					</tr>
					<!-- 전환일 -->
					<tr>
						<td style="width: 100px; padding: 0.8rem;">전환일</td>
						<td style="padding: 0.8rem;">2020년 06월 19일</td>
					</tr>
				</table>
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<!-- 분리보관 정보 -->
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				<div style="font-size: 14px; font-weight: 600; color: #b01a2c;">
					■ 분리보관 정보 
				</div>
				<div>
					<ol>
						<li style="margin-bottom: 4px;">
							최초 회원가입 및 회원정보 수정 단계에서 수집된 회원 정보</li>
						<li style="margin-bottom: 4px;">
							아이디, 별명, 이메일 주소, 비밀번호, 생년월일, 기타 선택 기입 정보 (이름, 성별, 주소, 휴대폰번호)</li>
					</ol>
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; text-align: center;">
				<a target="_blank" href="https://www.playvoice.org" 
					style="background-color: #dd2138; border: solid 1px #dd2138;
					color: #fff; padding: 1rem 1.5rem; text-decoration: none;">
					플레이보이스 바로 가기
				</a>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				본 메일은 발신 전용 메일이며, 회신되지 않으므로 문의사항은 플레이보이스 홈페이지 내 고객센터를 이용해 주세요.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<!-- footer -->
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 2rem 2rem 0; font-size: 12.5px; 
				text-align: center; border-top: solid 3px #f5f6fa; line-height: 24px;">
				© 2018-2020 Playvoice®, All Rights Reserved.<br>
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Contact Us</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Terms of Use</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Privacy Policy</a>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 2rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1rem; background-color: #1b1f40;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</tbody>
</table>

</div>

	
</body>
</html>