<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>


<div id="emailContentSection" style="background-color: #f5f6fa;">
<table style="width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 2px;
	line-height: 1.5; color: #1b1f40; font-family: 'Roboto', 'Open Sans', 'NanumGothic',
	'나눔고딕', 'Malgun Gothic', 'Dotum',Sans-serif; font-size: 13.5px;">
	<thead>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1.5rem; background-color: #1b1f40;
				text-align: center; line-height: 1; position: relative;">
				<a target="_blank" href="https://www.playvoice.org"
					style="text-decoration: none; position: absolute; 
					left: calc(50% - 25px); bottom: -25px;">
					<img src="https://www.playvoice.org/images/app/email/logo_trans_white.png" 
						style="width: 50px; border-radius: 50%;" alt="플레이보이스">
				</a>
			</td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 3rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 0 1.5rem 1.5rem; 
				font-family: Georgia,Times,'Times New Roman','NanumGothic',
				'나눔고딕', 'Malgun Gothic', 'Dotum',serif; font-weight: 600; color: #303672;
				text-align: center; letter-spacing: -0.5px; line-height: 2.2rem;">
				<div style="font-size: 1.5rem;">playvoice</div>
				<div style="font-size: 0.85rem; 
					font-family: verdana,'Roboto', 'Open Sans', 'NanumSquare',
					'나눔스퀘어', 'Malgun Gothic', 'Dotum',Sans-serif;">
					계정 영구 정지 안내
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				안녕하세요. {0}님, <b>플레이보이스 고객센터</b>입니다.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				<div style="padding-bottom: 1rem;">
				'정보통신망 이용 촉진 및 정보 보호 등에 관한 법률' 및 당사의 서비스 이용 약관에 의거하여 
				정보 통신망을 활용한 도박, 불법 음란, 마약 등의 의약품, 불법 제출에 대한 광고 등은 
				불법적인 정보로 분류되어 관련 컨텐츠 작성이 금지되고 있습니다.
				</div>
				<div style="color: #303672; font-weight: 600; padding-bottom: 1rem;">
				회원님이 작성한 컨텐츠에 사용자 신고가 접수되었습니다.<br>
				신고된 내역에 음란물 전송내역이 확인되어
				회원님의 플레이보이스 서비스 이용을 영구적으로 제한하였습니다.<br><br>
				해당 이용 제한은 정지 해제가 불가한 점 참고 바랍니다.
				</div>
				<div style="padding-bottom: 1rem;">
				이용약관 제12조에 따라 플레이보이스를 이용하며 적립한 
				플레이 포인트 (골드 포인트), 랭킹 포인트, 캐시는 복구 및 환불이 불가합니다.<br>
				또한 유료로 결제한 회원권이 있는 경우, 
				남은 날짜에 관한 비용은 강제 환불 처리됨을 알려드립니다.
				</div>
				<div style="padding-bottom: 1rem;">
				만일, 상기 내용과 무관한 상황이라면 <a>고객센터</a>에서 확인할 수 있도록 구체적인 내용을 알려주십시오.<br>
				접수한 내용을 참고하여 다시 검토하겠습니다.<br><br>
				감사합니다.
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				본 메일은 발신 전용 메일이며, 회신되지 않으므로 문의사항은 플레이보이스 홈페이지 내 
				<a>고객센터</a>를 이용해 주세요.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<!-- footer -->
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 2rem 2rem 0; font-size: 12.5px; 
				text-align: center; border-top: solid 3px #f5f6fa; line-height: 24px;">
				© 2018-2020 Playvoice®, All Rights Reserved.<br>
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Contact Us</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Terms of Use</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Privacy Policy</a>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 2rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1rem; background-color: #1b1f40;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</tbody>
</table>

</div>

	
</body>
</html>