<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>


<div id="emailContentSection" style="background-color: #f5f6fa;">
<table style="width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 2px;
	line-height: 1.5; color: #1b1f40; font-family: 'Roboto', 'Open Sans', 'NanumGothic',
	'나눔고딕', 'Malgun Gothic', 'Dotum',Sans-serif; font-size: 13.5px;">
	<thead>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1.5rem; background-color: #1b1f40;
				text-align: center; line-height: 1; position: relative;">
				<a target="_blank" href="https://www.playvoice.org"
					style="text-decoration: none; position: absolute; 
					left: calc(50% - 25px); bottom: -25px;">
					<img src="https://www.playvoice.org/images/app/email/logo_trans_white.png" 
						style="width: 50px; border-radius: 50%;" alt="플레이보이스">
				</a>
			</td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 3rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 0 1.5rem 1.5rem; 
				font-family: Georgia,Times,'Times New Roman','NanumGothic',
				'나눔고딕', 'Malgun Gothic', 'Dotum',serif; font-weight: 600; color: #303672;
				text-align: center; letter-spacing: -0.5px; line-height: 2.2rem;">
				<div style="font-size: 1.5rem;">playvoice</div>
				<div style="font-size: 0.85rem; 
					font-family: verdana,'Roboto', 'Open Sans', 'NanumSquare',
					'나눔스퀘어', 'Malgun Gothic', 'Dotum',Sans-serif;">
					계정 영구 정지 안내
				</div>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				안녕하세요. {0}님, <b>플레이보이스 고객센터</b>입니다.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 13.5px; text-align: left;">
				{0}님은 서비스 악용 사용자들의 이용환경과 매우 유사함이 감지되어 시스템에 의해 임시조치 되었습니다.<br><br>
				만일, 상기 내용과 무관한 상황이라면 고객센터에서 확인할 수 있도록 구체적인 내용을 알려주십시오.<br>
				 접수하신 내용을 참고하여 다시 검토하겠습니다.<br><br>
				단, 이러한 건은 자주 발생하는 것이 아닌 특이상황에서 발생되므로 
				답변까지 시간이 다소 소요될 수 있는점 양해 바랍니다.<br><br>
				감사합니다.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding-right: 2rem; padding-left: 2rem;
				padding-bottom: 2rem; font-size: 12px; text-align: left; color: gray;">
				본 메일은 발신 전용 메일이며, 회신되지 않으므로 문의사항은 플레이보이스 홈페이지 내 
				<a>고객센터</a>를 이용해 주세요.
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<!-- footer -->
		<tr>
			<td style="background-color: transparent;"></td>
			<td style="background-color: #fff; padding: 2rem 2rem 0; font-size: 12.5px; 
				text-align: center; border-top: solid 3px #f5f6fa; line-height: 24px;">
				© 2018-2020 Playvoice®, All Rights Reserved.<br>
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Contact Us</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Terms of Use</a>   •   
				<a target="_blank" style="text-decoration: none; color: #e94169;">
					Privacy Policy</a>
			</td>
			<td style="background-color: transparent;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="padding-top: 2rem; background-color: #fff;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
		<tr>
			<td style="background-color: #1b1f40;"></td>
			<td style="width: 640px; padding: 1rem; background-color: #1b1f40;"></td>
			<td style="background-color: #1b1f40;"></td>
		</tr>
	</tbody>
</table>

</div>

	
</body>
</html>