<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>
<body>

<div id="emailContentSection" style="background-color: #edf2fd; font-family: 'Tahoma','Open Sans', 'NanumGothic', 
	'나눔고딕', '나눔바른고딕', 돋움체, DotumChe, AppleGothic;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<!-- mail header -->
<tr><td align="center" valign="top" bgcolor="#1b1f40" style="background-color:#1b1f40">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:640px" width="100%">
	<tbody>
	<!-- playvoice logo -->
	<tr><td align="center" valign="top" style="padding:30px">
		<a target="_blank" href="https://www.playvoice.org"
			style="text-decoration: none;">
			<img src="https://www.playvoice.org/images/logo/logo_white_inset.png" 
				style="width: 50px; border-radius: 50%;" alt="플레이보이스">
		</a>
	</td></tr>
	<tr><td style="background-color:#ffffff;padding-top:30px">&nbsp;</td></tr>
	</tbody>
	</table>
</td></tr>
<!-- mail body -->
<tr><td align="center" valign="top">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;max-width:640px" width="100%">
	<tbody>
		<tr><td align="center" valign="top" bgcolor="#FFFFFF" style="padding-right:30px;padding-bottom:45px;padding-left:30px">
			<h1 style="font-size: 1.8rem; margin-top: 0; margin-bottom: 15px;">Welcome to playvoice</h1>
			<h5 style="font-size: 0.85rem; margin: 0; 
				font-family: '-apple-system', 'apple sd gothic neo',
				'Times New Roman','Roboto', 
				'Open Sans', 'NanumGothic','나눔 고딕', 
				'Malgun Gothic', 'Dotum', sans-serif;">
				The BaseCamp for Learning English
			</h5>
		</td></tr>
		<tr><td align="center" valign="middle" style="padding-right:30px;padding-bottom:45px;padding-left:30px">
			<div style="background-color: #edf2fd; padding: 1rem; text-align: left;
				 font-size: 13px;">
				<div>
					플레이보이스의 멤버가 되신 것을 환영합니다.<br>
					플레이보이스는 일상에서 사용할 수 있는 실리적 영어 학습 캠페인을 전개하고 있습니다.<br>
					플레이보이스는 공유  &#5867; 협력  &#5867; 참여의 가치 아래 
					<span style="color: #dd2138;">영어 사용 환경을 제공하는 앱 기반 커뮤니티</span>입니다.
				</div>
			</div>
		</td></tr>
		<tr><td align="center" valign="middle" style="padding-right:30px;padding-bottom:45px;padding-left:30px">
			<div style="background-image: url('https://www.playvoice.org/images/app/member/registration_back3.jpg'); 
				background-size: cover; background-position: center;">
				<div style="padding: 1.5rem; background-color: rgba(27,31,64,0.5);
					color: #fff;">
					<table>
						<tr>
							<td style="width: 100px; font-size: 13.5px;">가입 아이디</td>
							<td style="font-size: 16px;">{0}</td>
						</tr>
					</table>
					<div style="padding: 3rem 1rem 1rem; text-align: center;">
						<a target="_blank" href="https://www.playvoice.org"
							style="background-color: #ef3863; color: #fff; 
							padding: 1.3rem 1.5rem; border-radius: 0; text-decoration: none;
							border: none; font-size: 14px;">
							플레이보이스 바로 가기
						</a>
					</div>
				</div>
			</div>
		</td></tr>
		<tr><td align="center" valign="middle" style="padding-right:30px;padding-bottom:45px;
			border-bottom:3px solid #edf2fd;padding-left:30px">
			<div style="padding: 1rem; background-color: #edf2fd; text-align: left; font-size: 13px;">
				플레이보이스에서 <span style="color: #dd2138;">별명(alias)</span>은
				자신과 다른 회원들을 구분하는 커뮤니티 이름입니다.<br><br>
				<span style="color: #dd2138;">
					멋진 프로필 이미지와 별명으로 자신을 꾸며보세요.
				</span>
			</div>
		</td></tr>
	</tbody>
	</table>
</td></tr>

<!--  mail footer -->
<tr><td align="center" valign="top" bgcolor="#1b1f40" style="background-color:#1b1f40">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:640px" width="100%">
	<tbody>
	<tr><td align="center" valign="top" style="color:#6a655f;
	font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:12px;
	font-weight:400;line-height:24px;padding-top:30px;padding-bottom:30px;text-align:center;
	background-color: #fff;">
		© 2020 Playvoice®, All Rights Reserved.<br>
		<a target="_blank" href="https://www.playvoice.org/guide" 
			style="text-decoration: none; color: #e94169;">
			FAQ</a>   •   
		<a target="_blank" href="https://www.playvoice.org/terms/policy" 
			style="text-decoration: none; color: #e94169;">
			Terms of Use</a>   •   
		<a target="_blank" href="https://www.playvoice.org/terms/privacy" 
			style="text-decoration: none; color: #e94169;">
			Privacy Policy</a>
	</td></tr>
	<!-- playvoice logo -->
	<tr><td align="center" valign="top" style="padding-bottom:30px">&nbsp;</td></tr>
	</tbody>
	</table>
</td></tr>
</tbody>
</table>
</div>


	
</body>
</html>